<div id="block-7" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12 calltoaction"><h2 id="h2-4" class="text-center" data-i18n="581fe74f5a179.h2-4">This Is Not For Everyone...</h2><p id="p-14" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-14" style="text-shadow: 2px 3px 3px #FFF;">Turnkey investment only works when trust and a relationship can be established between the investor and the turnkey company.</p><p id="p-15" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-15" style="text-shadow: 2px 3px 3px #FFF;">At&nbsp;<b>Ohio Cashflow</b>, we only work with people who share our core values of&nbsp;<b>loyalty, honesty, no greed, and respect</b>.</p><p id="p-17" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-17" style="text-shadow: 2px 3px 3px #FFF;">If you feel you have what it takes, fill out our&nbsp;<b>investor application form</b>. Or, if you want to learn more on turnkey investing and how you can turn your life around, feel free to download our free e-book.</p><respond-html id="html-1" description="cta-buttons">            <p id="p-19" class="text-center btn-container" data-i18n="581fe74f5a179.p-19">
                <a href="investor-application-form" class="btn-blue" target="" title="Investor Application Form" textcolor="" style="color: ;">YES, I WANT TO APPLY</a>&nbsp;&nbsp;
              
<a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
            </p>
        </respond-html></div></div>