<div id="block-2" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-8"><h5 id="h5-1" data-i18n="582de49443192.h5-1">SIGN UP FOR OUR NEWSLETTER</h5><respond-html id="html-1" description="HTML">            <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
        </respond-html></div><div  class="col col-md-4 text-right"><h5 id="h5-3" class="text-right" data-i18n="582de49443192.h5-3">CONTACT US</h5><respond-html id="html-3" description="social list">            <ul class="footer-social">
                <li><a href="https://www.facebook.com/ohiocashflow/"><i class="fa fa-facebook fa-2x"></i></a>
                </li>
                <li><a href="https://twitter.com/ohiocashflow"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li><a href="https://www.youtube.com/user/ohiocashflow"><i class="fa fa-youtube fa-2x"></i></a>
                </li>
                <li><a href="mailto:admin@ohiocashflow.com"><i class="fa fa-envelope fa-2x"></i></a>
                </li>
            </ul>
        </respond-html><div id="image-1" class="respond-image" data-display="standalone" data-i18n="582de49443192.image-1"><a href="https://www.bbb.org/toledo/business-reviews/real-estate-investors/ohio-cashflow-in-toledo-oh-90141578/customer-reviews" target="_blank"><img src="https://ohiocashflow.com/files/ab-seal-horizontal-black.png" data-location="local"></a></div><p id="p-1" textcolor="#FFFFFF" data-i18n="582de49443192.p-1" style="color: #FFFFFF;"><a href="tel:8442898876" class="" target="_blank" title="" textcolor="" style="color: ;">(844) BUY-TURNKEY "289-8876"</a>
        </p></div></div><div id="block-3" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12"><p id="p-2" class="text-right" textsize="0.7em" data-i18n="582de49443192.p-2"><span style="font-size:0.7em">© 2020 Ohio Cashflow, LLC |&nbsp;<a href="page/terms-of-use">Terms of use</a></span></p></div></div>