<div id="block-3" class="block row" data-nested="not-nested" paddingtop="60" data-containerid="" data-containercssclass="" style="padding-top: 60px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="585c1acba8f4a.h2-1"><span style="font-size:0.7em">Are You Focusing on the Real Money?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><div id="image-1" class="respond-image television" data-display="standalone" data-i18n="585c1acba8f4a.image-1"><a href="http://www.wtol.com/story/33856718/local-realty-company-giving-away-free-home-for-the-holidays" target="_blank"><img src="https://ohiocashflow.com/files/Bullseye.jpg" data-location="local"></a></div><respond-html id="html-1" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><p id="p-1" class="text-left" data-i18n="585c1acba8f4a.p-1">If you are a real estate investor who thinks he or she can do it all, then I’ve got news for you.</p><p id="p-3" class="text-left" data-i18n="585c1acba8f4a.p-3">You cannot do everything. You should not do everything. And if you try to do everything, then you are destined to either grow very, very, very slowly—or worse, to fail.</p><p id="p-4" data-i18n="585c1acba8f4a.p-4">Of course I’m talking about once you’re past the startup stage, because that’s the time when you may well have to do everything yourself. I did. During the lean years, it’s a necessity. But once you start making some money in your business and you’re able to hire people to help you, then do it!</p><p id="p-5" data-i18n="585c1acba8f4a.p-5">Because real estate investing IS a business, and you have to run it that way. You have to put the right people in the right spots doing the things that you can’t do or that you do not wish to do.</p><p id="p-6" data-i18n="585c1acba8f4a.p-6">I see way too many investors on a daily basis trying to save money by, for example, managing their property themselves, because they don’t want to pay the 10 percent (or whatever the amount may be) to their property manager.</p><p id="p-9" data-i18n="585c1acba8f4a.p-9">Well, that is absolutely ridiculous! A good property manager is an expert at what he or she does, and whatever percentage you pay will definitely be worth it.</p><p id="p-2" class="text-center" data-i18n="585c1acba8f4a.p-2"><a href="https://thinkrealty.com/focusing-real-money/" class="btn-white" target="_blank" title="" textcolor="" style="color: ;">READ THE FULL ARTICLE</a>
        </p></div></div><div backgroundimage="files/bgbottom-rv3.jpg" backgroundstyle="cover"  class="container" style="background-image: url(https://ohiocashflow.com/files/bgbottom-rv3.jpg); background-size: cover; background-position: center center;"><div id="block-4" class="block row" data-nested="nested" backgroundimage="files/bgbottom-rv3.jpg" backgroundstyle="cover" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-12"><div id="block-7" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12 calltoaction"><h2 id="h2-4" class="text-center" data-i18n="581fe74f5a179.h2-4">This Is Not For Everyone...</h2><p id="p-14" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-14" style="text-shadow: 2px 3px 3px #FFF;">Turnkey investment only works when trust and a relationship can be established between the investor and the turnkey company.</p><p id="p-15" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-15" style="text-shadow: 2px 3px 3px #FFF;">At&nbsp;<b>Ohio Cashflow</b>, we only work with people who share our core values of&nbsp;<b>loyalty, honesty, no greed, and respect</b>.</p><p id="p-17" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-17" style="text-shadow: 2px 3px 3px #FFF;">If you feel you have what it takes, fill out our&nbsp;<b>investor application form</b>. Or, if you want to learn more on turnkey investing and how you can turn your life around, feel free to download our free e-book.</p><respond-html id="html-1" description="cta-buttons">            <p id="p-19" class="text-center btn-container" data-i18n="581fe74f5a179.p-19">
                <a href="investor-application-form" class="btn-blue" target="" title="Investor Application Form" textcolor="" style="color: ;">YES, I WANT TO APPLY</a>&nbsp;&nbsp;
              
<a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
            </p>
        </respond-html></div></div></div></div></div>