<div id="block-2" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12"><h1>Terms of Use</h1><respond-html id="html-1" description="HTML"><style>
	ol {
		list-style-type: none;
		counter-reset: item;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	
	ol>li {
		display: inline-block;
		counter-increment: item;
		margin-bottom: 15px;
	}
	
	ol>li:before {
		content: counters(item, ".") ". ";
		display: inline-block;
		margin-right: 10px; 
		font-weight: bold;
	}
	
	ol>li ol {
		margin-bottom: 0;
	}
	
	ol>li ol>li:before {
		content: counters(item, ".") " ";
		font-weight: normal;
	}
</style>


<ol class="legal">
	<li>
		<strong>About this web site</strong>
		<ol>
			<li>The Ohio Cashflow network of websites comprising its national and regional zone sites, blogs and social media ("Ohio Cashflow Sites"), including, but not limited to ohiocashflow.com, ohiocashflowelite.com, engelorumora.com, realestatedingo.com, sellyouhousetoledo.com and getpaidtolearn.today, is owned and operated by Ohio Cashflow, LLC ("Ohio Cashflow", "us" or “we”).</li>
		</ol>
	</li>
	<li>
		<strong>About these terms and conditions</strong>
		<ol>
			<li>These are the terms and conditions upon which we permit you to use the Ohio Cashflow Sites.</li>
			<li>By using any of the Ohio Cashflow Sites, you agree that you have read and agree to be bound by these terms and conditions. If you do not agree to be bound by them, you must refrain from using the Ohio Cashflow Sites.</li>
			<li>These terms and conditions apply together with any other terms stated to govern your use of particular parts of the Ohio Cashflow Sites, such as the Privacy Statement.</li>
			<li>We may amend these terms and conditions at any time and therefore recommend that you periodically review them so that you remain informed of any changes.</li>
			<li>These terms and conditions are governed by the law of the State of Ohio. By using this site you agree to submit to the exclusive jurisdiction of the Courts of that State in respect of any proceeding involving this site. Any dispute concerning the use or content of the Ohio Cashflow Sites shall be litigated in the state or federal courts located in Lucas County, Ohio.</li>
		</ol>
	</li>
	<li>
		<strong>Disclaimer</strong>
		<ol>
			<li>The information, opinions and publications available on our website, blogs and social media channels (Ohio Cashflow Sites) are broad guides for general information only. They are solely intended to provide a general understanding of the subject matter and to help you assess whether you need more detailed information.</li>
			<li>The material on this website and other Ohio Cashflow Sites is not and should not be regarded as legal, financial or real estate advice. Users should seek their own legal, financial or real estate advice where appropriate. Every effort is made to ensure that the material is accurate and up to date. However, we do not guarantee or warrant the accuracy, completeness, or currency of the information provided.</li>
			<li>You should make your own inquiries and obtain independent professional advice tailored to your specific circumstances before making any legal, financial or real estate decisions.</li>
			<li>Results may vary and are not typical of every individual. Engelo Rumora is a real estate investing expert. Any income or earnings depicted are not to be interpreted as common, typical or expected. The variables that impact results of real estate investing are so numerous and uncontrollable that Ohio Cashflow Sites makes no guarantee as to your income or earnings from real estate investments. Just like any other investment, you could lose money on a real estate investment. </li>
		</ol>
	</li>
	<li>
		<strong>Limitation of liability</strong><br>
		<small><em>To the extent that the law allows:</em></small>
		<ol>
			<li>we (including our officers, employees, agents and members) are not liable for any special, indirect, incidental, punitive, exemplary, aggravated, economic or consequential loss or damage, howsoever caused, including, but not limited to, loss of data, loss of use, loss of savings and/or loss of profits, which you may directly or indirectly suffer in connection with your use of the Ohio Cashflow Sites or your reliance on any information contained on them; and</li>
			<li>any condition or warranty which would otherwise be implied into these terms and conditions is hereby excluded.</li>
			<li>We cannot and do no warrant that the use of Ohio Cashflow Sites or any material downloaded from it will not cause damage to any property, including, but not limited to, loss of data, computer viruses, and other types of electronic data contamination</li>
			<li>You understand that your use of the Ohio Cashflow sites is entirely at your own risk.</li>
		</ol>
	</li>
	<li>
		<strong>Copyright and Ownership</strong>
		<ol>
			<li>The rights to all information, text, graphics, logos, button icons, images, digital downloads, data compilations, software, advertisements, sound recordings and software on the Ohio Cashflow Sites ("Content") are owned by Ohio Cashflow or its members or suppliers.</li>
			<li>The Content is protected by United States and international copyright and trade mark laws.</li>
			<li>You are not permitted to use, modify, copy, reproduce, hyperlink, frame, up-load to a third party, post, transmit, on-sell or distribute any Content except as is expressly permitted by these terms and conditions, or unless Ohio Cashflow consents in writing.</li>
			<li>Any third-party trademarks, service marks and logos are the property of their respective owners.</li>
			<li>By submitting any content to Ohio Cashflow Sites, you grant</li>
		</ol>
	</li>
	<li>
		<strong>Your rights to use the Ohio Cashflow Sites</strong>
		<ol>
			<li>So long as you comply with these terms and conditions, you may:</li>
			<ol>
				<li>download, view and/or print any of the Content for your personal use; or</li>
				<li>if you are an Internet service provider or Internet access provider, supply the Content to your subscribers; or</li>
				<li>if you are a Ohio Cashflow member, interact with the Ohio Cashflow Sites for the purpose of your business activities, provided such interaction is consistent with both these terms and conditions and any relevant policies or agreements between you and Ohio Cashflow.</li>
			</ol>
		</ol>
	</li>
	<li>
		<strong>Linked Sites</strong>
		<ol>
			<li>Some of the sites listed as links to this site ("links") are not under the control of Ohio Cashflow (for example, the web sites of our independently owned and operated members). Ohio Cashflow makes no representations whatsoever concerning the content of those sites. Ohio Cashflow assumes no responsibility for the condition or content of third party sites that may be linked to or accessed from Ohio Cashflow Sites. YOU ACKNOWLEDGE THAT THE CONTENT OF SUCH SITES MAY NOT BE CURRENT, UP TO DATE, COMPLETE OR NOT TAMPERED WITH AND THEREFORE, IS NOT TO BE RELIED UPON.</li>
			<li>Links are provided for your convenience only and may not remain current or be maintained.</li>
			<li>The fact that we have provided a link should not be construed as an endorsement, approval, recommendation or preference by Ohio Cashflow of the owners or operators of the linked sites or of any information, products or services referred to on those sites, unless we expressly state that this is the case.</li>
		</ol>
	</li>
	<li>
		<strong>Specific Obligations for Ohio Cashflow Members</strong>
		<ol>
			<li>The Ohio Cashflow Sites may from time to time contain facilities which enable you to submit content for posting to the site ("Listing Facilities").</li>
			<li>
				When using the Listing Facilities you must:
				<ol>
					<li>ensure the content you submit is not unlawful or for an improper purpose and is not misleading or deceptive, defamatory, in breach of any copyright, trade mark or obligation of confidentiality, and not contrary to privacy legislation or any other applicable law; and</li>
					<li>not submit or transmit anything containing a virus or other harmful component.</li>
				</ol>
			</li>
			<li>
				You acknowledge that:
				<ol>
					<li>you must take your own precautions to ensure the process you use to access the Ohio Cashflow Sites does not expose you to risk of viruses or other forms of interference which may damage your data or computer systems;</li>
					<li>you are responsible for the contents of any web site that we permit you to link to the site;</li>
					<li>by submitting content to any of the Ohio Cashflow Sites, you freely grant Ohio Cashflow a non-exclusive right to use, reproduce and adapt that content to the extent necessary to operate and promote the Ohio Cashflow Sites;</li>
					<li>we may, from time to time in our absolute discretion, edit, refuse to post or remove any content (in whole or in part) that you have submitted to the Ohio Cashflow Sites; and</li>
					<li>we have no responsibility for the content posted or transmitted by you or other users of the Ohio Cashflow Sites.</li>
				</ol>
			</li>
			<li>
				We may in connection with your use of the Ohio Cashflow Sites, provide you with a password, username and/or similar access code ("Password"). By using the Ohio Cashflow Sites, you acknowledge that:
				<ol>
					<li>your Password must not be shared, transferred, or used by any person other than your authorized personnel;</li>
					<li>you are responsible for keeping your Password confidential; and</li>
					<li>you are liable for all costs, liability and expense incurred in connection with the use of that Password (whether or not authorized by you), except to the extent caused by any negligence on the part of Ohio Cashflow.</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>
</respond-html></div></div>