<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="597689731d0bf.h2-1"><span style="font-size:0.7em">How I Lost Over $1 Million in Sales—and Why I Don’t Feel Bad About It</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/oseo8Zq-2Nc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="597689731d0bf.p-1">Over the past four years, I have established my reputation. There are many ways I’ve done this, but there is one key component that I’ve always stuck by, which has enabled me to have an awesome reputation without anyone throwing dirt on my name. Before we get started, I want to tell you this: Real estate is a long-term game. Success does not happen overnight. It’s going to take you 5, 10, or 15 years to really get you to where you need to be. So stop thinking about real estate as a one-night stand. It has to be a marriage. As I said, it will take time to find true success in this game. Nothing happens overnight, and nothing comes easy. It just takes time.</p><p id="p-2" data-i18n="597689731d0bf.p-2"><b>Turning Down Business</b></p><p id="p-3" data-i18n="597689731d0bf.p-3">On one particular real estate transaction not too long ago, I probably lost about $1 million in sales—and I feel absolutely amazing about it. This is because I turn down more business than I take on. This is something I’d strongly suggest you implement in your real estate endeavors right now. I don’t care how broke you are; I don’t care how badly you need the money. I was in your shoes, and sometimes I feel like I am to this day. But still, whenever I’ve compromised my four core beliefs and made the sale to someone who I didn’t believe possessed my four core beliefs, I lost a ton of money. And I don’t mean literal money; instead, I lost money in the way of time and resources. When you lose time, it is gone forever. So, if you are spending time dealing with someone who is disgruntled, who you don’t want to do business with, who you don’t see eye to eye with, who you don’t agree on that long-term picture with, it’s not going to work. You’re going to lose money, and you’re going to lose time.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="597689731d0bf.image-1"><img src="https://ohiocashflow.com/files/use-debt.jpg" data-location="local"></div><p id="p-8" data-i18n="597689731d0bf.p-8"><b>Establish Your Core Beliefs</b></p><p id="p-4" data-i18n="597689731d0bf.p-4">First, you’ll need to establish your core beliefs. Let’s think about that for a second. My four core beliefs are loyalty, honesty, no greed, and respect. Everyone that I surround myself with has to possess those four core beliefs, including my employees and my investors. If you do not possess those four core beliefs, then I don’t want you in my life. So, I am very picky whom I allow into my inner circle in regard to employees and investors. What are your core beliefs? Think about it.</p><p id="p-6" data-i18n="597689731d0bf.p-6"><b>Keeping Your Business Fit</b></p><p id="p-7" data-i18n="597689731d0bf.p-7">Now, whatever business you’re looking at doing, whether it’s buy, fix, and flip, or wholesaling, figure out what your core beliefs are and implement systems and procedures that follow your process. We have a certain procedure that we expect every investor to follow. If they are not willing to follow that procedure or if for whatever reason we feel that they do not possess our four core beliefs, we turn down the business. Yes, as hard as it is sometimes when you need that extra dime, don’t do it. In regard to turning down questionable business, someone once told me, “You’re not starving your business; you’re keeping it fit.” And I’ll never forget those words.</p><p id="p-9" data-i18n="597689731d0bf.p-9">So, if you want to turn down millions and millions in sales, only work with people that you really want to work with. Only work with people that you can genuinely help get to where they need to be, and in return, that is going to help you get where you need to be. Don’t compromise your beliefs, and don’t make the sale. While doing that business could be instant gratification right now, it’s going to cost a lot more in the long run.</p><p id="p-11" data-i18n="597689731d0bf.p-11"><i>Do you regularly turn down business to uphold your beliefs?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="597689731d0bf.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>