<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="593ea81e9ba69.h2-1"><span style="font-size:0.7em">Forget the Demographics and Focus on Researching THIS Before Investing Out-of-Area</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/h_WtCoSCbu4" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="593ea81e9ba69.p-1">I just got off a phone call with an investor, and I’m frustrated. Let me&nbsp;tell you why. I speak to around 10 investors a day who&nbsp;are looking to invest from out of state or out of the country. I speak to a ton investors every single day, from all over the world. So I decided to make this video blog article about how all of you out of state and country investors can successfully invest&nbsp;remotely.</p><p id="p-2" data-i18n="593ea81e9ba69.p-2">Now, I got off the phone with an investor and think about how&nbsp;every single time I speak to someone, all we’re discussing is stats, demographics, employment rate, vacancy statistics, school districts, etc. Don’t get me wrong; this stuff is very, very important, I understand that. But that is not the first thing that you need to look at&nbsp;when you are trying to invest&nbsp;out of state or out of the country. Guys, change your mindset. Put the stats and demographics second. I’m begging you.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="593ea81e9ba69.image-1"><img src="https://ohiocashflow.com/files/invest-out-of-area.jpg" data-location="local"></div><p id="p-8" data-i18n="593ea81e9ba69.p-8"><b>It’s the People Factor That Matters</b></p><p id="p-3" data-i18n="593ea81e9ba69.p-3">I feel like the Red Cross most days&nbsp;because I talk to so many investors from all over the world who&nbsp;have been screwed by people—not by the stats, not by the demographics, but by people. Over the last five years, I’ve come to this conclusion&nbsp;that you have to focus first and solely on establishing trust and relationships with key people on the ground before you invest out of state or the country. Even if you’re looking into investing in your own backyard, you still need to have the right people to succeed. You need a good accountant, attorney, real estate agent, contractor, and property manager. This is what’s&nbsp;going to make you successful or not.</p><p id="p-4" data-i18n="593ea81e9ba69.p-4">I’ve got a saying, and it goes like this: If you buy the best house, on the best street, in the best area, with the best capital growth projections but your property management company is incompetent or they’re cheaters and liars, they’re going to steal your rent or they’re going to lose your rent. So, it really doesn’t matter how good the stats and demographics are. It comes down to the people.</p><p id="p-6" data-i18n="593ea81e9ba69.p-6"><b>Establishing Trust</b></p><p id="p-7" data-i18n="593ea81e9ba69.p-7">So&nbsp;to everyone looking at investing from afar, out of state or out of the country, focus on the people first. Make sure that those people have your best interests at heart. Real estate is not a one night stand; it’s a marriage—meaning, you have to like and&nbsp;respect each other. It’s going to take 5, 10, or maybe even 15 years for you to build a substantial portfolio and achieve financial freedom and get to where you need to be. So, anyone who&nbsp;is looking at flogging you a property quickly is not someone you want a relationship with.</p><p id="p-9" data-i18n="593ea81e9ba69.p-9">Remember the concept of delayed gratification within relationships. Plant the seed now and reap the harvest later. And then, once you have established trust and relationships with great people, it’ll be time to&nbsp;look at the stats, the demographics, the cash flow, the price points, the school districts, the vacancy statistics, and all of those jibber jabber numbers.</p><p id="p-11" data-i18n="593ea81e9ba69.p-11"><i>What’s the first thing you look at when vetting out-of-area locations?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="593ea81e9ba69.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>