<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aca7077ebe34.h2-1"><span style="font-size:0.7em">Business Mistakes I’ve Made &amp; How I’ve Learned From Them</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/jpwKgtopUdc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5aca7077ebe34.p-1">Today I’m talking about business mistakes I’ve made, and how I’ve learned from them.</p><p id="p-2" data-i18n="5aca7077ebe34.p-2"><b>Don’t be Over-eager</b></p><p id="p-3" data-i18n="5aca7077ebe34.p-3">The biggest business mistake that I’ve made is that I was very eager back in the day. I would fall for a lot of tricks by these sleazy, snake-oil salesman. I would commit to certain individuals very quickly, and I really never did my due diligence researching business partners or other partners I was looking to invest with. I’ve jumped too quickly into bed, into business relationships, into a partnership—and I had a particular real estate transaction with someone who ended up being a bad apple. I lost a lot of money.</p><p id="p-4" data-i18n="5aca7077ebe34.p-4">Nowadays I’m a lot different, but just because you touch a hot stove and burn your hand does not mean you should stop cooking. You still have to keep cooking, because you have to survive. You have to eat. I’m much more diligent now, and I’m much more cautious. I really spend time getting to know someone before I do business with them and before I do any kind of transaction with them.</p><p id="p-6" data-i18n="5aca7077ebe34.p-6"><b>Put in the Time</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aca7077ebe34.image-1"><img src="https://ohiocashflow.com/files/mistakebaby (1).jpg" data-location="local"></div><p id="p-7" data-i18n="5aca7077ebe34.p-7">A question that I always like to ask—and I advise all of you real estate investors out there to use no matter what kind of strategy you’re looking at—is:&nbsp;Are you willing to wait six, nine, or 12 months getting to know me and building a relationship with me before doing any business together?</p><p id="p-8" data-i18n="5aca7077ebe34.p-8">I say this because it is very important that you build a strong foundation for the long term. I’ve said it before, and I’ll say it again, real estate is not a one-night stand. It’s a marriage. You have to get to know each other and like each other; you have to respect each other; and you have to have the same big-picture and vision in mind for the future. If all of these things come to fruition, then you should “get married” and enter into this long-term relationship.</p><p id="p-9" data-i18n="5aca7077ebe34.p-9">So those are the mistakes that I made in the past. I was very eager, very hungry, and very motivated. Since I was not being patient, and I wasn’t conducting my due diligence by researching people. I would just jump for the deal or the business partnership, and I ended up getting hurt. However, referring back to that stove, don’t stop cooking. Don’t stop doing deals—and don’t stop trusting people.</p><p id="p-10" data-i18n="5aca7077ebe34.p-10"><b>Be Vulnerable</b></p><p id="p-11" data-i18n="5aca7077ebe34.p-11">You have to go into every relationship vulnerably, because if you don’t, that relationship will never flourish. Because you got burnt in the past, you’re going to suspect that everyone is going to burn you moving forward. So you’re always going to be very suspicious, and you’re never going to open up your heart and your mind to these individuals in order to let that relationship flourish. So go into every relationship with an open heart and an open mind. Of course, be cautious, and conduct your due diligence. Spend the time getting to know someone, but don’t go into it closed off. Really open up, and if you get hurt, you get hurt.</p><p id="p-12" data-i18n="5aca7077ebe34.p-12"><b>The Bottom Line</b></p><p id="p-13" data-i18n="5aca7077ebe34.p-13">I’m going to end it with this: I absolutely freaking love this. It doesn’t matter how many times you’re wrong, as long as you’re right once and it counts. Here’s an example: Let’s say you get married 10 times. Nine of them end up in divorce, but that tenth time you find the love of your life and you live happily ever after. Were those nine divorces worth it? In my opinion they were, because you found the love your life, and you lived happily ever after. Let’s say you started 10 businesses. You failed at nine, and lost millions. But one of those businesses you started is a Facebook, Amazon, or other hugely successful company. Did it matter that you were wrong nine times? It doesn’t matter, because you were right once.</p><p id="p-14" data-i18n="5aca7077ebe34.p-14">So look, those are my beliefs. I’m getting a little bit philosophical here. I hope you get my point.&nbsp;</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aca7077ebe34.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>