<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" data-i18n="584709e4c8790.h2-1">A, B And C Class Areas: Which One Suits Your Investment Portfolio?</h2></div></div><div id="block-6" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-6 sidebar text-center"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="584709e4c8790.image-1"><img src="https://ohiocashflow.com/files/letters-100338_640.jpg" data-location="local"></div><respond-html id="html-2" description="HTML">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-1" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><p id="p-1" data-i18n="584709e4c8790.p-1">Much has been talked about the areas of the asset classes with many investors preferring to rank them from class A to class F. Many others prefer including subcategories to each class like A-, B-, A+, B+ and so on. In the US, different states
            and cities have their own variations of how the areas and their asset classes should be ranked. In fact, the socio-economic status of people also governs how they compartmentalize the area classes. However, here, for the purpose of simplicity
            and ease of understanding, we’ll broadly rank the area/asset classes of the properties into three ranks, asset class A, asset class B, and asset class C.
            <o:p></o:p>
        </p><p id="p-3" data-i18n="584709e4c8790.p-3"><b><i>Class A</i></b><b><i><o:p></o:p></i></b>
        </p><p id="p-4" data-i18n="584709e4c8790.p-4">These properties are the top of the line and have a ‘wow’ factor associated with them. These are typically newer properties built in the last 15 years and are well maintained. They are mostly situated on riverfront lots.&nbsp;</p><p id="p-2" data-i18n="584709e4c8790.p-2">These properties offer a lifestyle to the occupants in the sense that these properties are located within approachable/commutable distance to the amenities like schools, shopping malls, and hospitals. They are located in areas that have easy access
            to all the major highways.&nbsp;</p><p id="p-5" data-i18n="584709e4c8790.p-5">Class A properties are mostly owner-occupied and are rarely tenanted. The owners are white-collar professionals, mostly from financial and medical sectors. Here, the cash flow is low yet the properties have a high demand. When purchasing asset
            class A properties, owners are mostly driven by emotions. The buyers of these properties look forward to staying in an area that offers them a high class lifestyle.</p><p id="p-6" data-i18n="584709e4c8790.p-6"><b><i>Class B</i></b>
        </p><p id="p-7" data-i18n="584709e4c8790.p-7">Class B properties are the most preferred classes of properties among investors. A high cash flow, an easy exit option, and enormous growth give enough reasons to early investors to build the foundation of their investments from class B.&nbsp;</p><p id="p-18" data-i18n="584709e4c8790.p-18">The properties in this class can be 30 to 60 years old but are well maintained. They are mostly occupied by blue-collar working class people. Half of the properties are owner-occupied and while the other half are investor-owned and rented out.
            These properties are mostly located around areas that support decent job opportunities to the occupants. For example, in Toledo, most of the class B properties have factories of steel and glass, hospitals and universities at a commutable distance.
            Most of the residents work in these factories, hospitals, and the university. Like A class properties, here also, the basic amenities are at a manageable distance.&nbsp;</p><p id="p-8" data-i18n="584709e4c8790.p-8"><b><i>Class C</i></b>
            </p><p id="p-9" data-i18n="584709e4c8790.p-9">Cass C properties are the riskiest among all the property classes. An above-average crime rate in these areas demands constant and vigilant monitoring from the investors of these properties.&nbsp;</p><p id="p-19" data-i18n="584709e4c8790.p-19">Having said that, not everything is bad with this property class. This class offers the highest cash flow among all the property classes. These properties are mostly occupied by people from lower socio-economic groups, mainly dependent on
                government benefits. &nbsp;An investor should consider this class for investing only when a sustainable cash flow portfolio has been built up from investing in class B properties.&nbsp;</p><p id="p-20" data-i18n="584709e4c8790.p-20">Since the houses are usually very old, they require renovation once acquired. Experienced investors, who have a good sense of the market and a trust-worthy team, can certainly go ahead with investing in this property class.&nbsp;</p><p id="p-10" data-i18n="584709e4c8790.p-10"><b><i>Conclusion</i></b>
            </p><p id="p-11" data-i18n="584709e4c8790.p-11">By far, class B properties seem to be the most lucrative property classes for investing. Young investors should first focus on building a strong portfolio by investing in class B properties and ensuring a steady monthly cash flow. Once that’s
                in place, they should think about taking more risks and investing in class C properties. Class C properties will help your portfolio grow at a faster rate. It will also increase your monthly cash flow. Class A properties should be your
                last resort. After you have built a strong and majestic portfolio, you might think about settling down in one of those luxurious properties. For investment purpose, of course, they are not the best bet.</p><p id="p-21" data-i18n="584709e4c8790.p-21">All said and done, whichever class of property you plan to invest in, your investment decision should always be based on pure numbers and not on the basis of growth predictions. Work out your numbers and with a trust-worthy team, go ahead
                and invest. It is very important to establish a relationship with key people first who’ll help you in investing.&nbsp;</p></div></div>