<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5908b7887f5f3.h2-1"><span style="font-size:0.7em">Why Following the American Dream Will Rob You of Financial Control</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/YKsZxX4Q3h0" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5908b7887f5f3.p-1">Today I’m talking to you about investment strategies. Should you invest in stocks, or should you invest in real estate?</p><p id="p-10" data-i18n="5908b7887f5f3.p-10">Around five years ago, I was given a book that&nbsp;absolutely changed my world. I’ll tell you the name of the book if you comment on this post below. What it did was motivate me to start looking into how I could invest my money to produce residual
            income and increase my cash flow instead of just slaving away in a nine to five.</p><hr id="hr-1"><ul id="ul-1"><li><b>Why I’d Choose to Invest in Real Estate Over Stocks Any Day of the Week</b>
            </li></ul><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5908b7887f5f3.image-1"><img src="https://ohiocashflow.com/files/real-estate-over-stocks.jpg" data-location="local"></div><p id="p-3" data-i18n="5908b7887f5f3.p-3">I initially started investing in an Australian healthcare company because I believed that as Baby Boomers started aging and retiring, there would be a greater need for healthcare.</p><p id="p-6" data-i18n="5908b7887f5f3.p-6">My first mistake was that I invested that money when I really couldn’t afford to spare it. So, it really wasn’t the right thing for me to do at that time. Additionally, at the time, I had an unfortunate car accident without insurance and had to
            sell off my stock portfolio to survive for six months while recuperating.</p><p id="p-8" data-i18n="5908b7887f5f3.p-8">What I learned from my initial investing experience is that the stock market is very, very volatile. Sometimes there are big changes in a day, but most of the time, it varies month to month, or there could be a huge crash and it might fall to
            crap overnight. Even after my bad experience, I still believe you can make a lot of money in the stock market.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5908b7887f5f3.p-5"><span style="font-size:0.8em">When you invest in stocks, you can do your due diligence online to get to know the company, but you are just one vote out of tens of thousands if not millions of other shareholders. So, you cannot choose what direction the company is going to
            take—what products they create, who they hire, and how much they’re&nbsp;going into debt.</span></p><p id="p-2" data-i18n="5908b7887f5f3.p-2">Fast-forward five years, and I’ve done over 500 real estate deals and am&nbsp;running a multi-million dollar real estate investment company.</p><p id="p-4" data-i18n="5908b7887f5f3.p-4">You&nbsp;are the CEO and board of directors of that property, venture, multifamily complex, or&nbsp;commercial building.</p><p id="p-7" data-i18n="5908b7887f5f3.p-7">You get to choose:</p><ul id="ul-2"><li>Where you buy</li><li>How much you spend</li><li>How much debt you get into</li><li>What kind of renovations you are going to make</li><li>Who the tenants are going to be</li><li>Who your property manager is going to be</li><li>Who your contractors are</li></ul><p id="p-11" data-i18n="5908b7887f5f3.p-11">You are entirely in control. You choose when to sell&nbsp;when to hold.</p><p id="p-12" data-i18n="5908b7887f5f3.p-12">So, in my opinion, bricks and mortar are a much safer and better investment. You get to touch it, you get to feel it, and you are in control of it!</p><p id="p-13" data-i18n="5908b7887f5f3.p-13">To all those trying to build wealth: What’s your preference—stocks, real estate, or a combination of the two? (Or something else entirely?)</p></div></div>