<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="592d60d4edb36.h2-1"><span style="font-size:0.7em">Why It’s Almost Always a Bad Idea to Invest in Real Estate to Save Money on Taxes</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/HCtCM7dGYbU" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="592d60d4edb36.p-1">I’m going to talk to you today about something that I’ve been wondering: Why would you invest in real estate to save money on taxes?</p><p id="p-2" data-i18n="592d60d4edb36.p-2">This&nbsp;might be the most ridiculous thing I have ever heard in my life, and it is something that is very, very frustrating to me. I just don’t get the principles behind it, and the fundamentals of it don’t make any sense.</p><p id="p-3" data-i18n="592d60d4edb36.p-3"><b>Why It’s Almost Always a Bad Idea to Invest in Real Estate to Save Money on Taxes</b></p><p id="p-4" data-i18n="592d60d4edb36.p-4">So, let me start off with my Aussie investors. A ton of you out there are using this thing called “negative gearing.” This means&nbsp;you’re investing in these super-duper expensive properties&nbsp;that cost&nbsp;you more than the income that you are getting every month. You are losing that money, but then you are losing all those losses to offset the income you are making from a 9-5. Guys, that is not why we invest in real estate. We invest in real estate to make money and to pay our taxes fairly. I always say I wish that I was paying $10 million in taxes, and do you know why? Because&nbsp;that would mean I’d probably be making $100 million. In the U.S. (and I know in Australia, too) the taxation system favors businesses. The more money you make as a business owner, the fewer taxes you pay. Unfortunately, that’s just the way it is.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="592d60d4edb36.image-1"><img src="https://ohiocashflow.com/files/dont-invest-to-save-taxes.jpg" data-location="local"></div><p id="p-6" data-i18n="592d60d4edb36.p-6">Now, for everyone here on the East coast and West coast of the United States, your markets have boomed. They’ve gone up in value. So a lot of you guys can’t take advantage of losing money every single month by offsetting it against your income. Still, it is mind boggling to me that you are investing in these properties, losing money on your monthly mortgage repayments, which means your income is not covering your expenses. But you are doing that because of some prediction and hope that the property is going to appreciate in value more than you are losing on your mortgage repayments.</p><p id="p-7" data-i18n="592d60d4edb36.p-7"><b>Use Real Estate Investing to Supplement Your Income</b></p><p id="p-8" data-i18n="592d60d4edb36.p-8">Once again, this is mind boggling to me. I don’t get it. It doesn’t make any sense. Real estate should be about putting money in your pocket every single month. Forget about capital appreciation. I mentioned it&nbsp;in one of my previous blog&nbsp;posts&nbsp;that capital appreciation is a prediction. It is speculating because we don’t know what the future holds. You guys have to invest based on the numbers in the deal as they stand today. This means&nbsp;your income has to outweigh your expenses. There has to be positive cashflow left over, and there has to be a ton of money pouring into your pocket every single month.</p><p id="p-9" data-i18n="592d60d4edb36.p-9">Remember, we invest in real estate to supplement the income we are getting from a job we do not want to be working in. So why are you investing in capital appreciation? That will not supplement your income. That is intangible. It is equity; today it’s there, and tomorrow it could be gone. We don’t know where the market is going. We can’t predict the future.</p><p id="p-10" data-i18n="592d60d4edb36.p-10">So, again, do not do it. Invest based on cash flow; invest based on making an absolute fortune. When you make more money, pay your taxes fair and square. I said that the tax system favors business owners and folks doing well, so I’m sure you’ll have other&nbsp;tax advantages&nbsp;you can use through a good accountant.</p><p id="p-11" data-i18n="592d60d4edb36.p-11"><i>Investors: What do you think of this assessment?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="592d60d4edb36.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>