<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5908b90a92858.h2-1"><span style="font-size:0.7em">5 Steps to Weed Out Shady Turnkey Operators&nbsp;</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Jk50ZyCsCRI&#10;" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5908b90a92858.p-1">Today, we’re going to talk about investment strategies for retired people.</p><p id="p-2" data-i18n="5908b90a92858.p-2">In my mind, it’s very clear where you should be investing your money—real estate. Forget about CDs, forget about stocks. Put your money in real estate.</p><p id="p-4" data-i18n="5908b90a92858.p-4">Why? Because you are the master of your fate, you are the captain of your soul, you are the board of directors of every transaction you make, you are the CEO controlling every transaction.</p><p id="p-7" data-i18n="5908b90a92858.p-7">What I mean by that is that if you invest in stocks, you have one vote out of tens of thousands of stockholders. Ultimately, it’s the board of directors and the CEO who decide which direction that company will&nbsp;take. So, your fate is in the
            hands of someone else.</p><p id="p-9" data-i18n="5908b90a92858.p-9">Don’t even consider CDs! If you want to get 0.5% return on your investment when inflation is 3&nbsp;to 4%&nbsp;so you’re actually losing money, that’s the most ridiculous thing I’ve ever heard. Forget about it!</p><p id="p-11" data-i18n="5908b90a92858.p-11">In my opinion,&nbsp;turnkey real estate is where you need to park your retirement money via a self-directed IRA or your savings that you have built-up over the last 30–40 years. Why do I suggest turnkey real estate investing? You are at a point
            in your life where you don’t want more stress, you don’t want any more drama. You don’t want to be dealing with contractors, real estate agents, property managers, accountants, attorneys, or title companies. You should be playing tennis&nbsp;and
            golf or sipping pina coladas in Florida, where it’s really warm and the weather is awesome. Turnkey real estate offers&nbsp;that. Still, beware because there are many shady turnkey operators.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5908b90a92858.image-1"><img src="https://ohiocashflow.com/files/turnkeyoperators.jpg" data-location="local"></div><h3 id="h3-1" data-i18n="5908b90a92858.h3-1">5 Steps to Weed Out Shady Turnkey Operators</h3><p id="p-3" data-i18n="5908b90a92858.p-3"><b>1. Google the company name.</b>
        </p><p id="p-6" data-i18n="5908b90a92858.p-6">When you type in the company name put “scam” behind it. The first several pages of Google will reveal any scams. Also type in the owner’s name and “scam” behind it.</p><p id="p-8" data-i18n="5908b90a92858.p-8"><b>2. Find out if they have in-house property management.</b>
        </p><p id="p-10" data-i18n="5908b90a92858.p-10">Make sure they own or control the property management. If it’s not controlled and owned by the turnkey company, they have a super tight relationship and proven track record so that you can get better pricing than just anyone off the street.</p><p id="p-12" data-i18n="5908b90a92858.p-12"><b>3. Evaluate the turnkey operator’s demographic focus.</b>
            </p><p id="p-13" data-i18n="5908b90a92858.p-13">Experience has led me to believe that&nbsp;B-class properties in B-class areas offer the best investment opportunity. These are areas that are 50% investor-owned and 50% owner-occupied. Before the global financial crisis, it was predominately
                owner-occupied. Then smart investors began buying and renovating in these areas, renting to the same folks who used to live in the area.These people chose to stay in the area because of the infrastructure nearby—a hospital, a school, a
                mall, or a factory. So, there is a level of desirability that drives the demand of tenants and homeowners. These areas are well-kept and have great curb-appeal, with no boarded-up properties and low crime rates. The typical age of the
                property doesn’t really matter as much as the other things I mentioned.</p><p id="p-14" data-i18n="5908b90a92858.p-14"><b>4. Look at the quality of workmanship.</b>
            </p><p id="p-15" data-i18n="5908b90a92858.p-15">You need to understand the type of products the turnkey company is buying and how well they are renovating the property. Don’t expect to get the Taj Mahal. It needs to be very clean, efficient, and sustainable for the long haul. So, make sure
                the plumbing and electrical are in good working order. The roof needs to have a good lifespan left.</p><p id="p-16" data-i18n="5908b90a92858.p-16"><b>5. Check reviews.</b>
            </p><p id="p-17" data-i18n="5908b90a92858.p-17">You need to speak to other investors who have bought from the turnkey companies. You need to look for testimonials. Really get inquisitive because past performance and history is a very good indication of future performance and what the future
                holds.</p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5908b90a92858.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
            </span></p></div></div>