<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5ba7bbc0de0fd.h2-1"><span style="font-size:0.7em">3 Reasons Beginners Don’t Invest Out-of-State (&amp; How to Overcome Them!)</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><hr id="hr-1"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5ba7bbc0de0fd.image-1"><img src="https://ohiocashflow.com/files/beginners-invest-out-of-state.jpg" data-location="local"></div><p id="p-1" data-i18n="5ba7bbc0de0fd.p-1">Buying out-of-state property or property in a different country can be very rewarding. Due to the fact that you’re not bound by your current location’s limitations, you have access to property in prime locations elsewhere. Prices could be in your favor, rental demand could be through the roof, or maybe you’re simply able to diversify your portfolio. In some cases, it can be as simple as owning a vacation home you can rent out to people when you’re not there.</p><p id="p-2" data-i18n="5ba7bbc0de0fd.p-2">Oftentimes, investors are motivated to buy out-of-state property simply because it’s more affordable. Perhaps you live in an area like New York City, Sydney or even London, where real estate prices are phenomenally high. In these areas, it’s hard enough to afford one property for most people, let alone two.</p><p id="p-3" data-i18n="5ba7bbc0de0fd.p-3">If you just can’t afford to buy something over there, it really makes sense to look at other locations. Here, property costs could be significantly lower. Initial cost might not be your main concern, though. In that case, investing in property out-of-state can give you a great boost in terms of ROI when you decide to rent the place out. I believe that I have already stressed enough in my previous blogs and posts on BiggerPockets that you should invest based on cash flow and not speculate on capital appreciation.</p><p id="p-4" data-i18n="5ba7bbc0de0fd.p-4">As lucrative as these investment opportunities are, people still hesitate to take the next step. And there’s a reason for that. Actually, there are a couple. If you are new to the field and you want to invest in out of state property or even property in a different country, you are likely to face a few challenges.</p><p id="p-6" data-i18n="5ba7bbc0de0fd.p-6"><b>1. The Knowledge Gap</b></p><p id="p-7" data-i18n="5ba7bbc0de0fd.p-7">You don’t know everything, and that’s ok. But when you’re about to invest money, you’re kind of expecting to have at least some information to go by for making your decision. This is one of the most important reasons people hesitate when investing, and it’s even more so the case when you’re talking about investing outside of your state or country.</p><p id="p-8" data-i18n="5ba7bbc0de0fd.p-8">Even just thinking about investing in out-of-state property can make you feel really unsure of taking that potential next step. And why wouldn’t you? You’re just not familiar with the place. And when that’s the case, a thousand questions will be racing through your mind. After all, investing in real estate involves pretty large sums of money. You’re not aware of the local economic conditions, or you might not have the same in-depth understanding of that distant property market like you do of your current area. All you have to rely on are gut instincts, online research and word of mouth. There are no guarantees. That’ll make even the best of us uncertain.</p><p id="p-9" data-i18n="5ba7bbc0de0fd.p-9">But there are many potential opportunities in many different states or countries. So, the first thing to consider while investing is making sure that you establish trust and relationships with key people on the ground who will be your eyes and ears, heart and soul. I will touch on some of the key people needed to make it all work in more depth below. It’s also always a good idea to invest in an area where you might have relatives. It is easier to make decisions on investing in a location that has people you know living there, as they give you honest feedback. Even though this certainly isn’t a prerequisite, knowing someone in the neighborhood can certainly help.</p><p id="p-10" data-i18n="5ba7bbc0de0fd.p-10">If you want to invest in out-of-state property, you’ll also have to do some additional research with regard to its surroundings. For example, you should try to understand the nature of its economy. Ideally, you would want to invest in a location that is not solely driven by only one type of industry.</p><p id="p-11" data-i18n="5ba7bbc0de0fd.p-11">For example, a few years back, the housing market in Detroit collapsed all of a sudden.&nbsp;That was because Detroit’s economy was supported mainly by the car manufacturing industry, and once that collapsed, so did Detroit’s housing market.</p><p id="p-12" data-i18n="5ba7bbc0de0fd.p-12">If you’re looking to rent your property out, you’ll have to research for areas that have good infrastructure, which should provide an influx of rental demand.</p><p id="p-13" data-i18n="5ba7bbc0de0fd.p-13"><b>2. The Legal Hurdle</b></p><p id="p-14" data-i18n="5ba7bbc0de0fd.p-14">Understanding the laws and regulations, like property taxes and rental laws, can form a real barrier, even for people that live there. When you’re not a local, things can seem even more daunting. Identifying all the rules and understanding them can be quite a challenge. That means it’s important to connect with local experts to help you through a potential purchase.</p><p id="p-15" data-i18n="5ba7bbc0de0fd.p-15">Since you’re most likely looking for a decent return-on-investment, you’re also looking for places that have a good rental rate versus purchase price. But keep in mind that not all the areas have the same tax rates. As a consequence, you should do some thorough research before deciding on a particular location. Property taxes and property management costs can contribute a substantial amount to your total expenses.</p><p id="p-16" data-i18n="5ba7bbc0de0fd.p-16">At the same time, you have to keep in mind that there’s more to legal issues than taxation. Depending on&nbsp;where you’re investing, you might have some very strict regulations regarding the amount of rent you can ask. In addition, it’s very possible that the local eviction laws are so strict you might have a hard time getting a bad tenant out of your property. You also have all kinds of security laws and health laws to take into consideration.</p><p id="p-17" data-i18n="5ba7bbc0de0fd.p-17"><b>3. Getting The Right Team</b></p><p id="p-18" data-i18n="5ba7bbc0de0fd.p-18">This is your golden ticket.</p><p id="p-19" data-i18n="5ba7bbc0de0fd.p-19">Your team should consist of many different people, depending on what you’re looking for specifically. All these profiles have one purpose: to help you go from looking to invest in a property to owning and managing one. If you were looking to buy property in an area you know, you’d have no trouble, especially if you’ve invested in property before or have friends that have.</p><p id="p-20" data-i18n="5ba7bbc0de0fd.p-20">Going outside of your state, however, things become more difficult. There’s no one there to recommend you a potential good fit for your team, not even to tell you where to look. It is absolutely paramount that you work with people you can trust and&nbsp;who&nbsp;understand the area and know its pulse.</p><p id="p-21" data-i18n="5ba7bbc0de0fd.p-21"><b><i>A Real Estate Agent</i></b></p><p id="p-22" data-i18n="5ba7bbc0de0fd.p-22">Having someone who&nbsp;actively looks for the best opportunities for you to invest in is key. You’re probably not investing full time, and you want to have the best deal possible, so a real estate agent is a good way to go. The difficult task of finding this person is pretty stressful, especially if you don’t know the area that well. Keep in mind, though, that you will never get the best of the best like a local investor would. Still, by finding the right real estate agent, you could do very well.</p><p id="p-23" data-i18n="5ba7bbc0de0fd.p-23"><b><i>A Contractor</i></b></p><p id="p-24" data-i18n="5ba7bbc0de0fd.p-24">After you’ve found the perfect property to invest in, if you’re not buying turnkey, you’re probably going to want to make some changes to it. Odds are, you’ve found a property that’s a bit run down or just needs a bit of refreshing. I strongly suggest not buying a property needing major renovations.</p><p id="p-25" data-i18n="5ba7bbc0de0fd.p-25">If renting out is key, you will require someone to do a quick cosmetic makeover for you and when you’re investing in property that is out of your area, you’re probably not going to be able to supervise. Make sure you do more due diligence on the contractor himself than the work he can actually do. Too many times have I heard stories of contractors just taking the money and disappearing. Asking for references is going to be extremely important for your success.</p><p id="p-26" data-i18n="5ba7bbc0de0fd.p-26"><b><i>Property Managers</i></b></p><p id="p-27" data-i18n="5ba7bbc0de0fd.p-27">Even when you invest in an out-of-state or country property and everything’s set and done, you won’t be there to look after it. You’ll probably require either a property manager or management company to take care of your property. They help you fill vacancies, collect rent and carry on repairs. They would also guard your property against any legal issues you might run into. This is a hard one, as many companies make the most money when they turn over your tenancy, so the reality is, they will never chase hard enough to keep your tenant staying and paying. Once again, trust and referrals will heavily come into play here.</p><p id="p-28" data-i18n="5ba7bbc0de0fd.p-28"><b><i>You</i></b></p><p id="p-29" data-i18n="5ba7bbc0de0fd.p-29">Never mind how many people you have on your team. Unless you’re a seasoned investor, odds are, you’re going to be an important part of the entire process. You might be able to depend on your team for the knowledge they bring, but in the end, you’re going to have to manage everything.</p><p id="p-30" data-i18n="5ba7bbc0de0fd.p-30">What’s more, you should never settle for a property you didn’t get to inspect properly. It’s very possible that it’s not the same as shown over the internet or as described to you by your agent. Take time and plan a visit. Through our turnkey model, I always encourage every single one of our investors to visit us in person and check out what we do. When you’re there, you also have the perfect opportunity to talk to the neighbors and get some feedback on what it is like to live there.</p><p id="p-31" data-i18n="5ba7bbc0de0fd.p-31">During the life of the investment, you are going to want to have eyes on the property occasionally. You don’t have to be there all the time, but there’s no harm in doing some micro-managing — especially until enough time has gone passed and a decent amount of trust has been established.</p><p id="p-32" data-i18n="5ba7bbc0de0fd.p-32">Investing in an out-of-state takes more effort than investing nearby. But in the end, if you have the right people to work with, it’s not all that hard to do. There are many advantages of buying a piece of real estate that is located far from you, and there are certain challenges as well. But with thorough research and really leveraging your network, these challenges can be addressed.</p><p id="p-33" data-i18n="5ba7bbc0de0fd.p-33">And remember: “To lead an orchestra, you must turn your back on the crowd” —Aristotle</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5ba7bbc0de0fd.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>