<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5908c09793534.h2-1"><span style="font-size:0.7em">The Magic Question That Weeds Out Shady Business Partners</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="youtube-embed">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/hqrjK5rER7A" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5908c09793534.p-1">This particular method has really helped me over the years. I present it at speaking presentations, I believe I’ve written blog articles about it in the past, and today, I’m giving you a video post about this question that I ask everyone before
            we look at doing business together.</p><h3 id="h3-1" data-i18n="5908c09793534.h3-1">Why is This Question So Important?</h3><p id="p-2" data-i18n="5908c09793534.p-2">When I moved here from Australia, I found everyone in the United States to be very transactional, meaning they want to do business immediately; they don’t want to wait. I’m here to tell you guys that if you want to succeed in real estate, it is
            not going to happen overnight. Real estate is a long-term play. And I like to joke around by saying it’s not a one-night stand; it’s a marriage. Every relationship that you are looking at getting into, real estate investment wise, has to be
            considered a marriage. The people that you are looking at working with must be willing to plant the seed now before the harvest later. It’s going to take you 5, 7, 10+ years to get you where you need to be to fully realize the potential of
            your hard work. It doesn’t happen overnight. So I’m begging you guys to stop working with people who&nbsp;are very transactional. You really have to work with people who really care about you and your best interests, who are in it for the
            long haul.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5908c09793534.image-1"><img src="https://ohiocashflow.com/files/question-business-partners.jpg" data-location="local"></div><h3 id="h3-2" data-i18n="5908c09793534.h3-2">The Question That Magically Weeds Out Bad Business Partners</h3><p id="p-3" data-i18n="5908c09793534.p-3">Now that I’ve gotten that out of the way, here is the magic question that I ask everyone: “Are you willing to wait 6, 9, or even 12 months in building a trusting relationship with me before we do any business together?” I know what you’re thinking,”Why
            the hell would you even ask that question? If the deal is so good, I want to buy it right then and there.” I understand sometimes you have to pull the trigger quickly, and I have nothing against that! But still, pop the question. I really
            want you to weed out all the shady people out there.</p><p id="p-4" data-i18n="5908c09793534.p-4">There are way too many shady people out there. And what you’re going to find is you’re exchanging emails with these folks, you’re on the phone and in meetings, and then you’re going to pop the question. And then you are going to find out if there
            are any true hidden agendas within these people. Anyone who wants your money right now will not be willing to wait. They can’t wait; they’re greedy, and they want your money now. They’re going to try and influence you any way they know how
            to get to your money. These are the people that are not right for you. These are the people that you do not want to be doing business with. These aren’t the people who are going to help you get where you need to be 5, 7, or 10 years from now.</p><p id="p-6" data-i18n="5908c09793534.p-6">Let me repeat that question for you: Are you willing to wait 6, 9, or even 12 months of building a trusting relationship with me before we do any business together? Guys, it’s a powerful question. It will eliminate 99.9 percent of the shady operators
            out there. The only ones that are going to be left are the good people and the people who understand what delayed gratification means. And those are the people that you want to brush shoulders with, you want to associate yourself with, and
            you want to help get where they need to be. And they will help you get to where you need to be.</p><p id="p-7" data-i18n="5908c09793534.p-7">So, as you can tell, this is a topic I’m very passionate about. I love this question. It has helped save me hundreds of thousands of dollars in the past.</p><p id="p-8" data-i18n="5908c09793534.p-8">What tactics do you use to weed out the good from the bad?</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5908c09793534.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
            </span></p></div></div>