<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5894be65c5202.h2-1"><span style="font-size:0.7em">4 Important Steps to Bounce Back After Losing Money on a Deal</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/UxxkbthTLmI" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-1"><p id="p-1" data-i18n="5894be65c5202.p-1">There is no need to lose your cool when you’ve had a bad deal and lost money. It’s inevitable when you’re in the real estate business long enough. The important thing to remember is that the real estate business is just like every other business, and when financial loss eventually happens, you need to keep calm, stay smart, and work through it.</p><p id="p-4" data-i18n="5894be65c5202.p-4">I would like to give you four important points to remember when the bad deal eventually happens to you.</p><h3 id="h3-1" data-i18n="5894be65c5202.h3-1">4 Important Steps to Bounce Back After Losing Money on a Deal...</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5894be65c5202.image-1"><img src="https://ohiocashflow.com/files/lose-money.jpg" data-location="local"></div><hr id="hr-2"><p id="p-3" data-i18n="5894be65c5202.p-3"><b>1. Accept that it will eventually happen to you.</b></p><p id="p-2" data-i18n="5894be65c5202.p-2">If you are involved with enough real estate deals, it’s going to happen. Document what happened in detail, liquidate that property&nbsp;and move on.</p><p id="p-6" data-i18n="5894be65c5202.p-6"><b>2. Don’t dwell on it.</b></p><p id="p-7" data-i18n="5894be65c5202.p-7">Do NOT allow a single deal to consume your thoughts. It’s easy to succumb to the negativity and playing the blame game will just overwhelm you if you allow it to. Cut your losses and focus on making your next project a success.</p><p id="p-8" data-i18n="5894be65c5202.p-8"><b>3. Don’t be afraid of making a mistake.</b></p><p id="p-9" data-i18n="5894be65c5202.p-9">Fear is an acronym for “false emotions appearing real.” If everything we did in business was instantly successful, we would never learn and grow. The most important lessons I have learned in this business has come from the mistakes I’ve made. In my first point, I mentioned documenting what happened. This is absolutely critical, not as a point to dwell on, but rather as an educational tool to use in the future so you won’t&nbsp;repeat the same mistakes.</p><p id="p-10" data-i18n="5894be65c5202.p-10"><b>4. Remember: Safety comes in numbers.</b></p><p id="p-11" data-i18n="5894be65c5202.p-11">Remember that success in the real estate business never comes down to a single deal. It’s all about making more money than you lose. Building a foundation of many successful ventures will always overshadow the deals that have gone sour.</p><p id="p-12" data-i18n="5894be65c5202.p-12">So that’s it. It’s going to happen to you eventually. Don’t allow a loss here and there to occupy space in your head. Don’t be insane and repeat your mistakes, and focus on building a foundation (doing many deals) so strong that one crack won’t bring the whole house down.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5894be65c5202.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/bounce-back-after-bad-deal/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a></span></p></div></div>