<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5976831446aea.h2-1"><span style="font-size:0.7em">Sorry, Newbies, But Any Real Estate Strategy Requires Significant Money: Here’s Why</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/76XhGQGGCIA" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5976831446aea.p-1">One thing is for certain and that is this: If you want to play, you have to pay. And unless you have the money, forget about anything that I’m about to say. Go out there and hustle. Work two jobs if you have to and save $50,000. Then consider getting started in real estate. Until you have $50,000 in your account, forget about it. Immerse yourself in any and everything real estate, learn every day about how to invest, but don’t actually pull the trigger. Now, you can argue with me later (by all means, comment below), but in my opinion, it takes money to make money. If you do not have any money, I don’t believe in any other strategy out there.</p><p id="p-2" data-i18n="5976831446aea.p-2"><b>Buying &amp; Holding</b></p><p id="p-3" data-i18n="5976831446aea.p-3">Let’s talk about buying and holding. I personally don’t believe in financing. If you are going to be buying and holding, you’re going to need a lot of cash. Now, if you’re going to be buying and holding, you need to be making a lot of money in your 9-5, you need to have a ton of equity built up in your personal residence, you need to have an inheritance, you need to have a ton of cash savings, and you need to have money in your retirement account. I’m a little bit biased here because I do run a turnkey company, and we do only sell properties to cash investors, but let’s forget about me right now. The number one reason why investors declared bankruptcy during the global financial crisis was that they were over-leveraged. They didn’t control their destiny. The financial institutions controlled them. They requested the funds to be paid back, and they called the loan on them. On the other hand, when you are using cash and cash only, you are the master of your fate. So work hard, at your 9-5 or whatever it may be, save the cash, and then start buying and holding.</p><p id="p-4" data-i18n="5976831446aea.p-4"><b>Buying, Fixing &amp; Flipping</b></p><p id="p-6" data-i18n="5976831446aea.p-6">Now, the second strategy is buying to fix and flip. For all of you folks out there who may not make a lot of money in your 9-5 and want to jump in, once again, please remember that you can’t do fix and flips without any cash. Please, I’m begging you—do not borrow money, do not take on any hard money loans. Don’t go to the financial institutions; just do it the slow and the hard way. Work your butt off, save the cash, and buy, fix, and flip with your own money until you know what you’re doing. Then you can supercharge your efforts by going out and using someone else’s money. So buying, fixing, and flipping is perfectly suited for those folks who have saved the cash. They might not have a 9-5 where they’re making a lot of income, but they may want to put their real estate efforts on steroids and get dirty every single day. Buy, fix, and flip as many properties as you possibly can.</p><p id="p-7" data-i18n="5976831446aea.p-7">My word of advice to all of the incoming buy, fix, and flippers is this: Start out small. Don’t go out there and buy a ridiculously expensive property. Use whatever cash you can scrape together after working hard to buy a rundown distressed property. Just remember to keep it simple and don’t get into a full-blown structural rehab. Buy a property that needs a cosmetic touch-up, maybe requiring paint, new carpet, re-lamination of countertops, tile in the bathroom, a new vanity, a new mirror, new light fittings, etc. Invest the least amount of money that you possibly can, and list the finished product on the MLS, on Craigslist, and on Facebook. I mean, you have to absolutely hustle to get this property sold and then use that one property as an example of what you’ve done so you can potentially go out into the market and raise more funds to supercharge your efforts. Personally, I would use your own cash for as long as you possibly can. Buy something for cheap, renovate it, sell it, and do it again. And if I were you, I would do between 5 and 10 buy, fix, and flips myself before I would actually buy, fix, and hold. So buy, fix, and flip for as long as you can, generate those cash profits, and use them to supercharge your efforts.</p><div id="image-2" class="respond-image" data-display="standalone" data-i18n="5976831446aea.image-2"><img src="https://ohiocashflow.com/files/money-required.jpg" data-location="local"></div><p id="p-8" data-i18n="5976831446aea.p-8"><b>Wholesaling</b></p><p id="p-9" data-i18n="5976831446aea.p-9">And last but not least is the strategy of wholesaling. Remember, when I started this vlog, I said that it takes money to make money. Yes, hypothetically you do not need to have cash in your account to wholesale a property, but let me ask you this: What’s going to happen if you put a property under contract and you’ve got 30 days to close on it, but you don’t have the cash in your account to close? At this point, you may not be competent enough to find a buyer who is going to buy that property for more than you’ve got the seller under contract for. Not only will you throw dirt on your reputation, but you’ll have to deal with a very sticky situation.</p><p id="p-10" data-i18n="5976831446aea.p-10">That’s a situation I’d never want to put myself in. Have I bought awful properties in the past? Yes, I have. Some I didn’t inspect properly, and others I pulled the trigger on too soon. Still, I sold the properties even if I lost money on them because my inner peace was at stake. I cannot look a seller in the eye who needs that money. You shake that person’s hand, and when they need you to perform, you have to perform. Everyone out there looking to wholesale without any money in your account is going to be letting a lot of sellers down. You’re going to lose your reputation. Is that what you really want?</p><p id="p-12" data-i18n="5976831446aea.p-12">If you want to do it the right way, this is how you do it: Find an absolutely amazing, undervalued, bargain property. Have the cash in your account as a backup to close on it if you have to. Then start marketing that property for whatever your margin is. Of course, leave enough meat on the bone so whoever wants to buy it can fix it and flip it. Then, if for whatever reason you do not find a buyer to purchase the property from you, but still it’s a spectacular deal, close on the transaction yourself. Buy the property with cash, then either fix it and sell it yourself or continue marketing it. If the deal is that good, someone will buy it from you. I’m not going to get into the legal side of wholesaling. A lot of people say it’s legal, and a lot of other people disagree. I’m just saying this: Have the cash in your account as a backup so you can perform on the transaction. Depending on what state it’s in, you might even have to buy the property with cash and double close on it.</p><p id="p-13" data-i18n="5976831446aea.p-13">I strongly believe the first thing you have to do is go out there and work hard to save enough money to start your real estate investment endeavor. Any one of these three strategies can work really well. I’ve used all three in my real estate business, and I’ve done very well implementing all of them.</p><p id="p-11" data-i18n="5976831446aea.p-11"><i>What do you think? Does starting out in real estate require significant cash reserves?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5976831446aea.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>