<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b377ec52de06.h2-1"><span style="font-size:0.7em">How to Find a Solid Property Management Company for Your Investments</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/1R8NAUW9NLQ" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5b377ec52de06.p-1">Today we’re talking about the crappiest of real estate investing—property management and dealing with tenants and toilets. I reluctantly started my own property management company when I established my turnkey company because I didn’t think I could have a successful turnkey company without in-house property management. Now my thoughts have changed, so I’m going to be somewhat of a hypocrite and share a different viewpoint with you guys.</p><p id="p-2" data-i18n="5b377ec52de06.p-2">In all honesty, we have done a great job over the years from an external viewpoint. Everyone has had tremendous success, but from an internal standpoint, it has been tough. It’s a tough gig dealing with tenants. It’s a tough gig dealing with toilets. You’re kind of spread thin, especially when you start a property management company. In the early days, you’re running around like a headless chicken trying to put out all of these fires. When things start to get better and more consistent, you start hitting that critical, massive scale. If you want to run a property management company in a legitimate way, you’re not going to make money until you get 300 or more units under management. We have always tried to stay honest and do it the right way, unlike many other property managers out there.&nbsp;&nbsp;</p><p id="p-3" data-i18n="5b377ec52de06.p-3">With that being said, property management is not a sexy business. It’s a tough business. It’s customer service. The toughest part is to keep your employees happy, motivated, inspired, and satisfied because they’re constantly dealing with problems. There is always something going wrong, and it is tough working day-to-day in that department.&nbsp;We’ve been through the tough times and have gotten to a point now where we’ve mastered the craft when it comes to property management.</p><p id="p-4" data-i18n="5b377ec52de06.p-4">First, I want to say this: I think anyone who believes they can successfully manage properties from out-of-state or the country is in for a disaster. I strongly urge you not to do that because you’re going to be dealing with the tenants and toilets. They’re going to be calling you and asking for you to do all kinds of maintenance and complaining about it. You are going to have to coordinate maintenance items to be repaired and access with the tenants—and then they’re not going to be at the property and you have to give a 24 hours’ notice. Guys, you do not want to manage real estate from afar. You do not even want to manage real estate in your own backyard because that is not passive income, in my opinion. That is not financial freedom; that is a job. You should invest in real estate and pass on property management to the experts. You should not self-manage. That is just my opinion. I’m not saying that I am right or wrong.</p><p id="p-5" data-i18n="5b377ec52de06.p-5"><b>So, How Do You Find a Good Property Manager?</b></p><p id="p-6" data-i18n="5b377ec52de06.p-6">That is the magic question, right? Look, it’s tough because a lot of them are shady operators, and a lot of them are not doing the right thing. Make sure to ask the right questions when interviewing a property management company.</p><ul id="ul-1"><li>How long have you been in business?&nbsp;</li><li>What is your fee structure?&nbsp;</li><li>What&nbsp;do you charge every single month?&nbsp;</li><li>What&nbsp;is your tenant placement fee?&nbsp;</li><li>Do&nbsp;you have a leasing renewal fee?&nbsp;</li><li>Do&nbsp;you have administrative fees?&nbsp;</li><li>Do&nbsp;you up-charge maintenance?</li></ul><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b377ec52de06.image-1"><img src="https://ohiocashflow.com/files/sell-your-home.jpg" data-location="local"></div><p id="p-7" data-i18n="5b377ec52de06.p-7">Now, don’t get too caught up in these fees because property management is a tough business and they do a lot of work and don’t get much money for doing all of that work. So don’t crucify them if they charge all of these fees. They have to eat and pay the bills. What you don’t want is property management taking advantage of you by up-charging maintenance too much or making up non-existent maintenance charges just to charge you. That is fraud and stealing and not someone you want to do business with.Now, don’t get too caught up in these fees because property management is a tough business and they do a lot of work and don’t get much money for doing all of that work. So don’t crucify them if they charge all of these fees. They have to eat and pay the bills. What you don’t want is property management taking advantage of you by up-charging maintenance too much or making up non-existent maintenance charges just to charge you. That is fraud and stealing and not someone you want to do business with.</p><p id="p-9" data-i18n="5b377ec52de06.p-9">One thing that we haven’t done for many years is not charge at all and that was not a smart idea. I thought since we had a company that buys and sells houses, we would make money doing that and would manage the properties as a complimentary business to that. But that was a bad idea because businesses have to be profitable to offer a service of value to its customers. So we have changed our policy and introduced different fee structures.</p><p id="p-10" data-i18n="5b377ec52de06.p-10">Another way you can see if a company is good or not is to go online and check out their reviews, even though a lot of property management companies have bad reviews. This is generally because you can’t make tenants happy. Sometimes, no matter what you do, you can’t make them happy. They are irrational and get pissed off and frustrated, and then they go online and post bad reviews. Still, I think checking reviews is a good place to get your finger on the pulse of the business and where the property management company stands, but I don’t think it’s a legitimate guide to who is a good operator and who isn’t.</p><p id="p-11" data-i18n="5b377ec52de06.p-11">What I think is very important is communication. I just had an investor at our office say they reached out to a lot of companies who did not even reply. They said they emailed them and inquired but never got a response. I thought that was weird because that is new business. So, if these guys aren’t replying promptly to someone who is interested in their services, just imagine when it comes to dealing with you and your properties. It’s just not a good sign.</p><p id="p-12" data-i18n="5b377ec52de06.p-12">Another question you could ask is what property management software they use. I think all legitimate property management companies have to have a software like Buildium&nbsp;(to learn more about Buildium, click here), AppFolio, etc. We used Buildium and moved over to AppFolio. They are kind of the same. Regardless, I think all companies should use software where they can onboard you and give you access to your account so you can go on there and see what is going on.</p><p id="p-13" data-i18n="5b377ec52de06.p-13">Last but not least, ask for a referral to someone who has had their properties under the property management company for an extended period. I think the referral is going to be your most honest critic and tell you how the company really operates. The proof is in the pudding. A company’s track record is where you can get the best insight about how that property management company will do.</p><hr id="hr-1"><p id="p-8" data-i18n="5b377ec52de06.p-8">This article was originally published on&nbsp;<a href="www.BiggerPockets.com">BiggerPockets.com</a></p></div></div>