<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="58c19a0cddcb4.h2-1"><span style="font-size:0.7em">3 Ways to Be the “Black Sheep” of Real Estate Investing (&amp; Not Follow the Herd to Slaughter)</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="video block"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/zDxiFU5M0bI" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="58c19a0cddcb4.p-1">Real estate is like anything else in life—you can either follow the crowd or you can lead your own way. If there is one thing I have found that most investors get wrong, especially when the are buying properties outside of their local market, is that they are too dependent on the statistics, the demographics, and what they read in a few simple clicks online. We all know that statistics and the news can be stacked up to tell a story. It might be a good story, or it might be a bad one. It’s been my experience that if you are a white sheep in real estate investing and you follow the herd, then you might just get led to the slaughter.</p><p id="p-10" data-i18n="58c19a0cddcb4.p-10">What I am about to present to you is a quick lesson on how you can be the black sheep and stand in front of the crowd in your real estate business.</p><h3 id="h3-1" data-i18n="58c19a0cddcb4.h3-1">3 Way to Be the “Black Sheep” of Real Estate Investing</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="58c19a0cddcb4.image-1"><img src="https://ohiocashflow.com/files/black-sheep.jpg" data-location="local"></div><hr id="hr-1"><p id="p-3" data-i18n="58c19a0cddcb4.p-3"><b>1. It’s all about the people.</b></p><p id="p-6" data-i18n="58c19a0cddcb4.p-6">Forget about all the stats, demographics, and news stories we discussed above and focus on the people instead. No matter what your area of business is, the people you do business with will make or break it. You have to have a relationships with people whom you absolutely trust.</p><p id="p-8" data-i18n="58c19a0cddcb4.p-8"><b>2. Conduct your due diligence on a “micro” level.
            </b></p><p id="p-2" data-i18n="58c19a0cddcb4.p-2">Now that you’ve built relationships and have your eyes and ears on the ground, use those relationships to give you the “actual” conditions of the area you’re investing in. Remember I said “on a micro level,” right? Don’t focus on single state or count. Focus on a single city or even an individual neighborhood. Ask your trusted team, “What is the infrastructure in this market? Does it support long term tenancy or homeownership?”</p><p id="p-4" data-i18n="58c19a0cddcb4.p-4"><b>3. Come to your own conclusions.</b></p><p id="p-7" data-i18n="58c19a0cddcb4.p-7">By being a black sheep and not following the herd, you will be able to find the opportunities first. By the time you see it on the television or read it online, it’s too late.</p><p id="p-9" data-i18n="58c19a0cddcb4.p-9">I hope that you can follow on this advice and be a leader and not a follower. If you’ve had your own success stories about being the black sheep or stories about how you got led to the slaughter by being the white sheep, tell the BiggerPockets community about it in the comments below.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="58c19a0cddcb4.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>