<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a79bf151c421.h2-1"><span style="font-size:0.7em">You Should Never Sell Off You Real Estate Portfolio, Unless…</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/YLxbQCwgIps" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a79bf151c421.p-1">I absolutely love this quote: “The best time to buy real estate is now, and the best time to sell it is never.” There’s probably a lot of folks out there who have spent five, 10, or 15 years building up these large single family home portfolios. You’re doing really well, you’re living the life, you’ve got passive income coming in every single month, and you’ve probably seen quite a bit of capital growth in your portfolio. There is no real reason why you should sell because at the end of the day, your property portfolio is producing your income, and you are living the life that you desire. Still, I think there are few instances where you should consider selling out of your portfolio.</p><p id="p-2" data-i18n="5a79bf151c421.p-2"><b>1. When a life emergency happens.</b></p><p id="p-3" data-i18n="5a79bf151c421.p-3">If, for whatever reason, there is some kind of emergency that happens within your family, then that is a good time to potentially look at liquidating some properties because you will probably have to cover some unexpected costs. Personally, I think you should have a buffer in place at any given moment just in case something unexpected like that happens so it doesn’t affect your property portfolio. However, it is still something that you should keep in mind because you never know what’s going to happen tomorrow.</p><p id="p-4" data-i18n="5a79bf151c421.p-4"><b>2. When the market starts to shift dangerously.</b></p><p id="p-6" data-i18n="5a79bf151c421.p-6">We all saw the bust of 2008. I think at that time, things were completely out of hand. Everyone was talking about investing in real estate. You had cab drivers owning five properties. When this time of thing happens, there is most likely some sort of bubble. So, if you kind of get a sense of the market leaning that way, I think you should consider liquidating out of your portfolio and sitting on cash because cash is king. You want everything to tank, and then you can jump back in.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a79bf151c421.image-1"><img src="https://ohiocashflow.com/files/sell-or-rent-house.jpg" data-location="local"></div><p id="p-7" data-i18n="5a79bf151c421.p-7"><b>3. When you’re ready to move to the next investing level.</b></p><p id="p-8" data-i18n="5a79bf151c421.p-8">I’ve built up a very large single family home portfolio. It’s doing well, but I’ve slowly started liquidating out of it. The only reason for that is I am starting to go to the next level of investing. I’ve been around the block, I’ve done over 500 real estate deals, predominantly single-family homes, and now I’m starting to explore multifamily. I just bought a six-unit, I’m in the process of buying a 10-unit, and who knows where else I may end up. So I need that liquid capital to continue buying multifamily properties because I believe that is the next level for me, my business, and all of my entrepreneurial endeavors.</p><p id="p-9" data-i18n="5a79bf151c421.p-9">At the end of the day, if you’ve got a solid portfolio and it’s producing you money, I really don’t see any reason why you should sell out of it. Keep the cash flow coming in, keep enjoying your lifestyle, and keep doing great things.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a79bf151c421.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>