<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a9d512d0d305.h2-1"><span style="font-size:0.7em">How I’d Invest $100,000</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/d7nFzsWuuMk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a9d512d0d305.p-1">Today, I’m talking to you about what you should do if you have $100,000.</p><p id="p-2" data-i18n="5a9d512d0d305.p-2">Let’s say you have absolutely worked your butt off for the last two years. So now you have a nice amount of cheese sitting in your account. What are you going to do with it? Well, let me tell you what I would do with it. Let me start with a disclaimer that I am not a financial advisor. So take this advice with a grain of salt, and be sure to put in the research to know what is best for your specific situation.</p><p id="p-3" data-i18n="5a9d512d0d305.p-3"><b>What I’d Do With $100,000</b></p><p id="p-4" data-i18n="5a9d512d0d305.p-4">What are you going to do with it? This is what I would do with it if I were you. First, $50,000 has to go into real estate, no ifs, ands, or buts about it. The strategy you use is entirely up to you. Especially in the Midwest, there are a ton of markets and areas where you can buy, fix, and flip a very solid B-class if not A-class property with $50,000. Call me crazy, all of you East coast and West coast folks, but I’ve been doing this for six years on over 500 deals, if not more. I’ve bought properties in A-class areas with 4 bedrooms, 2 bathrooms, 2,000 square feet, that are brick and on a golf course, for $22,000. Then I put $40,000 into it and sold it for $119,000. I’ve done deals like that, believe or not, and I can prove it to you. Comment below, and I’ll show you the HUD and the county records.</p><p id="p-6" data-i18n="5a9d512d0d305.p-6">So, guys, $50,000 has to go into real estate. Buy, fix, and flip; put a property under contract; wholesale it, and make sure you have enough money for closing on that property in case you don’t find a buyer. Immerse yourself in any and everything real estate. There are a lot of strategies that you can use and put that $50,000 to work with.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a9d512d0d305.image-1"><img src="https://ohiocashflow.com/files/massive-success.jpg" data-location="local"></div><p id="p-7" data-i18n="5a9d512d0d305.p-7">So, $50,000 in real estate. You ready for the others? I would put $25,000 in oil. Guys, oil has been at rock bottom prices. There are a lot of ways to invest in oil, such as oil-related stocks. With the current economic climate and all of the crazy stuff that is kind of going on, if some kind of friction were to go on between certain countries and a war were to break out, it would be game over. The price per barrel of oil would go over $100, and you would absolutely make a fortune. Yes, it is very risky—but I’m a risk taker. I have a bit of money in oil right now because I kind of feel something might happen, though I hope it doesn’t. You can also invest in an oil fund, but keep in mind, it’s hard to get in with that particular bunch of people so it may require networking. But there are opportunities out there. I am not an oil expert, so once again, take what I’m saying with a grain of salt. I am smart enough to have smarter people around me doing the things that I can’t do or don’t want to do, and I do trust them because their track records speak volumes.</p><p id="p-8" data-i18n="5a9d512d0d305.p-8">I’d put the last $25,000 in crypto-freaking-currency. What the hell is going on there, right? It is absolutely nuts. Look, I do not believe in the frenzy that we are seeing in the media and people pumping up all different cryptocurrencies. Do your own due diligence. I do believe there will be survivors just like there were in the dot-com boom. Amazon survived, eBay survived, and they are thriving today. Someone will survive the crypto bust. It’s not a matter of if; it’s a matter of when. I do believe the crypto market will bust in a big way. Wall Street is still not in there, which is very weird. When a bubble bursts, usually it’s Wall Street that jumps into the investment first, and then it’s the moms and dads that are jumping in. Here, it’s a little different. You’ve got a lot of tech-savvy entrepreneurs that have jumped into crypto, Wall Street is now following, and then it’s going to be moms and dads later on. So I do think we have a little bit of time before it all comes crashing down.</p><p id="p-9" data-i18n="5a9d512d0d305.p-9">But what I want you to do if you are going to invest anything in crypto is focus on the team. Make sure that the team behind the crypto-coin that you’re looking at investing in is solid, and make sure that the technology that they have built is legitimate because there are a lot of slow technologies out there. Jump on Reddit, jump on Twitter, and research like crazy. Go down the rabbit hole. Make sure that the utilization of that coin, whatever they want to do with it long term, makes sense. If you’re in real estate, look at real estate-related cryptocurrencies. If you are a doctor, look at something related to medical cryptocurrencies because that is your field of influence or knowledge. Don’t get involved in things not in your core area of competence.</p><p id="p-10" data-i18n="5a9d512d0d305.p-10">So summarizing everything guys—$50,000 in real estate, $25,000 in oil, and $25,000 in cryptocurrency. Call me crazy. I want to hear from you.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a9d512d0d305.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>