<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b8475f174e0d.h2-1"><span style="font-size:0.7em">My Secret to Buying Cheap Real Estate Deals in My Market</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/rQtkl7E0AjQ" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5b8475f174e0d.p-1">How do you buy cheap deals? Well, there is a little method that I use and have used for a while. It’s something that I instruct my team to do also. Look, I’m not sure how many of you will like what I’m about to say, but I do want to stress to you that it is genuine. My idea is that the more mud you throw at the wall, the more will eventually stick. What I mean by that is you need to submit offers on properties every single day. Real estate is all about the numbers—from the number of hours you work and the number of emails you send to the number of people you speak to and the number of offers you submit.</p><p id="p-2" data-i18n="5b8475f174e0d.p-2">Now, before you start submitting stupid offers, you need to understand what properties are selling for in that particular area. So you have to educate yourself on the numbers. Find out what un-renovated properties are selling for and what renovated properties are selling for. And then it comes down to submitting those offers.</p><p id="p-3" data-i18n="5b8475f174e0d.p-3"><b>The Take-it-or-Leave-it Offer</b></p><div id="image-2" class="respond-image" data-display="standalone" data-i18n="5b8475f174e0d.image-2"><img src="https://ohiocashflow.com/files/thrifty-deals (1).jpg" data-location="local"></div><p id="p-4" data-i18n="5b8475f174e0d.p-4">Something that we do often is if the property is listed for $100,000, we will come in and submit a cash offer, quick close, seven-day turnaround, $50,000 take-it-or-leave-it offer. This can ruffle a few feathers and stir the pot. Often, the sellers and the real estate agents are dissatisfied, but if you do not ask, you will not receive. We do it in a very professional and diplomatic way, and we do perform if it comes down to us getting the deal. Ninety-nine times out of 100, you get pushback, and the seller says you are absolutely nuts. You have to have thick skin if you want to practice what I’m preaching here. One time out of 100 times, they come back with $75k, and then we lift our offer up to $60k and sometimes meet in between. So, let’s say the property was listed for $100,000. We would offer $50,000, and maybe we’d managed to acquire it for $65k. Let’s say it needs $20,000 in rehab. Then we can list it for $130,000. We’d already know what the property was going to be worth after renovation because we’d have educated ourselves on that area and the numbers in that deal.</p><p id="p-6" data-i18n="5b8475f174e0d.p-6"><b>Stick to Your Word</b></p><p id="p-7" data-i18n="5b8475f174e0d.p-7">Once again, that is something that we have used very successfully. One caveat: Something that a lot of wholesalers do is when they submit those lowball offers and that offer gets accepted, they can’t perform on the deal. The service that I provide is a quick close and a cash close—no contingencies, no loans, no inspections, just a quick walkthrough—and then I perform on that contract. I actually buy the property myself because I want to renovate it and sell it. So that, in my opinion, is a genuine approach to doing what we do. We negotiate hard, we won’t take crap, and I’ll lose a deal over $200. Here’s another thing: Have I made mistakes and bought crap properties that have foundation issues? Yes, I have. But once again, my word is my word, and if I say I’m going to buy that property, I end up buying that property.</p><p id="p-8" data-i18n="5b8475f174e0d.p-8">Once again, it really comes down to buying cheap, negotiating hard, and being firm but fair.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b8475f174e0d.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>