<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5894bfc92b709.h2-1"><span style="font-size:0.7em">3 Simple Steps to Be Taken Seriously in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5894bfc92b709.image-1"><img src="https://ohiocashflow.com/files/leadership.jpg" data-location="local"></div><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><p id="p-1" data-i18n="5894bfc92b709.p-1">So you’re sitting in your office, your living room, or maybe even in bed thinking about starting your journey as a real estate investor. More than likely, one of the first questions to come into your head is, “How do I come up with the money to start investing?” This is understandable.</p><p id="p-4" data-i18n="5894bfc92b709.p-4">Let’s face it, we are not talking about buying a candy bar here. Investing in real estate is almost always a big-ticket venture. There are, of course, as many ways to fund your deals as there are brands of candy bars (I love Cadbury the most). Raising private money is just one of those options.<br></p><p id="p-3" data-i18n="5894bfc92b709.p-3"><b>1. Use your own cash first.</b></p><p id="p-2" data-i18n="5894bfc92b709.p-2">One of the most gratifying things you can do in business is to deliver the goods with your own efforts — especially when the world is out there telling you not to do it. Don’t have enough hard cash to start? Make the commitment to yourself that investing in real estate is your goal. Get frugal and start saving. Learning good saving habits is not only key to your personal financial success, but it’s vital to your business success. Once you’ve saved enough money, the determination to invest with your own capital will inspire you to be conservative about your first investment, and it will force you to think about every single dollar you’re spending on the project.<br></p><p id="p-6" data-i18n="5894bfc92b709.p-6"><b>2. Become good at the details.</b></p><p id="p-7" data-i18n="5894bfc92b709.p-7">Accurate documentation is critical in real estate if you want a thriving business. Record all the details of the purchase, the rehab, and the sale. Don’t undervalue the power of a simple spreadsheet and a camera or a camcorder. Documenting every detail will give you a reference point for future projects and will serve as the foundation for establishing yourself as a safe investment to all of the private money lenders out there.<br></p><p id="p-8" data-i18n="5894bfc92b709.p-8"><span style="background-color: rgba(200, 227, 237, 0.14902);"><b>3. Be a show-off.</b></span></p><p id="p-9" data-i18n="5894bfc92b709.p-9">Remember when the world told you not to do it? Now is the time to prove them wrong. Once you have a few successful deals under your belt, hop on all your social media channels and showcase what you’ve accomplished. Take the time and research every networking opportunity available to you, whether it be simple small business associations, investment clubs, or even regional or national conferences.</p><p id="p-10" data-i18n="5894bfc92b709.p-10">Once you’ve found the right venue, network your tail off. Drawing attention to yourself as a successful real estate investor will pique the interest of others in the industry. Once people know who you are and what you do, they will reach out to you to offer joint ventures, partnerships, hard money, and all kinds of other fun stuff.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5894bfc92b709.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/raise-private-money-real-estate-investments/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a></span></p></div></div>