<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5adf3a3843023.h2-1"><span style="font-size:0.7em">Top Real Estate Trends And Why I Love (And Hate) Them</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/lqW_hzJL2hE" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5adf3a3843023.p-1">Today I’m talking about some of the top trends in real estate and why I love—or hate—them.&nbsp;</p><p id="p-2" data-i18n="5adf3a3843023.p-2">I want to start off this blog with this: Your network equals your net worth. What I mean by that is the more people who you speak to, the more you will know, the more you will learn, and the more you will be able to expand your existing thoughts. Doing so will make you a better investor and a better entrepreneur in general.</p><p id="p-3" data-i18n="5adf3a3843023.p-3">This is something that I have been doing for a very long time. I’m not the smartest guy out there; I quit school at a very young age. I can hardly type. I can’t read very well, and my grammar is pretty poor. But I always associate myself with other successful people. I make sure to network a lot, and I go to a lot of conferences. Over time, one thing will lead to another, and you will start to learn and start to expand on your existing horizon. And then you become better.</p><p id="p-4" data-i18n="5adf3a3843023.p-4"><b>When Others Are Greedy, Get Fearful</b></p><p id="p-6" data-i18n="5adf3a3843023.p-6">One thing that I’ve been hearing at a lot of these conferences is about the lack of inventory, but I don’t see that lack of inventory here in the Midwest. I’m also seeing a lot of folks buying high. They’re buying properties in Georgia, Florida, Texas, and on the East and West Coasts where the markets have appreciated quite a bit. Everyone’s talking about fairytales and butterflies,&nbsp;the market is booming, everything is great.&nbsp;But I’m kind of hesitant. Warren Buffet said it,&nbsp;When others are greedy get fearful. I’m not saying that the market is greedy right now, but I’m kind of seeing a trend going in that direction. It’s kind of easy money. You do not have to work hard for it anymore.</p><p id="p-7" data-i18n="5adf3a3843023.p-7">Guys, I want to tell you this—if it was easy, everyone would be doing it, right? They are doing it right now, but that won’t last. A few things that I don’t like is people are buying high, and people are using a ton of leverage. I don’t like or accept this from my investors. I know you guys are probably shaking your heads in disbelief. I just believe there are many ways to make money in real estate. I’m just sharing my beliefs with you, so don’t crucify me for them.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5adf3a3843023.image-1"><img src="https://ohiocashflow.com/files/ontopofcity.jpg" data-location="local"></div><p id="p-8" data-i18n="5adf3a3843023.p-8">Look, there are a lot of people doing stupid things using a ton of leverage. I don’t like it. There’s a lot of people doing development-type deals where you buy a house, you knock it down, you buy a new one, you subdivide the lot, and you build on the other side. I like to be the master of my fate, the captain of my soul. I want to control everything. You want to control the entire process, because, in my opinion, that’s the best return on investment and it will be the safest way for you moving forward.</p><p id="p-9" data-i18n="5adf3a3843023.p-9"><b>A Word About Crowdfunding</b></p><p id="p-10" data-i18n="5adf3a3843023.p-10">Let me backtrack now. People are buying high. People are using leverage. People are developing. And then people are investing in syndications in these crowdfunding schemes. I’m being a little derogatory here guys, but I don’t like it. That’s my belief. Take it or leave it. I’m just sharing my thoughts with you on the current real estate trends that I am seeing. What I think you guys should be doing is finding distressed properties in whatever market you’re located in. There is always a deal to be had, you just have to know where to look. You need to have the cash to buy it, and you have to be able to close quickly. If you really want some tips on where to look, I think the Midwest is the best place to look for distressed properties. I still think there is a lot of opportunity here, and there are a lot of foreclosures hitting the market.</p><p id="p-11" data-i18n="5adf3a3843023.p-11">So find the distressed property, negotiate really well, buy it cheap, fix it, and then sell it. Yes, I know there is more to it, but I don’t want to go into too much depth. You should be in control from start to finish. I don’t want you working with lenders. I don’t want you buying high. I don’t want you investing in crowdfunding syndication-type deals where you really don’t control your destiny. I also don’t want you investing in full-blown development deals where you’re building a house from scratch, subdividing an existing lot, or doing a full-blown structural rehab where you need approval from the city, the county, an architect, whoever it may be.</p><p id="p-12" data-i18n="5adf3a3843023.p-12">Guys, you control your destinies. You should call the shots. If you make a mistake, it’s your fault, not anyone else’s. Blame yourself. Then pick yourself back up, don’t make the same mistake again, and keep moving forward.</p><p id="p-13" data-i18n="5adf3a3843023.p-13">So find distressed assets, buy them at dirt-cheap prices, fix them up to the best of your ability, and sell them at a profit. Rinse and repeat. That, in my opinion, has been the quickest, easiest, and best way to make money in real estate for as long as I can remember. I have been doing it since day one. I’m still doing it to this day. I’m going to continue doing it long into the future. At the end of the day, you make money when you buy and not when you sell, so make sure that you buy cheap.</p><p id="p-14" data-i18n="5adf3a3843023.p-14">Look, that is my opinion and I never say that I am right or wrong, but I am always happy to share my perceptions, opinions, and experiences with you guys in a very passionate way.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5adf3a3843023.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>