<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" data-i18n="5846e64247742.h2-1">Wise Investments Look For Cash Flow Or Capital Growth</h2></div></div><div id="block-6" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-6 sidebar text-center"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5846e64247742.image-1"><img src="https://ohiocashflow.com/files/ROI.jpg" data-location="local"></div><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><p id="p-1" data-i18n="5846e64247742.p-1">One question that often puzzles new investors is whether they should invest for cash flows or for capital growth? Most veteran investors vote in favor of cash flow. According to these experienced investors, investment decisions should always be
            based on pure numbers involved in a deal and not on the basis of predictions of capital growth. Hoping that your property will rise in value in the long run is a prediction or rather, a hope, and not a well thought out strategy. Although there
            are different types of investments that work quite well with predictions, real estate isn’t one of them. You should always bank on the calculated returns that you’re sure of. Above these calculated returns, anything that comes your way, should
            be considered as a bonus.
            <o:p></o:p>
        </p><p id="p-3" data-i18n="5846e64247742.p-3">Having said that, when you’re purchasing a property, you should always look at the two most important considerations and then base your investment decision on these:</p><ol id="ol-1"><li>Your investment returns (cash flow) based on the cap rate and</li><li>A good exit option for your invested property.</li></ol><p id="p-4" data-i18n="5846e64247742.p-4">The first point means that you should work out your returns and if they satisfy your goal, you should go ahead with investing. Let’s say you want to buy a property that has a purchase price of $50,000 and the property rents for $1,000 per month.&nbsp;</p><ul id="ul-1"><li>In 12 months, you’ll have received and annual rent of $12,000 ($1,000 x 12)</li><li>The property comes with annual expenses and taxes which are 10% property management ($1,200 per annum), Taxes ($1,000 per annum) and insurance ($600 per annum)</li><li>Your total annual expenses = $2,800 ($1,200+$1,000+$600)</li><li>Your returns are, therefore, $12,000 - $28,00 = $ 9,200 per annum</li></ul><p id="p-7" data-i18n="5846e64247742.p-7">It doesn’t stop there though. It’s a good idea to deduct 10 percent from this gross amount because of vacancy and unexpected maintenance.&nbsp;That way, your actual yearly cash flow would be $9,200 - $920 (10 %) = $8,280&nbsp;</p><p id="p-9" data-i18n="5846e64247742.p-9">Now you want to find out your net cap. When you divide the purchase price of the property from the yearly cash flow, you get your net cap.&nbsp;</p><p id="p-11" data-i18n="5846e64247742.p-11"><b>$8,280/$50,000 X 100 = 16.5%</b>
            </p><p id="p-2" data-i18n="5846e64247742.p-2">So, in this example, you get a rate of return at 16.5%. You calculated this number and are sure to get this much return in a normal scenario.&nbsp;</p><p id="p-5" data-i18n="5846e64247742.p-5"><i>Note that no predictions are involved here and you came to an investment decision based on pure numbers and very reasonable estimates.</i>
            </p><p id="p-6" data-i18n="5846e64247742.p-6">Is there still risk? Sure, but it certainly isn’t as risky as hoping the market will go up.</p><p id="p-8" data-i18n="5846e64247742.p-8">The second point is your exit option. Is your property located in a solid B class area where the exit is easy, just in case you need to make a quick exit? Will you be able to sell your property easily and quickly to another investor or owner?
                It is very important for your property to have a good exit option. If the property you’re considering fulfils these two considerations, you should go ahead with investing.</p><p id="p-10" data-i18n="5846e64247742.p-10">Now let’s take another example of basing your investment decision on capital growth predictions.</p><p id="p-18" data-i18n="5846e64247742.p-18">Here, you buy a property which has a purchase price of $100,000. You take on financing at a rate of 5%. You predict that your property will increase to $ 200,000 in the next 5 years. The property rents out at $ 1,500 per month.&nbsp;</p><p id="p-19" data-i18n="5846e64247742.p-19">So, in 12 months, you get an annual rent of $18,000.&nbsp;</p><p id="p-20" data-i18n="5846e64247742.p-20">The property has annual taxes due, insurance and other maintenance expenses which are equal to 40 %.</p><p id="p-21" data-i18n="5846e64247742.p-21">So, your net annual return is $10,800 (60 % of 18,000)</p><p id="p-22" data-i18n="5846e64247742.p-22"><b>Cap rate = 10,800/100,000x100 = 10.8%</b>
                </p><p id="p-23" data-i18n="5846e64247742.p-23">At this rate of return, you further deduct 5 percent loan rate. So, your actual return rate is 5.4 %.</p><p id="p-24" data-i18n="5846e64247742.p-24">With this, if you deduct a vacancy and unexpected maintenance percentage, you would be left with a very small return. In the above example, even though the property looked lucrative, the actual math showed that it wasn’t a good investment
                    decision.&nbsp;
                </p><p id="p-25" data-i18n="5846e64247742.p-25">It is always better to base your purchase decisions based on calculated numbers in a deal. With good people and sound numbers, real estate investing comes easy.&nbsp;</p></div></div>