<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59887f43ade77.h2-1"><span style="font-size:0.7em">3 Tips to Greatly Reduce Risk When Buying, Fixing, &amp; Flipping Properties</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/KYI2pRy23_A" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="59887f43ade77.p-1">There are a lot moving parts to make buying, fixing, and flipping successful and to eliminate as much risk as possible. I strongly advise that you find a market and area that supports all of the tips below.</p><p id="p-2" data-i18n="59887f43ade77.p-2"><b>1. Perform your due diligence and connect with local investors.</b></p><p id="p-3" data-i18n="59887f43ade77.p-3">As the saying goes, information is power. So, I want you to select one or two zip codes of a particular area that you’re looking at buying, fixing, and flipping. Once you have done that, I want you to immerse yourself in anything and everything that is real estate-related in those zip codes. That means network with real estate agents, wholesalers, and other folks who are buying, fixing, and flipping in that area.&nbsp;</p><p id="p-4" data-i18n="59887f43ade77.p-4">Network with real estate investors who might be using other strategies. Check Craigslist, Zillow, Trulia, and all of the other online platforms. I want you to know what properties are selling for via auction. I want you to know what properties are selling for that are distressed, that are renovated, and that are in average condition. I want you to know how long properties are sitting on the market. You simply have immerse yourself in the numbers and know all the right people. Your network equals your net worth.&nbsp;</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59887f43ade77.image-1"><img src="https://ohiocashflow.com/files/reduce-flipping-risk.jpg" data-location="local"></div><p id="p-6" data-i18n="59887f43ade77.p-6"><b>2. Start small.</b></p><p id="p-7" data-i18n="59887f43ade77.p-7">The second thing that I want you is to start off small. I don’t want you to get overwhelmed with a huge job. For instance, don’t buy a property that needs a full-blown construction rehab, including permits and all kinds of crazy stuff like foundation work. That is the last thing that you want to do. Try and find the property that you can buy way, way below market value. They say you make money when you buy, not when you sell. So, you have to buy dirt cheap and buy the property that only needs a cosmetic rehab. What I mean by that is paint the inside, paint the outside, replace the kitchen countertops, paint the kitchen cabinets, put new fittings in, add new laminate floors, install new tile or carpet, replace light fittings, and perform landscaping. These are basic items that when you’re looking at buying, fixing, and flipping aren’t that expensive to do. You can get in and out quickly.</p><p id="p-8" data-i18n="59887f43ade77.p-8">Remember, the shorter amount of time you spend in a particular rehab, the lower your risk is. You really want to get in and out as quickly as you possibly can. Also, the less money you can invest in that particular property, the lower the risk will be. So that is why I want you to start off small. Start off small in regard to the renovation, and start off small in regard to the amount of money that you’re looking at investing.</p><p id="p-9" data-i18n="59887f43ade77.p-9"><b>3. Have multiple exit strategies.</b></p><p id="p-10" data-i18n="59887f43ade77.p-10">Lastly, I want you to have multiple exit strategies. When you’re buying this property, make sure that you can potentially sell it to a homeowner. That means the area must have infrastructure supporting a homeowner demand. Of course, the margins must make sense so you can make a profit, but you also need to ensure that someone will to live in the area because of the school district, shops and amenities, etc. You have to have that end buyer in mind. Also, if you are looking at selling to a homeowner, I’d advise that you don’t price the property too high because you don’t want it sitting on the market for longer than necessary. I always like to rehab all of my A-class flips to a better standard than comparable sales and list them for the same price or a little bit cheaper because time is money. The sooner I can get my money out of the deal and move it to the next one, the more deals I can do in that calendar year.</p><ul id="ul-1"><li>The first exit strategy is to sell it to a homeowner.&nbsp;</li></ul><ul id="ul-3"><li>If the area supports a potential “buy, fix, tenant, and sell to an investor,” by all means, that would be fantastic. So you can purchase the property, renovate it to a decent standard (not to an A-class standard), get it tenanted, secure a good property management company, then sell it to an investor. As long as those numbers make sense and the investor can make a good cap rate, I think that’s another fantastic exit strategy for your investment.&nbsp;</li></ul><ul id="ul-4"><li>If for whatever reason you are able to secure this property at a dirt cheap price and you don’t want to go about doing all the work yourself, I suggest you wholesale it. Close on the transaction first, make sure you perform on that contract and put your margin on top, and wholesale to someone else. Since I’m sure if you spent the time to educate yourself about who is buying, fixing, and flipping in that area, you can sell it to any buy, fix, and flipper all day long.</li></ul><ul id="ul-5"><li>The final exit strategy I suggest is to do the absolute bare minimum work to the property, make it a clean canvas, and wholesale it to someone else. You’ll want to find another&nbsp;buy, fix, and flipper and leave enough meat on the bone to where they can come in, purchase the property, do a higher end renovation than you did, and still make their margins—while you might make a little more margin than you would if you had traditionally wholesaled deal.</li></ul><p id="p-11" data-i18n="59887f43ade77.p-11">Conduct as much due diligence as possible and network with anyone and everyone in the area. Look at what some of the top dogs are doing and how they’re going about flipping their homes. The more you immerse yourself in the industry, the more your mindset will expand and the more you will know.</p><p id="p-12" data-i18n="59887f43ade77.p-12"><i>How do you minimize risk while flipping?</i></p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59887f43ade77.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>