<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59b1494eee0fc.h2-1"><span style="font-size:0.7em">Company Branding Tips: Consistency and Recognition</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/BSWdhR86-2s" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="59b1494eee0fc.p-1">Today I’m talking to you guys about branding, so let’s get it started.</p><p id="p-2" data-i18n="59b1494eee0fc.p-2">I remember a while ago I was talking to an investor and they asked me, “Engelo, we see you around all the time, you brand yourself really well. What would be the number one rule that you follow when it comes to branding?” I thought about it for a second and I couldn’t really come up with a number one rule that I follow when it comes to branding. So I wanted to bring this little scooter here as an example. It’s blue, as you can tell, my hat’s blue, my shirt’s blue, my headphones are blue. My company colors if you haven’t noticed are blue, even my chair is blue. So, I guess guys, there really isn’t a rule of thumb when it comes to branding. I personally believe that if you love what you do, if you love your company then you’re going to wear it proudly on you and you’re also going to wear your heart on your sleeve for your company colors.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59b1494eee0fc.image-1"><img class="" src="https://www.biggerpockets.com/renewsblog/wp-content/uploads/2017/09/brandingphoto-702x336.jpeg" data-location="external"></div><p id="p-4" data-i18n="59b1494eee0fc.p-4">Some of the things that come to mind when I think of branding would be an online presence. I mean it is the 21st century, everything is going virtual, everything is online. So you have to make sure you are heavily branded online via a website, via social media accounts, via a YouTube channel. YouTube, in my opinion, is very important because everything is kind of going down a video path these days, no one wants to read anymore. Everyone kind of wants to watch videos. It’s just a faster way of getting your message across to people.</p><p id="p-6" data-i18n="59b1494eee0fc.p-6">Then in your office, your company colors should be present everywhere. In our office, we’ve got blue and bloody yellow everywhere. Our company cars are blue and yellow, even my bloody watch is blue and yellow. So I think you get the drift. Everything should match, and there should be a consistency among your online platforms too. For example, your website and your social media channels along with your Youtube channel should have a consistent theme, a consistent message. I guess that would kind of summarize my broad opinion on branding.</p><p id="p-7" data-i18n="59b1494eee0fc.p-7">Now I how I went about creating our company logo was I wanted to make sure that this circle with the house in it can stand on its own, without the actual company name being associated with it and with the name. That’s a little tip for you guys if you are looking at starting a business and looking at creating a logo. A good example is Nike, you’ve got the swoosh and you’ve also got the Nike lettering underneath the swoosh and they can stand together or alone.</p><p id="p-9" data-i18n="59b1494eee0fc.p-9">To finalize this vlog, I want to tell you this, it’s doing the small things on a daily basis consistently that enable the big things to fall into place. So when it comes to branding, focus on the detail, make sure that your flip flops are also blue and yellow. There really aren’t any rules. Be loud, be proud, wear your colors proudly and just focus on everything you can. But make sure to focus on those small finer details.</p><p id="p-11" data-i18n="59b1494eee0fc.p-11"><i>What are some of the crazy ways you have branded your company?&nbsp;</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59b1494eee0fc.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>