<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aca7ab0b0608.h2-1"><span style="font-size:0.7em">The 3 Things to Remember Before You Negotiate a Real Estate Deal</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/xoBP70SuAU4&#10;" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5aca7ab0b0608.p-1">Today I’m talking about the top three things to remember before you negotiate a deal. Let’s get started!</p><p id="p-2" data-i18n="5aca7ab0b0608.p-2">OK, guys, check this out: There are three things that I am going to talk about. Number one is&nbsp;information equals power;&nbsp;number two is&nbsp;options equal safety;&nbsp;and number three is you have to&nbsp;be willing to walk away from a deal at any given moment.</p><p id="p-3" data-i18n="5aca7ab0b0608.p-3"><b>Information Equals Power</b></p><p id="p-4" data-i18n="5aca7ab0b0608.p-4">So let’s talk about the first one now. Before you even start looking for a property you need to immerse yourself in a particular zip code (or zip codes). You really need to become the alpha and omega in that particular area from an information standpoint. What that means is you need to understand what distressed properties are selling for; you need to understand what renovated properties are selling for; you need to know who the top selling real estate agents are; you need to understand who is buying the most properties there, who the wholesalers are, and who the bird dogs are. Guys, anything and everything. Soak up as much information as you possibly can like a sponge, because it is really going to come in handy at a later date.</p><p id="p-6" data-i18n="5aca7ab0b0608.p-6">Once you’ve compiled all this information, you are going to start looking for properties. If you see something on Craigslist and say, “Wow, that’s a great price. I know the area, and I know what comps are selling for — now what do I do?” Now you need to get as much information as you possibly can about that particular property. Call the seller and ask several questions like:&nbsp;How long have you owned the property? What condition is it in? Is it currently tenanted? Is it vacant? How long has it been vacant for? Are there any back taxes associated with it? Are there any liens? Why are you selling the property?&nbsp;The more questions that you ask, the more power you will have. You will also know what’s going on in the area.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aca7ab0b0608.image-1"><img src="https://ohiocashflow.com/files/401-liquidate-or-grow.jpg" data-location="local"></div><p id="p-7" data-i18n="5aca7ab0b0608.p-7">All of this information will enable you to make educated decisions. Look, we all make mistakes, but the more information you have, the more you will decrease your risk if you do decide to buy that property. That’s the first thing: information equals power.</p><p id="p-8" data-i18n="5aca7ab0b0608.p-8"><b>Options Equal Safety</b></p><p id="p-9" data-i18n="5aca7ab0b0608.p-9">So you’re probably thinking,&nbsp;what the hell does that mean? Well, it means options. How the hell are you going to buy that property, right? You have negotiated it? Gotten the information? You know the numbers in the area and on the deal. It makes sense, and will make you a lot of money, but what options do you have? Do you have cash on hand? Or do you have a hard-money lender? Do you have a bank that you are working with? Guys, you need to have options with regard to how you are going to acquire that property.</p><p id="p-10" data-i18n="5aca7ab0b0608.p-10">You also need options for how you are going to exit that property or sell it. Now you’ve got the money; you’ve bought the property; you started renovating it—now what? How are you going to sell it? What are your options for selling the property? Do you have buy-and-hold investors who may want to buy in that particular area? Are you going to sell it to an investor because the cashflow makes sense? Are you going to fix it up a bit and wholesale it to a buy, fix, and flipper?</p><p id="p-11" data-i18n="5aca7ab0b0608.p-11">Or what if no one is buying? Will you refinance out of the property? In the worst case scenario, do you have a property management company that you’ve established a relationship with so you can rent it out?</p><p id="p-12" data-i18n="5aca7ab0b0608.p-12">Guys, you get my point. Options equal safety — so you better make sure you have a ton of options.</p><p id="p-13" data-i18n="5aca7ab0b0608.p-13"><b>Be Willing to Walk Away From the Table at Any Given Moment</b></p><p id="p-14" data-i18n="5aca7ab0b0608.p-14">Last but not least, the most important one, you must be willing to walk away from the table at any given moment. You need to know what the price point is that you cab pay — and not pay a single penny more. I have lost so many deals over things like $200 in closing costs. Well, guess what guys: That $200 today is going to be $2 million in closing costs tomorrow when I’m buying that multifamily unit on 5th Avenue in New York. So I stay true to my core beliefs when it comes to negotiating. I’m firm but I’m fair. I always perform. I always close. But I’m willing to walk away at any given moment for a dollar. I will never pay more than I need to pay. When a real estate agent comes back and says highest and best, I tell them I wish the highest bidder all the best. Do not negotiate against yourself. When one door closes, another one opens.</p><p id="p-15" data-i18n="5aca7ab0b0608.p-15">Guys, there are so many opportunities out there. A lot of you folks on the East Coast, West Coast, and expensive markets are outbidding each other to pay more, which is absolutely ridiculous to me. I keep going to these conferences and events and everyone is talking about a lack of inventory and prices getting ridiculously high. I don’t know where that is coming from, but I feel like a kid in a candy store. I’m sorry. The Midwest is where it is at. I’m biased because I’m here. But there is a reason I’m here. I’ve come from sunny Sydney, Australia and it’s snowing outside right now, but this is where the numbers make sense. This is where the opportunities are. This is where deals are falling off trees. So there is no need to pay more, not even $100 more.</p><p id="p-16" data-i18n="5aca7ab0b0608.p-16">Look, that is my advice for you guys. Information equals power; options equal safety; and be willing to walk away from the deal no matter what. I’d love to hear from you, comment below.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aca7ab0b0608.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
            </span></p></div></div>