<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="58c6c011daf57.h2-1"><span style="font-size:0.7em">5 Deal-Finding Tricks I Use to Buy Around 100 Properties Per Year</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/k7VcIqxKMBM" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="58c6c011daf57.p-1">I speak to so many real estate investors on a daily basis through BiggerPockets, Facebook, or phone calls and emails.</p><p id="p-2" data-i18n="58c6c011daf57.p-2">The big question I hear a lot is, “Engelo, how the heck do you buy all of your properties? How do you find all of your deals?”</p><p id="p-10" data-i18n="58c6c011daf57.p-10">Today, I’m going to share with you the top five ways I find our deals and how my methods have enabled me to buy on average around a 100 properties a year and 400 deals to date.</p><h3 id="h3-1" data-i18n="58c6c011daf57.h3-1">5 Deal-Finding Tricks I Use to Buy Around 100 Properties Per Year</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="58c6c011daf57.image-1"><img src="https://ohiocashflow.com/files/BRRRR-strategy-deal-1.jpg" data-location="local"></div><hr id="hr-1"><p id="p-4" data-i18n="58c6c011daf57.p-4"><b>1.&nbsp;Network, network, network.</b></p><p id="p-6" data-i18n="58c6c011daf57.p-6">Your network equals your net worth, so establish relationships with bird dogs and wholesalers in your area. Explain your criteria to them and get them to slowly start sending you the deals that they have. Once you prove yourself, these guys will absolutely flood you with the inventory they have.</p><p id="p-7" data-i18n="58c6c011daf57.p-7"><b>2.&nbsp;Find deals by searching auction websites.</b></p><p id="p-8" data-i18n="58c6c011daf57.p-8">Buying homes through these sites require you to jump through a few hoops by registering. You have to add your address and credit card information but there are advantages.</p><p id="p-9" data-i18n="58c6c011daf57.p-9">A lot of these sites will have exclusive listings that don’t appear on the MLS, but you most likely will be able to secure them at a discount to the MLS.</p><p id="p-11" data-i18n="58c6c011daf57.p-11">These sites are another tool that we have used to buy 100 properties a year.</p><p id="p-12" data-i18n="58c6c011daf57.p-12">Try these:</p><ul id="ul-1"><li>Auction.com</li><li>Hubzu.com</li><li>HUDhomestore.com</li><li>Homesearch.com</li></ul><p id="p-13" data-i18n="58c6c011daf57.p-13"><b>3.&nbsp;Look for deals on Craigslist.</b></p><p id="p-14" data-i18n="58c6c011daf57.p-14">Before you start looking, educate yourself on a particular area. Know the numbers for the area inside and out. Diligently check Craigslist to find what you’re looking for. To seal the deal, have the cash and be ready to negotiate.</p><p id="p-15" data-i18n="58c6c011daf57.p-15"><b>4.Get deals from the MLS (Multiple Listing Service).</b></p><p id="p-16" data-i18n="58c6c011daf57.p-16">In general, you won’t typically find the best deals on the MLS. It is a valid tool to pick-up the odd deal here and there. Remember not to get into a bidding war or bid against yourself. Keep in mind that there are opportunities everywhere.</p><p id="p-17" data-i18n="58c6c011daf57.p-17"><b>5.&nbsp;Send out a yellow letter campaign.</b></p><p id="p-18" data-i18n="58c6c011daf57.p-18">We send out approximately 5,000 yellow letters every month. &nbsp;First, target absentee homeowners. The absentee homeowners with the oldest purchase dates will offer the most success. Second, focus on homeowners living in their homes for over 20 years. These homeowners are more likely to want move to a warmer climate (particularly those living in colder climates) or to downsize to a lower maintenance property.</p><p id="p-19" data-i18n="58c6c011daf57.p-19">Out of all the things I have mentioned, sending out yellow letter campaigns is by far the best time and money spent. While this option requires the most time and effort, you will get some absolutely amazing deals if you structure it well. Like anything, you have to put in the effort before you reap the reward.</p><p id="p-20" data-i18n="58c6c011daf57.p-20">Where are you finding most of your deals lately?</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="58c6c011daf57.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>