<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5baaadbd98962.h2-1"><span style="font-size:0.7em">3 Potential Maintenance Hazards That Tank Deals (and How to Spot Them!)</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><hr id="hr-1"><p id="p-1" data-i18n="5baaadbd98962.p-1">G’Day, everyone. I hope you’re well and that you had a great Easter holiday. It’s time to get back into things and hit those numbers again. How many emails, calls and meetings have you committed to? I always stress that if you do&nbsp;the small things consistently, it will allow the big things to just fall into place. Keep pumping the numbers daily, and you will see the miracle happen.</p><p id="p-2" data-i18n="5baaadbd98962.p-2">Today I want to share with you my opinion on the top 3 potential future maintenance issues to look out for before purchasing a property. This is not exactly my complete area of expertise, but I have always followed a rule of having smarter people around me doing the things that I can’t do or don’t want to do. Using this approach has enabled me to learn as I go while&nbsp;growing my knowledge base.</p><p id="p-3" data-i18n="5baaadbd98962.p-3">Imagine this scenario. You have found what appears to be a steal in a hot market like Toledo or Dayton, Ohio, and you have an accepted offer and are in the inspection period. It is easy to look at the purchase price as well as the drafted after repair value based on comparable sales and be on cloud nine about what you have in front of you. However, do not get ahead of yourself — because some homes that may seem like diamonds in the rough turn out to be big lumps of coal if you do not examine these three key maintenance hazards.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5baaadbd98962.image-1"><img src="https://ohiocashflow.com/files/maintenance_hazard.jpg" data-location="local"></div><p id="p-4" data-i18n="5baaadbd98962.p-4"><b>Maintenance Hazard #1: Foundations</b></p><p id="p-6" data-i18n="5baaadbd98962.p-6">One of the first things we look at with the homes we intend to purchase is the foundation. No matter if it is a basement, crawl, or even slab (rare in the area, but still an item we have found), we want to be sure the foundation is in good shape. Without a good foundation, the cost of repair and ongoing maintenance can be a profit killer for any deal. We look for signs of cracking on the exterior of the home, examine the ground around the home to determine if water damage could be possible, and pay very close attention to any chips or blocks that seem out of sorts, broken, or shifting. From the exterior view, we can generally tell major issues.</p><p id="p-7" data-i18n="5baaadbd98962.p-7">In the case of a basement, we will always look for signs of water infiltration and issues by again looking for cracking or worn out grout on the interior of the basement walls or staining on the walls, especially a few inches off the ground. We also&nbsp;examine any mechanicals in the basement to see if any water has damaged them in the past. If we see any warning signs of current or previous foundation issues, we will not go forward with a purchase and will escape our contract within the inspection period of the purchase agreement.</p><p id="p-8" data-i18n="5baaadbd98962.p-8"><b>Maintenance Hazard #2: Roofs</b></p><p id="p-9" data-i18n="5baaadbd98962.p-9">During our walk around the property examining the foundation, we will also look at the roof as a potential maintenance hazard. This hazard can be a very pricey item down the road if we do not take prudent steps in looking over the roof, gutters, shingles, and more in our inspection. We will look for major slopes, grooves, or weak spots on the roof. This could be a sign of issues with the roof decking, indicating weakness in the structure of the home or aged materials requiring costly repair down the road.</p><p id="p-10" data-i18n="5baaadbd98962.p-10">We will look at the condition of the shingles (and if there are multiple levels of shingles). Curved shingles, missing shingles, or more than two layers of shingles all point towards the age of the roof being over 15 years. We will examine soffits and, if applicable, venting. In general, we are looking for an age on the roof to be no more than 10 years and in proper shape to avoid maintenance hazards down the road&nbsp;and to assure we do not see major expenses early in the life of the property.</p><p id="p-11" data-i18n="5baaadbd98962.p-11"><b>Maintenance Hazard #3: Electric Panel and Furnace</b></p><p id="p-12" data-i18n="5baaadbd98962.p-12">Ok, maybe there are technically 4&nbsp;maintenance issues. The last two are simple to explain, but are indeed very important to review as you finish your inspection walk through of the property. When we hit the basement or garage, or wherever we find the panel, we are looking to see if the house has a minimum of 100 amps. These days, with all the electronics tenants and homebuyers have, if you do not have 100-amp minimum, you will undoubtedly run into issues with electric in the home. These issues are not only&nbsp;maintenance hazards, but fire hazards as well.</p><p id="p-13" data-i18n="5baaadbd98962.p-13">The furnace along with the electric is one that requires care in examination. We are looking to see if the home has at least an 80% efficient furnace. Without due care in examining the furnace and the age of the unit, this can quickly lead to issues once you get the property to close and begin work, let alone once you have the unit tenanted.</p><p id="p-14" data-i18n="5baaadbd98962.p-14">When buying a property, do not be fooled by great pricing with motivated sellers and the perception of a great margin. We will never allow major maintenance issues to slip by us because we are looking at the potential profit in the deal, as maintenance issues should never be passed along to the next buyer. Keep your head in the game, be thorough with your inspection, and when in doubt, get a second opinion from your trusted partners and contractors just like I always do.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5baaadbd98962.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>