<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a2ec93f2d7a9.h2-1"><span style="font-size:0.7em">3 Things to Remember When Purchasing Your First Investment Property</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul><ul id="ul-6"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/L9U9QDg8DFQ" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="5a2ec93f2d7a9.p-1">Today I’m going to be talking about three things you must consider before you buy your first property. OK, let’s get to the vlog.</p><p id="p-2" data-i18n="5a2ec93f2d7a9.p-2"><b>Do Business With Like-Minded People</b></p><p id="p-3" data-i18n="5a2ec93f2d7a9.p-3">In my opinion, the first thing you need to do before you buy your first property is make sure that you are working with the right people. There’s a saying, and it goes like this, “Business is easy; people make it difficult.” You have to establish trust and relationships with people who are going to have the same big-picture as you. These people cannot be about instant gratification; they must be about delayed gratification. I say this because real estate is a long-term play. It takes five, 10, or 15 years to truly build a large and sustainable portfolio. You do not want to work with someone who is all about getting your money right now and then just moving on to another deal (or to another individual).</p><p id="p-4" data-i18n="5a2ec93f2d7a9.p-4">Really make sure that you have the right people surrounding&nbsp;you—whether it be an attorney, a property manager, a rehab crew, a maintenance guy, a title company, or a realtor. Whoever it is that you need to work in real estate successfully, those are the people you should surround yourself with. This goes for investing in your local market (like in your backyard), out of state, or even out of the country.</p><p id="p-6" data-i18n="5a2ec93f2d7a9.p-6"><b>Drive a Bargain</b></p><p id="p-7" data-i18n="5a2ec93f2d7a9.p-7">The second biggest mistake that a lot of investors make is that they pay&nbsp;way&nbsp;too much for properties. Guys, what I’m about to tell you, never forget.&nbsp;<b>You make money when you buy and not when you sell.</b> So stop paying too-bloody-much for investment properties. I mean, it is the most ridiculous thing I’ve ever seen. Look, I made a big mistake when I first started. I was building my portfolio based on quantity. I wanted to be able to classify myself as this real estate entrepreneur and guru and whatnot, but I really wasn’t thinking about&nbsp;why&nbsp;I was investing in real estate. At that point, I was just buying for the purpose of buying, and that was a huge mistake.</p><p id="p-8" data-i18n="5a2ec93f2d7a9.p-8">What you ultimately want to do is buy the right house in the right area for the right price. Buy a house that needs the right amount of work. This way, the property can actually get you a step closer to your end goals. If you strategically purchase properties to meet your end goals and cashflow criteria, you really don’t need much quantity to your portfolio. You can buy five, 10, or 15 single-family homes; you can sell out of that package; you can purchase one multifamily deal that will literally give you financial freedom! I kid you not, because I’m actually in the process of doing that right now. So just to summarize here guys, negotiate hard, be patient, buy cheap, and only pull the trigger when all of the above makes sense.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a2ec93f2d7a9.image-1"><img src="https://ohiocashflow.com/files/whiteboard.jpg" data-location="local"></div><p id="p-9" data-i18n="5a2ec93f2d7a9.p-9"><b>Start Small</b></p><p id="p-10" data-i18n="5a2ec93f2d7a9.p-10">Last but not least, stop buying properties that need way too much work. I mean seriously guys, if you have never done a deal in your life—if this is the first deal you are even looking at doing—why the hell would you even consider buying a $14 million commercial property in the heart of New York City? Hello! Start off small. Buy a property that just needs a cosmetic rehab: Paint, carpet, landscaping, new light fixtures. I already mentioned that you make money when you buy and not when you sell. I personally believe that no matter how hot any market is, if you are patient, if you know where to look, if you have some lead generation strategies to acquire properties, you can make money in any market. You may need to work a little harder, but it comes down to how much you pay for that property.</p><p id="p-11" data-i18n="5a2ec93f2d7a9.p-11"><b>Conclusion</b></p><p id="p-12" data-i18n="5a2ec93f2d7a9.p-12">So please, make sure that when you do buy these properties, you don’t buy one that needs structural renovation work, a complete floor plan rearrangement, or development approval from the city. Guys, if you do, you’re kidding yourself. Buy cheap. Buy a property that simply needs a cosmetic rehab. Get in and out as quickly as you can, because time is money. You’ll probably make a ton of mistakes, but learn from those mistakes. Do not repeat them in the second deal. And I’ll tell you this, the least amount of money you invest in your first investment, the better. Investing less means less risk. Even if that means buying a property in a very rough area, I still think you should consider it. You will learn a lot from that experience.</p><p id="p-13" data-i18n="5a2ec93f2d7a9.p-13">That pretty much concludes my vlog for today. I hope you enjoyed it.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a2ec93f2d7a9.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/evaluate-asset-classes/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>