<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5908be06cf977.h2-1"><span style="font-size:0.7em">The Top 3 Ways to Find Motivated Real Estate Sellers</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/MINHdio9vK4" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5908be06cf977.p-1">Today’s topic will apply to all you&nbsp;real estate agents and &nbsp;investors looking for bargain properties.</p><p id="p-2" data-i18n="5908be06cf977.p-2">I want to make something very clear to you:&nbsp;Real estate investing is a numbers game.&nbsp;So, what do I mean by that? It just comes down to:</p><ul id="ul-1"><li>How many phone calls are you going to make every single day?</li><li>How many emails are you going to send?</li><li>How many meetings are you willing to attend?</li><li>How many hands are you willing to shake?</li><li>How many business cards are you willing to exchange?</li><li>How many offers are you willing to submit?</li><li>How many hours are you willing to work every single day to succeed in real estate?</li></ul><p id="p-10" data-i18n="5908be06cf977.p-10">It truly is a numbers game. You have to work hard; there is no magic pill.</p><h3 id="h3-1" data-i18n="5908be06cf977.h3-1">The Top 3 Ways to Find Motivated Real Estate Sellers</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5908be06cf977.image-1"><img src="https://ohiocashflow.com/files/find-sellers.jpg" data-location="local"></div><hr id="hr-1"><h3 id="h3-2" data-i18n="5908be06cf977.h3-2">3 Ways&nbsp;to Find Motivated Sellers</h3><p id="p-3" data-i18n="5908be06cf977.p-3"><b>1.&nbsp;For Sale By Owner (FSBO) Sites</b>
        </p><p id="p-4" data-i18n="5908be06cf977.p-4">For all you real estate agents out there, jump on FSBO.com and cold call people. You have to get good with the phones—smile and dial! Introduce yourself and talk to them. Tell them you care, tell them they’ve priced their property wrong, and give
            them some kind of advice. Tell them what’s going on in the area and follow up. Build a relationship with them.</p><p id="p-6" data-i18n="5908be06cf977.p-6">For all of you real estate investors out there, a lot of these folks listing on these sites are trying to spare the cost of paying a real estate agent commission. A lot of the time, they have priced their property wrong.</p><p id="p-7" data-i18n="5908be06cf977.p-7">I bought 34 properties in 2014 just by stalking Craigslist every single day. For real estate agents cold calling ads, you never know—you might just get a listing. For real estate investors, know the numbers in the area. Know what a distressed
            property sells for. Know the comparable renovated property sells for. Then when an opportunity presents itself. React quickly, offer cash, smile and dial, and close quickly. You’ll get some bargain deals.</p><p id="p-8" data-i18n="5908be06cf977.p-8"><b>2. Direct Mail Campaign</b>
        </p><p id="p-9" data-i18n="5908be06cf977.p-9">Yellow letter campaigns are super powerful. Right now, 70% of the entire inventory I buy is through yellow letter campaigns.</p><p id="p-11" data-i18n="5908be06cf977.p-11">You need to send yellow letters to absentee homeowners because the likelihood of these guys wanting to sell is very high. Why? Because it’s virtually impossible to successfully manage or own real estate out-of-state or country.</p><p id="p-12" data-i18n="5908be06cf977.p-12"><b>3.&nbsp;The MLS (Multiple Listing Service)&nbsp;</b>
        </p><p id="p-13" data-i18n="5908be06cf977.p-13">For real estate investors, utilize the Multiple Listing Service. While this third option excludes real estate agents, they might want to consider partnering with a real estate investor to use this option to make a lot of money.</p><p id="p-14" data-i18n="5908be06cf977.p-14">Establish a relationship with an agent who is patient, understands your objective, and is willing to work with you for the long haul. You need to be persistent and diligently scour the listings, look at what’s going on in the market, and submit
            offers daily. I want you to low-ball every single offer, but remember, you have to be a cash buyer. You have to have thick skin because the responses you’re going to get may be pretty nasty. When the seller is ready to play ball, you have
            to have the cash handy to close the deal quickly!</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5908be06cf977.p-5"><span style="font-size:0.8em">What’s your preferred method for finding sellers?</span></p></div></div>