<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aca73a808212.h2-1"><span style="font-size:0.7em">These Are the Real Estate Deals You Should Absolutely Avoid</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Xdlpd9gm2ao&#10;" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5aca73a808212.p-1">Today I’m talking to you guys about the real estate deals you should stay away from.&nbsp;</p><p id="p-2" data-i18n="5aca73a808212.p-2">I want to start by sharing a bit of background with you. I started my journey with American real estate about six years ago. I believe I bought my first property in&nbsp;2011. I completely lost my butt in upstate New York because I bought a turnkey property from the wrong provider. They passed me onto property management, nickel and dimed me to death, and I lost around $20,000. Whatever. That’s where I started my journey.</p><p id="p-3" data-i18n="5aca73a808212.p-3"><b>Start Small</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aca73a808212.image-1"><img src="https://ohiocashflow.com/files/run-702x336.jpg" data-location="local"></div><p id="p-4" data-i18n="5aca73a808212.p-4">One thing I still believe to this day is when you’re looking at investing in real estate (or a particular market or region), start small. This is something I tell my investors every single day. I have a lot of investors who come to me wanting to invest large amounts of capital. And I say, “No. Start off small. Get your feet wet. Get to know the market. Get to know me and my company—and I want to get to know you before we can expand on our relationship.”</p><p id="p-6" data-i18n="5aca73a808212.p-6">Today I own a bit of real estate in the Bahamas; I just bought a condo in Japan; I’m looking at some properties in Italy and Cuba because I want to own real estate worldwide. But I still want to invest the least amount of money possible, which equals the least amount of risk. The lower the amount, the lower the risk. That is my philosophy. It’s something that I have practiced and I am not going to change this particular method. Even if it means buying the crappiest property in the crappiest area—a D-class property—renovating it, and breaking even on it, I don’t care. I want to learn the process and the market. I want to learn who is who in that particular region. I want to build trust and relationships with people, because then I will start getting exclusive access to amazing opportunities. Once people see that I’m a player, that I’m doing deals, that I’m willing to take risks, that I’m on the ball, in your face, and getting it done, then they will want to work with me. So that is kind of my method. It’s what I do and how I started. Then once you get your feet wet, guys, the door opens. When people know that you’re doing business there, they start presenting you with all these opportunities. You kind of become one of them, and that is exactly what you want to do in a market.</p><p id="p-7" data-i18n="5aca73a808212.p-7"><b>Keep it Simple</b></p><p id="p-8" data-i18n="5aca73a808212.p-8">Now, fast forward to what this blog post is actually about, and trust me this makes sense with what I just mentioned. The properties you should run away from and absolutely never buy are the ones that need a ton of work structural rehabs. I’m talking about properties that don’t have any margins in them unless you start doing all kind of development—those are a no. You start by extending the porch or extending on the backyard or completely revamping the entire floor plan. Or maybe you’re subdividing that land and building another property on the subdivided lot. Guys, these things are a recipe for disaster—particularly for all of you newbies out there because you can’t control the outcome. As much as you want to say, “Yes; I’m the master of my fate; I’m the captain of my soul; I call all the shots,” you don’t. Sorry,&nbsp;you don’t.&nbsp;You have to run everything you want to carry out past the city. You have to get an architect involved, and the city has to approve it. We all know the city has its own agenda and its own timeline for how it wants to go about things. It’s not in your control. Do not do that.</p><p id="p-9" data-i18n="5aca73a808212.p-9"><b>Keep Your Cash</b></p><p id="p-10" data-i18n="5aca73a808212.p-10">Guys, invest the least amount of money possible in a particular deal. Just like when you are getting your feet wet, when you are actually starting in real estate or you are actually looking at expanding into a new market. I don’t care if you break even—learn the process, meet the team, get to know who’s who in that particular market, and then expand and build on that. That’s when you’ll start getting some amazing deals.</p><p id="p-11" data-i18n="5aca73a808212.p-11">I would run away from anything that needs structural work, approval from someone else, or has a big mortgage attached to it. Buy properties that need a cosmetic rehab, spend the least amount of money possible, renovate as quickly as you can, sell it for whatever you can, cash out, and do the next deal. Learn the team, the people, and who’s who. Get to know the market, then you can always expand on that.</p><p id="p-12" data-i18n="5aca73a808212.p-12">So that’s kind of my two cents for you. This is something that I do. It’s something I recommend you guys to do. I wish you much success with it.</p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aca73a808212.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
            </span></p></div></div>