<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b423644ed33a.h2-1"><span style="font-size:0.7em">How to Know if You’re Investing in the Wrong Real Estate Market</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/j_oMSKy7xNw" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5b423644ed33a.p-1">Today the question is this: How do you know if you’re investing in the wrong market?&nbsp;</p><p id="p-2" data-i18n="5b423644ed33a.p-2">I’m probably going to sound like a broken record here, but it is very, very important that you build trust and relationships with the key people who are going to be involved in your real estate ventures. For example, you need to have a good real estate agent, property management company, accountant, and possibly attorney. You need to have contractors, a rehab crew, a title company, advisors and mentors. You need to be part of a real estate club, and you need to be part of an online community. Don’t forget your network equals your net worth.&nbsp;</p><p id="p-3" data-i18n="5b423644ed33a.p-3">Success won’t happen overnight. It is going to take five, 10, or 15 years to build a lasting portfolio that will be able to offer you financial freedom. You also want to work with people who understand what delayed gratification is and what planting a seed now and reaping the harvest later is.</p><p id="p-4" data-i18n="5b423644ed33a.p-4">So how do you know if you’re investing in the wrong market? My experience has led me to believe that I should forget about all the online stats and demographics. As I mentioned to you, the team is by far the most important thing. So, let’s just hypothetically say that you have found the right team in a particular market that you have researched. Then, you need to get down to the fundamentals. That means cash is king and cash flow is queen, and you can forget about appreciation because that is a crystal ball analysis. We do not know what tomorrow brings, so you cannot include any appreciation estimates into your calculations.</p><p id="p-6" data-i18n="5b423644ed33a.p-6">You may think what I’m going to share with you won’t work in your market. Look, I understand because I attend a lot of conferences nationwide, and a lot of these institutional companies and buyers are talking about a lack of inventory in markets that have a seen big appreciation. I get it. Well, then don’t invest in that market. It’s as simple as that. Invest in a market where the numbers make sense and just focus on the cash flow. That is my belief, take it or leave it, but I do not believe in appreciation. I do not believe in speculation. I believe in the core fundamentals of a deal as it lies today.</p><p id="p-7" data-i18n="5b423644ed33a.p-7"><b>For the Hands-Off Investor</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b423644ed33a.image-1"><img src="https://ohiocashflow.com/files/know-submarkets.jpg" data-location="local"></div><p id="p-8" data-i18n="5b423644ed33a.p-8">In order for a market to make sense, you’ll need to follow the numbers. If you are not getting numbers that work, then you are in the wrong market, period. If you are buying turnkey or buying a renovated property through a real estate agent, it is my belief that unless you are making 8 percent in net cash flow, then you should not do the deal and you should not invest in that market. Again, 8 percent net return on investment. I also want you to include a margin of safety where you are overestimating your expenses like maintenance and vacancy deductions. What are some of the deductions when you’re calculating your ROI? You have hard costs like property management fees, insurance, and property taxes. Then the unknowns are the maintenance, vacancy, and CapEx, unless the property has been recently renovated, and then you can include those costs in there too.</p><p id="p-9" data-i18n="5b423644ed33a.p-9">The rule of thumb is to overestimate your expenses and underestimate your income. Once you have done that and the numbers on paper produce less than 8 percent net return on investment, don’t touch the deal. That is my honest belief. You’ve got inflation coming at you at 2-3 percent every year, so you want to be making some kind of money. You still want to minimize your risk as much as possible or you might as well take your money and put it in an index fund. If you want to be as hands off as possible, you need 8 percent net. Unless a market offers those numbers, forget about it.</p><p id="p-10" data-i18n="5b423644ed33a.p-10"><b>For the Hands-On Investor</b></p><p id="p-11" data-i18n="5b423644ed33a.p-11">Next, if you are like me and are happy to get down and dirty and do deals, then begin to hustle and negotiate. Also, send out a lot of yellow letters and not buy properties on the MLS. Try to keep rehabs to a minimum. Personally, I would not get out of bed unless I am making a 15 percent net return on investment. Those are the numbers that I do if I’m buying and holding for my portfolio. I encourage you to reach out to me because I am happy to show you the numbers that I am doing in my market. Again, that’s going to come down to finding a property and buying it cheap because you make money when you buy, not when you sell. You want to buy it for as cheap as you possibly can. Remember, rehab always goes over budget.</p><p id="p-12" data-i18n="5b423644ed33a.p-12">So, I buy cheap and I negotiate well. Then, I rehab to an average standard and have my property management company to manage. Remember, I won’t do the deal for my own portfolio unless I am making 15 percent net. A lot of people ask me what I’m doing in Toledo. I say I’m here because the numbers make sense, and I moved here from Australia because it was a once-in-a-lifetime opportunity. I just don’t know of any other market where I can find a better return on investment.&nbsp;It’s all about the Midwest, period.&nbsp;That’s where the deals are and where the cash flow is. Forget about appreciation. Focus on the core fundamentals of that particular transaction as it lies today.</p><p id="p-13" data-i18n="5b423644ed33a.p-13">If you live in an expensive market where you can’t find these numbers, move to market where you can. I did it. It’s a sacrifice, but nothing comes easily, especially if you want financial freedom.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b423644ed33a.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>