<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59a41b67c3973.h2-1"><span style="font-size:0.7em">4 Tips That Allow Me to Successfully Flip 10 A-Class Properties Per Year</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/hukFeJrb2mw" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="59a41b67c3973.p-1">Today, let’s talk about how to successfully flip multiple properties each year. Here&nbsp;are the four key components that I look for when I’m about to do A-class flips or when I’m purchasing an A-class property.</p><p id="p-2" data-i18n="59a41b67c3973.p-2"><b>1. Get familiar with the market</b></p><p id="p-3" data-i18n="59a41b67c3973.p-3">The first thing I do is educate myself on the particular area I’m targeting or where a great opportunity has presented itself. I want to learn everything about that particular area. I want to know everyone who’s doing deals there. I take notice of what distressed properties are selling for, what renovated properties are selling for, and how long properties are sitting on the market. These things will give you an indication of what to expect on a day-to-day or month-to-month basis with regard to the happenings in that particular market.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59a41b67c3973.image-1"><img src="https://ohiocashflow.com/files/fix-and-flip-tips.jpg" data-location="local"></div><p id="p-4" data-i18n="59a41b67c3973.p-4"><b>2. Remember to buy low (and sell high)</b></p><p id="p-6" data-i18n="59a41b67c3973.p-6">The second thing to remember when you’re flipping is that you have to buy cheap—and I mean dirt cheap. So get good at negotiating. Don’t quickly pull the trigger on anything. Wait. Be patient for the right deal to come along where the&nbsp;comps&nbsp;are high. Then buy it cheap because, as they say,&nbsp;<a href="https://www.biggerpockets.com/blogs/1232/8079-real-estate-investing-make-your-profit-when-you-buy-not-when-you-sell" target="_blank" rel="noopener" style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; font-family: inherit; color: rgb(61, 132, 179); transition: all 0.4s ease-in-out;">you make money when you buy, not when you sell</a>.&nbsp;</p><p id="p-7" data-i18n="59a41b67c3973.p-7"><b>3. Wow with renovations</b></p><p id="p-8" data-i18n="59a41b67c3973.p-8">Thirdly, make sure the renovations on your property are better than those of the comps. Educate yourself on those comps—know what’s happening in the market with distressed property sales and renovated property sales. You should have a very good idea of the types of renovations that are conducted on these types of properties. For instance, are the furnaces completely revamped to a 200% efficiency? Do hot water heaters come with all the bells and whistles? Are the other flippers doing granite countertops? Tiled floors? Sexy backsplashes? You have to know what the comparable sales look like in order to make your renovation better than the comps. Add the bells and whistles if that’s what you need to do.</p><p id="p-9" data-i18n="59a41b67c3973.p-9"><b>4. Price it right</b></p><p id="p-10" data-i18n="59a41b67c3973.p-10">Lastly, when you are pricing the property, choose a competitive price. Pick a number that’s in line with or slightly lower than what the comps sold for. You may be thinking,&nbsp;“Why the hell would I do that? I’ve renovated it better than the comparable sale, but I’m selling it at the same price or cheaper?”&nbsp;You want to sell that property as quickly as you possibly can. You do not want it sitting on the market. Never forget what I’m about to tell you:&nbsp;Time is money. So, if you’re thinking of holding out three to four months for an extra $10–$15,000, forget about it. You’d lose so much more by doing that. List it for the same price or list it for cheaper. Sell it as quickly as you possibly can, get your money out, and move on to the next transaction—because when flipping multiple properties a year, it comes down to volume. That’s where your profits really start to accumulate.</p><p id="p-11" data-i18n="59a41b67c3973.p-11">These four tips inform how I go about successfully flipping around 10 class-A deals per year. I make a fat profit on these properties, much more than I do on my B-class turnkey model.</p><p id="p-12" data-i18n="59a41b67c3973.p-12"><i>Do you flip multiple properties each year? What tips would you add?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59a41b67c3973.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>