<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59638f4184c36.h2-1"><span style="font-size:0.7em">Investors: Don’t Fall Victim to the Biggest Scam in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/PIX4qQFmIf8" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="59638f4184c36.p-1">I’m sick and tired of constantly seeing fake gurus out there trying to sell courses, DVDs, seminars. It doesn’t work, and this is why. Have you ever asked yourself, “Why the hell is someone charging to teach me how to do it if they can just go out and do it themselves?”</p><p id="p-2" data-i18n="59638f4184c36.p-2">If you’re sick, what do you do? You go to the doctor, and the doctor gets you better. If your car breaks down, what do you do? You take it to the mechanic, and the mechanic fixes your car. You don’t go out and buy a seminar or attend a seminar on how to fix your car. You also don’t go out and buy a book on how to cure your health.&nbsp;</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59638f4184c36.image-1"><img src="https://ohiocashflow.com/files/real-estate-scam.jpg" data-location="local"></div><p id="p-3" data-i18n="59638f4184c36.p-3"><b>Finding a Mentor</b></p><p id="p-4" data-i18n="59638f4184c36.p-4">Now, if you want to learn how to make money in real estate, you have to go and&nbsp;find a mentor. That doesn’t necessarily mean that you have to pay for a mentor. When I started my journey as a real estate investor, I hustled my way to someone who’s got a $150 million company right now. I called him and cold emailed him and begged him for six months before he took me under his wing and I got a job with him. And he pretty much taught me the foundations for being the real estate investor that I am today.</p><p id="p-6" data-i18n="59638f4184c36.p-6">So I want you to stop buying DVDs, courses, and seminars. I know that a lot of people watching this video are going to absolutely slam me for what I’m saying here, but I honestly think that this is the biggest scam going on in real estate right now.&nbsp;</p><p id="p-7" data-i18n="59638f4184c36.p-7"><b>Don’t Fall for TV Celebrity Gurus</b></p><p id="p-8" data-i18n="59638f4184c36.p-8">You guys are getting sucked into these seminars and buying these courses and DVDs because of what you’re seeing on TV. Some of these folks have created credibility from their TV shows, even though a lot of those TV shows are fake. Ninety percent of them are fake—the figures are fake, and they make it look much easier than it is. I’m begging you—go work with someone who’s doing it every single day. Maybe they don’t necessarily want to teach it because they’re making so much money doing it. But if you offer them value, you might just land a gig that will help set the stage for your investing career.</p><p id="p-9" data-i18n="59638f4184c36.p-9"><i>Have you purchased any courses, DVDs, seminars, etc.? What has your experience been?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59638f4184c36.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>