<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a562899b82d5.h2-1"><span style="font-size:0.7em">3 Exit Strategies You Need to Have When Investing in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/SF95gbGwaJo" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a562899b82d5.p-1">Today, we’re talking about the top three exit strategies that you need to have when investing in real estate. Before we get started, I want to reiterate something I’ve said before: You make money when you buy, not when you sell. Never forget that. To rephrase that a little bit: You need to have an exit strategy in mind before you actually buy the property. And if you do not have multiple exit strategies in mind before you purchase the property, you can get yourself into a bit of a pickle.</p><p id="p-2" data-i18n="5a562899b82d5.p-2">Time is money, and if you are holding onto an asset, you are cash-strapped because all of your capital is in that asset. You might not hypothetically be losing money right then and there, but you are losing opportunity cost. You don’t want to be sitting on the sidelines doing nothing.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a562899b82d5.image-1"><img src="https://ohiocashflow.com/files/sell-property.jpg" data-location="local"></div><p id="p-3" data-i18n="5a562899b82d5.p-3"><b>1. Selling Your Property to a Homeowner</b></p><p id="p-4" data-i18n="5a562899b82d5.p-4">The first consideration you need to have as far as an exit strategy is to ensure the property that you are buying has to fit a homeowner criteria. So make sure that you conduct due diligence in that particular area. Make sure that there is high homeowner activity in that area. Make sure that properties are selling at a quick pace. Make sure that you renovate this particular property to the same standard as the comparable sales, and price it a little below to get that quick sale. Use this when you’re doing your first deal, your 10th deal, or your 100th deal. I still to this day have the same exit strategies in mind, and I’ve done over 450 deals.</p><p id="p-6" data-i18n="5a562899b82d5.p-6"><b>2. Selling Your Property to an Investor</b></p><p id="p-7" data-i18n="5a562899b82d5.p-7">The second exit strategy that you need to have in mind is selling it to an investor. You’re probably thinking to yourself, how can I find an area where I can sell it to a homeowner and sell it an investor at the same time? There are areas that are 50 percent investor-owned, 50 percent owner-occupied. There are areas that support an investor demand and a homeowner demand. They are everywhere.&nbsp;Here in Ohio, I feel like a kid in a candy store. There are so many areas out there where you can buy a property and sell it to a homeowner or sell it to an investor.</p><p id="p-8" data-i18n="5a562899b82d5.p-8">Now, when you are selling a property to an investor, the numbers need to make sense. Investors base their decision on the numbers in the deal, not emotions like a homeowner does. So make sure you are delivering that property at a good cap rate. It should most likely be tenanted, and it has to have good property management in place. If I’m an investor and I’m buying your product, I would need to know what it takes to manage this investment property. So when you’re selling or you’re looking at an exit strategy, have reputable, legitimate property management lined up. Then you can possibly sell that property to an investor if the homeowner aspect of it does not work out.</p><p id="p-9" data-i18n="5a562899b82d5.p-9"><b>3. Refinancing</b></p><p id="p-10" data-i18n="5a562899b82d5.p-10">Let’s say you can’t sell to a homeowner, and you can’t sell to an investor. You should ask yourself what you’re doing wrong, then you should refinance. Is your financing in check, can you get a loan, and can you refinance out of that property? I’m not too worried about that; there is a lot of money out there. But when you refinance, you need to make sure that your monthly rent is covering all of your expenses. Underestimate your income and overestimate your expenses when you’re doing deal projections. If those make sense, then you should be able to refinance that particular purchase. But you have to make sure that you have all of these things in order before you actually go into a deal.</p><p id="p-11" data-i18n="5a562899b82d5.p-11">And if you can’t sell to a homeowner, can’t sell to an investor, and can’t refinance? Then why are you even buying properties? Get your stuff together before you buy your first deal.</p><p id="p-15" class="text-left" data-i18n="5a562899b82d5.p-15"><i>What’s your favorite exit strategy?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a562899b82d5.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>