<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aca7e4d71f58.h2-1"><span style="font-size:0.7em">The Best Way to Attract Like-Minded People for Your Real Estate Team</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/COX-75EA3UA" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5aca7e4d71f58.p-1">First, let me backtrack in my life as an entrepreneur, business owner, and real estate investor in general. I remember the days when I started my real estate company. It took me a year and a half to make my first sale. I was sick of eating peanut butter and drinking $1 gas station coffees to survive. When I went to McDonald’s and bought eight cheeseburgers, eating four and putting four in the fridge, that was the highlight of my week.</p><p id="p-2" data-i18n="5aca7e4d71f58.p-2">One thing that I’ve taken from those times and that I’ll never forget is to always stay true to myself. I never compromised my beliefs. I sacrificed making a profit, making money, and eating in those days because I didn’t want to compromise my beliefs. So the message to you is stay true to yourself no matter what. No matter how hard times get, you are who you are. You can’t impress everyone, and you can’t make everyone happy.</p><p id="p-3" data-i18n="5aca7e4d71f58.p-3"><b>Be Who You Are—And Attract Like-Kind People</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aca7e4d71f58.image-1"><img src="https://ohiocashflow.com/files/goteam-702x336.jpg" data-location="local"></div><p id="p-4" data-i18n="5aca7e4d71f58.p-4">I’m a very eccentric guy, I swear a lot, I wear my heart on my sleeve, and I don’t mean harm, but I always say take me as I am or watch me as I go. I’ve worked with a lot of investors over the years, and I’ve made a lot of money (and lost a lot of money), but one thing that I’ve always done is stay good to my word. If I say I’m going to do something, I do it, and if I make a mistake, I put my hand up because it’s an honest mistake and I pay for the mistake that I made. Over time, people start to appreciate that and respect that—and you start attracting like-minded people and people who want to work with you.</p><p id="p-6" data-i18n="5aca7e4d71f58.p-6">It’s hard to pinpoint one exact way to get people to work with you. I think there are many things that will get you there, but if I could give one piece of advice it would be to stay true to yourself no matter what. Only work with people who you genuinely feel are the right fit for you and who you feel you can help. In return, they will get you to where you need to be. I’ve said this in many other blog posts but real estate is a marriage; it’s not a one-night stand. You need to plant a seed now and reap the harvest later. You want to understand what delayed gratification means because it’s going to take you and your partner(s) five, 10, 15, or 20 years to meet your goals. It doesn’t happen overnight. That is something that you really have to keep in mind.</p><p id="p-7" data-i18n="5aca7e4d71f58.p-7">I’m begging you, stay true to yourself. Even if that means for a year and a half you have to eat peanut butter for breakfast and drink $1 gas station coffees like I did. Could I have made sales back in the day? I’m sure could have. Did I want to make sales? No, because I didn’t believe that those people were a right fit for me or for my company, and I genuinely didn’t believe that I could help them get to where they needed to be. So I decided to stick to my guns, and I didn’t sell. It was tough, but a year and a half later, I made my first sale. Fast forward to today, and I’ve done over 500 real estate deals.</p><p id="p-8" data-i18n="5aca7e4d71f58.p-8"></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aca7e4d71f58.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>