<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5922f65a85523.h2-1"><span style="font-size:0.7em">The Simple Strategy I Use to Buy 10 Deals Per Month</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/E6xXBldlkTU" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5922f65a85523.p-1">Today, I’m talking to you about how I negotiated and bought over 400 properties. That’s right, 400 properties. This is one of the&nbsp;first strategies that I ever learned when I started my journey as a real estate investor and entrepreneur. It was taught to me by my mentor who now owns&nbsp;a $150 million business back home in Australia.</p><p id="p-2" data-i18n="5922f65a85523.p-2">I’ve said it before, and I’ll say it again—real estate is a numbers game. You have to commit to the numbers every single day—meaning, you have to commit to working long hours, you have to commit to sending emails, you have to commit to making phone calls, you have to commit to shaking hands and kissing babies like a bloody president. And last but not least, you have to commit to submitting offers on a daily basis.</p><p id="p-3" data-i18n="5922f65a85523.p-3">Now, what I’m about to tell you anyone can do. You just have to have some thick skin because some of the replies aren’t going to be the most pleasurable. The strategy consists of one phrase:&nbsp;“The more mud you throw on the wall, the more will eventually stick.” I have bought over 400 properties implementing this strategy, and my team is implementing the exact same strategy and&nbsp;buying a ton of properties for my operations right now.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5922f65a85523.image-1"><img src="https://ohiocashflow.com/files/buy-10-deals-month.jpg" data-location="local"></div><p id="p-4" data-i18n="5922f65a85523.p-4"><b>Become an Expert in Your Market</b></p><p id="p-6" data-i18n="5922f65a85523.p-6">This strategy&nbsp;consists of scouring your local market and becoming an expert in whatever market you are based in right now or whatever market you want to be investing in. You have to have an understanding of what properties are selling for there. Renovated properties, un-renovated properties, foreclosures, sheriff sale— you name it, you have to keep your finger on the pulse and you have to know what is going on in that market.</p><p id="p-7" data-i18n="5922f65a85523.p-7"><b>Commit to the Numbers</b></p><p id="p-8" data-i18n="5922f65a85523.p-8">The second step is quite simple. I just said it: You have to commit to the numbers. You are going to have to submit offers every single day—a ton of offers every single day on a ton of properties. Now, this is where it gets a little interesting. Let’s just say hypothetically, in simplistic terms, that a property is selling for $10. You’re going to go in there and offer a cash offer, quick close, and it’s going to be for $5. I know you probably think I’m crazy, but just do it.You are going to get pushback and negative replies 99 times out of 100. The seller is going to call you mad, the real&nbsp;estate agent is going to say you’re wasting his time, etc. But remember to&nbsp;have thick skin. Professionally diffuse the situation, respond diplomatically, and just blame it on your Australian accent. (Well, actually, only I can do that.) Just blame it on being a new investor and not really knowing the market well.</p><p id="p-9" data-i18n="5922f65a85523.p-9">So 99 times out of 100 guys, you are going to get negative feedback. That one time there is going to be that motivated seller, that desperate seller who&nbsp;needs to cash out. He will be willing to play ball. So, he’s going re-counter your $5 offer with, let’s say, $7 or $8. You know that you’re going to get that deal for around $6 or $7. You’re going to have to put another $10 to $20 into it because most of the time these properties are going to be un-renovated. And then you’re going to list it on the market and you’re going to sell it for anywhere between $13 to $15.</p><p id="p-10" data-i18n="5922f65a85523.p-10">Let’s rephrase&nbsp;that in thousands. On a $100,000 property, you’re going to offer $50,000, the seller’s going to counter with $80,000, you’re probably going to buy it for between $60-$70,000. You’re going to put $10-$20,000 into it, meaning, you’re going to be into that property for a total of $80,000 and you’re probably going to be able to sell it for between $130,000 and $150,000, walking away with a very nice profit. I’m quoting these numbers because I know them to be true. The more mud you throw on the wall, eventually, some will stick.</p><p id="p-11" data-i18n="5922f65a85523.p-11"><b>Be Patient and Submit Offers</b></p><p id="p-12" data-i18n="5922f65a85523.p-12">The biggest mistake that I’ve made have been&nbsp;not being patient enough, not submitting enough offers, and not waiting for that right deal to come along at the right price. I was buying properties just for the purpose of buying them. Remember, every property matters. Every property has to get you a step closer to where you need to be. These properties are going to put money in your pocket, which is going to fuel further negotiations, further expansion, and further flips. I’m doing 10 deals a month right now; when I started, I was doing only one. So, it’s very important that if you really want to buy bargains, you’re going to have to implement this strategy.</p><p id="p-13" data-i18n="5922f65a85523.p-13">(My sincere apologies to all the real estate agents out there. They’re going to hate you for it, because they’re going to think that they’re wasting time, which they kind of are. But ultimately, if you can find an agent who will understand the strategy and what you’re looking at doing, it will work. And it’s just going to come down to submitting offers every single day. I’m telling you now, I’ve got realtors doing this for me and for my companies and they will still get 2-3 more sales per month implementing this exact same strategy.)</p><p id="p-14" data-i18n="5922f65a85523.p-14">I’m going to reiterate what I said before: Real estate is a numbers game. Commit to the hours, commit to the emails, commit to the phone calls, commit to working hard, commit to submitting offers every single day. Lowball offers, throw that mud. Eventually, some will stick. Have thick skin, be professional, be patient, and I’m sure eventually you will succeed.&nbsp;</p><p id="p-15" data-i18n="5922f65a85523.p-15"><i>What strategy do you use to make sure you’re closing deals?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5922f65a85523.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>