<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a2ecb78efdbc.h2-1"><span style="font-size:0.7em">3 Reasons Why You Should Forgo Your Real Estate License</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul><ul id="ul-6"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/WHAYO9eWAAo" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="5a2ecb78efdbc.p-1">Today I’m bringing you a vlog that a lot of you are probably going to absolutely hate me for. But, here it is:&nbsp;the top three reasons why you should never get your real estate license.</p><p id="p-2" data-i18n="5a2ecb78efdbc.p-2"><b>The Job Problem</b></p><p id="p-3" data-i18n="5a2ecb78efdbc.p-3">The first reason, and probably one of the most important, is that real estate should not be a job. Now, it’s really unfortunate that I’ve been hearing that real estate agents are starting to get a stigma, or bad reputation. People consider them to be like second-hand car salesmen. People are saying this because some real estate agents really don’t care about the seller’s interests. All they are after is a quick sale and commission so they can move on to the next victim or next sale; because ultimately, they make more money by doing volume. So $10,000 more or less on a sale does not make a big difference to the bottom line on their 5–6% listing-fee commission.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a2ecb78efdbc.image-1"><img src="https://ohiocashflow.com/files/businessmeetingoutside-702x336.jpg" data-location="local"></div><p id="p-4" data-i18n="5a2ecb78efdbc.p-4">Now, one thing that I mentioned is that if you get a real estate license, you pretty much have a job. Your job will consist of selling other people’s properties. That will be all you do. You’ll prospect for someone who wants to list their house. You’ll list their house. Then you’ll work with buyers and lenders to sell their house—and then you’ll make a commission for selling their house. You have to abide by someone else’s rules and regulations, be it the big bad wolf broker. The broker tells you how to go about business and the minimum listing commission fee that you can charge. You’re probably going to have to answer the phones whenever they ring. Then you’re probably also going to have to go to their office and spend a certain amount of time there in their meetings, in their training, in their education, whatever it may be. So, if you get your real estate license, you’re pretty much just getting a job. Plus you’ll have to deal with a negative stigma surrounding your profession, which is something I don’t think you want.</p><p id="p-6" data-i18n="5a2ecb78efdbc.p-6"><b>Trouble with the Law</b></p><p id="p-7" data-i18n="5a2ecb78efdbc.p-7">The second thing is this: the laws and regulations absolutely stink. Granted, every state has its different laws and regulations. But in most states, when you have a real estate license, you are held to higher standard. Truth be told, a lot of realtors don’t care about that high standard. But still, as a real estate agent you can’t just freely submit properties on the MLS. You have to run them through your broker, and you have to disclose to the other listing agent that you are a real estate agent. All of these little things will affect your personal real estate investments. You will not be free to conduct business in the way that you want to conduct business. There will be restrictions to what you can and cannot do.</p><p id="p-8" data-i18n="5a2ecb78efdbc.p-8">On the other hand if you do not have a real estate license, you can roam around freely doing pretty much whatever you want. Yes, you have to abide by the real estate laws, but you do not have to abide by the hierarchy. You do not have to abide by certain regulations imposed by a broker in your particular state. Basically, there are just way too many rules and regulations that will prevent you from buying your own portfolio, from buying, fixing, and flipping properties, wholesaling, negotiating freely, playing hard to get, playing hardball, and ignoring your phone strategically when you want to.</p><p id="p-9" data-i18n="5a2ecb78efdbc.p-9">Still, you have to be professional. You have to provide a professional experience. You have to do the right thing. But it’s just a different world. I don’t have my real estate license, yet I own multiple companies. I have the right people in the right seats doing the things that I need them to do. And I even own a real estate brokerage, but I still don’t think it’s a good idea to get the license. That’s the second reason, guys.</p><p id="p-10" data-i18n="5a2ecb78efdbc.p-10"><b>It’s Costly</b></p><p id="p-11" data-i18n="5a2ecb78efdbc.p-11">The third reason you should never get your real estate license is it is just too bloody expensive. Not just from a financial standpoint, but from a time standpoint too. Depending on the state, you’re going to have to spend four weeks to three months listening to someone preach about how you should be a good salesman rather than teaching you anything about real estate. You’re going to spend about three months, and probably around $1,500 to $2,000, to get your real estate license.</p><p id="p-12" data-i18n="5a2ecb78efdbc.p-12">Once you get your license, you’ll have to join a broker. That broker is going to absolutely nickel and dime you to death with the commission splits. You’ll probably start off with a 50/50 split, along with hidden junk fees, a tech fee, an admin fee, a transaction fee, a desk fee, a fee for breathing, a fee for using their toilet paper, and a fee for cleaning your feet at their front door mat. I mean, it is absolutely ridiculous. And it’s not just that. Oh my, you’ll have to do more and more education courses. You’ll spend another $2,000 twice a year to go to these other jibber-jabber conferences, wasting time and money staying in hotels.</p><p id="p-13" data-i18n="5a2ecb78efdbc.p-13">Guys, time is money. I want to be in my office hammering out phone calls, emails, buying and selling properties, meeting with my team, growing my real estate empire, not working for someone else and making them richer in a job.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a2ecb78efdbc.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>