<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59c915f5a17b5.h2-1"><span style="font-size:0.7em">How to Evaluate A-Class, B-Class, and C-Class Properties</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul><ul id="ul-6"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/zQ2FGuz_KP8" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="59c915f5a17b5.p-1">One thing is for certain—everyone has an opinion and everyone has a different perception when it comes to evaluating asset classes. I’m proud to tell you that I’m a blue-collar, working class guy, so my perception of a certain asset class is different than someone else’s perception. I’m not here to tell you that I’m right, and I’m not here to tell that I’m wrong. I’m just happy to share my experience, my opinion, and my perception of the different types of asset classes and how to evaluate them.</p><p id="p-2" data-i18n="59c915f5a17b5.p-2"><b>A-Class Properties</b></p><p id="p-3" data-i18n="59c915f5a17b5.p-3">So, we’ve got three asset classes: A, B, and C. Now, an A-class property should have about a 4-6% net cap rate. What I mean by net cap rate is that after you take out all of your costs—like your property management fees, your insurance, taxes, and a calculation for maintenance and vacancies—you should arrive at about a 4-6% net return investment. If you are investing in A-class real estate and you are not getting that return on investment, I would forget about investing in those areas because you’re not even keeping up with inflation, and in my opinion, it just doesn’t make any sense. Now, these properties tend to be located in areas where properties are newer and have 1,500+ square feet, the school districts are fantastic, amenities are plentiful, and neighborhoods have curb appeal. The homes in these areas are predominantly owner-occupied.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59c915f5a17b5.image-1"><img src="https://ohiocashflow.com/files/know-submarkets.jpg" data-location="local"></div><p id="p-6" data-i18n="59c915f5a17b5.p-6"><b>B-Class Properties</b></p><p id="p-7" data-i18n="59c915f5a17b5.p-7">The B-class area, in my opinion, should offer a cap rate of around 8-10%—once again, net, after you take all of your costs into consideration. These neighborhoods usually consist of a mix of 50 percent investor-owned properties and 50 percent owner-occupied properties. The areas would also be very well kept, with few distressed homes and fairly low crime rates. I would like to refer to these areas as nothing sexy, nothing flashy, but very fundamental, full of blue collar working people. Here in Ohio, I live in one of these B-class areas. They tend to also be in close proximity to infrastructure, amenities, and good school districts. Ultimately, B-class areas represent a very solid asset class.</p><p id="p-9" data-i18n="59c915f5a17b5.p-9"><b>C-Class Properties</b></p><p id="p-8" data-i18n="59c915f5a17b5.p-8">Last but not least would be the C-class area, which is predominantly investor-owned, with few owner-occupied properties. The crime rates are usually higher, with older homes, worse school districts, and no amenities within close proximity. Now, what a C-class area can get you as an ROI is beyond me. In my opinion, these areas tend to be very volatile. They tend to have 12, 15, or 18% net cap rates—but honestly, I think those are just paper figures. I don’t see you achieving those returns in real life. It might happen, but every year would be different. I also don’t see any potential for appreciation there. You are pretty much just buying for cash flow—if you manage to get that desired cash flow.</p><p id="p-10" data-i18n="59c915f5a17b5.p-10"><b>What Asset Class Should You Invest in?</b></p><ul id="ul-3"></ul><ul id="ul-4"></ul><p id="p-4" data-i18n="59c915f5a17b5.p-4">Backtracking a little bit here, in a B-class area, you might see a little bit of appreciation, but it will predominantly be a solid kind of cash flow investment, providing a steady income. The A-class areas would not provide much cashflow, but potential for appreciation because they are desirable. Homeowners want to live in these properties, and we all know that homeowners base their decisions on emotion. And when you base your decision on emotion, you are buying a house not based on the numbers, but on everything else that makes it look pretty, places it in a good school district, or whatever else. Plus, you tend to spend more money.</p><p id="p-11" data-i18n="59c915f5a17b5.p-11">So that’s a quick summary guys on the different types of asset classes. I know I have written&nbsp;a ton of blog posts on this before&nbsp;so feel free to check those out. I would also love to get a detailed correspondence going below in the comments section. I want to hear what your perception is of the different types of asset classes. How you evaluate your deals when you’re looking to invest in a particular area?</p><p id="p-13" data-i18n="59c915f5a17b5.p-13">I want to end by saying I speak to a lot of investors, and one thing that everyone gets very wrong is this—they all talk about the stats and demographics, asset classes, vacancy statistics, employment rates, and capital growth projections. But it never comes down to the asset class or demographics, in my opinion; it always comes down to the people. The team that you are investing with out of state, out of the country, or even in your own backyard will either make or break your investment. I’ve got a little quote and it goes like this: “If you buy the best house on the best street in the best neighborhood with the best capital growth projections, but your property manager is incompetent or a cheat, you’re going to lose money because they are going to steal your rent.”</p><p id="p-14" data-i18n="59c915f5a17b5.p-14">So focus on the people rather than the stats and demographics of the particular area. That’s pretty much it.</p><p id="p-12" data-i18n="59c915f5a17b5.p-12"><i>What kind of asset class do you prefer? Why?</i></p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59c915f5a17b5.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/evaluate-asset-classes/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>