<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5ba7b310db148.h2-1"><span style="font-size:0.7em">Why Pinching Pennies Is the Secret to Building Wealth</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/iyZDYG7Q0gQ" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5ba7b310db148.p-1">I’m constantly arguing with my partner in crime Dominique&nbsp;because she keeps calling me a tight a** and saying that I have a peasant mindset. Maybe this is because I like disputing $2 credit card charges that I don’t think I owe. I do that because it’s $2 today, but maybe it’s $20,000 tomorrow. Where I’m going, those amounts will be $20,000 one day. Look, I guess I remember the days when we didn’t have much money and were literally eating peanut butter for breakfast and drinking $1 gas station coffees. I had $36 bucks in my account in 2014, which is not that long ago, right?</p><p id="p-2" data-i18n="5ba7b310db148.p-2"><b>You Only Control Your Own Finances</b></p><p id="p-3" data-i18n="5ba7b310db148.p-3">But one thing that I keep telling her is and I want to share with you is something that is going to be contrary to popular belief. It goes against all the gurus seminars, events, and articles you are reading to motivate you to make more money. I’m not trying to kill that dream for you by any means, but I do want to set things straight here. You only control what is in your account. Let me rephrase that: No matter how good your product is, no matter how good your service is, no matter how good you at selling, and no matter how motivated and inspired you are, you only control what is in your account. You don’t control what I have in my account. So it really comes down to whether I want to buy your product or I want to buy your service.</p><p id="p-4" data-i18n="5ba7b310db148.p-4">What I’m saying is that just because you’re making more money and doing better, that doesn’t mean you should automatically go out and spend more. Think about it: The money in your account is what you control. You’ve got the login details, and you decide if you are going to spend it or save it. Now, no matter how good your product or service is, you do not control what someone else does with their account or money. So, when you earn the money and you have it in your account, save it. Don’t be stupid with it, don’t spend it, and don’t expect that someone else is automatically going to buy your product or buy your service. If you truly want to ensure wealth, you’ll need to penny pinch, dispute $2 credit card charges, buy gas station coffees if you have to, and eat a teaspoon of peanut butter to survive.</p><p id="p-6" data-i18n="5ba7b310db148.p-6"><b>Draw From Your Current Budget to Pay for Important Expenses</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5ba7b310db148.image-1"><img src="https://ohiocashflow.com/files/first-investment-property.jpg" data-location="local"></div><p id="p-7" data-i18n="5ba7b310db148.p-7">Now, let me talk about another cool strategy that I am implementing right now with Dominique, my loved ones, and my family. Let’s say you’re going to go from earning five figures to six figures to seven figures. You might start seeing these popups for Ferraris, Lamborghinis, and all kinds of cool stuff that you have dreamed of since you were a kid. I’m sure that because you are starting to earn six or seven figures, your income can allow you to go out and buy all of these glamorous things. Where people get caught with their pants down is thinking that they are going to keep selling, thinking that their business is going to keep thriving, thinking that they’re going to keep making so much money that they can now go out and spend more money, right? Wrong.&nbsp;</p><p id="p-8" data-i18n="5ba7b310db148.p-8">I’ll give you a recent scenario. I’ve got a very nice car—it’s pretty expensive, a dream car. Now, Dominique is saying she wants to put Jay into Montessori school. Interesting. That sounds good, but how much is it? She says $1,500 a month. Oh crap, that’s expensive, right? Now, can I afford that? Yes, I can, but will business stay the way it is for the next 10 years? I don’t know that because again, I don’t control another man’s pocket; I only control my own. So you have to be very good at planning and organizing too.</p><p id="p-9" data-i18n="5ba7b310db148.p-9">So what I’m doing now get rid of the car so we can use those funds and put that towards Montessori. I think that is by far the best way to manage your funds. But I don’t want you to start getting stupid and go out there and buy another car and another property. Then get into all these expenses, debt, or costs just because you think you’re going to keep doing well. Instead, be cautious and make every transaction that you do a wash. So, if you’ve got $1,000 that you need to commit to something important, try and figure out a way where you can use $1,000 from your budget instead of making more. Don’t think about making more—think about using $1,000 differently. Now, by all means, go out and make more money, but keep in mind that you only control what is in your account.</p><p id="p-10" data-i18n="5ba7b310db148.p-10">Now, the point at which you can stop creating these “wash” transactions is when you have so much passive income coming in that you don’t need to think about money anymore. What I mean is that the first of every month, you’ve got hundreds of thousands of dollars coming in from your investments and you’re protected against any kind of economic downturn in a particular industry. Then, in my opinion, you can go out and spend it all because there is always going to be another month. Of course, do not be that stupid, but you get my drift. Once you have passive income and a lot of money coming in, you’re a little safer and within budget to commit to more expenses.</p><p id="p-11" data-i18n="5ba7b310db148.p-11">Otherwise, pinch pennies, dispute charges, eat peanut butter, and drink gas station coffees. You control only what’s in your account. And yes, go out and make as much money as you possibly can.&nbsp;</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5ba7b310db148.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>