<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59f87c4e68145.h2-1"><span style="font-size:0.7em">Should You Buy &amp; Hold or Fix &amp; Flip Properties?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul><ul id="ul-6"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/LO258IN354A" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="59f87c4e68145.p-1">I’ve said it before and I’ll say it again—money makes money. Please don’t forget that. Now, you wouldn’t believe how many investors reach out to me every single day with $20,000 thinking I’m like David Copperfield and can turn that into a million dollars. It’s not going to happen, guys. Something I want you to keep in mind is that no one is going to help you out unless you help yourself. Every single time that I’ve put my destiny into someone else’s hands, I’ve ended up losing out big time. So don’t expect any favors from anyone, and don’t expect any handouts. Be the master of your fate and the captain of your soul. You should solely depend on yourself, on your hard work, on your efforts, on what you do every single day.</p><p id="p-2" data-i18n="59f87c4e68145.p-2">I want to share something that has been following me around on my whiteboard for the last four years at every office we move to. I’ve named it the “Dingo Law.” The first thing that the Dingo Law stipulates is to stay frugal and keep costs low. Second, never ask for favors. Third, keep it tight—meaning, better insight and control over your expenses. Furthermore, stalk your accounts like an eagle—dispute $2 charges. I’m telling you, it will prepare you for when you start doing millions and millions in revenue and in deals. Last but not least, minimize mistakes, meaning measure twice and cut once. Your job as real estate investors and business owners is to minimize risk and maximize profit.</p><p id="p-14" data-i18n="59f87c4e68145.p-14"><b>Let’s Get Into it: Flipping vs. Buy &amp; Hold</b></p><p id="p-3" data-i18n="59f87c4e68145.p-3">You’re going to have to sacrifice and do deals in a market where you can actually buy and flip a house with $50,000 to $100,000 in cash. If you’re on the east coast or west coast, I’m sorry—I’ve got no tips for you because those markets are super expensive. I moved from my home of Sydney, Australia to Toledo, Ohio to chase my dream. You have to make certain sacrifices in life if you want to achieve financial freedom and if you want to achieve success. So once you find a market where $50,000 to $100,000 will be sufficient to buy, fix, and flip a property, I want you to start educating yourself on that market.</p><p id="p-15" data-i18n="59f87c4e68145.p-15">Personally, I think you should not be buying and holding unless you have significant amounts of capital that will allow you to buy, fix, and hold or to buy and hold a property but still continue to buy, fix, and flip. Money makes money, and you need to stay liquid unless you are making millions and millions of dollars in your 9-5, you’re a dentist, you’re an attorney, or you’re a high executive at some company. Most of you are not those things. You’re making $50,000, $60,000, or $100,000 a year and working your butt off every single day. Be frugal. Save the $50,000 to $100,000 and then go into your first flip. Let’s just say hypothetically that you make $20,000 to $30,000 on that flip. In my opinion, that is very reasonable. Unless you are making 20 percent minimum margins on the flip, don’t even do the flip.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59f87c4e68145.image-1"><img src="https://ohiocashflow.com/files/exterior_rehab_buy_and_hold_renovation_tips.jpg" data-location="local"></div><p id="p-6" data-i18n="59f87c4e68145.p-6"><b>Buy &amp; Hold When You Can Afford to Forget That Money</b></p><p id="p-7" data-i18n="59f87c4e68145.p-7">So you invest $100,000 hypothetically, you make a $30,000 profit, and then you do it again—and again. Now you should have around $190,000. Use $50,000 to $90,000 of that money and buy, fix, and hold. Set it and forget it. Let’s start getting some residual income and cash flow. You still have $100,000 in liquid capital to continue buying, fixing, and flipping. Look, I’ve done over 450 deals, and I just started buying and holding around six months ago. I kept liquid, I invested in companies, and I’ve got three businesses right now.</p><p id="p-8" data-i18n="59f87c4e68145.p-8">Anyway, I think you get my drift here. I personally believe that you should buy, fix, and flip, continue making lump sum capital gains, and only buy, fix, and hold when you can afford to forget that money that you will use for buying, fixing, and holding. If you’re going to be using leverage, well, I don’t believe in leverage personally, but suit yourself.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><p id="p-12" data-i18n="59f87c4e68145.p-12"><i>Any questions or suggestions?</i></p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59f87c4e68145.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/buy-and-hold-or-flip/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>