<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b5fbc39ed04b.h2-1"><span style="font-size:0.7em">Are You Cut Out to Succeed in Real Estate?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/WBlG5yw-NZ8" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5b5fbc39ed04b.p-1">For those of you who don’t know me, I want you to know that I’m not the smartest guy out there. I quit school at a very young age so I lack the basic skills that a lot you watching this video right now have. I can’t read too well, my typing is poor, my writing is poor, my grammar skills suck, and my math skills are even worse. So thank goodness for the calculator because otherwise I’d be lost. I’m saying this to say that if I can do it, so can you. So that’s the first thing that I want to share with you.</p><p id="p-2" data-i18n="5b5fbc39ed04b.p-2"><b>Talk is Cheap</b></p><p id="p-3" data-i18n="5b5fbc39ed04b.p-3">The second thing is after several years of running successful real estate companies, I made money, lost money, and I think that I’m very well rounded and can speak on the different real estate strategies. I’ve been able to speak to a ton of investors throughout my time as an investor, and many of them have seen what I have done and achieved. Now they’re all coming to me asking advice on how they can achieve what I have or pursue a certain strategy. I have stopped responding. I’ll tell you why. First of all, I don’t recall anyone in my lifecycle as a real estate investor who has been persistent and reached out to me more than once asking for advice. Normally, someone emails me, calls, texts, messages me, and if I don’t respond, that’s it—I never hear from them. So, talk is cheap. I have seen way too many people talk the talk but who aren’t willing to do any work.</p><p id="p-4" data-i18n="5b5fbc39ed04b.p-4"><b>Do What it Takes</b></p><p id="p-6" data-i18n="5b5fbc39ed04b.p-6">That being said, how do you know if you are cut out to succeed in real estate? You have to be willing to do whatever it takes. What I mean by this is you have to be willing to make huge sacrifices that even your family won’t understand. You’re probably going to lose a lot of your friends, and many people will think you’re an absolute nut job. I’m saying this because similar things happened to me. I packed my bags and moved from Sydney, Australia to Kansas City, and then I progressed to Toledo, Ohio in pursuit of my dream.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b5fbc39ed04b.image-1"><img src="https://ohiocashflow.com/files/newbie-first-deal (1).jpg" data-location="local"></div><p id="p-7" data-i18n="5b5fbc39ed04b.p-7">So sacrifice is something that you are going to have to commit to. I see way too many people who want to achieve success in real estate, who want financial freedom, who want to make a lot of money, but aren’t willing to make the sacrifices. They are too comfortable, satisfied, and happy living on the East or West coast with close proximity to shops, restaurants, and amenities, but still want 10-20 percent return on investment. Then, as soon as I say move to the Midwest, people say they can’t do that. Guys, I get it, but unless you are willing to make a sacrifice, you will never achieve financial freedom or success in real estate—period.</p><p id="p-8" data-i18n="5b5fbc39ed04b.p-8"><b>Dreams Don’t Work Unless You Do</b></p><p id="p-9" data-i18n="5b5fbc39ed04b.p-9">From there is hard work. I get asked by so many people what the magic recipe is.&nbsp;What am I good at, they wonder. Honestly, I’m not really good at anything except being the X-factor. I’m a crazy, eccentric Australian who turns a lot of heads, and that has worked in my favor. The only thing I’m really good at is being loud, rude, and having an Aussie accent. But one thing that I have done from day one and still do is whatever it takes. I will work longer and harder than anyone. That has been the recipe to my success. I’m in the office by 6:00 a.m. every morning and I do not finish until 7:00 or 8:00 p.m. I work Saturday and Sunday, and then I rinse and repeat. I put in the hours and commit to getting the job done. Whatever I say, I do it.</p><p id="p-10" data-i18n="5b5fbc39ed04b.p-10">Another thing that I want to stress to you is that a lot of investors think investing is going to be easy. They think they can just throw a bag of cash at an investment and it’s going to throw 10 bags of cash back at them. Guys, it does not work like that. There are a lot of ups and downs, and it’s a rollercoaster of a ride. You have to be prepared for that because you are going to go through a hurricane for the first one to five years, maybe even longer, until you figure out what you’re doing. It does happen over time and the more experience you have, the more you will understand what to do and how to do it. Surround yourself with the right people. You can outsource a lot of the roles that you have to initially do yourself, and then things will start to get better. Also, you have to build a large portfolio because one or two properties is not going to make you rich or give you financial freedom. It’s going to take a lot more than that, in my opinion.</p><p id="p-11" data-i18n="5b5fbc39ed04b.p-11">So start your journey only when you can afford to lose the amount of money that you are looking to invest. I have come across a lot of investors who go all in with every single penny, and if things don’t work out, they say they’re never going to invest again. I honestly think that no matter how many times you fail and how tough times you go through, there’s always another day and another door will open. Pick yourself back up, keep moving forward, and there is no doubt in my mind if you work as hard as I do, you will succeed.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b5fbc39ed04b.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>