<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b07697e821b8.h2-1"><span style="font-size:0.7em">Should You Buy Properties With Back Taxes or Liens?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/WEpqF9OHCJU" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="5b07697e821b8.p-1">I’m going to start this article by saying&nbsp;there is nothing wrong with any piece of real estate as long as the price is right.&nbsp;Now, you’ve probably heard me say this many times, but I’m going to reiterate it for you guys because I want to reinforce the message: Real estate is a long-term play. It’s going to take 5, 10, or 15 years to get you to where you really need to be. You also need to find the right people. So forget about the stats, forget about the demographics, and start with the people first. Build trust and relationships with the right people who are truly going to have your best interest at heart. I believe that success in business is about delayed gratification. It’s about planting the seed now and reaping the harvest later.</p><p id="p-2" data-i18n="5b07697e821b8.p-2">Now that we’ve got the people factor out of the way, I have something else that I need you to do before I get into the nitty-gritty of this article. I need you to pick a few zip codes and truly become a local expert on whatever is happening in that area. I need you to understand what distressed properties are selling for, what renovated properties are selling for, who the top performing agents in those areas are (and network with them), who are all of the real estate investors buying, selling, and flipping are, and who the buy and hold landlords are. You also need to know the numbers in those particular demographics. Live it, breathe it, love it, eat it, make your whole life revolve around it. So we spoke about the people, we spoke about becoming a local expert and understanding the numbers in that particular area.</p><p id="p-3" data-i18n="5b07697e821b8.p-3"><b>So, Should You Buy a Property That Has Back Taxes?</b></p><p id="p-4" data-i18n="5b07697e821b8.p-4">I don’t see why not. Let’s reference what we just spoke about. We spoke about knowing the numbers in that particular area so if an opportunity presents itself where the property has $5,000, $10,000, or $15,000 in back taxes and you know what distressed properties go for in that area that do not have any back taxes, the calculations are quite simple. All you have to do is discount the amount of back taxes against the purchase price of that potential property. Yes, it will probably come down to zero, but that’s what you can pay, right? You’re not going to overpay for the property because if you overpay for the property, you’re going to lose money. I want you to remember this rule: You make money when you buy not when you sell. Never forget that. You have to make sure that you negotiate well and you buy cheap.</p><p id="p-6" data-i18n="5b07697e821b8.p-6">As you’re doing your due diligence on these deals or underwriting them through your pro formas or whatever you use, if it equals out to zero, then zero it is. You would not believe how many times I’ve gone to a landlord or someone looking at selling a distressed asset and said, “I cannot pay anything for your house.” Actually, a few times I’ve told them that if they want to get the property off their hands, they need to give&nbsp;me&nbsp;money to take it. You’re probably thinking, is that even possible?&nbsp;</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b07697e821b8.image-1"><img src="https://ohiocashflow.com/files/brooklyn-702x336.jpg" data-location="local"></div><p id="p-7" data-i18n="5b07697e821b8.p-7">I’ll tell you now: Yes, it is. Over my career as a real estate investor, I’ve had a few landlords who did not want to deal with their issues anymore and did not have the experience, knowledge, or right team to fix that property or the capital. They wanted out. I have gotten paid to take properties off people’s hands because they were a complete nightmare. If I could do the deal again, I wouldn’t even accept them because those deals did not end up going in my favor.</p><p id="p-8" data-i18n="5b07697e821b8.p-8">So even if a property has liens, have a relationship with a trusted title company. The relationships are coming in to play here. Give them the address, give them a couple hundred bucks, and ask if they can pull the records on this property so you can see how much the liens are. If you can discount the amount owed on those liens or on the back taxes against the purchase price and you can come to an agreement with that seller, you do the deal. Now, you can also get creative such that you inherit that lien and negotiate with the lender, but personally, I don’t like doing that. You can also ask the city to go on a payment plan with the taxes, but I’m not a fan of that either. I would rather you try to get that discount from the purchase price so either you or the seller can pay off those back taxes or lien once the property closes.</p><p id="p-9" data-i18n="5b07697e821b8.p-9">So yes, you should buy properties that have back taxes and you should buy properties that have liens as long as the numbers make sense and you’re going to make money.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b07697e821b8.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>