<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5baaafa691b1b.h2-1"><span style="font-size:0.7em">The Two Must-Attend Real Estate Conferences for Investors</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/i1SUS5l8HpA" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5baaafa691b1b.p-1">There are a lot of real estate conferences out there—but which ones are actually worth your time?</p><p id="p-2" data-i18n="5baaafa691b1b.p-2"><b>IMN</b></p><p id="p-3" data-i18n="5baaafa691b1b.p-3">There are two conferences that everyone should attend. The first one is the&nbsp;IMN (Information Management Network). It’s held in Scottsdale, Arizona and Miami, Florida every year. It’s a single-family residence-geared conference that is very high end. There are a lot of hedge funds, institutional money, and institutional buyers and sellers there. That is pretty much where you want to go if you’re a more experienced investor and do anywhere from five to 10 deals per month. You’re doing volume, you’ve got various companies, and you’ve got a big team. That is where you go to shake hands and kiss babies because the who’s who of the real estate world is at this conference. Keep in mind it is very expensive to attend, around a couple grand a ticket. Now, if you can schmooze your way into being a speaker, you may get your ticket comped—and they are always looking for content and great speakers. So make sure to check that out.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5baaafa691b1b.image-1"><img src="https://ohiocashflow.com/files/real-estate-conference.jpg" data-location="local"></div><p id="p-4" data-i18n="5baaafa691b1b.p-4"><b>Think Realty Conference</b></p><p id="p-6" data-i18n="5baaafa691b1b.p-6">Another one that you should definitely attend, especially if you are a beginner, is the&nbsp;Think Realty Conference. They run about four to five conferences every single year and have an amazing team based in Kansas City. I know them very well—they are awesome people. My experience from that conference is that there is no pumping products and services. They don’t like “<a href="https://en.wiktionary.org/wiki/spruiker" style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; font-size: 19px; font-family: &quot;Open Sans&quot;, Arial, sans-serif; color: rgb(61, 132, 179); transition: all 0.4s ease-in-out 0s; background-color: rgb(255, 255, 255);">spruikers</a>” as we refer to them in Australia. Yes, there are products for sale. Yes, there are services for sale, but there are insightful panels, interesting speaking presentations, and good content. There is a lot of great stuff that you can learn there, and you can meet a number of good people. So I strongly recommend and encourage you to attend that conference. It is not that expensive, and you can sign up online.</p><p id="p-7" data-i18n="5baaafa691b1b.p-7">I want you to know that I get nothing from either one of these conferences for mentioning this to you. So again, the IMN is awesome and so is the Think Realty Conference. Google them and check them out. Personally, I think you should attend them.</p><p id="p-8" data-i18n="5baaafa691b1b.p-8">So that’s about it. Post below about any real estate conferences that you attend that are great and do not sell products and services. I don’t want anyone shoving crap down my throat. I just want good content and want to meet some great people and awesome investors.&nbsp;</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5baaafa691b1b.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>