<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aca6940c5eea.h2-1"><span style="font-size:0.7em">The #1 Thing to Know Before You Invest in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/dJsXqjAMLw0" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5aca6940c5eea.p-1">Today I’m talking to all of you newbies out there about the number one thing you need to know before you invest in real estate.</p><p id="p-2" data-i18n="5aca6940c5eea.p-2">The most important thing to know is this: you should focus on people first—before anything else. I speak to so many investors every single day it’s mind-boggling. And one common trend that I’ve seen among them is they all think they’re experts. You’re not an expert just because you did a Google search or checked out some statistics on a data platform or&nbsp;Zillow. Looking at the Estimate and speaking to an agent and having them send you a pro forma doesn’t make you an expert either.</p><p id="p-3" data-i18n="5aca6940c5eea.p-3"><b>Forget the Statistics</b></p><p id="p-4" data-i18n="5aca6940c5eea.p-4">You can’t focus on stats and demographics of a particular area. Forget about employment. Forget about capital appreciation projections. And forget about population. Honestly, the stats and demographics are not going to make you money. It’s the people. It’s the team on the ground who you are going to trust with your hard-earned money, who are going to be your eyes and ears—heart and soul—in that particular area. I don’t care if you’re investing in your own backyard. Someone will always know more than you do.</p><p id="p-6" data-i18n="5aca6940c5eea.p-6">With that in mind, surround yourself with people who are smarter than you. It’s something that I’m very good at doing. I quit school at the age of 14. I can hardly type. And I can hardly read. My math skills are shockingly poor. (Thank god for the calculator.) But I am smart enough to surround myself with people who are smarter than I am, and are doing the things that I can’t do (or don’t want to do).</p><p id="p-7" data-i18n="5aca6940c5eea.p-7">Check out this book,&nbsp;Think and Grow Rich,&nbsp;by Napoleon Hill. There is a section where Henry Ford speaks about something really cool. He talks about pressing a button on his desk to summon any man who could answer any question that he needed to be answered. That has really stuck with me. I’ve always gone about my real estate endeavors by surrounding myself with amazing, smart, awesome people who I could trust. People who are going to be my eyes and ears and heart and soul in real estate and in other industries.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aca6940c5eea.image-1"><img src="https://ohiocashflow.com/files/happysmart-702x336 (1).jpg" data-location="local"></div><p id="p-8" data-i18n="5aca6940c5eea.p-8">So flip the script here. Forget about the stats and demographics of a particular area. Focus on the people first. Establish trust and relationships with key people, no matter what strategy you’re looking at. Make sure to build trust and to build that relationship, and make sure it’s long-term. Don’t work with people who are after a one-night stand. Guys, there is no&nbsp;wham, bam, thank you, ma’am, here. Real estate is a long-term play. Plant a seed now, and reap the harvest later. You want to work with someone who is going to have your best interest at heart over five, ten, or 15 years. You don’t want to work with someone who jumps in bed immediately, does the deal, and then they’re off the next person (or the next victim).</p><p id="p-9" data-i18n="5aca6940c5eea.p-9"><b>It’s About the People</b></p><p id="p-10" data-i18n="5aca6940c5eea.p-10">That is my advice to you. Really focus on the people first. Forget about the stats and demographics. I’m going to blow a little bit of wind up my own behind right now. I’m based in Toledo, and I am the biggest single-family home buyer in town. Investors talk to me about stats and demographics, about this particular region here, and I kind of laugh at it because I&nbsp;am&nbsp;the stats and demographics. Sorry, I am. We buy so many properties in this market that I am the stats and demographics. I do deals on a daily basis. I make the stats and demographics that they read online every single day. Yes, it may sound a little pompous, but that is the truth. So you should trust me and what I’m saying. That is what I believe in, and that’s the truth. You can take it or leave it.</p><p id="p-11" data-i18n="5aca6940c5eea.p-11">And I’m going to end with this bit of advice:&nbsp;If you buy the best house on the best street in the best area that has the best capital growth projections but your property manager is incompetent or a cheat, you’re going to lose money.</p><p id="p-12" data-i18n="5aca6940c5eea.p-12">Why? Because the property manager is going to steal your rent or they’re going to misplace it. OK? Now, flip the script. If you buy in C- or D-class warzone area but your property manager was born and bred in that particular region and he’s honest, he’ll deposit that rent right in your account.</p><p id="p-13" data-i18n="5aca6940c5eea.p-13">So it really comes down to the people. That is my experience over the past six years. Focus on the people first because they are going to make or break your investment.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aca6940c5eea.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>