<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5910649242e4b.h2-1"><span style="font-size:0.7em">Why You Should ONLY Invest Based on the Cash Flow</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Js5oYxB-81w" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5910649242e4b.p-1">Today I’m going to ruffle some feathers. Why? Because I’m going to talk about why you should never invest based on capital appreciation and why you should only invest based on cash flow and by looking at the numbers in the deal.</p><p id="p-2" data-i18n="5910649242e4b.p-2">So, it’s quite simple—you should never base your decisions on the hope that a property is going to go up in value. This is a mistake that I made when I was living back in Australia. A&nbsp;lot of investors have made the same mistakes here in the United States on the east coast and the west coast before the global financial crisis. They were buying high, hoping that these properties were going to appreciate in value so they could sell even higher. Guys, hope is not a strategy. Hope is for those who are in the hospital right now dying from terminal cancer. You can’t use hope as an investment strategy.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5910649242e4b.image-1"><img src="https://ohiocashflow.com/files/Blog picture for website 5-8.jpg" data-location="local"></div><p id="p-3" data-i18n="5910649242e4b.p-3"><b>Don’t Speculate—Invest Based on What You Know</b></p><p id="p-4" data-i18n="5910649242e4b.p-4">Capital appreciation is a prediction; it is speculation. No one has a crystal ball. Nostradamus died a long time ago. So, if you can’t predict what’s going to happen in the next 10&nbsp;minutes, how can you predict what’s going to happen in the next 10&nbsp;months or 10&nbsp;years? Guys, forget about it. Forget about including appreciation statistics in any of your calculations.</p><p id="p-6" data-i18n="5910649242e4b.p-6">Now, this is how I suggest you base any type of calculation on capital appreciation. I personally bought a property next to Toledo Promedica Hospital.&nbsp;I knew for a fact that Toledo Promedica Hospital was buying in the area because they wanted to expand their hospital grounds. So, I was speculating that they were going to knock at my door three, five, or seven years down the road&nbsp;and buy the property for much more than I paid for it. Call it insider trading if you want, but that is the only way that I would speculate on capital appreciation in real estate. So, what happened?</p><p id="p-7" data-i18n="5910649242e4b.p-7">Promedica did knock on my door, and they’re willing to pay four to five times more than what I paid for my property. Other than that, forget about capital appreciation. Forget about including any kind of capital growth in your projections. You really have to look at the numbers in the deal as they stand today. Remember to ask yourself&nbsp;questions like, “What is my purchase price of that particular property?” and “What are my expenses?” And include a margin of safety, meaning underestimate your income and overestimate your expenses. If the bottom line meets your end goal—if you buy the property and add to your portfolio—is it getting you a step closer to where you need to be, cash flow-wise? We live off cash flow, not capital appreciation and equity. You can’t put your hand in equity and go out and buy McDonald’s. Conversely,&nbsp;you&nbsp;can&nbsp;put your hands in your account every single month because you’re getting rent, which is cash flow, and use that money to go and buy a McDonald’s.</p><p id="p-8" data-i18n="5910649242e4b.p-8"><b>Focus on Cash Flow</b></p><p id="p-9" data-i18n="5910649242e4b.p-9">So, forget about capital appreciation. Focus on cash flow. Look at the numbers in the deal. Make sure those numbers suit your end goal and that every property you buy is getting you closer to where you need to be. For all you doubters out there saying&nbsp;that rents can sometimes decline thus causing the numbers in the deal today not to be true, I’m not buying it. The numbers in the deal as they stand today are always true. It’s not a prediction; it’s not a speculation. You know what the numbers are, you know what the expenses are, you know what the rent is going to be.</p><p id="p-10" data-i18n="5910649242e4b.p-10">As I just said, include a margin of safety, underestimate your income, overestimate your expenses, and then make sure those numbers work for you and what you’re looking at doing. Guys, rent is declining? I have never seen it in my five years of real estate investing, and I’ve got other entrepreneurs and business mentors on board that have been in the game 20 or 30 years, and unless something drastic happens, like a nuclear power plant blows up, rents don’t just decline. They never have; they never will. I personally have never seen it. So, it is my opinion that you guys are safe investing based on the numbers in the deal as they stand today. Just make sure that those numbers, that cash flow suits you, suits your end goals, suits where you want to be, and suits your lifestyle.</p><p id="p-11" data-i18n="5910649242e4b.p-11"><i>Do you agree with this assessment—or disagree?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5910649242e4b.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>