<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aff5dba49cf0.h2-1"><span style="font-size:0.7em">Why I Think Being a Millionaire Might Be Overrated</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/F5BXyTxhwHY&#10;" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5aff5dba49cf0.p-1">Today I’m talking to you about why being a millionaire is overrated.</p><p id="p-2" data-i18n="5aff5dba49cf0.p-2">I’m truly humbled to say that my partner in crime and I unofficially retired last year. This means we have enough money to last us a couple of lifetimes, unless our kids screw it up. Isn’t that how it goes? The first generation builds it, the second one expands it — or you hope they do — and the third one loses it all, right?</p><p id="p-3" data-i18n="5aff5dba49cf0.p-3"><b>Being Successful All Around</b></p><p id="p-4" data-i18n="5aff5dba49cf0.p-4">That aside, I want to share something with you that I think is really important. Everyone is always dreaming of becoming a millionaire. You can ask anyone if they would want a million dollars and they would all say yes. They think it’s going to solve all of their problems. But then if you ask another question — what are you doing to get to a million dollars? A lot of them won’t be able to tell you that answer. A lot of them will say, well, I’m working a nine-to-five job. Yes, I get it guys. But I don’t think you’re going to get to where you want to be working a nine-to-five job. I truly believe success comes before nine and after five.</p><p id="p-6" data-i18n="5aff5dba49cf0.p-6">For example, I’m not the smartest person out there. I quit school at the age of 14. I can’t write or read too well. Despite that, one thing that I have done for many, many years is work extremely hard. Whatever I say I’m going to do, I do it. That, over time, has helped me to figure things out and become successful.</p><p id="p-7" data-i18n="5aff5dba49cf0.p-7"><b>A Word About Responsibility</b></p><p id="p-8" data-i18n="5aff5dba49cf0.p-8">Being a millionaire gives you the option to do what you want, when you want, and where you want. It also gives you responsibility. I’ve built a few great companies, and with that comes a responsibility to my investors and a responsibility to my employees. And that is something that can be a double-edged sword. You can’t just take a four-week vacation unless you’ve really structured your business in a way where it can be self-sufficient without your presence, which is hard to do.</p><p id="p-9" data-i18n="5aff5dba49cf0.p-9">I just want to share a message with you guys that having a million dollars, or being a millionaire, isn’t all that great. It’s not all fairy tales and butterflies. It does give you options. And it’s a great feeling knowing that you have that financial stability and security. But still, it gives you responsibility. That responsibility can sometimes be a burden. You have to show up every single day and get the job done, because if you don’t, you are letting people down. If you’re like me, you can’t let people down. It bothers me.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aff5dba49cf0.image-1"><img src="https://ohiocashflow.com/files/autumn-back-view-casual-620341.jpg" data-location="local"></div><p id="p-10" data-i18n="5aff5dba49cf0.p-10">Another thing that I want to share with you is that along my path to financial freedom and success in real estate, I’ve come across a lot of other successful people with millions of dollars in net wealth. And they are the most miserable, disgusting people I’ve ever met in my life. Can you believe that? I kid you not. I would never want to be anything close to them. I don’t even know how they can look in the mirror. If I was them, I wouldn’t be able to look in the mirror. All these people care about is the next transaction. All they care about is adding another zero to the end of their bank accounts. Guys, when you’re on your deathbed, you’re not going to ask to see your bank statement before you die. You want to be with family. You want to be able to look back on your life and cherish the moments and memories that you shared with the people you love. As corny as this sounds guys, I am still chasing certain financial targets to help my family, employees, and investors. That is my fulfillment.</p><p id="p-11" data-i18n="5aff5dba49cf0.p-11">I love the quote by Tony Robbins, “Success without fulfillment is the ultimate failure.” I guarantee you this. I was very hungry once upon a time, eating peanut butter for breakfast and drinking $1 gas station coffees. So I know what it’s like to be at the bottom of the barrel. Now, I’m at a different stage in my life where I have all of the luxuries that I wanted. There comes a time when you stop thinking about money. You stop thinking about doing the next deal to make that next profit, because it just doesn’t give you fulfillment. Buying a watch, buying a car, buying a mansion — you get it and then you’re like crap, now what?</p><p id="p-12" data-i18n="5aff5dba49cf0.p-12">I was very fortunate to achieve my childhood dream at a very young age. And I unofficially retired at the ripe age of 29. But that is still not fulfillment. Adding another zero to your bank account is not going to give you that inner peace and happiness. I promise you that.</p><p id="p-13" data-i18n="5aff5dba49cf0.p-13"><b>Give Back What You Get Out</b></p><p id="p-14" data-i18n="5aff5dba49cf0.p-14">Personally, I love giving back. When you give something to someone in need, and you see the smile on their face and how much they cherish that because they &nbsp;it need badly, it’s something that you never forget. When I’m on my deathbed, that is when I’m going to think about how many people I touched throughout my life.</p><p id="p-15" data-i18n="5aff5dba49cf0.p-15">There is another quote, “You don’t want to be the king of diamonds, you want to be the king of hearts.” So that is my dream. That is my passion and my desire.</p><p id="p-16" data-i18n="5aff5dba49cf0.p-16">I want to build a huge company and it’s in the works now. And when I get to $100 million valuation or even bigger, I’m giving it all away. How? I don’t know yet. But when I’m gone and everything is said and done, I want whatever I have created and left behind to continue helping hundreds or thousands — if not millions — of people. That is my purpose. T’s my fulfillment. That is why I do what I do. Even though I am looking at hitting certain financial targets, you have to help yourself before you can help everyone else. And the more money I make now, the more I will be able to help in the future. I don’t really care if you believe me or not, because I know that is what’s inside of me, and that’s all that matters to me.</p><p id="p-17" data-i18n="5aff5dba49cf0.p-17"><b>Conclusion</b></p><p id="p-18" data-i18n="5aff5dba49cf0.p-18">To summarize, making a lot of money, being successful, having the millions is great but it comes with responsibilities and could be a burden at times. Just make sure when you succeed and set yourself and your loved ones up that you give back. That is all I can say because that will truly be fulfillment. Do not be like those miserable people who I have met with $70, $80, $90, or $100 million in their bank accounts but probably can’t sleep at night or look at their face when they look in the mirror.</p><p id="p-19" data-i18n="5aff5dba49cf0.p-19">So, guys, that is it. I hope you enjoyed this blog post.</p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aff5dba49cf0.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
            </span></p></div></div>