<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5ae86d4fe9e2a.h2-1"><span style="font-size:0.7em">My Worst House-Buying Experience Ever (&amp; How I Learned From It)</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/N5avrHWtS3c" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-2"><p id="p-1" data-i18n="5ae86d4fe9e2a.p-1">This deal happened around two years ago. I bought a distressed property in the Washington Local School District. It was the ugliest house on one of the best streets. Here in Toledo, the Washington Local School District is extremely desirable. I believe it was a 2-bedroom, 1-bathroom house. I bought it from a somewhat shady character here in town. I knew going into the deal that there may be stuff I’d uncover that I wasn’t expecting.</p><p id="p-2" data-i18n="5ae86d4fe9e2a.p-2"><b>The Deal</b></p><p id="p-3" data-i18n="5ae86d4fe9e2a.p-3">After buying the property, we started the renovations, and I cut the first check to a “trusted” contractor. Progress was coming along great. I didn’t have time to go in and inspect the property because at the time, we were doing a lot of deals, and I stopped going out to inspect all these rehabs. Even to this day, I hate leaving the office because when I leave, I consider it a waste of time and money. I always want to stay in the office doing deals, picking up the phone, and working with my team on the nitty-gritty back-end stuff.</p><p id="p-4" data-i18n="5ae86d4fe9e2a.p-4">Again, I cut the first check, and everything seemed to be running smoothly. We cut a check to pull all the permits, then cut another check to allow the contractor to get another draw. Everything seemed to be going well. Then I got a call from the city and they shut us down because no permits were pulled. Everything started to unravel from there. Pretty much none of the work was done. I had cut checks for the work I thought was going to be done, but the permits weren’t pulled even though I cut a check for that. Then we tried to get another contractor in there to try and salvage it, and he pretty much walked off the job and said he could not salvage it. He, of course, took my money and ran with it too.</p><p id="p-5" data-i18n="5ae86d4fe9e2a.p-5">Long story short, it was an absolute freaking nightmare—a disaster of a deal. The city shut me down, contractors stole my money, we found out later on that the property had foundation issues, and the previous owner that I bought the property from was somehow stealing water and electricity. It was one of those deals you just can’t salvage—which is something because I don’t think I’ve ever in my life come across a deal we could not salvage.</p><p id="p-6" data-i18n="5ae86d4fe9e2a.p-6"><b>But Here’s the Miracle</b></p><div id="image-2" class="respond-image" data-display="standalone" data-i18n="5ae86d4fe9e2a.image-2"><img src="https://ohiocashflow.com/files/tax-mistake.jpg" data-location="local"></div><p id="p-7" data-i18n="5ae86d4fe9e2a.p-7">The neighbor next door who knew how crappy this property was and how shady the seller was approached one of the contractors and offered to buy the house to knock it down so he could expand his backyard. So the guy flipped pocket change my way. I took anything I could get. Off the top of my head, I think we lost like $40,000 on this deal. It was a big hit at the time because we were just starting to grow and expand. It was tough.</p><p id="p-8" data-i18n="5ae86d4fe9e2a.p-8">This deal was located two minutes from my office. So all you guys thinking that you can renovate successfully out of state and out the country, know that you can, but again, it’s tough. I tried doing it from Australia, and I didn’t do it well, so I moved here. I’m doing it well now, but even to this day, I still lose money on deals. It’s just the nature of the beast. The game of real estate, in my opinion, is to make more than you lose. Business is easy; people make it difficult. I’ve always believed in that saying. The one thing I have not figured out is contractors.</p><p id="p-9" data-i18n="5ae86d4fe9e2a.p-9"><b>What I Learned</b></p><p id="p-10" data-i18n="5ae86d4fe9e2a.p-10">The lesson that I learned from that deal two years ago is you can’t be overwhelmed with your day-to-day. There are certain things where you have to pull back, slow down, and be more diligent with how you approach it. One thing in particular is that when you’re cutting checks to contractors on work that’s been done, even if it is someone that you trust, still get eyes on sight. So you have to have a project manager in place depending on how many deals you are doing. We have a pretty big operation where we do anywhere from 10 to 20 deals per month, so we have a few project managers to get eyes on sight. When a contractor asks for a check we physically check if progress was made and if it was, then that is when we cut the check.</p><p id="p-11" data-i18n="5ae86d4fe9e2a.p-11">Another lesson that I learned is to never, ever buy properties with foundation issues. Granted, we didn’t know that this property had foundation issues, but you have to double or triple check to make sure.</p><p id="p-12" data-i18n="5ae86d4fe9e2a.p-12">To summarize, I think it’s really hard to successfully renovate a property out of state or out of the country. Another thing that I tell everyone that I speak to is that teamwork makes the dream work. You really need to surround yourself with the right people in order to make renovating, flipping, or any kind of real estate strategy a success. Find the right team, forget about the stats and demographics, and really focus on finding people that you can trust. Have that delayed gratification mindset and plant a seed now to reap the harvest later. Do those things, and I think you’ll do well because real estate is a marriage. It’s going to take five, 10, or 15 years to get where you want to be.</p><p id="p-13" data-i18n="5ae86d4fe9e2a.p-13">Last but not least, I’ve never lost money because the numbers in the deal didn’t make sense or because of the area. I have always lost money because someone ended up screwing me. It’s always the people factor, not the actual business itself or the numbers in that particular deal.</p><p id="p-14" data-i18n="5ae86d4fe9e2a.p-14">So that concludes my absolute horror story of a deal. I’m sure that a lot of you guys out there have your own horror stories. Let me say this: Please don’t let it set you back. It’s an emotional drag, I get it. But the sooner you can get out of that emotional drag, learn from it, and move forward, the better you’ll be. Get back on the horse and keep pushing forward. I really think it’s a game of making more money than you lose, but you&nbsp;will&nbsp;lose. Don’t forget that.</p><p id="p-15" class="text-center" data-i18n="5ae86d4fe9e2a.p-15">This article was originally&nbsp;published at&nbsp;<a href="www.BiggerPockets.com">BiggerPockets.com</a></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5ae86d4fe9e2a.image-1"><img src="https://ohiocashflow.com/files/real-estate-over-stocks.jpg" data-location="local"></div></div></div>