<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aec535306835.h2-1"><span style="font-size:0.7em">How I Found Purpose At The Lowest Point In My Life &amp; How You Can Find Yours</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><respond-fetch fetchid="fetch-1"></respond-fetch></div><div  class="col col-md-6 main"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aec535306835.image-1"><img src="https://ohiocashflow.com/files/Finding-Purpose.jpg" data-location="local"></div><p id="p-1" data-i18n="5aec535306835.p-1">Success. Fame. Happiness. Job satisfaction. Money. These are a few – and probably the most frequent – of the many desires that most people have. But then, they’re often as elusive as they are fascinating. I know that, because for a long time, these were things I held up as the purpose of&nbsp;life as well. But there is one discovery that led me to actually getting there: Discovering the purpose of&nbsp;my&nbsp;life!</p><p id="p-2" data-i18n="5aec535306835.p-2">Let me start by sharing a personal story. It was four years ago, and I was at one of the lowest points in my life. I was in a terrible position and owed 1.2 million dollars in debt. And I owed that money to banks, partners, mum, dad, etc… My bank statement was even more alarming; at one time, I had just $24 in my account. (Now, don’t get any stupid ideas! Just because I revealed my low bank balance doesn’t mean that this is a “Rags to Riches” type story.)</p><p id="p-3" data-i18n="5aec535306835.p-3">To add to my financial troubles, I had a fractured wrist that I couldn’t afford to attend to at that point in time. In fact, it took me a year and a half to get it fixed. My mom got diagnosed with cancer at the same time, leaving me at an emotional low. And then, when you would think that nothing else could go wrong, my grandma died. She was very special to me. The day she passed I dropped to me knees and wept for a good 45 minutes when something all of a sudden just hit me. A switch went off in my head.</p><p id="p-4" data-i18n="5aec535306835.p-4">I was broke, financially and emotionally. I was at the lowest point of my life and I told myself that I had nothing left to lose. And that’s when I knew I had to take charge of the situation. I had to live life in a bigger and a better way, not for my success, but for my mom, my friends, and my family.</p><p id="p-6" data-i18n="5aec535306835.p-6">I knew that real estate investing was an area close to my heart, and rather than weighing the pros against the cons, the good vs the bad, I simply got started. I started selling like crazy, day in day out. I worked really hard, made plenty of mistakes, talked to the people who were where I wanted to be and went that extra mile, time and time again. And today, as a result, I’m a completely different person than the man who was once on his knees.</p><p id="p-29" data-i18n="5aec535306835.p-29">That phase for me was my personal turning point. I started discovering the purpose&nbsp;behind&nbsp;my life. But it isn’t as easy as so many people think it is. I know many people, in the final chapters of their life, who are still searching. Finding your purpose in life, after all, does seem like something that doesn’t exist. It’s hard to say exactly when and where you may find it. Some go&nbsp;look&nbsp;for it&nbsp;actively,&nbsp;but don’t know where to look. Others find it in the most unusual and unexpected of situations.</p><p id="p-7" data-i18n="5aec535306835.p-7">But one thing I can tell you, it’s not some kind of massive change that will show you your purpose overnight. It is about doing small things right that keep you headed in the right direction. And I hope my blog today will take you a few steps closer to that second most important day of your life.</p><p id="p-8" data-i18n="5aec535306835.p-8"><b>Discovering Your Passion</b></p><p id="p-9" data-i18n="5aec535306835.p-9">This is where it starts. They say that if you do something you love, you won’t have to work a single day in your life. In my case, I let my passions design my career, and I recommend the same for each and every one of you. When I got into real estate, it was because I loved the thrill of the market, its dynamism and my ability to get the right kind of home to the right person.</p><p id="p-10" data-i18n="5aec535306835.p-10">If real estate is your passion too, then don’t let any limitations get in your way. Get out there, work like a madman and make it happen. But before you do that, remember one thing: Your passion can never be limited to you yourself, it has to be bigger than you.</p><p id="p-11" data-i18n="5aec535306835.p-11"><b>Tangible over intangible</b></p><p id="p-12" data-i18n="5aec535306835.p-12">When asked what their purpose is, many people give vague answers. Some say making money, others say happiness. But there is no way any of them would ever give you an exact quantity. You never know how much money you’re going to want, and happiness is even vaguer than that. What you need to do is quantify your goal.</p><p id="p-13" data-i18n="5aec535306835.p-13">For example, ‘I want to read a book’ is a vague goal. I want to read ‘Who moved my cheese’ by the end of the week, is a real one. A goal should be something you can work toward. So, when you get out there to set your goal, choose something that is quantifiable. You need to be able to say to yourself, ‘I made it!” or “missed.” More importantly, choose something that is of value to your community. Don’t make your tangible goal just about yourself. Make it about your loved ones or about your community.</p><p id="p-14" data-i18n="5aec535306835.p-14"><b>Step out of that comfort zone</b></p><p id="p-15" data-i18n="5aec535306835.p-15">I’ll recommend a simple exercise here. Take a notebook and starting from the time you wake up, until the time you hit the bed at night, make a list of all that you did that day. You can even use your laptop if it’s easier.</p><p id="p-16" data-i18n="5aec535306835.p-16">You wake up, get dressed, go to work, eat and sleep. This is your comfort zone and most people are afraid, no, terrified to step out of it. But only when you take a step toward the unknown will you&nbsp;get closer to finding that elusive purpose of your life. I’d recommend that you do as many things as you can.</p><p id="p-17" data-i18n="5aec535306835.p-17">Try something new every day. Meet new people, talk to random strangers, join a club, participate in a sport, and get a hobby. Don’t stop to think about what you’d gain from it or how much money you’d make of it. Because, only when you step out of that comfort zone to try something new will things start happening.</p><p id="p-18" data-i18n="5aec535306835.p-18"><b>Meet people</b></p><p id="p-19" data-i18n="5aec535306835.p-19">Alexandre Dumas Pere once said,&nbsp;“Be nice to people on your way up, because you might meet ‘em on your way down.”&nbsp;I’d add to it by saying that more often than not, it is those people you meet on your way up who get you there in the first place.</p><p id="p-20" data-i18n="5aec535306835.p-20">Networking with a lot of people has many advantages. It helps you to see things from different perspectives than your own. It often leads you to help find your purpose. And when you speak to entrepreneurs, you get plenty of failure stories and some success stories that help you when you chart your own course.</p><p id="p-21" data-i18n="5aec535306835.p-21">For me, talking to people who were where I wanted to be, helped me get there faster. Their experiences guided me to make fewer mistakes because I could learn from theirs. From my personal experience, I recommend that you talk to as many people as you can every day. Talk to people about their past, talk to them about what they’re doing right now and talk to them about where they’re headed.</p><p id="p-22" data-i18n="5aec535306835.p-22">Make it a point to especially talk to the people you admire and ask them about their journeys. You’ll unearth some fascinating lessons. And while some conversations may seem irrelevant to you now, these could come in handy in the future.</p><p id="p-23" data-i18n="5aec535306835.p-23"><b>Finally, get going</b></p><p id="p-24" data-i18n="5aec535306835.p-24">‘Work for a cause, not for applause. Live life to express, not to impress. Don’t strive to make your presence noted. Strive to make your absence felt.’&nbsp;Obviously, many people feel the same way. Hence all the quotes. These words have inspired me on many occasions and they still do.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><p id="p-25" data-i18n="5aec535306835.p-25">No matter where you are, no matter at what point of life you’re in, no matter what you’re doing right now, you have to keep pushing forward. Only when you do that does the bad becomes the bearable, the bearable becomes the good and the good becomes the great. Just get going.</p><p id="p-26" data-i18n="5aec535306835.p-26">You never know where or when lightning will hit. Your focus should be not on achieving fame or money, but on leaving a legacy behind. This way, even when you’re gone, your story is going to live forever. And that is what success is all about.</p><p id="p-27" data-i18n="5aec535306835.p-27">The purpose of your life is your most important discovery. In the end, I was fortunate to have found what meant the most to me. Today, every morning, when I wake up, I’m full of energy and willing to take on the challenges that life plans to send my way. In fact, I’m excited and supercharged about the opportunities that’ll come my way.</p><p id="p-28" data-i18n="5aec535306835.p-28">I know the reasons behind why I do what I do. If you too have found your purpose, you’re really one of the lucky ones. And if you haven’t, then get started today. Discover your passions, get out of your comfort zone, meet people and follow your heart. The answers are inside you, and all you need to do is get them out.</p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aec535306835.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/dont-buy-a-home/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>