<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5ba7ba3577696.h2-1"><span style="font-size:0.7em">3 Traits That Scream, “You’re Not Cut Out to Be a Real Estate Investor”</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Y6Q-oBEYbus" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5ba7ba3577696.p-1">Look, when you’ve been in the industry for as long as I have, you network with a lot of people and do a lot of deals—and then you get screwed. When you get screwed, you quickly realize who is screwing you and what traits they have.</p><p id="p-2" data-i18n="5ba7ba3577696.p-2">There are hundreds of traits that may be indicators of this, but I’ve selected three that I am going to touch on today.</p><p id="p-3" data-i18n="5ba7ba3577696.p-3"><b>1. Wrong Expectations</b></p><p id="p-4" data-i18n="5ba7ba3577696.p-4">The first trait is having the wrong expectations. If you fall prey to this, you’re probably going to fail. These people are often brainwashed by what they’ve seen online, heard in a seminar etc. Or they’ve listened to a guru in a podcast and think that real estate is going to be very easy, that they just have to show up and everything will be delivered to them on a silver platter.</p><p id="p-6" data-i18n="5ba7ba3577696.p-6">Guys, that is very wrong. You have to work hard, and you have to prepare for the worst and hope for the best. I can tell you right now that the worst is going to happen, and it’s going to be very hard and a lot of people cannot recover from that. So my message to you is lower your expectations. It’s going to take you a long time to get you where you need to be. There is no quick way to succeed overnight. A lot of people try and cut corners, but they make mistakes and get into a lot of trouble. So definitely don’t be one of those investors.</p><p id="p-7" data-i18n="5ba7ba3577696.p-7"><b>2. Blaming Others</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5ba7ba3577696.image-1"><img src="https://ohiocashflow.com/files/landlord_mistake_rent_evictions.jpg" data-location="local"></div><p id="p-8" data-i18n="5ba7ba3577696.p-8">The second trait is they are quick to blame others for their shortfalls. This is something that is absolutely mesmerizing to me. Look, to be honest, I kind of did this when I started, but then I realized I’m the master of my fate and the captain of my soul. I realized I could control my own destiny, so I took responsibility and began to keep myself accountable. If you’re in the mindset of pointing fingers and blaming others, you’re not going to get anything from it. You may get some type of weird self-satisfaction, but that won’t solve the problem. The problem is still going to be there.</p><p id="p-9" data-i18n="5ba7ba3577696.p-9">All of the world-renowned entrepreneurs and business owners take full responsibility. Something that I remember hearing is when Oprah Winfrey blamed herself for her luggage not arriving at the destination she was traveling to. How extreme is that? She said something along the lines of, “I should have sent my luggage two days prior to my flight so it could wait for me until I got there.” In my opinion, that is the mindset that you must have. Forget about blaming others.</p><p id="p-10" data-i18n="5ba7ba3577696.p-10"><b>3. Laziness</b></p><p id="p-11" data-i18n="5ba7ba3577696.p-11">The third trait is laziness. There are so many lazy people out there. I like to call them “Johnny Talkers.” Something I like to say is, “Be a Johnny Walker and make it blue with two ice cubes.” Not sure if there are any scotch drinkers out there, but Johnny Walker Blue Label is a pretty expensive scotch. Guys, nothing comes without hard work. I have come across investors, employees, and numerous other individuals who are all talk. But when it comes down to setting your alarm at 5:00 a.m. and getting up, no one is willing to put in the effort.</p><p id="p-12" data-i18n="5ba7ba3577696.p-12">You’re looking at someone with no formal education. I can’t type, I can’t read, my grammar sucks, and my math skills are poor, but I work hard. You don’t need any talent. You just need to get up, show up, and put in the effort. Work your butt off every single day—just don’t be lazy. Don’t talk the talk; do what you say you’re going to do. What’s going to happen is you’re going to make mistakes but learn from those mistakes. Pick yourself back up and keep moving forward. It’s not going to happen overnight. I’ve been doing deals in the U.S. for six years now, and I’ve done some amazing business, I’ve ran various companies, and I’ve achieved tremendous success. I have also lost a fortune, but I make more than what I lose. And one thing that I am never going to stop doing is working hard.</p><hr id="hr-2"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5ba7ba3577696.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>