<div id="block-3" class="block row" data-nested="not-nested" paddingtop="60" data-containerid="" data-containercssclass="" style="padding-top: 60px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="584db9a35b594.h2-1"><span style="font-size:0.7em">3 Tips for Identifying a Good Long-Term Tenant</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="584db9a35b594.image-1"><a href="https://thinkrealty.com/3-tips-identifying-good-long-term-tenant/" target="_blank"><img src="http://app.tendesign.us/sites/ohio-cashflow/files/iStock_83685869_SMALL-768x513.jpg" data-location="local"></a></div><respond-html id="html-1" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><p id="p-1" data-i18n="584db9a35b594.p-1">Anyone who’s been a landlord for any amount of time knows how essential it is to put the right person in your rental. Sure, it’s important to get somebody into your property so you can start generating rent. But if you don’t choose carefully, you could end up with someone who is habitually late on paying – if they pay at all! – or someone who causes major damage to your property or otherwise ends up costing you money.</p><p id="p-2" data-i18n="584db9a35b594.p-2">At my company, Ohio Cashflow, there are three things we generally look for before we approve anyone for a particular rental property.</p><p id="p-15" class="text-center" data-i18n="584db9a35b594.p-15"><a href="https://thinkrealty.com/3-tips-identifying-good-long-term-tenant/" class="btn-white" target="_blank">READ FULL ARTICLE</a></p></div></div><div backgroundimage="files/bgbottom-rv3.jpg" backgroundstyle="cover"  class="container" style="background-image: url(http://app.tendesign.us/sites/ohio-cashflow/files/bgbottom-rv3.jpg); background-size: cover; background-position: center center;"><div id="block-4" class="block row" data-nested="nested" backgroundimage="files/bgbottom-rv3.jpg" backgroundstyle="cover" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-12"><div id="block-7" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12 calltoaction"><h2 id="h2-4" class="text-center" data-i18n="581fe74f5a179.h2-4">This Is Not For Everyone...</h2><p id="p-14" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-14" style="text-shadow: 2px 3px 3px #FFF;">Turnkey investment only works when trust and a relationship can be established between the investor and the turnkey company.</p><p id="p-15" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-15" style="text-shadow: 2px 3px 3px #FFF;">At&nbsp;<b>Ohio Cashflow</b>, we only work with people who share our core values of&nbsp;<b>loyalty, honesty, no greed, and respect</b>.</p><p id="p-17" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-17" style="text-shadow: 2px 3px 3px #FFF;">If you feel you have what it takes, fill out our&nbsp;<b>investor application form</b>. Or, if you want to learn more on turnkey investing and how you can turn your life around, feel free to download our free e-book.</p><respond-html id="html-1" description="cta-buttons">            <p id="p-19" class="text-center btn-container" data-i18n="581fe74f5a179.p-19">
                <a href="investor-application-form" class="btn-blue" target="" title="Investor Application Form" textcolor="" style="color: ;">YES, I WANT TO APPLY</a>&nbsp;&nbsp;
                <button type="button" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</button>
            </p>
        </respond-html></div></div><div id="ebook" class="block row modal modal-fullscreen fade" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12"><respond-html id="html-2" description="close-button">            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </respond-html><div id="block-3" class="block row" data-nested="not-nested" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-7"><h3 id="h3-1" class="text-center" data-i18n="5846eae91e58c.h3-1">A must read for turnkey property investors locally in the US and worldwide.&nbsp;</h3><p id="p-2" class="text-center" textcolor="#cc0000" data-i18n="5846eae91e58c.p-2" style="color: #cc0000;"><b>IMPORTANT! - PLEASE READ</b>
        </p><p id="p-1" data-i18n="5846eae91e58c.p-1">This book takes a look at some of the little-known nuances that an investor will have to negotiate when purchasing an investment property in the U.S. We elaborate on issues that are small, yet far different than buying properties in Australia and around the world. We also discuss items of far greater importance that could cause an out of state or country investor financial harm if they were caught unaware of the U.S laws and customs.</p><h3 id="h3-2" class="text-center app-header" data-i18n="5846eae91e58c.h3-2"><i class="fa fa-arrow-circle-right">&nbsp;&nbsp;</i>Claim your free e-book&nbsp;<i class="fa fa-arrow-circle-left">&nbsp;</i><br><i>on turnkey property investment.</i></h3><hr id="hr-1"><respond-html id="html-1" description="HTML">            <iframe class="podio-webform-frame" id="podioWebForm1172774859740" height="550" style="width: 100%; border: none; overflow: scroll !important; height: 370px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17440014/1172774?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Febook"></iframe>
        </respond-html></div><div  class="col col-md-5"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5846eae91e58c.image-1"><img src="http://app.tendesign.us/sites/ohio-cashflow/files/ebook-dingo.png" data-location="local"></div></div></div></div></div></div></div></div>