<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5935689367c63.h2-1"><span style="font-size:0.7em">4 Tough Situations That Can Make Real Estate Investing Painfully Hard</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/ZA5ZxJEFIj4" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5935689367c63.p-1">Today, I’m talking about the four reasons why investing in real estate can really suck at times. This is an article&nbsp;for all of you beginning real estate investors out there. Maybe you don’t quite know what’s in store for you yet.</p><p id="p-2" data-i18n="5935689367c63.p-2">Real estate consists of a cycle. Now, I’m not going to be talking about market cycles here; I’m going to be talking about a different type of cycle that I have personally witnessed over the last five years of my real estate endeavors. So, let me tell you the four reasons why real estate investing can really suck.</p><p id="p-3" data-i18n="5935689367c63.p-3"><b>1. When You Have Money But No Deals</b></p><p id="p-4" data-i18n="5935689367c63.p-4">The first reason is, you have the money but you do not have the deals. This happens quite often, especially for&nbsp;beginners, where you work hard for three or four years, you save your cash, and you’ve got a ton of cash in your account. Or you’ve borrowed money from your family and friends to start your journey as a real estate investor, but you just can’t find the deals.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5935689367c63.image-1"><img src="https://ohiocashflow.com/files/tough-situations.jpg" data-location="local"></div><p id="p-6" data-i18n="5935689367c63.p-6"><b>2. When You Have Deals But No Money</b></p><p id="p-7" data-i18n="5935689367c63.p-7">Maybe you’ve gone out, you’ve hustled, you’ve spoken to grandma at Walmart and she wants to sell her house, you’re going to make a $50,000 profit, but you can’t find the money to buy that deal. No one trusts you, you’re still very new, and no hard money lenders will give it to you. And your family and friends are broke, so they’ve got no money.</p><p id="p-8" data-i18n="5935689367c63.p-8"><b>3. When You Have No Buyer</b></p><p id="p-9" data-i18n="5935689367c63.p-9">The third one is you’ve got the finished product, meaning you’ve bought the house, you’ve renovated it, and you try to sell it, but you do not have a buyer. If you take anything away from this blog post, take away this&nbsp;statement: He who has the gold makes the rules, and the gold in this business is&nbsp;qualified cash buyers. Whether&nbsp;you’re selling an investment property or selling a property to a homeowner, whoever has the gold makes the rules, and the buyers are the gold.</p><p id="p-10" data-i18n="5935689367c63.p-10"><b>4. When You Have Money, Deals, and Buyers But No Operations in Place</b></p><p id="p-12" data-i18n="5935689367c63.p-12">This is a situation where&nbsp;you don’t have enough people on board to support the demand that you are getting from buying properties, selling properties, and renovating them. You don’t have contractors, you don’t have admin, you don’t have systems and procedures in place, and you don’t have property management. These are the operations that tie&nbsp;it all together that you really need to have in place.&nbsp;</p><p id="p-13" data-i18n="5935689367c63.p-13">I have been through every single one of these situations&nbsp;over the last five years. I can tell you with full confidence that once you hit on all four of those cylinders, it&nbsp;will start a&nbsp;snowball effect. Once you have all the elements you might be initially missing, your business will start&nbsp;flowing&nbsp;and making money. You’ll be spitting out deals&nbsp;and making real profit. If you have aspirations of doing 5-10 deals per month just like I am right now, you’ll need to focus on these areas.</p><p id="p-14" data-i18n="5935689367c63.p-14">So, be prepared to hit every single one of those cycles throughout your real estate endeavors. And I guess the best suggestion that I have is if you want to weather the storm and if you really want to get to 5-10 deals per month, hustle hard. I’ve achieved the success that I have today by simply working hard&nbsp;every single day. You’ll need to commit&nbsp;to those numbers, the emails, the phone calls, the meetings, submitting offers, buying properties, failing, losing money, picking yourself&nbsp;back up, and pushing forward again.&nbsp;That’s what it really comes down to. Ultimately, if you work hard enough, you will figure out ways to get the money, get the deals, get the buyers, and&nbsp;find the right people who&nbsp;can support your ventures.&nbsp;</p><p id="p-11" data-i18n="5935689367c63.p-11"><i>Have you been in (or are you currently in) any of the above situations?&nbsp;</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5935689367c63.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>