<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a26e16023c1a.h2-1"><span style="font-size:0.7em">3 Steps to Choosing Quality Tenants for Your Rentals</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/lLRFRTaAjuI" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a26e16023c1a.p-1">Before we get into the secret hot-sauce tip for picking good tenants, I just want to cover these three basic ways to evaluate if a tenant is going to be a good fit for your property. Before we get into this, you have to get rid of the mindset that all tenants are bad. I mean, these folks are ultimately your business partners.</p><p id="p-2" data-i18n="5a26e16023c1a.p-2">They put money in your pocket every single month. So treat them with respect. Send them the gift card or gift basket. Wish them a Merry Christmas (and so on). Do you get my drift? You have to do it. You have to try to treat these people with respect.</p><p id="p-3" data-i18n="5a26e16023c1a.p-3">Ultimately, they are going to be the ones allowing you to live the lifestyle that you desire.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a26e16023c1a.image-1"><img src="https://ohiocashflow.com/files/peoplelineup-702x336.jpg" data-location="local"></div><p id="p-4" data-i18n="5a26e16023c1a.p-4"><b>1. Income Verification</b></p><p id="p-6" data-i18n="5a26e16023c1a.p-6">Ok, let’s get into it. The first thing you need to do when screening potential tenants is check their income. This is also known as an income verification. The tenant needs to be earning at least three times the monthly rent—that’s kind of a guideline my property management company and I like to follow.</p><p id="p-7" data-i18n="5a26e16023c1a.p-7">To make things very simple for you, if the rent is $1,000 per month, your tenants’ combined income (whether they’re husband and wife or their pets have a job or whatever) should be $3,000 per month. That should be the absolute minimum: $1,000 in rent, they should be bringing home $3,000 net. What we&nbsp;really&nbsp;like to see though, is tenants bringing in $3,000 net even&nbsp;if the rent is less than $1,000. It’s just nice to have a little bit of an additional cushion there.</p><p id="p-8" data-i18n="5a26e16023c1a.p-8">Now what’s really mesmerizing, and I just want to touch on this, is I just came back from Korea and Japan, and over there the rent that folks pay is only a quarter of their monthly income. That’s why there are zero evictions in Korea and Japan.</p><p id="p-9" data-i18n="5a26e16023c1a.p-9"><b>2. Background Check</b></p><p id="p-10" data-i18n="5a26e16023c1a.p-10">Anyway, the second thing that you need to do is a background check. You need to make sure that these folks don’t have a criminal background. Unfortunately, even though what happened in the past is not necessarily an indication of what’s going to happen in the future (because people change and people make mistakes) it’s still a pretty good indication of what someone’s personality is like, or what their character may be like. So you need to do a background check.</p><p id="p-11" data-i18n="5a26e16023c1a.p-11">Dealing with Background Check Results</p><p id="p-12" data-i18n="5a26e16023c1a.p-12">You definitely don’t want to put someone in your property who has a severe criminal background with multiple felonies. Now, if its a 15–20-year-old felony, I would maybe try to turn a blind eye or work out a deal. Maybe ask the tenant to put down three months rent in advance, or pay an additional deposit. Ultimately, try to figure out a way that you can proactively protect yourself by getting additional funds in advance.</p><p id="p-13" data-i18n="5a26e16023c1a.p-13">I remember renting to a few tenants with criminal backgrounds. In those cases, we were able to get six months rent in advance. I’ll take that deal every single day of the week, because the simple fact that someone can save six months (or even a year) of rent in advance speaks volumes to me.</p><p id="p-14" data-i18n="5a26e16023c1a.p-14"><b>3. Eviction History</b></p><p id="p-15" data-i18n="5a26e16023c1a.p-15">The third thing to check is eviction history. This is an automatic no fail. If you’ve been evicted once, you’re done. I don’t want to rent my property to you.</p><p id="p-16" data-i18n="5a26e16023c1a.p-16">Food and shelter are the two most important things to humanity. I was broke once upon a time. I was starving. But I couldn’t eat because I had scraped every single dollar together to afford the roof over my head. So if a tenant got evicted once upon a time, in my opinion, they weren’t just disrespecting the landlord, they were disrespecting themselves. This is something we tell all of our tenants. So, in my opinion, anyone who has an eviction on his or her record—and I don’t care if it’s 257 years old—they are automatically disqualified.</p><p id="p-17" data-i18n="5a26e16023c1a.p-17">However, if they tell me there was a miscommunication with the court, that they actually paid out the remainder of the lease and vacated the property but somehow the court accidentally still filed the eviction, I try to confirm that with the landlord. I know that sounds a little suspect, but we have rented to people who have had evictions on their record. They sold us on a good story that made sense. In those cases, believe it or not, it actually worked out. Those tenants stayed and paid for quite a long time. So keep in mind it’s possible for there to be inconsistencies with the filings when it comes to the justice system. Just make sure that what the tenant is telling you is accurate.</p><p id="p-18" data-i18n="5a26e16023c1a.p-18"><b>The Secret Sauce</b></p><p id="p-19" data-i18n="5a26e16023c1a.p-19">Last but not least is Dingo’s hot sauce. I want you to evaluate someone’s character. I’m not sure the legality on this, but we’ll talk about legals in another blog post. If someone complains about a light bulb in one of your rentals that was recently renovated, they need to move to Beverly Hills. By all means, try and live in the Taj Mahal. I’m telling you guys, tenants like these are a recipe for disaster. You are going to get a lot of miscellaneous little complaints. These people are going to nag on your life and on your soul. You don’t want that. Trust me.</p><p id="p-20" data-i18n="5a26e16023c1a.p-20">It doesn’t matter how much money they make. It doesn’t matter how much of a deposit they’re willing to put down. I don’t care if they are willing to pay rent 17 years in advance. You’ll never hear the end of these miscellaneous “problems” that are nonexistent. When someone is not happy with themselves from within, they won’t be happy with anything or anyone else. I promise you that.</p><p id="p-21" data-i18n="5a26e16023c1a.p-21">Guys, that pretty much concludes my post for today. I hope you enjoyed it.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a26e16023c1a.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>