<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5894bb886b5ae.h2-1"><span style="font-size:0.7em">3 Simple Steps to Be Taken Seriously in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/zSC2sARQC5M" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="5894bb886b5ae.p-1">Do you feel that despite all your efforts, you are still having a hard time getting people to take you seriously and recognize your work? Let me provide you with few simple steps I’ve had to take in the path to my success. I promise you if you follow them, you won’t be disappointed when your business is flourishing.</p><h3 id="h3-1" data-i18n="5894bb886b5ae.h3-1">3 Simple Steps to Be Taken Seriously in Real Estate</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5894bb886b5ae.image-1"><img src="https://ohiocashflow.com/files/be-taken-seriously.jpg" data-location="local"></div><hr id="hr-1"><p id="p-4" data-i18n="5894bb886b5ae.p-4"><b>Step #1: Be consistent.</b></p><p id="p-3" data-i18n="5894bb886b5ae.p-3">Prove to those around you that you are an expert at whatever it is you’re doing. Be consistent in everything you do every day, every month, and every year. The people who&nbsp;will be investing in your future will be looking for a track record of success. Don’t just expect the people you do business with to trust you “out of the blue.” Record what you are doing and prove it to them.</p><p id="p-2" data-i18n="5894bb886b5ae.p-2"><b>Step #2: Ignore the noise.</b></p><p id="p-6" data-i18n="5894bb886b5ae.p-6">Pay no attention to the outsiders trying to tear down what you are building. There are two ways to have the tallest building in town. The first is to build it, and the second is to knock everyone else’s down. The world is out there to knock your building over. Ignore the people seeking our or wishing your failure. Focus on you and your business and let your actions speak louder than your words.</p><p id="p-7" data-i18n="5894bb886b5ae.p-7"><b>Step #3: Prove them wrong.</b></p><p id="p-8" data-i18n="5894bb886b5ae.p-8">Always do the right thing for your business, your investors, and your customers. The more value you give to others, the more value you will receive back from them. The longer you are in business, the longer you will build a track record that offers true value. This simple approach will silence those who said you couldn’t do it.
            </p><p id="p-9" data-i18n="5894bb886b5ae.p-9">My whole life, people were telling me I couldn’t do it. They told me I could never be a professional soccer player. I proved them wrong, and at age 18, I played pro soccer in Hong Kong. They told me that because I was a high school dropout with no formal education that I would never succeed in business. Now I have a multi-million dollar company. I certainly proved them wrong — and you can do the same in your business.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5894bb886b5ae.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>