<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59511264e3627.h2-1"><span style="font-size:0.7em">The Top 3 People Most Likely to Rip You Off in Real Estate Investing</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/sRCANv1rZoc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="59511264e3627.p-1">Today we’re talking about the top three people who might&nbsp;rip you off the most when you invest in real estate.</p><p id="p-2" data-i18n="59511264e3627.p-2"><b>1. Contractors</b></p><p id="p-3" data-i18n="59511264e3627.p-3">In my opinion, the biggest ripoff is contractors. I mean, these guys can be absolutely ridiculous sometimes, and I’m sure that most you investors out there will agree with me. They will sometimes&nbsp;lie, cheat, and&nbsp;steal. I’ve literally lost over $300,000 over the last five years to contractors. It is ridiculous. And a lot of you out there probably won’t be willing to admit that you’ve lost money to contractors. Well, whatever. I’m here today telling you that I do 10 deals per month, and to this day I lose money to shady contractors.</p><p id="p-4" data-i18n="59511264e3627.p-4">Now, how I’ve minimized my losses is I’ve hired project managers and I’ve incentivized those project managers to make sure that they come in on budget. I ensure they&nbsp;get the flip or the rehab done as quickly soon as possible. Then they make a certain percentage from every sale that we make. And as you can imagine, this pretty much keeps costs low, keeps timeframes short, and makes sure they are incentivized to&nbsp;make money on every property we flip. So, that is how I go about minimizing my losses and dealing with contractors directly on a one-on-one basis where I’ve got those project managers dealing with the contractors.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59511264e3627.image-1"><img src="https://ohiocashflow.com/files/ripoff.jpg" data-location="local"></div><p id="p-6" data-i18n="59511264e3627.p-6"><b>2. Accountants and Attorneys</b></p><p id="p-7" data-i18n="59511264e3627.p-7">The second one is accountants and attorneys. Honestly, I can’t tell you how much ridiculous money I have spent on legal fees and accounting fees to folks who&nbsp;pretty much check their watch every single time I send them an email. The only thing I can tell you is thisL Try and build a very strong relationship with a&nbsp;trustworthy accountant and attorney.</p><p id="p-8" data-i18n="59511264e3627.p-8">Still, when you are just starting your business, meaning you don’t have that much money available or you don’t have that much net wealth, it’s my opinion that you really don’t have anything to lose. So why would you spend tens of thousands of dollars on legal and accounting fees? You should spend that money on doing deals, on buying and rehabbing a house, on investing in marketing, on investing in branding yourself, whatever it may be. There is no need at that point to&nbsp;spend money on legal and accounting expenses.</p><p id="p-9" data-i18n="59511264e3627.p-9"><b>3. Appraisers and Building Inspectors</b></p><p id="p-10" data-i18n="59511264e3627.p-10">And the last, but not least is appraisers and building inspectors. Why? Because appraisers these days are more worried about job security than they are about giving fair value on a property. The undervalue every property by $10-$15,000 because they don’t want Fannie Mae knocking on their door if that homeowner goes into foreclosure. What happens if that homeowner goes into foreclosure, then whoever appraised the property their profile gets looked into? So many of these guys are more worried about that happening, and they undervalue the price of every property instead of giving fair value.</p><p id="p-12" data-i18n="59511264e3627.p-12">As for building inspectors, these guys are paid to find faults. Even if you build a house from scratch, they’re still going to find some faults and there is nothing you can do about it. So guys, I’ve got no tips for you there except to sell on your terms. If you can’t beat it, you have to eliminate it. This is something that I’ve done with my company. If you don’t trust me, don’t invest with me. If you don’t trust the price that I’m presenting the property to you for, don’t buy it. Someone else will or I’ll keep it. If you don’t trust the quality of workmanship that I’ve done on a property, don’t buy the property. There is nothing I can do about that. Because I know what’s going to happen—the appraisals won’t come in and the building inspectors will find faults, even though those faults have nothing to do with the sustainability and how self-sufficient this property is going to be for the long term.</p><p id="p-11" data-i18n="59511264e3627.p-11"><i>What do you think of this list?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59511264e3627.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>