<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a85b48d4e88f.h2-1"><span style="font-size:0.7em">Everyone’s Talking About Cryptocurrencies. Should You Invest?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/bIzzr_AzQGE" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a85b48d4e88f.p-1">Absolutely everyone is talking about bitcoin, ethereum, ripple, and any other cryptocurrency. So I thought, hey, I might as well share my zero point two Australian cents with you guys.</p><p id="p-2" data-i18n="5a85b48d4e88f.p-2">It’s still very early on with this technology. A lot of people have no clue what they are doing, me included. I don’t really know what I am doing, but I have invested. I have invested for the reason that I want to learn what all of this is about. Plus, I have a big intuition telling me this is the wave of the future. This is the second internet, right? So I want to be a part of it. I want to be a part of it at ground level because I want to learn.</p><p id="p-3" data-i18n="5a85b48d4e88f.p-3"><b>Which Cryptocurrencies Are Best for Investment?</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a85b48d4e88f.image-1"><img src="https://ohiocashflow.com/files/landlord-lessons.jpg" data-location="local"></div><p id="p-4" data-i18n="5a85b48d4e88f.p-4">I have invested quite a bit of money but have not touched the likes of bitcoin. Every John and his dog is investing in bitcoin, and I’m a black sheep. I don’t want to be like everyone else. After doing a lot of research and speaking to a lot of other successful entrepreneurs and business partners, I’ve heard that bitcoin is not a technology that has been built as well as some of the others.</p><p id="p-6" data-i18n="5a85b48d4e88f.p-6">For example, ethereum has been built in a much better way than Bitcoin has. What’s so cool about ethereum is other cryptos can build their own blockchain or expand on ethereum’s blockchain to start their own cryptocurrency. So think of it as an app store. Other companies can go in there, build their own apps, and make money from those apps that they build. Ethereum is a really popular one right now. Another one that is really big is ripple. I’m not a big fan of ripple just because the founders of it have created huge wealth for themselves from launching this cryptocurrency, and I just don’t agree with their philosophy.</p><p id="p-7" data-i18n="5a85b48d4e88f.p-7">So I have invested in a few not-so-hot cryptocurrencies based on the advice that I have received from a lot of my colleagues. The tech behind these particular blockchains is awesome, and the team behind these particular blockchains is even better. Their vision for the future just makes a lot of sense to me. So I thought I would put some money in to test it out, get my feet wet, and learn the process.</p><p id="p-8" data-i18n="5a85b48d4e88f.p-8"><b>Proceed With Caution</b></p><p id="p-9" data-i18n="5a85b48d4e88f.p-9">My advice to you is don’t go all in. Don’t sell your house to invest in bitcoin, ethereum, ripple, and all these other cryptocurrencies. If you are going to invest, invest small and learn what the hell it is that they are doing. I truly believe we are at the beginning of something great. But I also believe that there is going to be a huge crash somehow. Maybe there will be only a few survivors like in the dot-com boom. Will that be bitcoin, ethereum, ripple, or stellar lumens? I don’t know. I do believe someone will survive and they will thrive.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a85b48d4e88f.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>