<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a9d4fb77b900.h2-1"><span style="font-size:0.7em">You Should Never Sell Off You Real Estate Portfolio, Unless…</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/2JyJaJbg5O" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a9d4fb77b900.p-1">Today, I’m talking to you guys about joint ventures. Should you do one? Or should you not?</p><p id="p-2" data-i18n="5a9d4fb77b900.p-2">Ok, before I get started, I want to talk about something. A lot of you folks have been giving me a hard time saying, “Hey, check this guy out. He’s very black and white. He’s not flexible; he’s not open to opinions.” By all means, I’m very open to opinions. But sometimes the way I express things can come across in a very harsh or cutthroat way. I’m sorry, it’s just my style. It’s the way I roll. Nothing personal. I’m just always excited to share my perceptions, opinions, and experiences with you guys. You can take it or leave it, and that’s just the way it is. Once again, I mean no harm.</p><p id="p-3" data-i18n="5a9d4fb77b900.p-3"><b>About Joint Ventures</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a9d4fb77b900.image-1"><img src="https://ohiocashflow.com/files/partner-multifamily-deal.jpg" data-location="local"></div><p id="p-4" data-i18n="5a9d4fb77b900.p-4">So, this is another one of those blog posts that is very black and white. Joint ventures: No; you should never, ever, ever do a joint venture. Let me tell you why. Never forget what I am about to tell you: You cannot have two cooks in a kitchen. Impossible. It’s just not going to work. The same goes in real estate. I just don’t believe in joint ventures. I’ve done them in the past, some of them were successful, some of them were not. The majority of them weren’t, and the way I particularly operate as an alpha-type character, I like to control everything. I want to call all of the shots. I just want my partner to shut up, do nothing, and let me do all the work. I’ll make them the money.</p><p id="p-7" data-i18n="5a9d4fb77b900.p-7">There is one way to successfully structure a joint venture. Someone can come to the party (or the table) with the capital. They’re going to give you the money, and then they’re going to get out of your business. You can’t expect anything else from them. You have to take that money and with your experience and knowledge, you have to use that money to make a great return on investment. Whatever the split is going to be is entirely up to you and your partner to negotiate. Sometimes, it’s a&nbsp;hard money loan, so it’s a different type of arrangement. Other times, it’s a partnership where it’s a 50/50 split. That is entirely up to you guys.</p><p id="p-8" data-i18n="5a9d4fb77b900.p-8">I truly believe one party should be passive. So give me the money and let me do my thing: Find the deal, negotiate it, buy it, close on it, renovate it, project manage it, sell it, and make sure I’m part of the entire closing transaction. Then when the funds are available, after the title company has dispersed them, divvy up those profits.</p><p id="p-9" data-i18n="5a9d4fb77b900.p-9">In my opinion, that’s the only way you can successfully structure a joint venture. I have seen it way too many times—joint ventures turning sour because, once again, you cannot have two cooks in the kitchen. Every cook has his or her own way of cooking, and that is the same in real estate. If one person wants to do something a certain way and the other doesn’t like that idea, it won’t work. You’re going to have issues there.</p><p id="p-10" data-i18n="5a9d4fb77b900.p-10">Time is money. If you spend too much time on miscellaneous things, you’re not going to get the job done.</p><p id="p-11" data-i18n="5a9d4fb77b900.p-11"><b>The Bottom Line</b></p><p id="p-12" data-i18n="5a9d4fb77b900.p-12">So that is my opinion. I’m not sure if any of you are doing joint ventures out there. I suggest you don’t. I suggest you start slowly, doing things on your own. Then what’s going to happen is, over time, once you can prove your success, and once you start doing a lot of deals consistently, there will be a lot of people who like who you are. They will like what you’re doing. And they’ll be able to see the trend in the deal flow, so they will throw money at you. I don’t want to blow wind up my butt here, but I’ve got so many people throwing money at me every single day, it is mind-boggling. My terms are very strict. Sure, I’ll take on the investment, but get the hell out of my way.</p><p id="p-13" data-i18n="5a9d4fb77b900.p-13">There you go. It’s black and white for me like every other blog post.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a9d4fb77b900.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>