<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5ba7b7d882786.h2-1"><span style="font-size:0.7em">How to Best Prepare for a Tenant Trashing Your Property</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/9B7cK32-Jzg" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5ba7b7d882786.p-1">Real estate is not fairytales and butterflies like it’s portrayed by gurus and seminars. Look, eventually your property is going to get trashed, and it’s going to need a lot of repairs. It happens. That is real estate. Real estate is hard work, and it’s a rollercoaster ride. So, if you can acknowledge and accept that today before you start your journey, you’re going to be much better off when it actually does happen.</p><p id="p-2" data-i18n="5ba7b7d882786.p-2"><b>When a Tenant Causes Damage</b></p><p id="p-3" data-i18n="5ba7b7d882786.p-3">For those of you who don’t know, I’ve run a turnkey company for about six years. We work with a variety of investors, and one thing that we’re picky about is we don’t accept anyone looking to finance properties. It has to be a strict cash purchase. Recently, one of our investors bought a property from us for cash, then refinanced it without us knowing and pulled out a lot of money.&nbsp;On paper, based off of our property management and what we can see, the rate of return was over 10 percent year after year. Then a tenant in one of his properties caused a lot of damage.</p><p id="p-4" data-i18n="5ba7b7d882786.p-4">This has only happened to me a handful of times in the last six years or so, but once again, it does happen. Then the investor got upset with us because we did not walk through the property every day to see what was going on. I hope you can sense the sarcasm. After that, they told us that they refinanced the property, had debt on it, and didn’t make money for two years because of the needed repairs. Of course, what an investor does when it comes to refinancing is out of our control. But what I do want to tell you is that if you expect those kinds of things, it’s not going to hit you as hard as it would if you believe your entire real estate journey is going to be fairytales and butterflies.</p><p id="p-6" data-i18n="5ba7b7d882786.p-6"><b>Prepare for the Worst, Hope for the Best</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5ba7b7d882786.image-1"><img src="https://ohiocashflow.com/files/hoarder-house.jpg" data-location="local"></div><p id="p-7" data-i18n="5ba7b7d882786.p-7">Let me give you a hypothetical situation of what my beliefs are when it comes to investing in real estate. You have to prepare for the worst and hope for the best. What that means is if you are building a real estate portfolio, you should build that portfolio with cash-only properties. Do that for as long as you can, until you start getting a certain amount of real estate in your portfolio. Let me point out that we are talking about the Midwest here. I believe that investors should buy the first three to five properties with cash—meaning that they should have no loans and control those assets outright. Then, if you want to start leveraging, you can start looking at that for the last three, four, or five properties. I think investors who have 10 properties in their portfolio in the Midwest where the cashflow is good usually have a nice passive income before they get out of bed.</p><p id="p-8" data-i18n="5ba7b7d882786.p-8">Investors should build their portfolio this way because there are going to be times when three of your properties become vacant and one of your properties gets trashed. Now, if you have a mortgage or mortgages on all of those properties, you could be in a lot of trouble. Why? Because you’re going to get hit with a $10,000 to $20,000 repair bill to get the property back to working order, and you’re going to have another three properties that are going to be vacant that will cost you money every single month. Now, in the Midwest, it gets pretty cold, so what happens if in the middle of winter you can’t get a property tenanted for a couple of months? Then you’re going to have to work overtime to cover the expenses on all those mortgages. It’s not going to be fun, and it will probably turn you off so much that you will not want to invest in real estate because the reason you started your journey was financial freedom and passive income. You didn’t want a headache or a hassle and definitely didn’t want to lose money every month because your portfolio has turned to crap.</p><p id="p-10" data-i18n="5ba7b7d882786.p-10">It does happens, and it likely will happen to you. You have to prepare for the worst and hope for the best. You also have to understand that one day in the future, out of all 10 of your properties, three will become vacant and one tenant will trash your property in the heart of winter, and you won’t be able to get it tenanted. So, if you understand these things and prepare for them, you’ll be better off. Yes, it’s going to take longer to build that portfolio up, but in my opinion, it’s going to be more sustainable and self-sufficient for the long haul and will give you true financial freedom.</p><p id="p-11" data-i18n="5ba7b7d882786.p-11">Another thing I want to mention , a tenant trashing your property is safety comes in numbers. You cannot expect a lot from owning one or two properties unless it’s a multifamily complex or commercial building on Fifth Avenue. You need to have a volume-type mindset, with a goal to accumulate 10, 15, or 20 single family homes. Hopefully, the majority of them are cash-owned properties. Then, if something happens with three to five of them, you can still have the cash properties that are cash flowing and producing income to cover any shortfall on the rest of your properties.</p><p id="p-12" data-i18n="5ba7b7d882786.p-12">Take it or leave it. Those are my beliefs. That, in my opinion, is how you can prepare and set the tone in your mind from the start of when a tenant trashes your property. This is more from an investor mindset perspective so you can prepare you and your portfolio for whatever happens when it does happen.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5ba7b7d882786.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>