<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="58c1ba7f0db5a.h2-1"><span style="font-size:0.7em">Success Without Fulfillment is the Ultimate Failure: Why Giving Back is Vital to Good Business</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Sb1tKTUA96s" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="58c1ba7f0db5a.p-1">The topic I’m going to discuss today is something very close to my heart. One of the most valuable lessons I learned in life that has been proved over and over again is that the more you give, the more you get. This concept has mesmerized me, and I’ve carried it with me over the last five years as I grow my business. Because my business has reached a certain level of success, I decided this year was the time to start giving back.</p><p id="p-10" data-i18n="58c1ba7f0db5a.p-10">Over the past Christmas holiday, my team and I gave away a house to a family in need. Unfortunately, I made the mistake of committing myself (right in front of the television cameras) to giving away a hundred houses over the next ten years. I have no idea how I am going to do this, but I think you all know me well enough now to know that I’ll find a way to make it happen.</p><h3 id="h3-1" data-i18n="58c1ba7f0db5a.h3-1">Success Without Fulfillment is the Ultimate Failure</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="58c1ba7f0db5a.image-1"><img src="https://ohiocashflow.com/files/find-purpose.jpg" data-location="local"></div><hr id="hr-1"><p id="p-3" data-i18n="58c1ba7f0db5a.p-3">This brings us to an important subject, and that is finding your purpose and “why” in life. One of my favorite quotes comes from Tony Robbins and goes like this: “Success without fulfillment is the ultimate failure.” I can tell you that all the money in the world will not bring you fulfillment. I can’t tell you how to find your purpose and “why” in life, but I can tell you this: Your purpose and “why” cannot be focused on you, and it can’t be focused on money. A perfect example would be dieting. The reason that we don’t stick to diets is that the when the drive behind it is “self,” that is not a strong enough motivator to make us follow through.</p><p id="p-6" data-i18n="58c1ba7f0db5a.p-6">If money was your purpose and “why” in life, would you ever hit the snooze button? Aren’t you going to your 9 to 5 job to make money? Your purpose in life has to be strong enough to get you through the hard times that life throws us. In my opinion, your purpose and “why” in life have to be much bigger than yourself. Maybe it’s your wife, your children, or whoever your loved ones might be. If your loved one was hanging over a cliff and the only thing keeping them from falling was your hand, would you ever let go? Maybe it’s a cause that you are passionate about. We gave a house away this year for no other reason but to see the smile on someone’s face and to change someone’s life. When your purpose and “why” are bigger than you, your commitment to that purpose will be selfless.</p><p id="p-8" data-i18n="58c1ba7f0db5a.p-8">I can’t tell you what your purpose should be, but I do know that when you do find it, you will feel a drive, passion, and determination to succeed in whatever it is you do.</p><p id="p-2" data-i18n="58c1ba7f0db5a.p-2">What’s YOUR “why”—and how did you start investing with more purpose?</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="58c1ba7f0db5a.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>