<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="58c6c28fc79dc.h2-1"><span style="font-size:0.7em">What Should I Focus on When Saving Up to Invest: Spending Less or Earning More?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/K6EWfT0mfHo" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="58c6c28fc79dc.p-1">Today we’re talking about whether you should spend less, earn more—or both. The answer to that question would be&nbsp;both.</p><p id="p-2" data-i18n="58c6c28fc79dc.p-2">Spending Less</p><p id="p-9" data-i18n="58c6c28fc79dc.p-9">Considering how much debt this country has, from credit cards and student loans to car loans and mortgages, I really think it would be wise to start by spending less.</p><p id="p-7" data-i18n="58c6c28fc79dc.p-7">My philosophy is that $100 in your&nbsp;pocket is, well, $100.00 dollars in your&nbsp;pocket! What I mean by this is that&nbsp;you get to choose what you want to do with that money. It’s entirely in your control.&nbsp;</p><p id="p-4" data-i18n="58c6c28fc79dc.p-4">So, you have to start off by spending less. Save money, be frugal, don’t get into debt, and don’t do any stupid things with your funds.&nbsp;</p><h3 id="h3-1" data-i18n="58c6c28fc79dc.h3-1">What Should I Focus on When Saving Up to Invest: Spending Less or Earning More?</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="58c6c28fc79dc.image-1"><img src="https://ohiocashflow.com/files/frugality.jpg" data-location="local"></div><hr id="hr-1"><p id="p-6" data-i18n="58c6c28fc79dc.p-6"><b>Earning More</b></p><p id="p-8" data-i18n="58c6c28fc79dc.p-8">One of my favorite quotes from a man worth $150M is: “Wake up before everyone, go to sleep after everyone, work harder, work smarter!” I am a big believer that many real estate investors are very, very lazy. They’re all looking for a quick pill to get rich overnight. It doesn’t work like that. You have to work hard.
            </p><p id="p-3" data-i18n="58c6c28fc79dc.p-3">While getting started, you’ll likely work your nine-to-five job to cover your basic necessities to live day-to-day. If you have to get another job and work all night, do it. Be prepared to do whatever you have to do to get the starting capital needed to go into real estate.</p><p id="p-10" data-i18n="58c6c28fc79dc.p-10">Once you get the money, you can start building your portfolio, flipping, wholesaling, or pursuing whatever strategy you want to utilize. I am a big believer that money makes money! Remember that some things you do before nine or after five are where you’re going to be making more money. Still, some tasks like doing research or working on a business venture won’t give you a direct ROI. Don’t get discouraged by that; always look at the big picture. Focus on yourself, chase your dreams, and watch them become a reality.</p><p id="p-11" data-i18n="58c6c28fc79dc.p-11"><b>Keeping Costs Low</b></p><p id="p-12" data-i18n="58c6c28fc79dc.p-12">We spoke about spending less and how to potentially how to earn more. This last piece of advice is from my own experience. You have to keep costs at a minimum. I can’t tell you how important it is! Over the last four years of my business cycle, there were times when I was down to the last $1,000 in my operating account. That is the reality of being a business owner. The way we survived was by being very frugal.</p><p id="p-13" data-i18n="58c6c28fc79dc.p-13">So, you have to:</p><ol id="ol-1"><li>Minimize expenses.</li><li>Keep costs at an absolute minimum.</li><li>Grind it out yourself by working around the clock.</li><li>Wait to employ anyone else.</li></ol><p id="p-14" data-i18n="58c6c28fc79dc.p-14">Once revenue allows you to spend to make more, then spend it wisely. In my opinion, every dollar you spend should give you three back.</p><p id="p-15" data-i18n="58c6c28fc79dc.p-15">To review, I think you should do both. You should focus on spending less. You should also focus on earning more. And then when you do start your real estate business. you must keep costs at an absolute minimum. And when you do spend money, make sure you get three dollars back.</p><p id="p-16" data-i18n="58c6c28fc79dc.p-16">What do you think is most vital when saving up to invest—spending less or earning more?</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="58c6c28fc79dc.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>