<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="599306f9e884a.h2-1"><span style="font-size:0.7em">3 Things All Rookie Investors Need Before Diving Into Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/nDTSbeUCE5k" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="599306f9e884a.p-1">What does a newbie need before pulling the trigger and buying real estate investments? Let’s explore some of the preliminary items all rookies should seek out before diving in.</p><p id="p-2" data-i18n="599306f9e884a.p-2"><b>1. Funds for Your Investments</b></p><p id="p-3" data-i18n="599306f9e884a.p-3">Let’s get this out of the way first: You can’t make money in real estate until you have some type of capital already saved in your account. So go out there, work two jobs if you have to, be frugal, and save at least $50,000. Prove it to yourself that you can do it.</p><p id="p-4" data-i18n="599306f9e884a.p-4">There is no magic pill, and there are no get rich quick schemes that actually work. You need money to make money. Whatever real estate strategy that you’re looking at doing, you need capital to do it. Even if you’re looking at wholesaling, the last thing that you want to do is put a property under contract and not be able to perform on that contract because no one is willing to buy that property for more than you have put that seller under contract for. You’re going to look bad in the seller’s eyes because they’re depending on you to close on this transaction. The deal could be a good one, but you might not have the luck to find someone to buy it for more from you. But if you had that existing capital in your account, you could close on the deal and then figure out what else you’re going to do with it. You could wholetail it to someone else, fix it yourself, or continue trying to wholesale it to someone else. Money gives you options.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="599306f9e884a.image-1"><img src="https://ohiocashflow.com/files/newbie-start.jpg" data-location="local"></div><p id="p-6" data-i18n="599306f9e884a.p-6"><b>2. A Strategy</b></p><p id="p-7" data-i18n="599306f9e884a.p-7">The second thing you’ll need to do is to pick a strategy. I’ve already mentioned these get rich quick schemes. Everyone’s plugging their products and services, so there’s a lot of room for confusion. Pick a strategy and focus on that one particular thing, whatever it may be. I strongly recommend you choose a strategy that suits your end goals and where you want to be in 5, 10, or 15 years.</p><p id="p-8" data-i18n="599306f9e884a.p-8">Maybe wholesaling right now can help you obtain starting capital so you can buy, fix, and flip. Maybe becoming a real estate agent can help you learn the ins and outs of how real estate operates, from the MLS to negotiating deals to working with buyers and sellers. Regardless, master that one thing and execute on it. Do not be a jack of all trades and a master of none. Don’t spread yourself thin. They say that mastery comes after 10,000 hours of working in that one particular trade. So master that and then you can go into something else.</p><p id="p-9" data-i18n="599306f9e884a.p-9"><b>3. A Network</b></p><p id="p-10" data-i18n="599306f9e884a.p-10">And last but not least, remember your network equals your net worth. My whole life as a real estate investor, business owner, and entrepreneur has evolved because I surrounded myself with the most successful, brightest people. If I’m not the dumbest person in the room, I’m doing something wrong. So go out there and surround yourself with the people that you want to be like one day.&nbsp;</p><p id="p-11" data-i18n="599306f9e884a.p-11">I’ve said it before: Your network equals your net worth. The more people you speak to on a daily basis, the more that you ask them about what they’ve done, the more their answers will mold you. You’ll not only become a better individual, but you’ll also become a better business owner and a better entrepreneur. Their stories, their lessons, and their experiences are valuable.&nbsp;</p><p id="p-12" data-i18n="599306f9e884a.p-12"><i>Anything you’d add to this list?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="599306f9e884a.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>