<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b377bf38d3bf.h2-1"><span style="font-size:0.7em">How Real Estate Changed My Life (&amp; How It Can Change Yours, Too)</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/MnAGQI_BpWg" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5b377bf38d3bf.p-1">I was lucky enough to become a professional soccer player at the age of 18, which is something that was my dream, passion, and obsession. It’s all I knew how to do since I was five years old. I sacrificed so much and even quit school at the age of 14 just to follow my dream. Still to this day, that is the biggest achievement of my life. There are so many kids out there dreaming about the big leagues, and I was one of them to actually achieve it. When I did get the gig, I didn’t believe I could secure my and my family’s financial future within 10 years, which is how long a typical soccer player’s career lasts. So I reluctantly decided to hang up the boots. That was soul-crushing because it was all I knew how to do. I had no formal education, so what was I going to do?</p><p id="p-2" data-i18n="5b377bf38d3bf.p-2">I worked on dirty construction sites laboring just to make ends meet, but I knew that there was something bigger and better out there. I thought to myself, “How can I make money work for me instead of me working for money?” From there, I caught the real estate bug. I immersed myself in anything and everything related to real estate. I was obsessed with real estate as much as I was obsessed with soccer. Real estate became my new passion. I loved it, I lived it, I breathed it, I ate it. My whole life revolved around it.</p><p id="p-3" data-i18n="5b377bf38d3bf.p-3"><b>Finding Passion in Real Estate</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b377bf38d3bf.image-1"><img src="https://ohiocashflow.com/files/motivate-702x336.jpg" data-location="local"></div><p id="p-4" data-i18n="5b377bf38d3bf.p-4">Fast forward to where I am today, and it’s given me financial freedom and passive income. It allows me to do what I want to do. It allows me to go wherever I want to go. It’s a humbling experience knowing that you are financially secure, that you can help your loved ones, and that you have a business that supports other people and their families. There is also a satisfaction and fulfillment knowing that you are looking after all of the people investing in you.</p><p id="p-6" data-i18n="5b377bf38d3bf.p-6">I recommend it to absolutely everyone. Once you catch the real estate bug and start that path of buying, fixing and flipping your first property or buying, fixing and holding and getting that first rental check, I guarantee you will not want to go back to anything else. Look, if you lose money, that is great—I lost money when I started too. Learn from your mistakes, pick yourself back up, keep moving forward. The name of the game is making more money than you lose.</p><p id="p-7" data-i18n="5b377bf38d3bf.p-7">There is a saying that I love: Make a passion an obsession and you’ll never work a day in your life. I was obsessed with soccer and it didn’t feel like work to me. Now, I’m obsessed with real estate and it does not feel like work to me. So that is my message to you: If you can transition your passion into an obsession, you’re going to live happily ever after.</p><hr id="hr-2"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b377bf38d3bf.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>