<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="599d9a4e42140.h2-1"><span style="font-size:0.7em">These Two Lethal Mistakes Cost Me $500k+ in the Past 4 Years</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/j3S5JySiBhA" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="599d9a4e42140.p-1">Today, I’m bringing you a vlog post about how I lost $500,000 over the last four years of my journey as a real estate investor.</p><p id="p-2" data-i18n="599d9a4e42140.p-2">There are two key components to me losing all this money. I’m going to touch on that in a bit, but I want to start with a quote that I actually made up. It goes like this: “Every experience is a good experience as long as you perceive it to be a good experience.” Now, I know that sounds pretty philosophical, but I honestly believe that when you lose money like I did, you have to try and find something good in that negativity, and you have to feed yourself with that good in order to continue moving forward. Otherwise, if you can’t do that, you’re going to get scared, it’s going to bring you down, and you’ll probably never invest in real estate. We all lose money. It’s not a bad thing as long as you can learn from those mistakes and never repeat them again.</p><p id="p-3" data-i18n="599d9a4e42140.p-3"><b>Not Being Patient</b></p><p id="p-4" data-i18n="599d9a4e42140.p-4">Now, the biggest mistake that I have ever made—and I’ve referred to this mistake many times in the past—was not being patient. I would just buy properties for the purpose of adding them to my portfolio without having any justifiable reason for why I was purchasing all of these properties. I bought 13 or so properties in six months, got into a ton of debt, and built a large portfolio back home in Australia. The media was referring to me as this whiz kid even though they didn’t know I was losing money on my monthly mortgage payments. So yes, it was great having that status as the whiz kid real estate investor, this awesome entrepreneur, but there was really nothing there. It was absolutely fake.</p><p id="p-6" data-i18n="599d9a4e42140.p-6">My message to you is this: There are many strategies to investing in real estate—wholesaling; buy, fix, and flip; buy and hold. Whatever it may be, pick your strategy and stick with it. Do not get caught up in other potential strategies that could make you more money. Become an expert in one thing. Don’t be a jack of all trades and a master of none. Just be a master in one thing and figure out what your end goals are. Once you figure out what your end goals are, pick a strategy, stick with it, and then make sure that every property you are adding to your portfolio is getting you a step closer to your end goal.&nbsp;</p><p id="p-7" data-i18n="599d9a4e42140.p-7">I lost a lot of money because I was committed to buying these properties for the purpose of buying them and adding them to my portfolio. They weren’t making me money, and I had to sell at a loss. But once I figured out&nbsp;why&nbsp;I really started my journey as a real estate investor, it was too late. At the time, there were deals coming across my desk that I could not purchase, and that’s where I lost a lot in terms of opportunity—because I already had my money tied up in other investments.</p><p id="p-8" data-i18n="599d9a4e42140.p-8">The first thing I would suggest is to be patient, pick your strategy, know what your end goal is, and then only add properties to your portfolio that are genuinely getting you closer towards achieving your end goal.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="599d9a4e42140.image-1"><img src="https://ohiocashflow.com/files/rehab-mistake.jpg" data-location="local"></div><p id="p-9" data-i18n="599d9a4e42140.p-9"><b>Choosing the Wrong People</b></p><p id="p-10" data-i18n="599d9a4e42140.p-10">There is a saying that goes, “Business is easy. People make it difficult.” Thinking back to how much money I’ve lost to working with the wrong people is absolutely mind-boggling. Business partners have sold me their own properties in crappy areas where I’ve lost a lot of money. Other business partners have had me do 90 percent of the work even though they got 50 percent of the profits, and still others have not paid out on a couple of deals. Then I’ve had former employees try and use our company card on out-of-state purchases and contractors who have squandered our money. Tenants have tried to sue us for no reason.</p><p id="p-11" data-i18n="599d9a4e42140.p-11">Overall, my advice to you is to take things slow. Whenever you’re looking at entering a new relationship, be it a business partnership or hiring someone to help you with your real estate endeavors, do not jump in. Remember, “hire slowly, and fire quickly.” Ultimately, real estate is not a one night stand. It’s going to take 5, 10, or 15 years for you to get to where you need to be with your real estate endeavors, to achieve financial freedom or create a company that allows you to leave a legacy. So take things slow and get to know and respect each other.</p><p id="p-12" data-i18n="599d9a4e42140.p-12">Regardless of your past experiences, don’t lose hope. Even if you’ve been burnt in the past like I have, pick yourself up and continue to buy properties, but tweak your strategy. In my case, when people have screwed me—which is still my fault because I trusted the wrong people—I still haven’t lost hope. In order for that relationship to truly flourish, you can’t enter it with a closed mind and heart. You have to be vulnerable. You don’t want to miss out on that gem partner or gem deal because you got burnt in the past and now you’re scared and hesitant.</p><p id="p-13" data-i18n="599d9a4e42140.p-13"><b>Conclusion</b></p><p id="p-14" data-i18n="599d9a4e42140.p-14">I’ll end it by saying that it doesn’t matter how many times you’re wrong as long as you’re right when it counts. So learn from your mistakes and try not to repeat them. That pretty much summarizes how I lost $500,000. But I’m still here doing better than ever. I’m focusing on growth, and I’m not letting that negativity drag me down.</p><p id="p-15" data-i18n="599d9a4e42140.p-15"><i>What bad business habits have you overcome in your real estate career?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="599d9a4e42140.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>