<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="58c1ba430d4e0.h2-1"><span style="font-size:0.7em">Why Consistency is the Magic Ingredient to Ensure Your Real Estate Business Grows</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Vihv_IDTe1I" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="58c1ba430d4e0.p-1">Since we hit the new year running and cruised right through January, let me ask you something. How many of you out there set New Year resolutions? I’d be willing to bet that most of you did. I’d also be willing to bet that most of you didn’t keep them. Why? Because most people make their resolutions, post them on Facebook for all their friends to see, and brag about them at the office water cooler—but fail to write down a path to actually achieve them. Let me tell you something simple: A goal not written down is nothing more than a wish, and if you are just wishing something will happen, you might as well go sit on Santa’s lap.Have you written down what you want to achieve five years, three years, all the way down to what you want to achieve 15 minutes from now? It’s one thing to have a goal; it’s an entirely different thing to have the path to your success completely mapped out. Everything you write down and commit yourself to will get you one step closer to what you want to achieve, and the consistency with which you follow that path will ensure your reach your targets.</p><h3 id="h3-1" data-i18n="58c1ba430d4e0.h3-1">Why Following the American Dream Will Rob You of True Happiness</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="58c1ba430d4e0.image-1"><img src="https://ohiocashflow.com/files/consistency.jpg" data-location="local"></div><hr id="hr-1"><p id="p-2" data-i18n="58c1ba430d4e0.p-2">You have to stay absolutely consistent in everything you do to achieve what you want in life. If we are constantly changing the story in our heads, we will not stay focused on the path we set out to follow. If we really want to succeed, it’s a do or die situation. We have to be willing to make the sacrifices necessary to reach our goals, and we have to be consistent in our efforts to achieve them.</p><p id="p-7" data-i18n="58c1ba430d4e0.p-7">All of this relates back to all you people out there in the real estate business. Let’s look at some example of how consistency can influence your success in real estate.</p><ol id="ol-2"><li>Bird dogs have to consistently be out in the marketplace looking for new deals.</li><li>Wholesalers need to stay consistent with looking for new sellers by direct mail, cold calling, and follow up.</li><li>Flippers have to stay consistent with their contractors and team to make sure their projects are coming in on budget.</li><li>Buy and hold investors need to stay consistent with making sure their tenants are paying and staying.</li><li>Buy and hold investors need to stay consistent with making sure their tenants are paying and staying.</li></ol><ol id="ol-1"></ol><p id="p-10" data-i18n="58c1ba430d4e0.p-10">Anyone who follows me here on BiggerPockets may either love me or hate me, but I would doubt that anyone would accuse me of not being consistent.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="58c1ba430d4e0.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>