<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59b7f8e968cbd.h2-1"><span style="font-size:0.7em">How to Keep an Amazing Reputation in the Real Estate Business</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul><ul id="ul-6"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/li2Z9aGHG3Y" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="59b7f8e968cbd.p-1">Today I’m talking about the two ways to get (and keep) the best possible reputation.</p><p id="p-2" data-i18n="59b7f8e968cbd.p-2">First, I want to say that I’ve been based in the U.S. for five years now, and during those years, I’ve run various real estate companies. I’ve also been involved in a ton of deals. One thing that stands out in all of my business dealings is my reputation — and my company’s reputation. Both are literally some of the best in the business, and trust me, it’s not easy to keep pristine reputations. So, I’m going to share with you a few tips to do so.</p><p id="p-3" data-i18n="59b7f8e968cbd.p-3">When your reputation is blossoming and is pristine, you don’t have to spend money on marketing, advertising, or lead generation. We get inundated every single day with people who want to work with us, all because they did a quick Google search and saw how positive all of our reviews are.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59b7f8e968cbd.image-1"><img src="https://ohiocashflow.com/files/thumbsup-702x336.jpg" data-location="local"></div><p id="p-6" data-i18n="59b7f8e968cbd.p-6"><b>Know When To Say No</b></p><p id="p-7" data-i18n="59b7f8e968cbd.p-7">You have to learn how to say no to the good opportunities so that you can say yes to the great ones. Real estate is a long-term play. I always say one or two properties will not get you where you need to be. It’s going to take five, 10, or 15 properties — and it’s going to take five, 10, or 15 years. Your real estate business can’t be a one-night stand; it has to be a marriage. Your vision and goals must align with every person that you consider doing business with. So turn down more business than you actually take on. I’ve been doing this as long as I’ve been in real estate. <b>I’ve learned how to say no to the good opportunities so I can say yes to the great ones. </b>I only want to work with investors who I see eye-to-eye with, who I like, and who my goals align with. By being selective, I minimize the risks of taking someone on board who doesn’t necessarily want to invest with me or invest in my product.</p><p id="p-8" data-i18n="59b7f8e968cbd.p-8">I see a lot of folks who compromise their beliefs (who they are, what their business is supposed to stand for, and what they want for the future) just to make a quick dollar. These people want to make the sale, make the money, and they don’t really care about the client or the future. I think this is wrong. I think you should only work with people who you really want to work with, people with whom your goals align. I promise you, doing this will make sure your reputation stays pristine — and these folks are going to blow a lot of wind up your bum because you will do the right thing by them.</p><p id="p-9" data-i18n="59b7f8e968cbd.p-9"><b>Do the Right Thing</b></p><p id="p-10" data-i18n="59b7f8e968cbd.p-10">This leads me to my second tip, which is to do the bloody right thing. Now, you would not believe how many mistakes I make on a daily basis and how many I’ve made in the past. I’ve lost investors’ money — I admit it — but I always make good on my word. So, if I lose someone’s money, if I make a mistake, I put my hand up. I pay those folks back, or I come out of pocket to cover any losses. I make sure whatever I promised I deliver.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><p id="p-4" data-i18n="59b7f8e968cbd.p-4">I like to do business on a handshake — on gentleman’s agreement. I don’t believe in contracts because if someone screws you out of $5,000, are you really going to spend three times that amount on legal and filing fees and chasing them in court? Ultimately, that’s just the cost of doing business. The only thing we can go by in today’s day and age is someone’s word. So I make sure I do the absolute right thing when it comes to keeping my word. And when you do right by people — when you make a mistake and you put your hand up and you say you were wrong — they will forgive you. They will forgive you because people understand that not everyone is perfect. In particular, if you only work with people who you really want to work with, then there’s a better chance that they will understand and forgive your mistakes.</p><p id="p-11" data-i18n="59b7f8e968cbd.p-11"><b>Conclusion</b></p><p id="p-13" data-i18n="59b7f8e968cbd.p-13">I will summarize by saying this: it takes a lifetime to build a reputation, and it only takes five minutes to lose it. You have to protect your reputation with absolutely everything you’ve got. Do the right thing by others, turn down more business than you take on, only work with the people you really want to work with, and I promise you your business will boom. Simply because word of mouth spreads quickly. Trust me, there is nothing better than getting business through word of mouth referrals.</p><p id="p-12" data-i18n="59b7f8e968cbd.p-12"><i>How do you keep your reputation up?</i><i>How do you minimize risk while flipping?</i></p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59b7f8e968cbd.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>