<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5aca67bc894ff.h2-1"><span style="font-size:0.7em">The #1 Thing I Would Do Differently if I Could Turn Back Time</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/Zr8fJ9iPSUI" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5aca67bc894ff.p-1">Today I’m going to talk to you about the past. I’d like to share the number one thing I’d have done differently if I could turn back time. Check it out.</p><p id="p-2" data-i18n="5aca67bc894ff.p-2"><b>The Pros Say</b></p><p id="p-3" data-i18n="5aca67bc894ff.p-3">Before I start, I want to tell you one really cool thing that I like doing. This happens in the late hours of my workday, once I’ve already plowed through my 14th and 15th hours. I look in my inbox. And I do a Google search, looking for other successful entrepreneurs out there like&nbsp;Grant Cardone,&nbsp;<a href="https://www.garyvaynerchuk.com/" target="_blank" rel="noopener" style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; font-family: inherit; color: rgb(61, 132, 179); transition: all 0.4s ease-in-out;">Gary Vaynerchuk</a>,&nbsp;<a href="https://tim.blog/" target="_blank" rel="noopener" style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; font-family: inherit; color: rgb(61, 132, 179); transition: all 0.4s ease-in-out;">Tim Ferriss</a>, and&nbsp;<a href="https://en.wikipedia.org/wiki/Mark_Cuban" target="_blank" rel="noopener" style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; font-family: inherit; color: rgb(61, 132, 179); transition: all 0.4s ease-in-out;">Mark Cuban</a>, and all those&nbsp;<a href="https://en.wikipedia.org/wiki/Shark_Tank" target="_blank" rel="noopener" style="margin: 0px; padding: 0px; border: 0px; vertical-align: baseline; font-family: inherit; color: rgb(61, 132, 179); transition: all 0.4s ease-in-out;">Shark Tank</a>&nbsp;folks. Then I get inspired to flick them a quick little email to try to get ahold of them one way or another. I actually did get a few replies from some of them, such as Grant Cardone. The question I always ask everyone is, “When looking back on your life — be it business or personal — what is one thing that you would have done differently?”</p><p id="p-4" data-i18n="5aca67bc894ff.p-4">Believe it or not guys, I’ve gotten a few replies from very successful individuals. They all said they would have gone bigger much sooner. I was like, what the hell does that mean? I guess what that means is they would have taken more risks when they had momentum on their side and things were working out. Very interesting.</p><p id="p-6" data-i18n="5aca67bc894ff.p-6"><b>My Experience</b></p><p id="p-7" data-i18n="5aca67bc894ff.p-7">Anyway, I’m talking to you today about the one thing that&nbsp;I&nbsp;would have done differently in regards to real estate&nbsp;and business in general. When I started my journey as a real estate investor, I caught the bug. It was all about the hype and buzz for me. I wanted to buy property; I wanted to build a huge portfolio; and I just wanted to get as many numbers on my board as possible. I wanted bragging rights. Because I was young and dumb, I wanted to go to a party and tell some ladies that I’m a real estate investor and an entrepreneur.</p><p id="p-8" data-i18n="5aca67bc894ff.p-8">Well, that kind of backfired on me. It backfired because I was building my portfolio for quantity purposes, not quality purposes. I had no clue what I was doing. I was very young, very inexperienced, and I also got advice from a few bad characters. I built a very large portfolio in a short amount of time, and I was manipulating the system to borrow a ton of money. I had over $1 million in debt on only a $40,000 income. I was pretty much bleeding money on my monthly mortgage payments. But hey, I was hoping that these properties would appreciate more over time than what I was losing on my mortgage payments. Just like a lot of folks on the East Coast and West Coast did leading up to the global financial crisis of 2007 and 2008. Bad idea, and bad move.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5aca67bc894ff.image-1"><img src="https://ohiocashflow.com/files/calendar2-702x336 (1).jpg" data-location="local"></div><p id="p-9" data-i18n="5aca67bc894ff.p-9"><b>The Lesson</b></p><p id="p-10" data-i18n="5aca67bc894ff.p-10">Guys, my message to you is do not invest based on quantity goals. Do not invest in real estate just for the title associated with it so you can say, “I quit my job. I’m a real estate investor and entrepreneur.” Don’t do that. What I need you to do is look into the future. Where do you want to be five years from now? Ten years from now? How much passive income do you need to live the lifestyle that you desire and want your family to enjoy? Then you need to reverse engineer and work your way back from that.</p><p id="p-11" data-i18n="5aca67bc894ff.p-11">So let’s just say, hypothetically, in ten years you want to have $100,000 in passive income coming in each year from real estate. Every single property that you buy&nbsp;— and every step you take each day, week, month, quarter, and year must get you a little bit closer to achieving that end goal. So the properties that you add to your portfolio have to be producing passive income. They have to be cashflow positive, they have to put a lot of money in your pocket every single day, and those numbers must meet your end goal of $100,000 in passive income.</p><p id="p-12" data-i18n="5aca67bc894ff.p-12">It’s very simple, real estate is a simple game once you get rid of the fat —&nbsp;and once you’re not focused on so many little things that people try and brainwash you with. It really just comes down to the fundamentals of a particular transaction. As the numbers show today, forget about capital appreciation. I’m buying it for this much. I’m renovating it for this much. This is how much rent I’m going to get. These are my expenses. I’m also going to overestimate my expenses: This is how much net cashflow I’m going to get in the worst-case scenario. Does that net cashflow get me a step closer to achieving my end goal? If that net cashflow does indeed get you a step closer to your end goal, the investment may be worth pursuing further.</p><p id="p-13" data-i18n="5aca67bc894ff.p-13"><b>In Summary</b></p><p id="p-14" data-i18n="5aca67bc894ff.p-14">I’ve made mistakes; I’ve jumped in and bought properties for the purpose of quantity not quality. If I could turn back time, if I could do things over again, I would buy based on my end goals. I would buy a property to get me one step closer to achieving my end goal.</p><p id="p-15" data-i18n="5aca67bc894ff.p-15">A big one I forgot to mention is this: I would have been more patient. OK, guys. Patience. Never cry because of a missed opportunity because there is always going to be another one around the corner. Never pay more than you need to for any particular property because there is always going to be another great deal around the corner, I promise. Be patient. Have the money in the kitty, work hard, save the cash, look at it in your account and then pounce when the right opportunity presents itself where the numbers truly make sense today. Not what they may look like tomorrow, focus on today. The numbers have to make sense today because we can’t predict the future.</p><p id="p-16" data-i18n="5aca67bc894ff.p-16">So, guys, that is my zero point two crypto coins. Whatever —&nbsp;might as well use crypto coins, right?</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5aca67bc894ff.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>