<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b4234334694f.h2-1"><span style="font-size:0.7em">Investors, It’s Time to Take Another Look at $30,000 Properties</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/mrwiyo70lMw" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5b4234334694f.p-1">The popular belief is that you cannot make money on $30,000 properties, but I need you to completely throw that perception out the window and listen to me very clearly. Guys, I’ve been doing this for the last five years. I have been investing in $20,000 and $30,000 houses, I’ve done over 500 deals, and I’ve worked with hundreds of investors who are all doing well in these particular areas. No, we’re not talking about war zones, we’re not talking about the ghetto, we’re not talking C and D-class properties. We’re talking about solid B-class investment properties. The markets are not sexy, and they’re not flashy. They are blue-collar, working class areas. There is a level of demand there, you have infrastructure like hospitals and big employers, there is stuff happening in the area, good school districts. We’re all making money all day every day.</p><p id="p-2" data-i18n="5b4234334694f.p-2">Unfortunately, there is a perception that any $20,000 or $30,000 house has to be a dilapidated property, a meth lab, or a vacant lot someone is trying to use to scam you. Look, that is true in some cases, but in other instances, like where I am investing, that is not accurate.</p><p id="p-3" data-i18n="5b4234334694f.p-3"><b>B-Class, Blue-Collar Areas</b></p><p id="p-4" data-i18n="5b4234334694f.p-4">I live in the exact same areas that I invest in and that I sell in. So it’s good enough for me and my family, and it’s good enough for the people that I employ, so they are not war zones. Again, we are talking about B-class areas and blue-collar, working class people in these homes.</p><p id="p-6" data-i18n="5b4234334694f.p-6">A few key pockets that you can research would be in Ohio, but I’m a little bit biased because I’m based here. Number two is Indiana, number three is Michigan, number four is Missouri, and number five is Kansas. The Midwest in general is where you can find $20,000 and $30,000 houses that you can put some work into and get a good return on investment or sell for a profit.&nbsp;</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b4234334694f.image-1"><img src="https://ohiocashflow.com/files/first-investment-property.jpg" data-location="local"></div><p id="p-7" data-i18n="5b4234334694f.p-7">Let me give you an example of what you can do in these particular areas. The first thing you need to do is find the right people. So be sure to spend enough time on the people that you are looking at working with over the stats and demographics of a particular area or over how cheaply you can buy a particular property. Don’t settle until you find the right people. Second, pick a particular area and make sure you zone in on a particular zip code or a few. Educate yourself on the numbers in those areas, what distressed properties are selling for, what renovated comps are selling for, and who’s who in that area, from top real estate agents to rehabbers. You really have to master this particular area. You need to know the ins and outs of what is going on, who’s buying what, and who’s doing what. Then you will also understand what the properties are selling for both renovated and distressed.</p><p id="p-8" data-i18n="5b4234334694f.p-8"><b>Consistency in Sales Price</b></p><p id="p-9" data-i18n="5b4234334694f.p-9">A really good indicator of a B-class area is consistency in the sales price of a renovated product. Let me give you an example. In some of the pockets here in Toledo, we can buy properties for $10,000, $20,000, or $30,000 depending on the condition, fix them up, and sell them from $60,000 to $70,000. When you see consistency in that after-rehab sale price within a region, you can tell that there are sales happening in the area and that people are investing either to buy and hold or to buy and live in. So that should indicate a decent type of area or B-class area in my opinion.</p><p id="p-10" data-i18n="5b4234334694f.p-10">With all of that being said, when you’re investing in $20,000 or $30,000 properties, you have a few options. I think there are two strategies. First, you can buy, fix, and hold because it’s such a low investment amount and the cap rate is so high—and since you’re investing a low amount of money, the risk is worth the reward. Second, you can buy, fix, and sell. You can sell it to an investor because the numbers make sense for an investor to want to buy and hold, or you can sell to an owner-occupant. Yes, there are owner-occupants living in $20,000 or $30,000 houses. Now, of course, you are buying it for $20,000 or $30,000, and you’re selling it for a little bit more that that. So you will make money. There is no doubt about it. I’ve done it every single day for the last five years, and I’m doing it to this day.</p><p id="p-11" data-i18n="5b4234334694f.p-11"><b>Would You Invest in These Areas?</b></p><p id="p-12" data-i18n="5b4234334694f.p-12">I’m sure there are going to be a lot of you folks who will comment below saying I’m absolutely nuts. Whatever. Then there are going to be folks in the Midwest who are doing it successfully just like I am. So let’s get a little bit of a discussion going in the comments below. All of you on the West and East coasts, please expand your horizon and open up your mind. Look into the Midwest. There is a lot of great opportunity here, and there are a lot of $20,000 or $30,000 properties you can negotiate for. You buy, fix and flip or fix and hold. Investors are happy to own in these areas because of the cash flow. Homeowners live in these areas because of the infrastructure that supports the demand. People want to live there.</p><p id="p-13" data-i18n="5b4234334694f.p-13">Look, that’s it. You can make money on $20,000 or $30,000 houses.&nbsp;&nbsp;</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b4234334694f.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>