<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a6214b8b6ba6.h2-1"><span style="font-size:0.7em">Why You Shouldn’t House Hack to Get Started in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/iDrXZEFRKZM" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a6214b8b6ba6.p-1">Today I’m talking to you guys about why you shouldn’t house hack. In my opinion, it is a big cop out. People are lazy, and people want something for nothing. “Oh yeah, I going to put down a $50,000 down payment, I’m going to buy a duplex, I’m going to live in one side and rent out the other, the property is going to appreciate in value, and there’s going to be fairy floss and mermaids coming out of the ocean.” Seriously? Come on, guys. Nothing comes easy.</p><p id="p-2" data-i18n="5a6214b8b6ba6.p-2"><b>It Takes Money to Make Money</b></p><p id="p-3" data-i18n="5a6214b8b6ba6.p-3">For instance, I rent. You know why I rent? Because all of my money is out there making more money for me. I don’t want to own because why would I? When you own, you are anchored to one particular location when you put a down payment on a duplex or a big property with 17 bedrooms so you can rent it to stupid college kids or whatever it may be. Guys, money makes money. It takes sacrifice to achieve success, to achieve financial freedom, to get to where you need to be.&nbsp;</p><p id="p-4" data-i18n="5a6214b8b6ba6.p-4">I moved to this country with $15,000. I absolutely worked my butt off to be where I am today. I’m up at 5:00 a.m. every morning, and I do not stop until 7:00 p.m. Instead of house hacking, get out there, work two jobs, save hardcore, be frugal, and rent a bedroom or a crappy little apartment. Don’t anchor yourself down to a particular location. Adapt, be mobile, and move. If you’re now saying, “But I can’t find great deals” in San Diego or New York or wherever, know that neither could I in Australia, so I moved to Toledo, Ohio out of all the places. It’s not the most glamorous, but the numbers make sense, and it’s a great real estate investment market. That is what you have to do.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a6214b8b6ba6.image-1"><img src="https://ohiocashflow.com/files/buying-house.jpg" data-location="local"></div><p id="p-6" data-i18n="5a6214b8b6ba6.p-6"><b>Stop Taking the Easy Way Out</b></p><p id="p-7" data-i18n="5a6214b8b6ba6.p-7">I think house hacking is an easy way out. It’s like everyone jumping on the bitcoin bandwagon right now. I’ve got no freaking clue what bitcoin is. I don’t understand it. House hacking I more so understand, but I still think you should rent, be mobile, and keep overheads at a minimum. You do not want to have any expenses associated with your house hack property that you’ve put a down payment on to where you have to put your hand in your pocket to cover all kinds of stuff. You’re better off investing money in buy, fix, and flips. You’re better off wholesaling once you have enough capital to cover the contingency of the times you don’t have someone to close on that contract. Buy, fix, and flip a few times over—and then hold so that your cash flow will be able to support your rental expenses. Don’t buy and own, and don’t house hack. Money makes money. Invest in real estate, and once you can make enough capital and comfortably afford to buy and hold,&nbsp;then&nbsp;buy and hold.&nbsp;</p><p id="p-8" data-i18n="5a6214b8b6ba6.p-8">Here’s another tip for you. When less than 10 percent of your net wealth buys you your dream property, that is when you should pull the trigger. For example, my dream property is a $5 million penthouse condo in Manhattan. So my net wealth needs to be at $50 million. I’m not quite there yet, but I’m getting there.&nbsp;</p><p id="p-11" data-i18n="5a6214b8b6ba6.p-11"><i>Guys, that’s my opinion. Take it or leave it.</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a6214b8b6ba6.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>