<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b5fc74588c28.h2-1"><span style="font-size:0.7em">The Best Real Estate Deal I’ve Done This Year</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/TNJU3yInM_E" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="5b5fc74588c28.p-1">I want to apologize in advance if I go off topic in this post. Why? Because I’ve actually struggled to figure out the best deal I’ve done because we’ve done so many. So I’ll talk about deals and consistency when it comes to real estate and investing. Anyway, I guess one of my favorite deals that we have done this year is the house giveaway. We have given away houses to families in need, and this is the third year that we have given houses away no strings attached. We are not taking on anyone else’s money or selling raffle tickets like some of the other charities out there. We simply give away the house and sign the deed over to the family. This year, we were lucky enough to get featured on TLC’s show&nbsp;This Is Life Live. So that was pretty cool and probably one of my favorite deals we’ve done this year.</p><p id="p-2" data-i18n="5b5fc74588c28.p-2"><b>The No-Problem Property</b></p><p id="p-3" data-i18n="5b5fc74588c28.p-3">When I think about the past six years that I have lived in the U.S. and worked in real estate, one property that I think of fondly was a golf course property. It was a 2-bedroom, 1-bathroom home right on the golf course—a great property that we bought through probate. I think we paid like $25,000 for it. When we walked the property, we were absolutely amazed at how little work it needed. We really don’t understand why were able to buy it so cheap.</p><p id="p-4" data-i18n="5b5fc74588c28.p-4">There was a staircase going up into the attic that we completely converted into a master bedroom, and of course, we spruced up the property throughout. We really didn’t do that much work to it. I think we spent another $20,000 or so. So we purchased it for $25,000, renovated it for $20,000, and listed it on the MLS, which is not my usual business model. Still, we managed to sell it for $119,000. So that was one of the cleanest, coolest, sexiest, best deals that I remember from recent times.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b5fc74588c28.image-1"><img src="https://ohiocashflow.com/files/thrifty-deals.jpg" data-location="local"></div><p id="p-6" data-i18n="5b5fc74588c28.p-6"><b>It’s Not About One Great Deal</b></p><p id="p-7" data-i18n="5b5fc74588c28.p-7">Going back to that consistency that I initially mentioned, it shouldn’t really be “this is the best deal that I’ve done this year.” I say that because if you want to achieve financial freedom, if you want to achieve success, if you want to build wealth, you can’t just do one, two, or five deals. You really need to have a mindset where you are striving to do five deals a month, and that is something that I have always tried to do. We are very fortunate that we do five to 10 deals per month right now, which is pretty awesome. What that means is, if you want to do a lot of deals, you have to educate yourself on the numbers in that particular deal or area.</p><p id="p-8" data-i18n="5b5fc74588c28.p-8">You have to become a true expert in a particular demographic that you have selected. Let’s just say hypothetically that you have selected two zip codes. I want you to go into the nitty-gritty of that particular area. I want you to know what distressed properties are selling for. I want you to know what renovated properties are selling for. I want you to know who the biggest real estate investors are in those particular areas are and who the top performing real estate agents are. You need to make your whole world revolve around real estate. Love it, breathe it, eat it, dream about it, but remember your network equals your net worth. You have to go in there and network with the people and understand what is going on in that particular demographic first. That is what it comes down to.</p><p id="p-9" data-i18n="5b5fc74588c28.p-9">Again, it’s not about the best deal that I’ve done—it’s about how many deals you can do and how much profit you can make per deal, which doesn’t have to be a huge amount, but it has to be profitable. Guys, it really comes down to the volume you’re transacting every week, every month, every year. And if you work hard, in my opinion, you can achieve amazing success in two or three years. I’m here and am living proof. I have no formal education and I quit school at a very young age, but I work very hard and I’ve educated myself on the numbers in a few demographics. I just do deals. I make mistakes, I learn from them, I pick myself back up, and I keep moving forward.</p><ol id="ol-1"></ol><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b5fc74588c28.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>