<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a79c1302220f.h2-1"><span style="font-size:0.7em">3 Reasons You Should Never Work From Home</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/l1F9AZUerUg" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="5a79c1302220f.p-1">Want to achieve any kind of significance within your business or just a high level of success? You won’t be able to do that from home. I’m sorry. Home is for your personal, private life. As much as you want to portray that you have this home office, desk, internet, separate entrance, and all of that mumbo jumbo, I just don’t believe it. I don’t believe it because you are not in an environment where there are other business professionals on the same page as you.</p><p id="p-2" data-i18n="5a79c1302220f.p-2"><b>1. You won’t interact with other professionals in a professional environment.</b></p><p id="p-3" data-i18n="5a79c1302220f.p-3">If you want to achieve success in business or in your real estate, you need to surround yourself with the right people. You need to have people on the same page as you who are going where you are going. You can’t be sitting in your underwear on a couch at home saying that you are working from home. There are just too many distractions like your TV, the great view from your balcony, the pool, the tennis court, whatever. In my opinion, it just doesn’t work because you’re not in a professional environment. You should want to be with other people, be in the zone, focusing on business, on doing the next deal, making the next dollar. You need to surround yourself with whiteboards, write down your goals, write down your to-do lists. Yes, you can do it from home, but it’s just not the same.</p><p id="p-4" data-i18n="5a79c1302220f.p-4"><b>2. You won’t create a company culture.</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a79c1302220f.image-1"><img src="https://ohiocashflow.com/files/dont-work-from-home.jpg" data-location="local"></div><p id="p-6" data-i18n="5a79c1302220f.p-6">How about company culture? How are you going to create a company culture from home? It’s almost impossible. You need an office, a landmark within your business so people can recognize who you are and what you do from a branding perspective. So if you want to achieve anything significant in your real estate endeavors, if you want to create a business that will last with a great culture, you can’t do that from home.</p><p id="p-7" data-i18n="5a79c1302220f.p-7"><b>3. You’ll encounter distractions and won’t have the same motivation.</b></p><p id="p-8" data-i18n="5a79c1302220f.p-8">Another thing that I don’t believe in is virtual assistance or working virtually. I don’t want anyone working for my companies to be a virtual employee. It’s just not happening. As I said, there are too many distractions at home. I don’t believe in performance from afar. I believe in performance within the same walls, where we can all push each other, motivate each other, and understand each other. And if we all have the same bigger picture goals in mind, then we’re all headed in the same direction.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a79c1302220f.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>