<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5adf3c29c2074.h2-1"><span style="font-size:0.7em">How to Start Investing in Real Estate With Only $20,000</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/O33XiXBiMPE" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5adf3c29c2074.p-1"><i>If it were easy, then everyone would be doing it.</i></p><p id="p-2" data-i18n="5adf3c29c2074.p-2">In my opinion, nothing comes without hard work and sacrifice. So, if you want to make money in real estate, you better be willing to work hard and sacrifice pretty much everything. I did exactly that. I moved from Australia to Kansas City, of all the places. I only had $15,000 in cash and bought a D-class property for $9,000. I renovated it for $4,000, so I was into the deal for a total of $13,000. Then I turned around and sold that property for $27,000. That was one of the first deals that I ever did in the U.S. real estate market.</p><p id="p-3" data-i18n="5adf3c29c2074.p-3"><b>Where Can I Find Affordable Deals?</b></p><p id="p-4" data-i18n="5adf3c29c2074.p-4">Now, you’re probably thinking, “That’s great, but how do I do that in my area because there are only $500,000 properties?” Again, nothing comes without hard work and sacrifice. So what you need to do is pack up and move to a market where the numbers make sense. I’m sorry, but there is no other way to put it. I know a lot of you are living in very expensive markets where the average house price is $200,000 and up. I just don’t know how you can make money in those markets. I don’t believe in using a ton of leverage, and I don’t believe in doing creative development-type deals where you need to do a full-blown structural rehab to a property, involving a lot of people. That is too many people in the mix, and people equal problems. You want to control your destiny and be the master of your fate.</p><p id="p-6" data-i18n="5adf3c29c2074.p-6">If you have $20,000, you should find distressed assets. Get really good at negotiating and develop patience. Having patience is the key to finding the right deal. Never pay more than you need to because when one door closes another one opens. So be patient. Find a distressed asset,&nbsp;preferably in the Midwest because there are a lot of cheap properties there. You’re probably not going to be able to get an A or B-class property; you’re probably going to have to go into a C or D-class property, but that is not the end of the world. You need to learn somewhere, and the lower the amount of money you invest, the lower your risk is.</p><p id="p-7" data-i18n="5adf3c29c2074.p-7">Now, let me backtrack here a bit before I go into any more detail. The most important thing when you are looking to invest in real estate is not the numbers in the deal. It’s not the stats and demographics of a particular area; it is the people. Again, the people you surround yourself with are the more important thing in real estate. You have to build trust and relationships with key people who are going to help get you to where you need to be. You need to have contractors, a good real estate agent, a good attorney, and a good accountant. You need to have a respectable title company that you can rely on to make sure the deed is correct and there are no liens. So, it is very important that you surround yourself with the right people who can help you on your real estate journey. Let’s fast forward now.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5adf3c29c2074.image-1"><img src="https://ohiocashflow.com/files/rental-property-pros.jpg" data-location="local"></div><p id="p-8" data-i18n="5adf3c29c2074.p-8"><b>Distressed Real Estate</b></p><p id="p-9" data-i18n="5adf3c29c2074.p-9">So, the Midwest has some great opportunities, a lot of foreclosures, and it makes me feel like a kid in the candy store because deals are falling off trees. Buy a distressed property, negotiate well, be patient, and find the right deal. Fix it as best you can. I know you just started and you don’t know much, but be hands-on and work on the property yourself. Be next to a contractor while they are working on the property. Spend two, three, four weeks. I don’t care if you have to sleep at the property—just do it. Hard work and sacrifice—never forget that.</p><p id="p-10" data-i18n="5adf3c29c2074.p-10">Once you renovate the property, look at selling it. Try marketing it on Craigslist, try getting a real estate agent to list it on the MLS, parade the property on Facebook, and network with both local and non-local real estate investors who may want to buy and hold. Sell the property for a profit and then rinse and repeat. Just keep doing that over and over and over. Fast forward to today, and I’ve done 500-plus real estate deals. I’m doing exactly what I’m telling you guys, just not in C and D-class areas anymore. I’m still working with investors, and it has served me very well. Buying distressed properties, renovating, and selling for profit has been my bread and butter in real estate ever since I started. There are many other ways to make money in real estate, so please don’t take what I’m saying with a grain of salt. But, if you only have $20,000, buying a D-class property that is dirt cheap, renovating it as best you can, figuring out how to sell it, and making it a win-win for you and the person you’re selling it to is a great way to start. Then you’re off to the races.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5adf3c29c2074.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>