<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5908bf60063b4.h2-1"><span style="font-size:0.7em">The Top 4 Reasons to Never Invest in Turnkey Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/5-KhFtsQLi8" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="5908bf60063b4.p-1">Today I’m talking about the four top reasons why you should never—and I mean never with a capital “N”— invest in turnkey real estate.</p><h3 id="h3-2" data-i18n="5908bf60063b4.h3-2">The Top 4 Reasons to Never Invest in Turnkey Real Estate</h3><p id="p-2" data-i18n="5908bf60063b4.p-2"><b>1. Someone else does the work—and takes the profit.</b>
        </p><p id="p-4" data-i18n="5908bf60063b4.p-4">So, the first one—and the biggest reason in my opinion why you should never invest in turnkey real estate—is that you are going to be paying someone else an absolute fortune to do all of the work for you. Meaning, instead of you going out and
            finding the property yourself, buying it distressed, renovating it, getting it tenanted, and managing it all by yourself, you’re going to have to pay for a turnkey company to do that. And then they’re going to put a big, fat margin for their
            labor so they can make the biggest possible profit, and then they’re going to sell you the property. So that is the first reason why you should never buy a turnkey property—it comes with a big, fat margin in place that you can just avoid by
            doing all of the work yourself.</p><p id="p-7" data-i18n="5908bf60063b4.p-7"><b>2. You might land a crappy property in a crappy location.</b>
        </p><p id="p-9" data-i18n="5908bf60063b4.p-9">The second reason—and the likelihood of this happening is huge,—is that you will most likely be buying a crappy property in a crappy neighborhood. And the workmanship that is being conducted on this property is not going to allow it to be self-sufficient
            and self-sustainable for the long haul. A lot of turnkey real estate companies out there just put lipstick on the pig. And I mean literally they just paint it, and that is all. No mechanical work is done; no electrical work is done. There
            are turnkey companies out there that are known for taking a photo of a house next to yours that looks prettier and sending you the photo of that house but selling you another house. I mean, I’ve heard horror stories in the past where a turnkey
            company would send you a photo of a house, but they would sell you an empty lot. It is an absolute nightmare, so you really, really have to look out for these things.</p><p id="p-10" data-i18n="5908bf60063b4.p-10"><b>3. You may overpay.</b>
        </p><p id="p-11" data-i18n="5908bf60063b4.p-11">And that brings me to the third thing you need to guard against: You will be buying these crappy properties for way more than what they’re worth. Now, a lot of turnkey companies out there will justify selling for more than what they are worth
            with these grand overheads. They’ll say, “I’ve got to pay all of these people, and I offer this amazing service,” even though they don’t. And they’ll justify selling the property for more than what they’re worth by calculating huge overheads.
            Do not buy into that. Do not buy these properties. You are set for disaster from day one. We all know that you make money in real estate when you buy, not when you sell. And if you are buying a property for way more than it’s worth, you’re
            not going to have an exit strategy. If you need to sell this property quickly, you’re not going to get what you paid for it. What I want to say is <i>do not invest in a turnkey property unless you can park that money and forget about it</i>.
            <br>
        </p><p id="p-12" data-i18n="5908bf60063b4.p-12">Now, there are some turnkey properties out there that are selling properties for more than what they are worth, offering a good product and a good service. But if you need to cash out of that investment, you’re not going to get your money back.
            So make sure you are buying and holding for the long haul.</p><p id="p-13" data-i18n="5908bf60063b4.p-13"><b>4. Property management may not care about your investment.</b>
        </p><p id="p-14" data-i18n="5908bf60063b4.p-14">Last, but not least—and this one is one of my favorites—is the subject or outsourced property management companies. So, the first thing they have done is absolutely made a fat profit by selling you a turnkey property. Now, unfortunately, they’ve
            sold you that property in a crappy area with a crappy renovation done to it, then you’ve paid more than what it’s worth. And now you get the cherry on top, guys. The cherry on top is that you get passed onto an outsourced property management
            company that doesn’t care about you, that doesn’t care about the turnkey company. All they care is about their own pockets. They turn tenants over so they can charge you one-and-a-half months’ rent for new tenant placement. They rack up those
            maintenance bills so they can up-charge the maintenance bills. They charge you $20 in administration fees every time they scratch their head and a huge $400-$500 annual leasing renewal fee for literally signing one document.</p><h3 id="h3-1" data-i18n="5908bf60063b4.h3-1">The Top 4 Reasons to Never Invest in Turnkey Real Estate</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5908bf60063b4.image-1"><img src="https://ohiocashflow.com/files/dont-turnkey (1).jpg" data-location="local"></div><hr id="hr-1"><p id="p-3" data-i18n="5908bf60063b4.p-3">There you have it—it’s coming from a turnkey provider. Am I talking myself out of business? Probably, but it doesn’t really matter; I just want to educate all of you guys out there. I want you to understand all the pitfalls and that it’s not for
            everyone. It’s not supposed to be for everyone. There are a lot of strategies in real estate that you can utilize to make a lot of money. Many of the most profitable strategies require you to be involved with your time—your blood, sweat, and
            tears. You need to involve a lot of time in it; that’s when you will make the most profit. Now, if you do not have the time or you do not have the knowledge or just don’t want to do it, there are other strategies for you guys out there that
            you can get to do it for you, but you have to understand the returns are going to be much lower.</p><p id="p-6" data-i18n="5908bf60063b4.p-6">If you take anything away from this article, please remember this—teamwork makes the dream work.</p><p id="p-8" data-i18n="5908bf60063b4.p-8">What do you think—would you consider investing in turnkey real estate? Why or why not?</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5908bf60063b4.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>