<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59808ad690463.h2-1"><span style="font-size:0.7em">Why the People You Hire Are the #1 Factor to Make or Break Your Investments</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="https://www.youtube.com/embed/SoJkWyRg5oY" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="59808ad690463.p-1">When I started my journey as an entrepreneur, I was affiliated with some of the brightest business owners and entrepreneurs back home in Australia. They gave me this advice: When you’re looking at starting a new business or when you’re looking at starting in real estate, forget about the numbers. At the time, I wondered what they were talking about. They told me to forget about the stats, to forget about the demographics, and to forget about how profitable business may be. Later on in my life, I found out they were right.</p><p id="p-2" data-i18n="59808ad690463.p-2"><b>Establishing Trust and Relationships</b></p><p id="p-3" data-i18n="59808ad690463.p-3">I ventured into the U.S. market five years ago, and I listened to what they’d said. I forgot about the stats and demographics, and I wasn’t looking at the profitability of a deal or transaction. Instead, I focused on establishing relationships and trust with the right people. I’ve got a little saying and it goes like this: If you buy the best house on the best street in the best area with the best capital growth projections, but your property manager is incompetent or a cheat, you’re going to lose money. Establishing trust and relationships with the key people on the ground wherever it is, even if it’s in your own backyard, is either going to make or break your investment.</p><p id="p-4" data-i18n="59808ad690463.p-4">So, when you’re looking for a market to invest in, I encourage you to focus on the people first. Make sure that you have good people in place who have a delayed gratification mindset. This means they’re not going to want to do business right then and there. Instead, they’ll want to get to know you, get to know your investment needs on a more intimate basis, and have a long-term mindset in place. Remember, no matter what market you invest in, you’re not going to become successful or financially free overnight. It takes 5, 10, or 15 years to get to where you need to be when you are building a lasting real estate portfolio.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59808ad690463.image-1"><img src="https://ohiocashflow.com/files/real-estate-networking.jpg" data-location="local"></div><p id="p-6" data-i18n="59808ad690463.p-6"><b>The People Make the Investment</b></p><p id="p-7" data-i18n="59808ad690463.p-7">Over the last five years, I’ve been involved in over 400 deals, and I speak to 10-plus investors on a daily basis from all over the world. They all ask me the same questions about stats and demographics, and I have a really hard time trying to explain my mindset to them. I tell them it’s all about the team on the ground because that team on the ground&nbsp;is&nbsp;the stats and demographics. They live and breathe the market, and they make those stats and demographics on a daily basis. Once you have found that team, whether you plan to invest out of state or out of the country or even in your own backyard, then and only then should you start looking at the numbers in that particular market and whether those numbers suit your end goal.&nbsp;</p><p id="p-8" data-i18n="59808ad690463.p-8">As most of you know by now, I’m a believer in cash flow, and I’m a believer in buying property that’s going to put money in your pocket every single day. So what I’m about to say might be a little bit biased, but hear me out. Let’s say you’ve found the right team, you’ve found the right people, and you believe this group can work with you in a long-term way. Then I would personally look for a purely cash flow-based investment, thus why I’m living in Toledo, Ohio. The numbers just make so much sense here for me. I could not find any other market in the country where I could get a better bang for my buck. I’m buying dirt cheap properties, the market hasn’t really moved much—and I don’t really care about the market moving that much. I’m all about the cash flow. I’m all about buying in a desirable area that has a good infrastructure supporting a tenant demand and one with a good homeowner demand should I want to sell.</p><p id="p-9" data-i18n="59808ad690463.p-9">This is how I’ve gone about investing. I started out by focusing on the people. Once I found the right people and place, then I started looking at the stats, demographics, and numbers to see if that particular market suited my end goal. My end goal guys is purely cash flow-based. I want so much money pouring in every month that I don’t know what to do with it. If you’ve got different ideas—say, if you want capital appreciation, which in my opinion is speculation—then I don’t suggest you look at markets like the Midwest; I suggest you look at markets that have more historical long-term appreciation. But remember: People first.&nbsp;</p><p id="p-10" data-i18n="59808ad690463.p-10"><i>What do you focus on most heavily when adding investments to your portfolio?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59808ad690463.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>