<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59dfccfa0d5c4.h2-1"><span style="font-size:0.7em">What Type of Property Should You Start Out Flipping?</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><ul id="ul-2"><li></li></ul><ul id="ul-6"><li></li></ul></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/wVQ9K33g35M" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="59dfccfa0d5c4.p-1">Today I’m talking about whether you should start off with flipping commercial; multifamily; A-, B-, C-, or D-class properties. Let’s get started.</p><p id="p-2" data-i18n="59dfccfa0d5c4.p-2">Now, you’ve heard me say it before, and I’m going to say it again, money makes money. I don’t want you to forget that. I want you to prove to yourself that you can work hard, stay frugal, and save $50–$100,000. For all of you guys and girls who have saved $50–$100,000, you’re probably wondering what to do next.</p><p id="p-14" data-i18n="59dfccfa0d5c4.p-14"><b>Where should you invest this money?</b></p><p id="p-3" data-i18n="59dfccfa0d5c4.p-3">You’re looking at all types of properties and there’s a lot of gurus out there pitching their own jibber jabber. You’re soaking up a lot of information, you’re doing your research, you’re watching the videos, and you’ve probably spent six to&nbsp;12 months (if not longer) on the sidelines thinking about what you should do and how you should do it. But guess what? You guys need to take action. I need you to make an investment. I need you to do something right now.</p><p id="p-15" data-i18n="59dfccfa0d5c4.p-15">Sitting on the sidelines will only give you a foundation to learn the fundamentals of how to do certain things; it will never give you life experience. Practice makes perfect. If you invest, even if you end up losing money, you will learn so much more from losing it than spending another six to&nbsp;12 months or longer reading online forums, watching videos, and attending seminars.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59dfccfa0d5c4.image-1"><img src="https://ohiocashflow.com/files/houseplans-702x336.jpg" data-location="local"></div><p id="p-6" data-i18n="59dfccfa0d5c4.p-6"><b>Now, what kind of deal should you do?</b></p><p id="p-7" data-i18n="59dfccfa0d5c4.p-7">I have no freaking clue. This is my belief: when you’re starting your real estate endeavors, the least amount of money you can invest will equal the least amount of risk. So, if that means buying a D-class property in a rough area for a couple grand, so be it. I’m a big believer in taking action, putting your money where your mouth is, and learning from the experience whether it’s good or bad. Learn from the experience. Understand where you went wrong. If you went wrong, make sure you do not repeat those same mistakes. Take what you learned, replicate it, and go into another deal. Just don’t make the same mistakes.</p><p id="p-8" data-i18n="59dfccfa0d5c4.p-8">Let’s just say, hypothetically, you’re looking at buying one of these dirt cheap properties. Have the mindset that you’re going to light a match and that money is going to go poof, but that is going to be your learning experience. I’m proud to say that I lost over half a million dollars when I started my journey as a real estate investor. I call it my Harvard degree of real estate. The lessons that I learned from those losses have enabled me to be the real estate investor that I am today. They’ve enabled me to be the entrepreneur that I am today.</p><p id="p-16" data-i18n="59dfccfa0d5c4.p-16">I am currently running two companies that are doing millions and millions of dollars in revenue. So when you lose on that D-class property, getting your feet wet and starting your journey in real estate, those losses, and the lessons from those losses, will keep you from repeating mistakes when there are more chips on the table. Think of it that way.</p><p id="p-9" data-i18n="59dfccfa0d5c4.p-9"><b>Conclusion</b></p><p id="p-10" data-i18n="59dfccfa0d5c4.p-10">What type of class property you should look at flipping? I personally think you should see what you’re comfortable with. Look at how much money you have saved. See how confident you feel in your ability, and the ability of your surrounding team of networks and then, I say invest the least amount of money. Why? Because that will equate to the least amount of risk. I hope that makes sense. I hope you enjoyed this article and feel free to leave any questions below.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><p id="p-12" data-i18n="59dfccfa0d5c4.p-12"><i>What type of property to you start out flipping?</i></p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59dfccfa0d5c4.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/what-type-property-flipping/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>