<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a734c076a954.h2-1"><span style="font-size:0.7em">Why Momentum is the Most Important Factor to Succeeding in Real Estate</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><respond-fetch fetchid="fetch-1"></respond-fetch></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/aN7foWEFKIk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="5a734c076a954.p-1">Today I want to talk to you guys about momentum, and why momentum is the most important factor to succeeding in real estate.</p><p id="p-2" data-i18n="5a734c076a954.p-2"><b>Momentum in Business</b></p><p id="p-3" data-i18n="5a734c076a954.p-3">I want to start off with a couple of stories. The first one goes back to 2011, when I attended a conference called the National Achievers Conference. Donald Trump was there. He flew in on his helicopter, and he gave a 45-minute speech about momentum. He said that throughout his career as a businessman he has seen many, many other successful folks—billionaires, that have gone against the momentum wave, as he called it. What he said was if things aren’t going the way you need them to, you can truly feel it.</p><p id="p-4" data-i18n="5a734c076a954.p-4">If you are intrinsically involved with your real estate investing and your business, you can see when something is wrong. You can feel that there is a lack of things happening for you. Things aren’t going your way. When you see this happening, you have to stop and reassess. You can’t keep pushing against that. The more you try and go against it, you’re a like a gambler at the casino—the more he throws into in, the more he loses. At the end of the day, the house always wins.</p><p id="p-6" data-i18n="5a734c076a954.p-6">The same thing goes in business. The more you go against the lack of momentum, the more you will lose. Donald Trump said that he has seen a ton of billionaires lose absolutely everything because they did not want to stop. They constantly kept going against the momentum. It was stubborn, and they lost billions and billions of dollars.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a734c076a954.image-1"><img src="https://ohiocashflow.com/files/soccer-700x336.jpg" data-location="local"></div><p id="p-7" data-i18n="5a734c076a954.p-7"><b>Momentum is Everywhere</b></p><p id="p-8" data-i18n="5a734c076a954.p-8">I can tell you another story now by backtracking to my professional soccer playing days. At this time, things just weren’t going right for me. I was in a bad space of mind. I wasn’t really fit, coming off of an injury. Every single kick that I made—every play—was wrong. I was losing the ball; I couldn’t hit the goal on target; everything was falling apart in front of me. It was like quicksand. The more I struggled, the more I tried to do, and the more I would sink—until I could sink no more.</p><p id="p-9" data-i18n="5a734c076a954.p-9">But I also remember one particular moment in one game when I kicked a ball, and it was just the perfect hit. I hit the crossbar. Ultimately, I didn’t even score a goal, but something felt right. I was like, “Wow, what the hell just happened there? That was absolutely amazing.”</p><p id="p-10" data-i18n="5a734c076a954.p-10">From that point forward, everything on the field that I touched turned to gold. I literally ended the season with 30 appearances, 12 goals, and seven assists. I’m not sure how many of you folks out there are soccer fanatics, but everything I touched turned to gold. That is called riding the momentum wave.</p><p id="p-11" data-i18n="5a734c076a954.p-11"><b>Make Momentum Work for You</b></p><p id="p-12" data-i18n="5a734c076a954.p-12">Right now, in my real estate endeavors, I have been on the momentum wave for an extended period of time. Everything I touch turns to gold. I literally can’t set a foot wrong. Of course, I make mistakes, but the majority of the things I do are working out. I’m confident; I’m a little bit arrogant, but everything has been working out. So I am riding that momentum wave, taking big risks. I’m literally going all in on various sides of my real estate endeavors, because I feel I’m on a role—that I’ve got that momentum.</p><p id="p-13" data-i18n="5a734c076a954.p-13">Now there have been instances where I’ve lost my momentum. I could feel it happening, and I pulled back. When this happened I literally sat on my butt and did nothing until I hit that crossbar again and felt a shift in me and in my endeavors.</p><p id="p-14" data-i18n="5a734c076a954.p-14">I hope that this blog post is not too philosophical for you guys. I also hope that a lot of you who are heavily involved in the day-to-day running of your business can feel this shift. It’s like there is this weird thing in the air. Something doesn’t feel right. So my message to you guys is this: Don’t push against something that’s not feeling right. If it doesn’t feel right, there is a reason for it. Take a step back, reassess, and don’t be stubborn, because if you do, you will lose.</p><p id="p-15" data-i18n="5a734c076a954.p-15">When things start to change again you will also feel that shift again. Things will feel right for you. Then work your way into it slowly, before going all in, and ride that momentum wave—just like I have been for a while now.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a734c076a954.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/dont-buy-a-home/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>