<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b2cd0a02e1c1.h2-1"><span style="font-size:0.7em">Does the BRRRR Strategy Work? (And Introducing the BRRSR &amp; BRRHR Methods)</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><respond-fetch fetchid="fetch-1"></respond-fetch></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/waFO5ZTX1WI" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="5b2cd0a02e1c1.p-1">Today we’re talking about&nbsp;the&nbsp;BRRRR&nbsp;strategy—a term&nbsp;coined&nbsp;by BiggerPockets meaning “buy, rehab, rent, refinance, repeat.”&nbsp;A lot of you know that I am a contrarian, but I actually agree with this method. I kind of used the&nbsp;BRRRR&nbsp;method back in Australia, but I didn’t do it correctly and it was pretty ugly. I had a lot of debt and it didn’t end up well, but I was able to get out of it. That was one of the first mistakes that I made in my real estate career.</p><p id="p-2" data-i18n="5b2cd0a02e1c1.p-2"><b>Growing Your Portfolio With the BRRRR Strategy</b></p><p id="p-3" data-i18n="5b2cd0a02e1c1.p-3">I think the BRRRR strategy is a great way to grow your portfolio. This is my only word of caution for the&nbsp;BRRRR&nbsp;method: When you buy, rehab, and rent, you really need to make sure that when you refinance and pull out that equity that you still have positive&nbsp;cash flow. Again, before you refinance, make sure that you crunch the numbers and when you pull out that equity that there is enough&nbsp;cash flow&nbsp;covering all of your expenses, especially the mortgage.</p><p id="p-4" data-i18n="5b2cd0a02e1c1.p-4">Now, I shot myself in the foot back in Australia, and a lot of people did that here on the West coast when they were buying,&nbsp;rehabbing, renting, refinancing, and pulling out the equity to go into another deal, but they were losing money on their monthly mortgage repayments. I would not bet on that strategy because you are betting that the property will appreciate more in value every single year than what you’re losing on your mortgage repayments. I know the market is hot now and everyone is buying on the East coast and West coast, but it doesn’t last. Eventually, it stops and it goes south just like it did in 2008. So don’t think that the property price is going to continue appreciating even if you’re losing a&nbsp;little bit&nbsp;on your monthly mortgage repayment because you’re still going to have a large capital gain profit as long as you can get into as many deals as possible. I did it, I tried it, and it didn’t end up well. That is kind of why I went down the&nbsp;cash flow&nbsp;path.</p><p id="p-6" data-i18n="5b2cd0a02e1c1.p-6">When you are crunching numbers on the&nbsp;BRRRR&nbsp;method, be sure to overestimate your expenses and underestimate your income. By overestimating your expenses, you are giving yourself a margin of safety. Something that I do to this day is discount the rent. If I know a property is going to rent for $1,000, I do my numbers at $900. If I know the property management fees are 8 percent, I calculate them as if they were 10 percent. Even if my mortgage is $1,000, even though I don’t have any mortgages, I would still estimate $1,100. Then, when I overestimate on my expenses and the numbers still make sense, I proceed with that particular investment. Guys, please do not get caught with your pants down like I did. Make sure you have positive&nbsp;cash flow&nbsp;after you do that refinance. Then, of course, repeat. By all means, do it five, 10, 15, 20, 100 times because it’s positive. You’re making money. Just make sure you have that margin of safety.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b2cd0a02e1c1.image-1"><img src="https://ohiocashflow.com/files/midwesthouse-702x336.jpg" data-location="local"></div><p id="p-7" data-i18n="5b2cd0a02e1c1.p-7"><b class="">BRRSR</b></p><p id="p-8" data-i18n="5b2cd0a02e1c1.p-8">An alternative and something I’ve been doing very successfully ever since I moved to the U.S is the&nbsp;BRRSR&nbsp;method. What this means is “buy, rehab, rent, sell, and repeat.” I’ve probably done this around 500 times.</p><p id="p-9" data-i18n="5b2cd0a02e1c1.p-9">I am happy paying taxes because the more I pay, the more money I’m making. Look, I get to cash out of the deal, I get to use that money, I get to invest it in more transactions, and then I just keep throwing gasoline on the fire. Back in the day, I was doing one deal a month, and now I’m doing 20&nbsp;deals&nbsp;a month. I’m doing commercial deals and buying&nbsp;multifamilies. I just keep growing because cash is king. The more cash that you have, the more deals that you can do, and the more profit you can make.</p><p id="p-10" data-i18n="5b2cd0a02e1c1.p-10"><b>BRRHR</b></p><p id="p-11" data-i18n="5b2cd0a02e1c1.p-11">Next is&nbsp;buy, rehab, rent, and hold—the&nbsp;BRRHR&nbsp;method. When you have enough capital lying around and you do not want to continue the cycle of either refinancing and repeating the process or selling and repeating the process, you might as well just&nbsp;buy, rehab, rent, and hold instead. At the end of the day, you want that passive income and financial freedom. I think that would beat just buying and holding because you won’t be buying distressed.</p><p id="p-12" data-i18n="5b2cd0a02e1c1.p-12">Guys, that is pretty much it. The&nbsp;BRRRR&nbsp;method is great and can work in your favor—just make sure you crunch the numbers. And don’t forget the&nbsp;BRRSR&nbsp;method! You heard it here first.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b2cd0a02e1c1.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/dont-buy-a-home/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>