<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a85b22ee56d2.h2-1"><span style="font-size:0.7em">The #1 Little Known Way I Find Cheap Real Estate Deals</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/sSbBG8TDgUI" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a85b22ee56d2.p-1">For those of you who don’t know who I am, I’m proud to say that to date, I’ve been involved in over 500 real estate transactions. I was able to acquire all of the properties using various strategies, but one in particular that I really like to talk about is using Craigslist. In 2014, over the span of about five months, I was able to acquire 34 properties, and I did it by stalking Craigslist every single day. For breakfast, lunch, and dinner, I was stalking Craigslist.</p><p id="p-2" data-i18n="5a85b22ee56d2.p-2"><b>How to Find Deals on Craigslist</b></p><div id="image-2" class="respond-image" data-display="standalone" data-i18n="5a85b22ee56d2.image-2"><img src="https://ohiocashflow.com/files/thrifty-deals.jpg" data-location="local"></div><p id="p-3" data-i18n="5a85b22ee56d2.p-3">Now, what you have to do is first have enough capital to acquire a property with cash because a lot of the properties listed on Craigslist are very distressed, rundown, and may have back taxes or a tax lien. So, you have to have the capital to be able to buy and close on them quickly because you probably won’t be able to get a loan.</p><p id="p-4" data-i18n="5a85b22ee56d2.p-4">Another thing you need to do is immerse yourself in everything in your particular target area. Within your zip code, you should know what un-renovated properties are selling for, what renovated properties are selling for, the prices that wholesalers list properties for in that area, who the top performing real estate agents in the area are, and who the top real estate investors flipping deals in the area are. Your network equals your net worth, so make sure you immerse yourself with the numbers and surround yourself with the right people so you truly become an expert in that particular area or zip code.&nbsp;</p><p id="p-6" data-i18n="5a85b22ee56d2.p-6">So, first, we have the capital, meaning we’ve got the cash to acquire the properties. Second, we have immersed ourselves in the numbers of that particular area so we understand the ins and outs and have enough information to make an educated decision. Then, guys, you have to stalk Craigslist just like I did. Log in and check it because there will be deals that pop up. Once they pop up, because you are a true expert in that particular area, you’ll know if it’s a good deal. Then, pick up the phone, call the seller, and ask them a series of questions. Your goal is to find out the absolute lowest price they are willing to take for that property. Remember, you’re an expert in that area, so you understand what that property is going to sell for one day if you fix it up.</p><p id="p-7" data-i18n="5a85b22ee56d2.p-7">Next, go and check the property out. If it meets your rehab estimates and you can make a significant profit on that particular transaction, buy it. You’ll be able to close as quickly as possible because you have the cash to do so. That is how I was able to acquire 34 properties in 2014. I knew the numbers in the area, I had the cash to make the deals happen, I was good at negotiating, I worked hard, and I stalked Craigslist every single day. A deal popped up, I was on the phone, I inspected the property, I committed the down payment, I called the title company and signed the contracts, and I closed on the contracts within seven days. Then I started the renovations on it and sold the property for a profit.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a85b22ee56d2.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>