<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="595d114bc5c88.h2-1"><span style="font-size:0.7em">The #1 Strategy I Use to Find Bargain Properties</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/7528q3FDUtE" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="595d114bc5c88.p-1">Today, I want to talk to you about the number one strategy that all of my companies use to find absolute bargain properties.</p><p id="p-2" data-i18n="595d114bc5c88.p-2">For those of you who don’t know me, I am proud to say that I moved to the United States five years ago from Australia. And to date, I have been involved in the closing of over 400 real estate deals. This year, I’m going to do over 100 deals, and next year, I’m shooting for 200+ properties. And in buying all of these properties, the number one strategy that I’ve used along is yellow letter campaigns.</p><p id="p-3" data-i18n="595d114bc5c88.p-3"><b>How We Send Effective Yellow Letters</b></p><p id="p-4" data-i18n="595d114bc5c88.p-4">Now, the way we structure these yellow letter campaigns is quite simple. We send a very basic yellow letter. We like to target absentee homeowners and folks residing in their properties for 20+ years. We do this because the likelihood of these guys picking up the phone and wanting to sell their houses is the highest out of any demographic you can choose. Now, what the letter consists of is actually very basic. One letter that we have states, “I was riding my bicycle through the area, and I saw your house. I might be interested in buying it. I’m a cash buyer. If you’re interested in selling it, give me call.” Another example of a letter we use is, “I was driving my car through the street, and I saw your house. I’m a local investor who’s a cash buyer. I can close quickly. If you’re interested in selling your house, give me a call.” What we have found is that those two basic topics will get us the most call backs.</p><p id="p-6" data-i18n="595d114bc5c88.p-6">With yellow letters, you don’t have to get too complex with the topic of the actual letter. What you have to become is consistent sending out these yellow letters. So, you have to send them out on a weekly or monthly basis in order to get the best return on your investment.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="595d114bc5c88.image-1"><img src="https://ohiocashflow.com/files/yellow-letters-find-deals.jpg" data-location="local"></div><p id="p-7" data-i18n="595d114bc5c88.p-7"><b>Concentrate on the Phone Calls</b></p><p id="p-8" data-i18n="595d114bc5c88.p-8">Now, where you really have to start working hard is once you start getting those phone calls. I know that most of you out there don’t have three, four, five, or ten full-time employees like I do, so you’re going to have to do the legwork yourself. It’s also going to take a bit of time to set up the systems where you can put this on autopilot. What I suggest you do is get ahold of some of the wholesalers in&nbsp;the forums&nbsp;because the wholesalers really know how to send out these yellow letters and how to set the system on autopilot. Personally, I like to take every call live, and if I’m not able to take it live, we just let it go to voicemail and call back.&nbsp;</p><p id="p-9" data-i18n="595d114bc5c88.p-9">You’re going to have to get really consistent with sending out these yellow letters and prompt at calling these folks back. The longer you wait to call back, the more likely you are to lose the lead. Now, keep this ration in mind: For every 5,000 yellow letters that we sent, we get around 300 callbacks. My buy criteria is very stringent, so we will only buy around one to two properties from those 5,000 yellow letters. What tends to happen is over the coming months, we will buy another two to three properties just based on the fact that sometimes someone doesn’t call us immediately. They see the letter at a later date on their dining room table, so they call us. Or maybe we can’t get in the property immediately. It also takes a bit of time to negotiate and whatnot. That’s why we don’t get those immediate purchases; we get those purchases at a later date.</p><p id="p-10" data-i18n="595d114bc5c88.p-10">So, once again, the rule of thumb is 5,000 yellow letters to get around 300 callbacks. Over a period of around two to three months, we tend to buy around five properties. I’m telling you—you can buy absolute bargains doing yellow letter campaigns. I don’t know any other strategy where you can find better or cheaper properties. A lot of these folks want to sell their houses now—they want an exit, they want cash, and they don’t want to list it through a real estate agent. Of course, make sure the title is clear and that you’ve inspected the property.</p><p id="p-11" data-i18n="595d114bc5c88.p-11"><i>If you guys have any other methods of finding awesome deals where you can buy absolute bargain properties, I’d love to hear from you.</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="595d114bc5c88.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>