<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="59d67707217fa.h2-1"><span style="font-size:0.7em">3 Reasons You Should NOT Follow the American Dream and Buy Your Own Home</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><respond-fetch fetchid="fetch-1"></respond-fetch></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/7SptBEOnZ0g" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="59d67707217fa.p-1">Those of you who have watched my previous vlogs will know that I am a big believer in working hard, saving as much money as you can, and using that capital for starting your real estate investment endeavors. I also don’t believe in a thing called the American Dream. I mean, I think America is the best country in the world, but I think that the American Dream is dead—or the perception of what the American Dream should look like is dead.</p><p id="p-2" data-i18n="59d67707217fa.p-2"><b>1. Buying a home ties up money that could be out making money.</b></p><p id="p-3" data-i18n="59d67707217fa.p-3">That brings me to the first reason why you should never own your own home. Once you buy this half-a-million-dollar property, hypothetically, you are going to have to put down $100,000. Now, the $100,000 is going to be the deposit to purchase the property. You are going to tie up $100,000 of liquid capital that is not going to produce a return on investment.</p><p id="p-15" data-i18n="59d67707217fa.p-15">Now, yes, you can talk as much as you want about capital appreciation and all that jibber jabber. But if you know how to make money in real estate, you should always stay liquid. You should use the $100,000 to buy, fix, and flip. Make a $20,000 profit, and now that money that you’ve got sitting there is not $100,000 anymore; it’s $120,000. Rinse and repeat. Keep buying, fixing, and&nbsp;flipping—or wholesale&nbsp;or wholetail the property. You don’t have to flip; there are a lot of ways to make money in real estate. Money makes money, so use the liquid capital to go out into the market to make more money with it.</p><p id="p-16" data-i18n="59d67707217fa.p-16">Personally, when less than 10 percent of my net wealth purchases my dream property, that is when I’ll pull the trigger on that home—with cash. I can tell you right now, my dream property is around $4-5 million, so I will have to have a net wealth of $50 million before I buy that house. I don’t want any debt; I actually want to buy it with cash. Until then,I am happy to rent. I rent a crappy little 2-bedroom, 1-bathroom apartment with my family right now. Every spare dollar I have is out making more money for me.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="59d67707217fa.image-1"><img src="https://ohiocashflow.com/files/dont-buy-a-home.jpg" data-location="local"></div><p id="p-6" data-i18n="59d67707217fa.p-6"><b>2. Buying a home reduces flexibility.</b></p><p id="p-7" data-i18n="59d67707217fa.p-7">The second reason is when you purchase your own home, you will be stuck. You’re going to anchor yourself to the ground, and you’re going to have this big mortgage that forces you to get out of bed every day and go to work so you can pay it off. You will also probably be buying this property in a great little school district so your kids can go to school, get good grades, and go to college.</p><p id="p-17" data-i18n="59d67707217fa.p-17">Guys, you are just falling for the stereotypical American Dream. You’ve got no mobility. What if there is a change in government, what if there is a third world war, what if you need to move quickly? I have literally moved like a gypsy, looking for other opportunities. I’m living in Toledo, Ohio right now, out of all places. There is not a ton to do here except invest in real estate and make a ton of money doing it, which I’m doing right now. I’ve got multiple companies here. This was a sacrifice I was willing to make. I mean, what if you get a better job opportunity?</p><p id="p-18" data-i18n="59d67707217fa.p-18">In my opinion, the world is changing at a rapid pace. You do not want to throw that anchor. There is so much uncertainty going on in today’s day and age, You want to be flexible, mobile, and move to where the opportunities are available.</p><p id="p-9" data-i18n="59d67707217fa.p-9"><b>3. Buying a home introduces all kinds of expenses.</b></p><p id="p-8" data-i18n="59d67707217fa.p-8">That leads me to reason number three, and that is the expenses. I think that a lot of you out there don’t understand how many expenses you will incur by owning your own home. Let’s just start with this thing called a mortgage. I’ve already mentioned before that after you get into a ton of debt with a mortgage, you will have to get out of bed every day to go to your 9-5 so you can afford those mortgage repayments. I don’t have to do that, as I already mentioned. All my liquid capital is out in investment properties, producing more money and cash flow for me, which is how I afford my rent.</p><p id="p-10" data-i18n="59d67707217fa.p-10">How about all the maintenance expenses—cleaning the gutters, mowing the lawn, the insurance costs? Time is money. I feel sorry for those people mowing their lawns an hour every single week. I would rather be making this video or on the phone. I would suggest you rather use your liquid capital and invest it in cash flowing investment properties or in buy, fix, and flip properties. Rent a crappy little home or a condo, whatever it may be, and use your liquid capital to invest it and make money. Let the tenants cover all of your expenses.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><p id="p-4" data-i18n="59d67707217fa.p-4">Look, I know that this vlog goes against popular belief. I’m happy to take whatever criticism you throw my way. So please make sure that you comment below. I would love to hear from a person who has successfully purchased their own home, hasn’t incurred that many expenses, and also has a large real estate portfolio on the side. I would love to hear how you have structured all of that.</p><p id="p-12" data-i18n="59d67707217fa.p-12"><i>Do you believe in owning your primary residence?</i></p><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="59d67707217fa.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/dont-buy-a-home/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>