<div id="block-6" class="block row" data-nested="not-nested" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-5 sidebar text-center"><div id="image-1" class="respond-image hide" data-display="standalone" data-i18n="585c0b1e036a8.image-1"><img src="http://app.tendesign.us/sites/ohio-cashflow/files/dingo-steve.jpg" data-location="local"></div><respond-html id="html-2" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17">
                    <button type="button" class="btn-yellow" data-toggle="modal" data-target="#ebook">DOWNLOAD EBOOK</button>
                </p>
            </div>
        </respond-html><respond-html id="html-3" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-7 main"><respond-html id="html-1" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="http://www.youtube.com/embed/EzFIvHFkt94" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="585c0b1e036a8.p-1">We did a little series of office interviews a while back, and here is a little snippet&nbsp;from our #1 Sales &amp; Acquisitions guy, Stevey Balls.</p></div></div><div id="ebook" class="block row modal modal-fullscreen fade" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12"><respond-html id="html-2" description="close-button">            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </respond-html><div id="block-3" class="block row" data-nested="not-nested" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-7"><h3 id="h3-1" class="text-center" data-i18n="5846eae91e58c.h3-1">A must read for turnkey property investors locally in the US and worldwide.&nbsp;</h3><p id="p-2" class="text-center" textcolor="#cc0000" data-i18n="5846eae91e58c.p-2" style="color: #cc0000;"><b>IMPORTANT! - PLEASE READ</b>
        </p><p id="p-1" data-i18n="5846eae91e58c.p-1">This book takes a look at some of the little-known nuances that an investor will have to negotiate when purchasing an investment property in the U.S. We elaborate on issues that are small, yet far different than buying properties in Australia and around the world. We also discuss items of far greater importance that could cause an out of state or country investor financial harm if they were caught unaware of the U.S laws and customs.</p><h3 id="h3-2" class="text-center app-header" data-i18n="5846eae91e58c.h3-2"><i class="fa fa-arrow-circle-right">&nbsp;&nbsp;</i>Claim your free e-book&nbsp;<i class="fa fa-arrow-circle-left">&nbsp;</i><br><i>on turnkey property investment.</i></h3><hr id="hr-1"><respond-html id="html-1" description="HTML">            <iframe class="podio-webform-frame" id="podioWebForm1172774859740" height="550" style="width: 100%; border: none; overflow: scroll !important; height: 370px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17440014/1172774?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Febook"></iframe>
        </respond-html></div><div  class="col col-md-5"><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5846eae91e58c.image-1"><img src="http://app.tendesign.us/sites/ohio-cashflow/files/ebook-dingo.png" data-location="local"></div></div></div></div></div>