<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5ae0b194826b0.h2-1"><span style="font-size:0.7em">How to Crunch Real Estate Numbers Painlessly Using This One Simple Rule</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><p id="p-1" data-i18n="5ae0b194826b0.p-1">On many occasions, I have taken time to read through the forums. More often than not, the conversations are specifically about the numbers. Although the majority of what I write and what I teach has to do with communication and building trust and relationships, the business is ultimately run by these same numbers members keep asking about.</p><p id="p-2" data-i18n="5ae0b194826b0.p-2">I have had other individuals recently inbox me concerning the 50% rule and the 2% rule, and honestly, I have been in Real Estate for most of my life and have still not figured those out! What I do live by though is a very, in my opinion, simple formula that I refer to as the “Engelo Rule.”</p><p id="p-3" data-i18n="5ae0b194826b0.p-3">Haha, just kidding — you may call it whatever you wish; just know that it works.</p><p id="p-4" data-i18n="5ae0b194826b0.p-4">As always I strive to do everything possible to keep the numbers simple. The more complex you make something, the less clear it becomes.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5ae0b194826b0.image-1"><img src="https://ohiocashflow.com/files/crunching-numbers-650x336.jpg" data-location="local"></div><p id="p-6" data-i18n="5ae0b194826b0.p-6"><b>This is How I Do My Estimates</b></p><p id="p-7" data-i18n="5ae0b194826b0.p-7"><b>For example:</b>&nbsp;The purchase price of the property is $50,000, and it rents for $1,000pm.&nbsp;(What an AWESOME find!)</p><p id="p-8" data-i18n="5ae0b194826b0.p-8">$1,000 monthly rent x 12months = $12,000pa</p><p id="p-9" data-i18n="5ae0b194826b0.p-9">The expenses would include 10% property management ($1,200pa), annual taxes of $1,000pa and annual insurance of $600pa.</p><p id="p-10" data-i18n="5ae0b194826b0.p-10">$12,000 rent per year – $2,800 yearly expenses (PM, Taxes, Insurance) = $9,200pa</p><p id="p-11" data-i18n="5ae0b194826b0.p-11">I would also always add a margin of safety and deduction, which would be dependent on the class/area. The average is to take off a further 10% for “unexpected maintenance and vacancy.”</p><p id="p-12" data-i18n="5ae0b194826b0.p-12">So $9,200 – $920 (10%) = NET $8,280 yearly cashflow</p><p id="p-13" data-i18n="5ae0b194826b0.p-13">Once you have the NET cashflow figure, this figure is then divided with the purchase price of $50,000 and then you will get a sum of 0.1656 which would mean a NET CAP of 16.5%.</p><p id="p-14" data-i18n="5ae0b194826b0.p-14">Also, please keep in mind that the above calculation is used when the purchase is made with cash only. A few minor adjustments would be needed when using finance, but to keep things simple I have decided to leave those estimates out.</p><p id="p-15" data-i18n="5ae0b194826b0.p-15"><b>Conclusion</b></p><p id="p-16" data-i18n="5ae0b194826b0.p-16">As always, researching your market by talking to trusted partners on the ground allows you to know firsthand what a good rental figure would be and if there are any more hidden costs associated with the city or the property management used.</p><p id="p-17" data-i18n="5ae0b194826b0.p-17"><b>This is not one of my longest blogs or the most profound, but I live by this simple formula when crunching the numbers on all of my deals.</b></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5ae0b194826b0.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>