<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a8b0a072e271.h2-1"><span style="font-size:0.7em">3 Reasons This is the Beginning of the End of Real Estate as We Know it</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/HCtCM7dGYbU" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a8b0a072e271.p-1">The world as it stands today is moving at a rapid pace, and if you’re not willing to adapt, you’re probably going to lose.</p><p id="p-2" data-i18n="5a8b0a072e271.p-2"><b>Adapt or Be Left Behind</b></p><p id="p-3" data-i18n="5a8b0a072e271.p-3">The first message here is you have to adapt to the current economic climate. We’ve now seeing things like augmented reality, virtual reality, artificial intelligence, and robotics. Amazon, Uber, Airbnb, and more are taking over. It’s truly revolutionary. Even the cryptocurrency world is a factor.</p><p id="p-4" data-i18n="5a8b0a072e271.p-4">Still, one industry that has yet to be fully disrupted is real estate. Yes, there are a lot of apps in the real estate world, but it really has not been disrupted. If you look at how a transaction has been done for hundreds and hundreds of years it’s kind of the same, right? You have a real estate agent who lists and sells your home. The real estate agent has to peg their name to a broker, and then the title company performs the transaction. There’s no rocket science here. It’s pretty much status quo. I think that is going to change quickly. Here are the top three changes that I see happening.</p><p id="p-6" data-i18n="5a8b0a072e271.p-6"><b>1. Title companies will go out of business in the next five to 10 years.</b></p><p id="p-7" data-i18n="5a8b0a072e271.p-7">That’s right, title companies are done. And you know what is taking over? Blockchain. Now, everyone is caught up in the bitcoin frenzy. I personally do not believe in bitcoin or any other cryptocurrency, and let me tell you why. During the dot-com bust, you a ton of websites went out of business and the dot com bubble exploded, but there were still companies like Amazon and eBay that thrived and are still killing it. Now, which cryptocurrency is going to last through the crypto bust? I don’t know, but one thing is for certain: Blockchain is here to stay.</p><p id="p-8" data-i18n="5a8b0a072e271.p-8">The blockchain is an honest, centralized system. It’s a higher force that can’t be manipulated and is less likely to be hacked. So many title companies make a lot of mistakes, take a long time to pull the title, and aren’t streamlined or accurate. Blockchain, in my opinion, could help eliminate those uncertainties. It will help ensure everything gets done in live time. You will be able to pull the deed to a property immediately. Everything will be done virtually, without error, and it won’t be controlled by anyone in particular.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a8b0a072e271.image-1"><img src="https://ohiocashflow.com/files/multifamily-market.jpg" data-location="local"></div><p id="p-9" data-i18n="5a8b0a072e271.p-9"><b>2. Brokerages will become extinct in 10 to 20 years.</b></p><p id="p-10" data-i18n="5a8b0a072e271.p-10">Why? Well, it’s quite simple. Have you met an agent who likes their broker? The majority of agents say, “They give me nothing, but they take away everything.” Guys, brokerages are taking their agents for granted. They offer them this big brand, but they don’t really provide any value, give any support, offer any training, and there are still a lot of agents out there who don’t know how to do their business successfully. Then agents started getting a bad reputation.</p><p id="p-11" data-i18n="5a8b0a072e271.p-11">There is a big stigma out there that consumers don’t like real estate agents. So I think that there is going to be a company just like Uber that is going to go into every city and state and changing the legislation. In most states, Uber changed the law to where the average citizen can be a taxi driver. Mind-boggling, right? A similar type of model is going to revolutionize the real estate industry and they’re going to lobby to change the legislation to where brokers will be extinct. You are not going to have to put your real estate license under a brokerage. That is my prediction. I know it sounds crazy, but hey, you heard it here first. I think there is going to be some sort or online tech or app or platform that will make sure agents are honest and compliant. But look, brokers are done. They are the middleman, and everyone wants to get the middleman out of the picture. They take their agents for granted, and they don’t offer them any value. So, it is just a matter of time before brokers are completely extinct.</p><p id="p-12" data-i18n="5a8b0a072e271.p-12"><b>3. Real estate agents are going to be out of business in 20 to 30 years.</b></p><p id="p-13" data-i18n="5a8b0a072e271.p-13">Let me tell you why. A lot of real estate agents are now seen as second-hand car salesman. It sucks because I have a lot of buddies that are real estate agents, and I actually own a brokerage, but I think that is the trend in the market right now. If we look at the higher tech markets like San Francisco and New York City, we can already see companies and startups that are allowing sellers to list their house online for a dirt cheap discounted rate. Buyers are able to open up the lockbox because they were allowed access through an online app. They also can submit an offer through the app.</p><p id="p-14" data-i18n="5a8b0a072e271.p-14">And Zillow, the agent’s best friend, actually started their company because they wanted to completely eliminate agents out of the equation. Granted, I’m a big believer in people. People still buy from people. Good agents sell homes. So I don’t think that agents are going to be out of business anytime soon, but I do believe over the next 20 to 30 years, this could potentially happen. Again, I do believe that buyers and sellers are going to flock to a new, revolutionary platform.</p><p id="p-15" data-i18n="5a8b0a072e271.p-15"><i>Those are my predictions. Think I’m crazy?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a8b0a072e271.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>