<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a9d53d598729.h2-1"><span style="font-size:0.7em">Here’s Why You Should Never, Ever Pay for Real Estate Advice</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/4xk6XojX8t4" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5a9d53d598729.p-1">Today we’re talking about real estate courses. Should you buy one?</p><p id="p-2" data-i18n="5a9d53d598729.p-2">Abso-freakin-lutely not!</p><p id="p-3" data-i18n="5a9d53d598729.p-3"><b>Forget the Gurus</b></p><p id="p-4" data-i18n="5a9d53d598729.p-4">Now I’m probably going to get a lot of heat for this one, because unfortunately there are just so many gurus out there selling a ton of crappy courses. Guys, I’m the biggest anti-guru there is. I do not believe in products, materials, DVDs, courses, or seminars. Whatever it is, I just don’t believe in it.</p><p id="p-6" data-i18n="5a9d53d598729.p-6"><b>Find the Real Pros</b></p><p id="p-7" data-i18n="5a9d53d598729.p-7">Let me tell you why. It goes like this. If you’re sick, you go to the doctor, and the doctor helps you get better. You do not buy a DVD on how to cure the flu, right? If your car breaks down, you take it to the mechanic. You do not read a book on how to fix your car, do you? So if you want to learn how to make money in real estate, you should find people who are&nbsp;working&nbsp;in real estate and making money. Affiliate yourself with them any way you know how.</p><p id="p-8" data-i18n="5a9d53d598729.p-8">Sometimes you may have to pay for their time just like you have to do with a doctor or a mechanic, but there are many instances where you will not have to pay for their time. What can you do now for someone who is really successful doing deals and making a ton of money? How can you help them? How can you be of value to them? I don’t know, polish their shoes or wash their car. Do whatever it takes. Really; whatever it takes.&nbsp;</p><p id="p-9" data-i18n="5a9d53d598729.p-9">Now, I’m going to go back in time to when I started my journey. I found someone who I looked up to. I saw him on the front cover of a magazine. In it, this particular fellow was talking about how he retired and became financially free at the age of 24. My mind was blown. I’m asking myself,&nbsp;how the hell did he do that?&nbsp;I was 21 then. I’m 30 now. I literally spent six months cold calling his office, emailing his secretary, begging and pleading and doing whatever I could to get in his door. Believe it or&nbsp;not, I was able to finagle my way in and we became great friends. I got a job, worked under his wing for two years, and that pretty much gave me the experience and foundation to become the real estate investor that I am today.&nbsp;</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a9d53d598729.image-1"><img src="https://ohiocashflow.com/files/guru-702x336.jpg" data-location="local"></div><p id="p-10" data-i18n="5a9d53d598729.p-10">So look, there are a lot of schemes out there. There are a ton of these magician gurus selling these crappy courses. They are very good at lead generation. They’ll do all of these Facebook sponsored posts, Google AdWords, and they’ll suck you in with a lead magnet like a free e-book, or whatever it may be, to lead you down the rabbit hole to eventually sell you something. Guys, I don’t believe in it. I just don’t believe in it.&nbsp;</p><p id="p-11" data-i18n="5a9d53d598729.p-11"><b>Show Me I’m Wrong</b></p><p id="p-12" data-i18n="5a9d53d598729.p-12">Please prove me wrong. Anyone out there who has a course with a DVD, anyone who sells a mastermind or seminar, comment below. I’d love to hear from you. If you want to, please let us Google your name so we can see how many of you folks actually have bad reviews on&nbsp;Ripoff Report&nbsp;and Better Business Bureau and whatnot. Because I have yet to find a legitimate real estate guru who does not have anything negative in their background.</p><p id="p-13" data-i18n="5a9d53d598729.p-13">I believe in trial and error. I believe in working hard. I believe in saving a certain amount of money. I believe in immersing yourself in anything and everything real estate.</p><p id="p-14" data-i18n="5a9d53d598729.p-14"><b>Find the Information You Need for Free</b></p><p id="p-15" data-i18n="5a9d53d598729.p-15">Look at the forums. Look at BiggerPockets. I mean, there is nothing you cannot find here. There are so many successful bloggers who have tens of thousands of posts and likes, with 30 and 40 years of experience. I met a&nbsp;good colleague of mine, Jay Heinrichs, (shout out to Jay) &nbsp;seven years ago on an Australia forum. What a man. This guy is 100 million, billion percent legit, right? There are so many people like that. You can learn from BiggerPockets, and you can learn from the hundreds and hundreds of videos on YouTube of so many other folks doing so many cool things.&nbsp;</p><p id="p-16" data-i18n="5a9d53d598729.p-16">There’s really no need to pay for anything. If you are going to pay for something, make sure you do a Google search. Google is your best friend. Google the particular guru’s name and put scam behind it and see what you come up with. If you can’t come up with anything, awesome. Google my name, by all means&nbsp;— I urge you to Google my name.&nbsp;I’m not selling you anything.&nbsp;</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a9d53d598729.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>