<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5a79bbffe9477.h2-1"><span style="font-size:0.7em">5 Habits That Help Average People Make Millions</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html><respond-fetch fetchid="fetch-1"></respond-fetch></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/0eONZpGByFA" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><p id="p-1" data-i18n="5a79bbffe9477.p-1">I moved to the United States five years ago, and I truly believe it is the best country in the world. I always tell everyone that what I did here I would not be able to do anywhere else.</p><p id="p-2" data-i18n="5a79bbffe9477.p-2">Five steps have helped me achieve the success that I have today, and I’m hoping that they will do the same for you.</p><p id="p-3" data-i18n="5a79bbffe9477.p-3"><b>1. Aim continually to leave your 9-5 job behind.</b></p><p id="p-4" data-i18n="5a79bbffe9477.p-4">So the first thing you need to do is quit your job. It’s called a J-O-B, which means “just over broke.” You’re working a 9-5, you’re getting someone else richer, you’ve got an hourly rate, you’re limited to how much money you can make, and you can’t really go beyond the industry average there, right?</p><p id="p-6" data-i18n="5a79bbffe9477.p-6">Most multi-millionaires and billionaires own businesses because there is no limit to how much you can earn in a business. You can flip one, 10, or 100 properties. But for the person with a job, there are only 24 hours in a day—and many of those hours are taken up while you’re only getting paid an hourly rate.</p><p id="p-7" data-i18n="5a79bbffe9477.p-7"><b>2. Don’t get into debt.</b></p><p id="p-8" data-i18n="5a79bbffe9477.p-8">This country has so much debt, it’s mind-boggling—student loans, mortgages, car loans, credit cards, etc. It doesn’t make any sense to me. Only spend what you can afford to spend, which means the money that you have in your account should be the money that you are spending. Simple.</p><p id="p-9" data-i18n="5a79bbffe9477.p-9">On top of that, I’m going to go out on a limb and say you should strongly weigh your decision on whether to go to college. I know, I’m sorry mom and dad, but college is going to cost you hundreds of thousands of dollars. And you’re going to learn how to be good at a job and how to make your boss richer. It doesn’t make any sense to me. I think that the world will start going in a different direction when it comes to that. We’ve got a lot of entrepreneurs who don’t have college degrees; they don’t even have high school diplomas but they’ve got businesses that are achieving amazing success. So that piece of paper, that document, that diploma doesn’t really mean as much today as it did back in the day.</p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5a79bbffe9477.image-1"><img src="https://ohiocashflow.com/files/wealthy-tricks (1).jpg" data-location="local"></div><p id="p-10" data-i18n="5a79bbffe9477.p-10"><b>3. Stay frugal.</b></p><p id="p-11" data-i18n="5a79bbffe9477.p-11">When I started my journey as an entrepreneur and a business owner, I was told by some of my mentors that I had to keep costs to a minimum and drive revenue. That means don’t buy a new phone, don’t buy a new suit, and don’t buy a swanky new couch. There is no need to spend money on things that do not give you a return on investment. Instead, spend one dollar and get two back.&nbsp;</p><p id="p-12" data-i18n="5a79bbffe9477.p-12">To do this, you have to keep costs to a minimum. Don’t be like everyone else, buying the new phone when it comes out. Unless it’s helping you get more money, do not spend it. Stay frugal. When I was broke, I could only afford to buy dollar gas station coffees, and I was eating teaspoons of peanut butter to survive. Guess what? If that is what you have to do, do it. Even to this day, we have a system in place where we check any $2 unrecognized charges on our cards.</p><p id="p-13" data-i18n="5a79bbffe9477.p-13"><b>4. Learn to sacrifice everything and anything.</b></p><p id="p-14" data-i18n="5a79bbffe9477.p-14">That is probably that hardest step out of all of it. There aren’t any walks in the park, and there aren’t any vacations. I personally left everything and everyone behind, and I moved into the unknown. I had a great paying job in Australia, familiarity, family, friends, and memories. I left it all. I made a huge sacrifice and moved here with nothing. I worked my freaking butt off, and I still do to this day work 16, 17, or 18-hour days. Every dollar that I have I invest back in my business. Nothing comes easy in life. You have to work hard, you have to sacrifice, and you have to do whatever it takes. You have to put everything on the line. If you want to succeed, there aren’t any excuses and it’s going to take a lot of hard work. I don’t believe in talent. I believe in hard work.</p><p id="p-15" data-i18n="5a79bbffe9477.p-15"><b>5. Methodically invest in property.</b></p><p id="p-16" data-i18n="5a79bbffe9477.p-16">I’m not sure what the statistics are out there, but the majority of multi-millionaires and billionaires all have very large property portfolios. There are many ways that you can invest in real estate, as you guys know. Regardless of the niche you use, you want to get to a certain level of financial status where you can buy and hold. Long-term wealth, in my opinion, is built by buying and holding properties. They hopefully will appreciate in value, which will hopefully continue to expand your multimillionaire status, and you will also receive residual income from them so you can achieve true financial freedom and enjoy your life.&nbsp;</p><p id="p-17" data-i18n="5a79bbffe9477.p-17"><b>BONUS: Surround yourself with the right people.</b></p><p id="p-18" data-i18n="5a79bbffe9477.p-18">There are no ifs, ands, or buts about it.</p><p id="p-19" data-i18n="5a79bbffe9477.p-19">Let me tell you something. I quit school at the age of 14. I’ve got no formal education whatsoever. But as Henry Ford once said, “I’m smart enough to have smarter people around me doing the things that I can’t do or don’t wish to do.” That statement changed my life. I always try to be the dumbest person in the room. I’ve realized my faults, and I aim to surround myself with the right people. I’m surrounding myself with attorneys, accountants, and other entrepreneurs running amazing businesses. I also surround myself with other real estate investors doing great things who pull me up with them.</p><p id="p-20" data-i18n="5a79bbffe9477.p-20">They say you are who you are with. So make sure that you network. Throw yourself out there. Go to conferences, shake hands, kiss babies, talk to people, email them, cold call them. Network equals net worth. Surround yourself with the right people. If they’re worth $10 million, at least they will pull you up and you’ll be worth a couple million, if not more than that. You are who you are with. Have the right people around you.</p><ul id="ul-3"></ul><ul id="ul-4"></ul><hr id="hr-1"><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5a79bbffe9477.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/dont-buy-a-home/" target="_blank" class="" title="" textcolor="" style="color: ;">BiggerPockets.com</a>
        </span></p></div></div>