<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5947c07f58f16.h2-1"><span style="font-size:0.7em">5 Extreme Methods I Use to Save Time in My Workday</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/tMggetG9cpo" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5947c07f58f16.p-1">Today we’re going to be talking about five extreme ways that can save you time. I’ve actually implemented all of them. I don’t know if anyone else is using them, but if you are let me know. So let’s get started.</p><p id="p-2" data-i18n="5947c07f58f16.p-2">Time is your most valuable asset, and you have to invest it wisely. If someone is abusing your money, well, don’t let them, but still, don’t hold a grudge against them as much as you would if someone was abusing your time. Why? Because when time is gone, it’s&nbsp;gone forever. You can’t get it back. It is not refundable, and you definitely can’t buy it in the first place.&nbsp;So please protect your time. I’ve come up with five extreme ways to&nbsp;protect my time.</p><p id="p-3" data-i18n="5947c07f58f16.p-3"><b>1. Quit Facebook</b></p><p id="p-4" data-i18n="5947c07f58f16.p-4">So the first thing that I’ve recently done is quit&nbsp;Facebook. That’s right—I’ve only got four friends on Facebook. The only reason why my Facebook account is still open is for all of the groups, some of them paid, that I’m a member of that I really want to contribute to and network with others on. But ultimately, what do most&nbsp;do on Facebook? I can bet you money that you’re not really networking and you’re not really building your business. What you’re doing is looking into someone’s life and what they’re doing and what holiday that they’re going on and all that stuff. So, you have to take a good, long, hard look at yourself and really see what the purpose of you being on Facebook is. A great tool to use is&nbsp;TimeDoctor.com.&nbsp;You’ll be able to get an indication of how long you spend on Facebook.</p><p id="p-6" data-i18n="5947c07f58f16.p-6"><b>2. Don’t Answer the Phone</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5947c07f58f16.image-1"><img src="https://ohiocashflow.com/files/time-management.jpg" data-location="local"></div><p id="p-7" data-i18n="5947c07f58f16.p-7">Now, the second extreme thing that I have implemented is I don’t answer my phone. No matter who calls me, no matter when they call me, I will let it ring, and I will not answer my phone. I work 14 to 15-hour days. I am in the zone, and I am focused on what I am doing. If I pick up my phone and answer it, I lose&nbsp;focus and I’m done. I have to restart everything, and I suffer from ADHD (attention deficit hyperactivity disorder). It makes me feel like I’m&nbsp;constantly getting distracted with everything in my&nbsp;head. So, the number one reason that I do not answer my phone is that I have to stay focused. I have to finish my task, and if I pick up my phone, I lose out.</p><p id="p-8" data-i18n="5947c07f58f16.p-8"><b>3. Never Schedule Calls</b></p><p id="p-9" data-i18n="5947c07f58f16.p-9">A&nbsp;great tool that I’ve absolutely loved ever since I discovered it&nbsp;is to never schedule my&nbsp;own calls. Think about this for a second—how many times do you go back and forth with someone to find the right day and time that fits both of you for a phone call?You probably waste 20-30 minutes just by doing that, and a lot of the time it doesn’t even get scheduled on that day, and you have to follow up days or weeks later. So please check out an online platform called&nbsp;Calendly. All you have to do is sign up and you can then send your link out to anyone and they will be able to schedule a time and date that suits them best and meets your calendar. This online platform integrates directly with your calendar. So whenever you are free, they will be able to see that, no matter the time zone. And they’ll be able to schedule a time to speak on the phone with you.&nbsp;</p><p id="p-10" data-i18n="5947c07f58f16.p-10"><b>4. Don’t Leave the Office</b></p><p id="p-12" data-i18n="5947c07f58f16.p-12">The fourth one is to not&nbsp;leave your office. Why the heck would you leave your office? Most of you folks who&nbsp;live on the east and west coasts drive one and a half hours to work, right? Well, even here in Toledo, I still don’t want to leave my office because if I’m answering my phone, if I’m leaving my office, if I’m not focused, I am losing time. And time is my most valuable asset, as we’ve already said. So try to stay in the office for as long as you can. As soon as you get out of the office, you get into traffic, you get distracted, you have to go pick up that Starbucks coffee. I can tell you right now, every single time I leave my office, I lose an hour in my day. And my time is the most important asset to me.</p><p id="p-13" data-i18n="5947c07f58f16.p-13"><b>5. Hire an Assistant</b></p><p id="p-14" data-i18n="5947c07f58f16.p-14">Last but not least, for all of you business owners out there&nbsp;who have the capacity to do something like this, hire a PA (personal assistant). Let’s say you own a certain amount of money every single year. And then you have to break that down to reverse engineer how much money you’ve made in a year—how much money you make every month, how much money you make every week, and how much money you make every day and every hour. When you break that down, you are going to know how much money you are making every single hour. Let’s just say hypothetically that you are making $50 an hour. So, why would you go and make your own coffee? It takes you 5-10 minutes to make your own coffee or to go buy your own coffee. Just hire a PA. If you can hire a PA to go and do the job for $20 per hour, your time is better spent executing on what you need to execute on. So, as soon as your income or revenue allows you to do so, I strongly suggest that you hire a PA to look after your life.</p><p id="p-11" data-i18n="5947c07f58f16.p-11"><i>Would you follow any of these tips? What do YOU do to save time?</i></p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5947c07f58f16.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>