<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="5b377d97d3651.h2-1"><span style="font-size:0.7em">How I Sold My First Property Via Cryptocurrency</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.tendesign.us%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
            <div class="embed-container">
                <iframe src="https://www.youtube.com/embed/91VD72LKRQ0" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </respond-html><hr id="hr-1"><p id="p-1" data-i18n="5b377d97d3651.p-1">Unless you’ve been sleeping under a rock, you’ve probably seen this whole cryptocurrency frenzy that has gone on in the market. Granted, it has died down because the market has died down a bit. Nonetheless, a lot of people are still talking about it as the next big thing, as the next internet even (not necessarily the actual cryptocurrencies, but blockchain technology).</p><p id="p-2" data-i18n="5b377d97d3651.p-2"><b>Cryptocurrencies: Poised to Change Real Estate?</b></p><p id="p-3" data-i18n="5b377d97d3651.p-3">As with anything, I believe you have to keep an open mind to not only the changes in the economy but the changes in the world on a daily basis. It’s crazy how if you don’t touch your phone for an hour you feel like you missed out on something big. I want to be a part of these changes. I think that the world is moving towards everything becoming tech-centered, digital, and online—and reality becoming virtual and augmented, with artificial intelligence and even robotics playing a role. These shifts will make big changes in various industries.</p><p id="p-4" data-i18n="5b377d97d3651.p-4">One industry that I don’t feel has been largely affected by the changes we see happening in technology is real estate. When you look at a real estate transaction, it still basically happens the same way it did for many, many years. I think that is about to change. I also think that blockchain is going to play a big part in the way real estate deals are transacted. Personally, I think title companies are going to become extinct very soon—I think they will be the first to go. I think real estate brokerages will become unneeded middlemen. Some tech company out there will jumps in bed with the NRA (National Realtors Association) and tell them brokers are not the ones to keep agents accountable. Instead, their technology will be able to do that on a nationwide scale. Therefore, it is my opinion that brokerages are going to become extinct soon.</p><p id="p-6" data-i18n="5b377d97d3651.p-6">Last but not least, in the next 20-30 years, I think even real estate agents won’t be needed anymore. That’s because there is a trend in the market right now where a lot of consumers just want to deal with a robot or app or tech product and not actually deal with human beings, which is mind-boggling to me. You’ve got a lot of iBuyers out there like Open Door, Offerpad, and Knock. Zillow has actually entered the iBuyer as well, buying properties and listing them through their own platform, which will ultimately probably not require a real estate agent.&nbsp;</p><p id="p-7" data-i18n="5b377d97d3651.p-7"><b>My First Crypto Transaction</b></p><div id="image-1" class="respond-image" data-display="standalone" data-i18n="5b377d97d3651.image-1"><img src="https://ohiocashflow.com/files/screw-it-do-it.jpg" data-location="local"></div><p id="p-8" data-i18n="5b377d97d3651.p-8">Seeing where all of this is going, I want to be a part of that revolution. So something that we have decided to do is sell a property via crypto. How do we do that? We’ve had a lot of young investors who have made money during the crypto boom reaching out to us. One of them actually&nbsp;approached us and asked to use cryptocurrency to buy one of our properties. Now, I do have a bit of a background because we are building a tech platform right now that will kind of use blockchain. So I am not a total rookie in it. But we definitely wanted to make sure we were doing the right thing because there are still no regulations on how you can close on a real estate transaction via cryptocurrency.</p><p id="p-9" data-i18n="5b377d97d3651.p-9">So we didn’t close the entire transaction in crypto, but this is what we did do. We approached our title company and said we had someone who wanted to buy a property from us using crypto. We said we were happy to accept the first deposit on that property, around $10,000 in cryptocurrency, and then the rest could be processed through traditional means. We asked the title company how we could get the deposit in cryptocurrency—but understand, our title company is not educated on how to close via cryptocurrency.</p><p id="p-10" data-i18n="5b377d97d3651.p-10">So I told them I was going to set up a wallet, and the buyer would send Ethereum tokens to my wallet equal to $10,000. The title company then said they would classify that as earnest money on the HUD and in the closing docs, which would be equivalent to $10,000, and they would include that deduction from the actual final closing docs when closing. That was pretty much it. I told the buyer two days before closing to send the $10,000 in cryptocurrency to my wallet. I know it sounds crazy, but that’s what happened. They sent the Ethereum tokens, those tokens hit my wallet, I gave the green light to the title company that I received the tokens equal to $10,000 and to make sure it was recorded in the HUD and that we were good to close, and that was that. That is how we were able to close our first ever transaction (or at least a portion of it) in cryptocurrency.</p><p id="p-11" data-i18n="5b377d97d3651.p-11">Now, here is a question for you guys: How would someone like me go about selling a property entirely in crypto? That’s a question for you guys because I still don’t know that. I need to do a little bit of research because if the buyer wanted to buy the property entirely in crypto, how would that work and how would the title company process the transaction? I guess we would have to deed the property to that investor because there wouldn’t be any dollar amount on the HUD (or would there)? And how would that work for tax purposes? There are still a lot of unknowns. It’s amazing how the world is changing and what is happening.</p><p id="p-12" data-i18n="5b377d97d3651.p-12">What I urge you to do is to be at the forefront of that change. Don’t write off cryptocurrency just because you see it as very volatile. There is actually very good technology behind the cryptocurrencies that makes a lot of sense. I didn’t want to jump on board early on, but I had no choice because I realized that it was too big to fail and there are too many people and companies that are adopting this. I honestly think that real estate is going to be changed in a big way, so stay tuned for what’s to come.</p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="5b377d97d3651.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a>
        </span></p></div></div>