<div id="properties" class="block row" data-nested="not-nested" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-6 main text-center"><div id="image-1" class="main-image sold" data-display="standalone" data-i18n="5851c26aa0c73.image-1"><img src="https://ohiocashflow.com/files/Wyndhurst.JPG" data-location="local"></div><h4 id="h4-1" class="title" data-i18n="5851c26aa0c73.h4-1">I'm a big home with a big cap rate and a big...</h4><p id="p-4" class="text-center price" data-i18n="5851c26aa0c73.p-4">$84,900</p><table id="table-1" class="table table condensed"><thead><tr></tr></thead><tbody><tr><td>4</td><td>2</td><td>1</td></tr><tr><td>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 50 31.3" style="enable-background:new 0 0 50 31.3;" xml:space="preserve">
                            <path d="M6.3,18.8h42.2c0.4,0,0.8,0.2,1.1,0.5s0.5,0.7,0.5,1.1v10.9h-6.3V25H6.3v6.3H0V1.6c0-0.4,0.2-0.8,0.5-1.1S1.1,0,1.6,0h3.1	c0.4,0,0.8,0.2,1.1,0.5s0.5,0.7,0.5,1.1V18.8z M20.3,10.9c0-1.7-0.6-3.2-1.8-4.4s-2.7-1.8-4.4-1.8s-3.2,0.6-4.4,1.8	s-1.8,2.7-1.8,4.4s0.6,3.2,1.8,4.4s2.7,1.8,4.4,1.8s3.2-0.6,4.4-1.8S20.3,12.7,20.3,10.9z M50,17.2v-1.6c0-2.6-0.9-4.8-2.7-6.6	s-4-2.7-6.6-2.7H23.4c-0.4,0-0.8,0.2-1.1,0.5s-0.5,0.7-0.5,1.1v9.4H50z"></path>
                        </svg>
                    </td><td>
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 50 45.8" style="enable-background:new 0 0 50 45.8;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M10.7,44.6c2.2-0.4,3.7-2.4,4.6-4.5h-1.2c-0.5,0-1,0-1.5,0c-0.5,1-1.3,1.9-2.4,2.1c-0.4-0.3-0.8-0.5-1.3-0.5			c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2C9.7,45.8,10.4,45.3,10.7,44.6z"></path>
                                    <path d="M42.1,45.8c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2c-0.4,0-0.9,0.1-1.2,0.4c-1-0.3-1.7-1.2-2.2-2.1c-0.7,0.1-1.4,0.2-1.9,0.2			h-0.1h-0.1H36c0.7,1.9,2,3.8,4.3,4.4C40.6,45.3,41.3,45.8,42.1,45.8z"></path>
                                    <path d="M38.8,7.3l-4.1-4.1C34,3.4,31.7,4.9,31,5.6l5.5,5.5C37.2,10.4,38.6,8.1,38.8,7.3z"></path>
                                    <path d="M31,8.9c0.1,0,0.2,0,0.3-0.1l0.6-0.6c0,0,0.1-0.1,0.1-0.1c0.1-0.2,0-0.3-0.1-0.5c-0.1-0.1-0.3-0.1-0.5-0.1			c0,0-0.1,0-0.1,0.1l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6C30.8,8.8,30.9,8.9,31,8.9z"></path>
                                    <path d="M29.3,10.6c0.1,0,0.2,0,0.3-0.1l0.6-0.6c0.2-0.2,0.2-0.4,0-0.6c-0.2-0.2-0.4-0.2-0.6,0L29,9.9c-0.2,0.2-0.2,0.4,0,0.6			C29.1,10.6,29.2,10.6,29.3,10.6z"></path>
                                    <path d="M27.5,12.3c0.1,0,0.2,0,0.3-0.1l0.6-0.6c0.2-0.2,0.2-0.4,0-0.6c-0.2-0.2-0.4-0.2-0.6,0l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6			C27.3,12.3,27.4,12.3,27.5,12.3z"></path>
                                    <path d="M33.1,9.2c0.1-0.2,0-0.3-0.1-0.5c-0.1-0.1-0.3-0.1-0.5-0.1c0,0-0.1,0-0.1,0.1l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6			C32,10,32.1,10,32.2,10c0.1,0,0.2,0,0.3-0.1l0.6-0.6C33.1,9.3,33.1,9.2,33.1,9.2z"></path>
                                    <path d="M31.3,10.5c-0.2-0.2-0.4-0.2-0.6,0l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1l0.6-0.6			C31.5,10.9,31.5,10.6,31.3,10.5z"></path>
                                    <path d="M29.6,12.2c-0.2-0.2-0.4-0.2-0.6,0l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6c0.1,0.1,0.2,0.1,0.3,0.1c0.1,0,0.2,0,0.3-0.1l0.6-0.6			C29.7,12.6,29.7,12.4,29.6,12.2z"></path>
                                    <path d="M33.3,11.2c0.1,0,0.2,0,0.3-0.1l0.6-0.6c0,0,0.1-0.1,0.1-0.1c0.1-0.2,0-0.3-0.1-0.5c-0.1-0.1-0.3-0.1-0.5-0.1			c0,0-0.1,0-0.1,0.1l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6C33.1,11.1,33.2,11.2,33.3,11.2z"></path>
                                    <path d="M31.6,12.9c0.1,0,0.2,0,0.3-0.1l0.6-0.6c0.2-0.2,0.2-0.4,0-0.6c-0.2-0.2-0.4-0.2-0.6,0l-0.6,0.6c-0.2,0.2-0.2,0.4,0,0.6			C31.4,12.9,31.5,12.9,31.6,12.9z"></path>
                                    <path d="M29.9,14.7c0.1,0,0.2,0,0.3-0.1l0.6-0.6c0.2-0.2,0.2-0.4,0-0.6c-0.2-0.2-0.4-0.2-0.6,0L29.6,14c-0.2,0.2-0.2,0.4,0,0.6			C29.7,14.6,29.8,14.7,29.9,14.7z"></path>
                                    <path d="M48.4,19.7h-1.2h-1.2V0.8c0-0.5-0.4-0.8-0.8-0.8h-3.6c-0.2,0-0.4,0.1-0.6,0.2L38,2.9c-0.7-0.2-1.4,0.1-1.9,0.3L38.9,6			c0.2-0.5,0.4-1.2,0.2-1.9l2.7-2.5h2.4v18H2.9H1.6c-0.9,0-1.6,0.7-1.6,1.6V23c0,0.9,0.7,1.6,1.6,1.6h0.2h0.4h0.5			c0.1,0.6,0.3,1.4,0.5,2.2l1.1,5.5c1.6,5.9,4.9,6.9,8.7,7c0.4,0,0.8,0,1.1,0h1.5l20.1,0c0,0,0,0,0,0c0,0,0,0,0,0h1.1			c0.5,0,1,0,1.6-0.1l0,0c2.5-0.4,5.8-1.8,7.3-6.5l1.9-8.1h0.5h0.2c0,0,0.1,0,0.1,0c0.8-0.1,1.5-0.8,1.5-1.6v-1.6			C50,20.4,49.3,19.7,48.4,19.7z M35.3,36.8L35.3,36.8C35.3,36.8,35.3,36.8,35.3,36.8C35.3,36.8,35.3,36.8,35.3,36.8z"></path>
                                </g>
                            </g>
                        </svg>
                    </td><td>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 50 39.1" style="enable-background:new 0 0 50 39.1;" xml:space="preserve">
                            <path d="M11.7,23.4c0-1.1-0.4-2-1.1-2.8s-1.7-1.1-2.8-1.1s-2,0.4-2.8,1.1s-1.1,1.7-1.1,2.8s0.4,2,1.1,2.8s1.7,1.1,2.8,1.1	s2-0.4,2.8-1.1S11.7,24.5,11.7,23.4z M12.6,15.6h24.8l-2.2-8.7c0-0.1-0.1-0.3-0.3-0.4s-0.4-0.2-0.5-0.2H15.6c-0.1,0-0.3,0.1-0.5,0.2	s-0.3,0.3-0.3,0.4L12.6,15.6z M46.1,23.4c0-1.1-0.4-2-1.1-2.8s-1.7-1.1-2.8-1.1s-2,0.4-2.8,1.1s-1.1,1.7-1.1,2.8s0.4,2,1.1,2.8	s1.7,1.1,2.8,1.1s2-0.4,2.8-1.1S46.1,24.5,46.1,23.4z M50,21.1v9.4c0,0.2-0.1,0.4-0.2,0.6s-0.3,0.2-0.6,0.2h-2.3v3.1	c0,1.3-0.5,2.4-1.4,3.3s-2,1.4-3.3,1.4s-2.4-0.5-3.3-1.4s-1.4-2-1.4-3.3v-3.1h-25v3.1c0,1.3-0.5,2.4-1.4,3.3s-2,1.4-3.3,1.4	s-2.4-0.5-3.3-1.4s-1.4-2-1.4-3.3v-3.1H0.8c-0.2,0-0.4-0.1-0.6-0.2S0,30.7,0,30.5v-9.4c0-1.5,0.5-2.8,1.6-3.9s2.4-1.6,3.9-1.6h0.7	L8.7,5.4c0.4-1.5,1.2-2.8,2.5-3.8S14,0,15.6,0h18.8c1.6,0,3.1,0.5,4.4,1.6s2.2,2.3,2.5,3.8l2.6,10.2h0.7c1.5,0,2.8,0.5,3.9,1.6	S50,19.6,50,21.1z"></path>
                        </svg>
                    </td></tr></tbody></table><respond-html id="html-2" description="HTML">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><p id="p-1" data-i18n="5851c26aa0c73.p-1"><a href="properties/wyndhurst-toledo" class="btn-yellow details-button" target="" title="" textcolor="" style="color: ;">DETAILS</a>
        </p><respond-html id="html-3" description="HTML">            <div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
                    </button>
                    <div class="modal-content">
                        <div style="padding-bottom: 20px" class="row">
                            <div class="col-xs-9">
                                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
                            </div>
                            <div class="col-xs-3">
                                <img style="max-width: 100%" src="files/dingo-head.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </respond-html></div><div  class="col col-md-6 sidebar"><h4 id="h4-2" data-i18n="5851c26aa0c73.h4-2"><i class="fa fa-home">&nbsp;&nbsp;</i>Just The Facts</h4><p id="p-2" data-i18n="5851c26aa0c73.p-2">13% cap rate. Need I say more? Of course not, this is a great property and an awesome investment. These are exactly the types of properties that everyone at Ohio Cashflow has been buying for their own portfolio and we encourage all of you to do
            the same.</p><hr id="hr-1"><table id="table-3" class="table table-stripped"><thead><tr><th class="col-md-4"><i class="fa fa-list-ul">&nbsp;&nbsp;</i>Property Details</th><th></th></tr><tr></tr></thead><tbody><tr><td>Property Type</td><td>Duplex</td></tr><tr><td>Property Market</td><td>Toledo, OH</td></tr><tr><td>Lot Size</td><td>4,600 sqft</td></tr><tr><td>Square Footage</td><td>2184 sqft</td></tr><tr><td>Parking</td><td>360 sqft</td></tr></tbody></table><table id="table-2" class="table table-stripped"><thead><tr><th class="col-md-4"><i class="fa fa-bar-chart-o">&nbsp;&nbsp;</i>Property Pro-Forma</th><th></th></tr><tr></tr></thead><tbody><tr><td>Rent</td><td>$1,200</td></tr><tr><td>Annual Rent</td><td>$14,400</td></tr><tr><td>Annual Net Return</td><td>$10,610</td></tr><tr><td>Cap Rate</td><td>13%</td></tr></tbody></table><table id="table-4" class="table table-stripped"><thead><tr><th class="col-md-4"><i class="fa fa-usd">&nbsp;&nbsp;</i>Annual Expenses</th><th></th></tr><tr></tr></thead><tbody><tr><td>Tax</td><td>$1,600</td></tr><tr><td>Insurance</td><td>$750</td></tr><tr><td>Property Management</td><td>$1,440</td></tr></tbody></table><hr id="hr-2"><respond-html id="html-1" class="opt-in" description="HTML">            <style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:none;}
            </style>
            <div class="embed-container">
                <iframe src="https://drive.google.com/file/d/0B8az0_GAjTu8dmxjVWsydTc5Qmc/preview" width="640" height="480"></iframe>
            </div>
        </respond-html></div></div>