<div id="block-3" class="block row" data-nested="not-nested" paddingtop="0" data-containerid="" data-containercssclass="" style="padding-top: 0px;"><div  class="col col-md-12 text-center"><h2 id="h2-1" class="text-center" textsize="0.7em" data-i18n="585beb06c9e9c.h2-1"><span style="font-size:0.7em">Why Following the American Dream Will Rob You of Financial Control</span></h2></div></div><div id="block-6" class="block row" data-nested="not-nested" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-bottom: 60px;"><div  class="col col-md-6 sidebar text-center"><respond-html id="html-1" description="blog-cta">            <div id="sticker" class="blog-cta">
                <h3 id="h3-1" data-i18n="58470c6c2dbc2.h3-1">This Is Not For Everyone...</h3>
                <p id="p-14" data-i18n="58470c6c2dbc2.p-14">If you feel you have what it takes, fill out our <b>investor application form</b>.</p>
                <p id="p-15" data-i18n="58470c6c2dbc2.p-15"><a href="investor-application-form" textcolor="" class="btn-blue" target="" title="" style="color: ;">YES, I WANT TO APPLY</a>
                </p>
                <h3 id="h3-2" data-i18n="58470c6c2dbc2.h3-2">Learn More About Turnkey Investing...</h3>
                <p id="p-16" data-i18n="58470c6c2dbc2.p-16">&nbsp;if you want to learn about turnkey investing and how you can <b>turn your life around</b>, feel free to download our free e-book.</p>
                <p id="p-17" data-i18n="58470c6c2dbc2.p-17"><a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
                </p>
            </div>
        </respond-html><respond-html id="html-2" description="HTML"><div id="newsletter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newsletter">
    <div class="modal-dialog" role="document">
        <button type="button" class="close white" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
        <div class="modal-content">
            <div style="padding-bottom: 20px" class="row">
              <div class="col-xs-9">
                <h3 class="text-left">Oi Mate!<br>Don't be a stranger...</h3>
              </div>
              <div class="col-xs-3">
                <img style="max-width: 100%" src="files/dingo-head.png">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <iframe class="podio-webform-frame" id="podioWebForm1157614696126" height="230" style="width: 100%; border: none; overflow: scroll !important; height: 252px;" allowtransparency="true" frameborder="0" scrolling="yes" src="https://podio.com/webforms/17220889/1157614?e=true#http%3A%2F%2Fapp.ohiocashflow.com%2Fsites%2Fohio-cashflow%2Fcontact-us"></iframe>
              </div>
            </div>
        </div>
    </div>
</div>
        </respond-html></div><div  class="col col-md-6 main"><respond-html id="html-3" description="HTML"><style>
                .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
            </style>
<div class="embed-container">
                <iframe src="http://www.youtube.com/embed/IoMDBhg2Jbw" frameborder="0" allowfullscreen=""></iframe>
            </div></respond-html><hr id="hr-2"><p id="p-1" data-i18n="585beb06c9e9c.p-1">I know that what I’m about to tell you is not probably something you don’t want to hear. I’m sorry to do this, but I’m about to burst your bubble. Let’s talk about the American dream. Many of you out there reading this have hit the subscribe button to this idea—because society has engrained into your head that there is a path to realizing this dream. That path goes like this:</p><ol id="ol-1"><li>Go to college and get a degree.</li><li>Get married and start a family.</li><li>Combine your incomes and by a house.</li><li>Downsize and send your kids to college.</li><li>Hopefully, after many years of hard work, you can retire and sip piña coladas on the beach.</li></ol><p id="p-10" data-i18n="585beb06c9e9c.p-10">The reality is that this path to the American dream is false, and I refuse to subscribe to it. Don’t get me wrong—I am very fortunate to be here in the great U.S. of A., and I never want to leave. However, before following the path to the American dream, I want you to consider something first. I want you to consider following your own dream.</p><h3 id="h3-1" data-i18n="585beb06c9e9c.h3-1">Why Following the American Dream Will Rob You of True Happiness</h3><div id="image-1" class="respond-image" data-display="standalone" data-i18n="585beb06c9e9c.image-1"><img src="https://ohiocashflow.com/files/american-dream.jpg" data-location="local"></div><hr id="hr-1"><p id="p-3" data-i18n="585beb06c9e9c.p-3">Now let’s go back to the original topic. Time and time again, the American dream has led so many down the path towards nothing but debt. To start down the path of fulfilling your own dreams, the first step you have to take is getting out of this deadly trap. Stop the downward spiral of using your credit cards for everything from electronics at Best Buy to triple lattes at Starbucks. In my eyes, financial freedom is having a successful business (real estate investing is also a business) and controlling your own destiny. The time for fun toys will come later; for now, let’s learn to be frugal.</p><p id="p-6" data-i18n="585beb06c9e9c.p-6">Truth be told, you don’t need a single dollar to start a career as a real estate investor. What you need is a commitment to your own aspirations. Start with something as simple as jumping on the BiggerPockets Forums. Whether you’re a flipper, a wholesaler, or a buy and hold investor, there are plenty of very knowledgeable folks willing to help you get started down the right path to success.</p><p id="p-8" data-i18n="585beb06c9e9c.p-8">One last thing—once you make this decision to carve out a future for yourself, you’d better be prepared to work your tail off. Your life is not contained within the hours of 9 to 5—nor should your business be. Having a successful business is hard work, but the reward of controlling your own future will be more fulfilling than any job title you have ever held.
            </p><p id="p-5" class="text-center" textsize="0.8em" data-i18n="585beb06c9e9c.p-5"><span style="font-size:0.8em">This article was originally&nbsp;published at&nbsp;<a href="https://www.biggerpockets.com/renewsblog/be-taken-seriously/" target="_blank">BiggerPockets.com</a></span></p></div></div>