<div backgroundcolor="#0F0C60"  class="container" style="background-color: #0F0C60;"><div id="block-1" class="block row jumbotron modal-jumbotron" data-nested="nested" backgroundcolor="#0F0C60" data-containerid="" data-containercssclass=""><div  class="col col-md-12"><h2 id="h2-1" class="text-center" textcolor="#ffffff" data-i18n="581f73291e9a5.h2-1" style="color: #ffffff;">What Is Turnkey Real Estate Investment?</h2></div></div></div><div id="block-2" class="block row" data-nested="not-nested" paddingtop="60" paddingright="0" paddingbottom="60" paddingleft="0" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-right: 0px; padding-bottom: 60px; padding-left: 0px;"><div  class="col col-md-12"><respond-html id="html-1" class="turnkey-timeline" description="turnkey-timeline"><!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 537.8 875.3" style="enable-background:new 0 0 537.8 875.3;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#002757;stroke-width:3;stroke-miterlimit:10;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#002757;}
	.st3{fill:none;stroke:#002757;stroke-width:2;stroke-miterlimit:10;}
	.st4{fill:#002855;}
	.st5{font-family:'ArialMT';}
	.st6{font-size:14px;}
</style>
<g id="Layer_1_1_">
</g>
<line class="st0" x1="268.9" y1="28.1" x2="268.9" y2="857.1"></line>
<g>
	<path class="st1" d="M268.9,34.9c-9.2,0-16.7-7.5-16.7-16.7c0-9.2,7.5-16.7,16.7-16.7c9.2,0,16.7,7.5,16.7,16.7		C285.6,27.4,278.1,34.9,268.9,34.9z"></path>
	<path class="st2" d="M268.9,3c8.4,0,15.2,6.8,15.2,15.2c0,8.4-6.8,15.2-15.2,15.2s-15.2-6.8-15.2-15.2C253.7,9.8,260.5,3,268.9,3		 M268.9,0c-10.1,0-18.2,8.1-18.2,18.2s8.1,18.2,18.2,18.2s18.2-8.1,18.2-18.2S279,0,268.9,0L268.9,0z"></path>
</g>
<circle class="st2" cx="268.9" cy="18.2" r="10.8"></circle>
<g>
	<path class="st1" d="M268.9,873.8c-9.2,0-16.7-7.5-16.7-16.7s7.5-16.7,16.7-16.7c9.2,0,16.7,7.5,16.7,16.7S278.1,873.8,268.9,873.8		z"></path>
	<path class="st2" d="M268.9,841.9c8.4,0,15.2,6.8,15.2,15.2s-6.8,15.2-15.2,15.2s-15.2-6.8-15.2-15.2S260.5,841.9,268.9,841.9		 M268.9,838.9c-10.1,0-18.2,8.1-18.2,18.2s8.1,18.2,18.2,18.2s18.2-8.1,18.2-18.2S279,838.9,268.9,838.9L268.9,838.9z"></path>
</g>
<circle class="st2" cx="268.9" cy="857.1" r="10.8"></circle>
<g>
	<path class="st1" d="M268.9,160.6c-20.5,0-37.2-16.7-37.2-37.2s16.7-37.2,37.2-37.2s37.2,16.7,37.2,37.2S289.4,160.6,268.9,160.6z"></path>
	<path class="st2" d="M268.9,87.7c19.7,0,35.7,16,35.7,35.7c0,19.7-16,35.7-35.7,35.7s-35.7-16-35.7-35.7		C233.2,103.7,249.2,87.7,268.9,87.7 M268.9,84.7c-21.4,0-38.7,17.3-38.7,38.7s17.3,38.7,38.7,38.7s38.7-17.3,38.7-38.7		S290.3,84.7,268.9,84.7L268.9,84.7z"></path>
</g>
<path id="lens" class="st2" d="M287.1,141.6c-1,1-2.2,1.4-3.5,1.4s-2.5-0.5-3.5-1.4l-7.7-7.7c-2.2,1.1-4.6,1.7-7.2,1.7	c-8.8,0-15.9-7.1-15.9-15.9c0-8.8,7.1-15.9,15.9-15.9s15.9,7.1,15.9,15.9c0,2.6-0.6,5.1-1.7,7.3l7.7,7.7	C289,136.6,289,139.7,287.1,141.6z M265.2,128.4c4.7,0,8.6-3.8,8.6-8.6c0-4.7-3.8-8.6-8.6-8.6c-4.7,0-8.6,3.8-8.6,8.6	C256.6,124.5,260.5,128.4,265.2,128.4z"></path>
<line class="st3" x1="230.2" y1="123.5" x2="15.6" y2="123.5"></line>
<circle class="st2" cx="7.8" cy="123.5" r="7.8"></circle>
<text transform="matrix(0.9 0 0 1 65.2 118.0839)" class="st4 st5 st6">We Find The Property</text>
<g>
	<path class="st1" d="M268.9,286.3c-20.5,0-37.2-16.7-37.2-37.2s16.7-37.2,37.2-37.2s37.2,16.7,37.2,37.2S289.4,286.3,268.9,286.3z"></path>
	<path class="st2" d="M268.9,213.4c19.7,0,35.7,16,35.7,35.7s-16,35.7-35.7,35.7s-35.7-16-35.7-35.7S249.2,213.4,268.9,213.4		 M268.9,210.4c-21.4,0-38.7,17.3-38.7,38.7s17.3,38.7,38.7,38.7s38.7-17.3,38.7-38.7S290.3,210.4,268.9,210.4L268.9,210.4z"></path>
</g>
<path id="dollar" class="st2" d="M290,248.2c0,11.1-9,20.1-20.1,20.1s-20.1-9-20.1-20.1s9-20.1,20.1-20.1S290,237.1,290,248.2z	 M278.1,252.8c0-3.4-1.7-5.4-6.1-6.9c-3.2-1.1-4.5-1.9-4.5-3.1c0-1,0.8-2.1,3.2-2.1c2.7,0,4.4,0.8,5.3,1.3l1.1-4.2	c-1.3-0.6-2.9-1.1-5.4-1.2v-0.7l0,0v-0.3c0-1-0.8-1.8-1.8-1.8s-1.8,0.8-1.8,1.8v0.7c0,0.1,0,0.2,0,0.2v0.3c-3.9,0.7-6.2,3.3-6.2,6.6	c0,3.6,2.7,5.4,6.7,6.7c2.8,0.9,4,1.8,4,3.2c0,1.4-1.4,2.3-3.6,2.3c-2.4,0-4.6-0.8-6.1-1.6l-1.1,4.3c1.4,0.8,3.8,1.5,6.3,1.6v0.6	l0,0v0.3c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8v-0.3l0,0v-0.9C275.9,258.9,278.1,256.1,278.1,252.8z"></path>
<line class="st3" x1="307.6" y1="248.5" x2="530" y2="248.5"></line>
<circle class="st2" cx="530" cy="248.5" r="7.8"></circle>
<text transform="matrix(0.9 0 0 1 323.6819 242.1732)" class="st4 st5 st6">We Purchase It With Our Money</text>
<g>
	<path class="st1" d="M268.9,412c-20.5,0-37.2-16.7-37.2-37.2s16.7-37.2,37.2-37.2s37.2,16.7,37.2,37.2S289.4,412,268.9,412z"></path>
	<path class="st2" d="M268.9,339.1c19.7,0,35.7,16,35.7,35.7s-16,35.7-35.7,35.7s-35.7-16-35.7-35.7S249.2,339.1,268.9,339.1		 M268.9,336.1c-21.4,0-38.7,17.3-38.7,38.7s17.3,38.7,38.7,38.7s38.7-17.3,38.7-38.7S290.3,336.1,268.9,336.1L268.9,336.1z"></path>
</g>
<path id="tool" class="st2" d="M289.3,367.4c0,8.4-6.8,15.1-15.1,15.1c-2.3,0-4.5-0.5-6.5-1.5l-10.8,10.8c-1.8,1.8-4.9,1.7-6.9-0.3	s-2.1-5.1-0.3-6.9l10.8-10.8c-0.9-2-1.5-4.2-1.5-6.5c0-8.4,6.8-15.1,15.1-15.1c1.4,0,2.8,0.2,4,0.6l-6.5,6.5	c-2.7,2.7-2.5,7.2,0.4,10.1s7.4,3.1,10.1,0.4l6.5-6.5C289.2,364.7,289.3,366,289.3,367.4z M253.6,385.5c-1.4,0-2.6,1.1-2.6,2.5	s1.1,2.6,2.6,2.6c1.4,0,2.6-1.1,2.6-2.6C256.2,386.6,255.1,385.5,253.6,385.5z"></path>
<line class="st3" x1="230.2" y1="375.1" x2="15.6" y2="375.1"></line>
<circle class="st2" cx="7.8" cy="375.1" r="7.8"></circle>
<g>
	<text transform="matrix(0.9 0 0 1 50.4871 369.4022)" class="st4 st5 st6">We Renovate The Property</text>
</g>
<g>
	<path class="st1" d="M268.9,537.7c-20.5,0-37.2-16.7-37.2-37.2c0-20.5,16.7-37.2,37.2-37.2s37.2,16.7,37.2,37.2		C306.1,521,289.4,537.7,268.9,537.7z"></path>
	<path class="st2" d="M268.9,464.8c19.7,0,35.7,16,35.7,35.7s-16,35.7-35.7,35.7s-35.7-16-35.7-35.7S249.2,464.8,268.9,464.8		 M268.9,461.8c-21.4,0-38.7,17.3-38.7,38.7s17.3,38.7,38.7,38.7s38.7-17.3,38.7-38.7S290.3,461.8,268.9,461.8L268.9,461.8z"></path>
</g>
<path class="st2" d="M267.8,502.4h-12.7l0,0c-3.9,0-7.5,3.3-7,7.3l1,7.5c0.8,4,3.1,7.2,7,7.2h10.7c3.9,0,6.2-3.3,7-7.3l1-7.5	C275.3,505.6,271.7,502.4,267.8,502.4z"></path>
<ellipse class="st2" cx="261.5" cy="492.7" rx="7.1" ry="7.3"></ellipse>
<path class="st2" d="M284.6,495h-9.1l0,0c-2.8,0-5.4,2.4-5,5.3v0.2c1.7,0.5,3.3,1.5,4.5,2.8c1.6,1.8,2.4,4.2,2.1,6.5l-0.1,1h7	c2.8,0,4.5-2.4,5-5.3l0.7-5.4C290,497.4,287.4,495,284.6,495z"></path>
<ellipse class="st2" cx="280.1" cy="488.1" rx="5.1" ry="5.3"></ellipse>
<line class="st3" x1="307.6" y1="498.8" x2="530" y2="498.8"></line>
<circle class="st2" cx="530" cy="498.8" r="7.8"></circle>
<text transform="matrix(0.9 0 0 1 339.7761 493.015)" class="st4 st5 st6">We Find &amp; Place A Tenant</text>
<g>
	<path class="st1" d="M268.9,663.4c-20.5,0-37.2-16.7-37.2-37.2c0-20.5,16.7-37.2,37.2-37.2s37.2,16.7,37.2,37.2		C306.1,646.7,289.4,663.4,268.9,663.4z"></path>
	<path class="st2" d="M268.9,590.5c19.7,0,35.7,16,35.7,35.7s-16,35.7-35.7,35.7s-35.7-16-35.7-35.7S249.2,590.5,268.9,590.5		 M268.9,587.5c-21.4,0-38.7,17.3-38.7,38.7s17.3,38.7,38.7,38.7s38.7-17.3,38.7-38.7S290.3,587.5,268.9,587.5L268.9,587.5z"></path>
</g>
<path class="st2" d="M292.5,622.2v-4.7c0-3.5-4.1-7.2-7.7-7.2h-31.7c-3.6,0-7.7,3.6-7.7,7.2v4.7v0.8v12.9c0,4.3,3.5,7.7,7.7,7.7	h31.7c4.3,0,7.7-3.5,7.7-7.7V623V622.2z"></path>
<path class="st1" d="M291.4,622.4v-4.5c0-3.3-3.9-6.8-7.4-6.8h-30.3c-3.5,0-7.4,3.4-7.4,6.8v4.5v0.8v12.2c0,4,3.3,7.3,7.4,7.3H284	c4.1,0,7.4-3.3,7.4-7.3v-12.2V622.4z"></path>
<path class="st2" d="M256.3,623.5c0,0.7-0.2,1.4-0.5,2c-0.4,0.6-0.9,1.1-1.6,1.4c-0.7,0.3-1.5,0.5-2.5,0.5c-1.1,0-2.1-0.2-2.8-0.7	c-0.5-0.3-0.9-0.8-1.3-1.3c-0.3-0.6-0.5-1.1-0.5-1.6c0-0.3,0.1-0.6,0.3-0.8s0.4-0.3,0.7-0.3c0.2,0,0.5,0.1,0.6,0.3	c0.2,0.2,0.3,0.4,0.4,0.7c0.1,0.4,0.3,0.7,0.5,1s0.4,0.5,0.7,0.7s0.7,0.3,1.2,0.3c0.7,0,1.2-0.2,1.7-0.5c0.4-0.3,0.6-0.8,0.6-1.3	c0-0.4-0.1-0.7-0.3-1s-0.5-0.5-0.9-0.6s-0.9-0.3-1.5-0.4c-0.8-0.2-1.5-0.4-2.1-0.7s-1-0.7-1.3-1.1c-0.3-0.5-0.5-1.1-0.5-1.8	s0.2-1.3,0.5-1.8s0.8-0.9,1.5-1.2s1.4-0.4,2.3-0.4c0.7,0,1.3,0.1,1.8,0.3s0.9,0.4,1.3,0.7c0.3,0.3,0.6,0.6,0.7,1	c0.2,0.3,0.2,0.7,0.2,1s-0.1,0.6-0.3,0.8s-0.4,0.4-0.7,0.4s-0.5-0.1-0.6-0.2c-0.1-0.1-0.3-0.4-0.5-0.7c-0.2-0.5-0.5-0.8-0.8-1.1	s-0.8-0.4-1.4-0.4c-0.6,0-1.1,0.1-1.5,0.4c-0.4,0.3-0.6,0.6-0.6,1c0,0.2,0.1,0.5,0.2,0.6c0.1,0.2,0.3,0.3,0.5,0.5	c0.2,0.1,0.4,0.2,0.7,0.3c0.2,0.1,0.6,0.2,1.1,0.3c0.6,0.2,1.2,0.3,1.8,0.5c0.5,0.2,1,0.4,1.3,0.7c0.4,0.3,0.7,0.6,0.9,1.1	C256.2,622.4,256.3,622.9,256.3,623.5z"></path>
<path class="st2" d="M263.4,614.7c1.2,0,2.2,0.3,3.1,0.8s1.5,1.3,1.9,2.2c0.4,1,0.7,2.1,0.7,3.4c0,1-0.1,1.8-0.4,2.6	c-0.2,0.8-0.6,1.5-1.1,2c-0.5,0.6-1.1,1-1.8,1.3c-0.7,0.3-1.5,0.5-2.4,0.5s-1.7-0.2-2.4-0.5c-0.7-0.3-1.3-0.8-1.8-1.3	c-0.5-0.6-0.8-1.2-1.1-2c-0.2-0.8-0.4-1.7-0.4-2.6c0-0.9,0.1-1.8,0.4-2.6s0.6-1.5,1.1-2c0.5-0.6,1.1-1,1.8-1.3	C261.7,614.8,262.5,614.7,263.4,614.7z M266.7,621c0-0.9-0.1-1.7-0.4-2.3c-0.3-0.7-0.7-1.2-1.2-1.5s-1.1-0.5-1.7-0.5	c-0.5,0-0.9,0.1-1.3,0.3s-0.7,0.5-1,0.8c-0.3,0.4-0.5,0.8-0.7,1.4c-0.2,0.6-0.2,1.2-0.2,1.9s0.1,1.3,0.2,1.9c0.2,0.6,0.4,1,0.7,1.4	c0.3,0.4,0.6,0.7,1,0.8c0.4,0.2,0.8,0.3,1.3,0.3c0.6,0,1.1-0.2,1.6-0.5s0.9-0.8,1.2-1.5C266.5,622.8,266.7,622,266.7,621z"></path>
<path class="st2" d="M273.3,616.2v9h4.7c0.4,0,0.7,0.1,0.9,0.3c0.2,0.2,0.3,0.4,0.3,0.7s-0.1,0.5-0.3,0.7c-0.2,0.2-0.5,0.3-0.9,0.3	h-5.6c-0.5,0-0.9-0.1-1.1-0.4c-0.2-0.2-0.3-0.6-0.3-1.2v-9.5c0-0.5,0.1-0.9,0.3-1.1c0.2-0.3,0.5-0.4,0.8-0.4s0.6,0.1,0.8,0.4	C273.2,615.3,273.3,615.7,273.3,616.2z"></path>
<path class="st2" d="M282.1,614.9h3c0.8,0,1.5,0.1,2,0.2c0.6,0.2,1.1,0.5,1.5,0.9c1.2,1.1,1.8,2.8,1.8,5c0,0.7-0.1,1.4-0.2,2	s-0.3,1.2-0.6,1.7c-0.3,0.5-0.6,0.9-1,1.3c-0.3,0.3-0.6,0.5-1,0.7s-0.8,0.3-1.2,0.4c-0.4,0.1-0.9,0.1-1.4,0.1h-3	c-0.4,0-0.7-0.1-1-0.2c-0.2-0.1-0.4-0.3-0.4-0.6c-0.1-0.2-0.1-0.6-0.1-1v-9c0-0.5,0.1-0.9,0.3-1.2	C281.3,615,281.6,614.9,282.1,614.9z M283,616.9v8.4h1.8c0.4,0,0.7,0,0.9,0s0.4-0.1,0.7-0.2c0.2-0.1,0.4-0.2,0.6-0.4	c0.8-0.7,1.2-1.9,1.2-3.7c0-1.2-0.2-2.1-0.5-2.7c-0.3-0.6-0.8-1-1.3-1.2s-1.1-0.2-1.8-0.2L283,616.9L283,616.9z"></path>
<path class="st2" d="M247.2,631.1v3.7c0,3.9,3.2,7.1,7.1,7.1h29.1c3.9,0,7.1-3.2,7.1-7.1v-3.7"></path>
<line class="st3" x1="230.2" y1="627.4" x2="15.6" y2="627.4"></line>
<circle class="st2" cx="7.8" cy="627.4" r="7.8"></circle>
<text transform="matrix(0.9 0 0 1 53.2859 621.6029)" class="st4 st5 st6">You Make The Investment</text>
<g>
	<path class="st1" d="M268.9,789.1c-20.5,0-37.2-16.7-37.2-37.2s16.7-37.2,37.2-37.2s37.2,16.7,37.2,37.2S289.4,789.1,268.9,789.1z"></path>
	<path class="st2" d="M268.9,716.2c19.7,0,35.7,16,35.7,35.7s-16,35.7-35.7,35.7s-35.7-16-35.7-35.7S249.2,716.2,268.9,716.2		 M268.9,713.2c-21.4,0-38.7,17.3-38.7,38.7s17.3,38.7,38.7,38.7s38.7-17.3,38.7-38.7S290.3,713.2,268.9,713.2L268.9,713.2z"></path>
</g>
<path class="st2" d="M259.5,749.1c-1.6,1.3-0.8,5.1,2.9,2.8c0,0,4.6-2.3,7.3-3.8c0.6-0.3,1-0.2,1.5,0.3c0.5,0.4,12.7,13.9,12.7,13.9	s3.7-2.8,5.2-5.8c0,0-3.4-6.3-6.6-12.6c-0.9,0.5-1.7,1-2.8,0.7c-1.1-0.3-2-1.2-3-1.8c-1.1-0.7-2.1-1.3-3.4-1.4	c-1.9-0.3-3.3,0.6-5,1.5c-1.8,1.1-3.6,2.2-5.4,3.5C261.8,747.3,260.6,748.2,259.5,749.1z"></path>
<path class="st2" d="M261.9,770.2c-0.6-0.9-0.5-2.2,0.3-2.9l3.8-3.5c0.8-0.7,1.9-0.6,2.5,0.2l0,0c0.6,0.9,0.5,2.2-0.3,2.9l-3.8,3.5	C263.6,771.2,262.5,771.1,261.9,770.2L261.9,770.2z"></path>
<path class="st2" d="M258.3,767c-0.6-0.9-0.5-2.2,0.3-2.9l3-2.8c0.8-0.7,1.9-0.6,2.5,0.2l0,0c0.6,0.9,0.5,2.2-0.3,2.9l-3,2.8	C260.1,768,258.9,767.8,258.3,767L258.3,767z"></path>
<path class="st2" d="M257.2,764.2l-0.7,0.5c-0.8,0.7-1.9,0.5-2.5-0.4l0,0c-0.6-0.9-0.4-2.2,0.4-2.9l0.7-0.5c0.8-0.7,1.9-0.5,2.5,0.4	v0.1"></path>
<path class="st2" d="M271,768.2c-0.7-0.8-1.8-0.9-2.6-0.1l-1.7,1.7c-0.7,0.8-0.8,2.1-0.1,2.9c0.7,0.8,1.8,0.9,2.6,0.1l1.7-1.7	C271.6,770.4,271.7,769.1,271,768.2z"></path>
<path class="st2" d="M294.7,753.7c0.3,0.5,0.1,1.1-0.3,1.4l-2.8,1.5c-0.5,0.2-1,0-1.3-0.5l-6.6-12.8c-0.3-0.5-0.1-1.1,0.3-1.4	l2.8-1.5c0.5-0.2,1,0,1.3,0.5L294.7,753.7z"></path>
<path class="st2" d="M247.5,755.9c-0.2,0.6-0.7,0.9-1.2,0.7l-2.8-1c-0.4-0.2-0.6-0.8-0.4-1.3l5.1-13.5c0.2-0.6,0.7-0.9,1.2-0.7	l2.8,1c0.4,0.2,0.6,0.8,0.4,1.3L247.5,755.9z"></path>
<path class="st2" d="M283.6,764L283.6,764c-0.1,0.3-0.2,0.6-0.4,0.8c-0.4,0.4-0.9,0.6-1.4,0.6s-1-0.2-1.4-0.7l-4.8-5.4	c-0.1-0.1-0.2-0.2-0.3-0.2c-0.5,0-1,0.8-0.6,1.2l3.9,4.3c0.7,0.9,0.8,2.2,0,3c-0.3,0.4-0.8,0.6-1.2,0.6c-0.5,0-1-0.2-1.4-0.7l-4.5-5	c-0.1-0.2-0.2-0.2-0.4-0.2c-0.4,0-0.9,0.7-0.4,1.2l3.5,4c0.7,0.8,0.7,2.1,0,2.9c-0.3,0.4-0.7,0.5-1.1,0.5c-0.2,0-0.5-0.1-0.7-0.2	c-0.1,0.4-0.4,0.7-0.6,1.1c0.4,0.2,0.9,0.4,1.3,0.4c0.8,0,1.5-0.3,2-0.9c0.6-0.6,0.9-1.4,0.9-2.2c0.5,0.3,1,0.5,1.5,0.5	c0.8,0,1.5-0.3,2.1-1c0.6-0.6,0.8-1.4,0.9-2.2c0.4,0.2,0.9,0.4,1.4,0.4c0.8,0,1.6-0.4,2.2-1s0.7-1.3,0.7-1.8c0-0.3,0-0.5-0.1-0.7	c-0.1,0.1-0.2,0.2-0.2,0.2L283.6,764z"></path>
<path class="st2" d="M253.7,760.5L253.7,760.5L253.7,760.5l0.3-0.3c-2.3-2.4-3.8-4.1-3.8-4.1c2.3-5.7,4.8-12.7,4.8-12.7	c0,0.4,1.3,1.1,1.6,1.2c0.4,0.2,0.9,0.3,1.4,0.3c0.1,0,0.3,0,0.4,0c1.4-0.1,2.7-1,4-1.7c0.8-0.5,1.9-1,2.9-1c0.5,0,0.9,0.1,1.3,0.4	c0.4-0.2,0.7-0.4,1.1-0.7c-0.1-0.1-0.1-0.2-0.2-0.2c-0.6-0.5-1.4-0.8-2.2-0.8c-1.3,0-2.6,0.6-3.4,1.1l-0.3,0.2	c-1.1,0.6-2.2,1.2-3.2,1.3c-0.1,0-0.2,0-0.3,0c-0.3,0-0.7-0.1-1-0.2c-0.2-0.1-0.7-0.4-0.9-0.5c-0.2-0.4-0.5-0.6-0.8-0.7	c-0.1,0-0.2,0-0.3,0c-0.5,0-0.9,0.3-1.1,0.8c0,0.1-2.6,7.1-4.8,12.7c-0.2,0.4-0.1,0.9,0.2,1.3c0.1,0.1,1.5,1.8,3.8,4.2	C253.3,760.9,253.5,760.7,253.7,760.5z"></path>
<line class="st3" x1="307.6" y1="752.5" x2="530" y2="752.5"></line>
<circle class="st2" cx="530" cy="752.5" r="7.8"></circle>
<text transform="matrix(0.9 0 0 1 320.1626 747.4882)" class="st4 st5 st6">We Manage A Great Relationship</text>
</svg>
</respond-html></div></div><div backgroundcolor="#dcdcdc"  class="container" style="background-color: #dcdcdc;"><div id="block-3" class="block row" data-nested="nested" backgroundcolor="#dcdcdc" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-12"><h4 id="h4-1" class="quote text-center" data-i18n="581f73291e9a5.h4-1">Turnkey real estate investing should be a complete, hands-off, stress-free, passive income experience.</h4></div></div></div><div backgroundimage="files/bgbottom-rv3.jpg" backgroundstyle="cover"  class="container" style="background-image: url(https://ohiocashflow.com/files/bgbottom-rv3.jpg); background-size: cover; background-position: center center;"><div id="block-4" class="block row" data-nested="nested" backgroundimage="files/bgbottom-rv3.jpg" backgroundstyle="cover" paddingtop="60" paddingbottom="60" data-containerid="" data-containercssclass="" style="padding-top: 60px; padding-bottom: 60px;"><div  class="col col-md-12"><div id="block-7" class="block row" data-nested="not-nested" data-containerid="" data-containercssclass=""><div  class="col col-md-12 calltoaction"><h2 id="h2-4" class="text-center" data-i18n="581fe74f5a179.h2-4">This Is Not For Everyone...</h2><p id="p-14" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-14" style="text-shadow: 2px 3px 3px #FFF;">Turnkey investment only works when trust and a relationship can be established between the investor and the turnkey company.</p><p id="p-15" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-15" style="text-shadow: 2px 3px 3px #FFF;">At&nbsp;<b>Ohio Cashflow</b>, we only work with people who share our core values of&nbsp;<b>loyalty, honesty, no greed, and respect</b>.</p><p id="p-17" class="text-center" textshadowcolor="#FFF" textshadowhorizontal="2px" textshadowvertical="2px" textshadowblur="3px" data-i18n="581fe74f5a179.p-17" style="text-shadow: 2px 3px 3px #FFF;">If you feel you have what it takes, fill out our&nbsp;<b>investor application form</b>. Or, if you want to learn more on turnkey investing and how you can turn your life around, feel free to download our free e-book.</p><respond-html id="html-1" description="cta-buttons">            <p id="p-19" class="text-center btn-container" data-i18n="581fe74f5a179.p-19">
                <a href="investor-application-form" class="btn-blue" target="" title="Investor Application Form" textcolor="" style="color: ;">YES, I WANT TO APPLY</a>&nbsp;&nbsp;
              
<a href="ebook" class="btn-yellow ebook-btn">DOWNLOAD EBOOK</a>
            </p>
        </respond-html></div></div></div></div></div>