.gallery {
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gallery li {
    display: inline-block;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.gallery li img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    max-height: 100%;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery li.shown {
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1030;
    margin: 0;
}

.gallery li.shown img {
    max-height: 80%;
    max-width: 80%;
    height: auto;
    width: auto;
}

.gallery li.shown img@media (max-width:768px) {
    display: none;
}

.gallery li.shown .dismiss {
    background-color: #000;
    color: white;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 1;
}

.gallery li.shown .prev,
.gallery li.shown .next {
    background-color: black;
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 1;
}

.gallery li.shown .prev {
    left: 0;
}

.gallery li.shown .next {
    right: 0;
}

.gallery-container {
    position: relative;
}

.gallery-container .prev,
.gallery-container .next {
    background-color: #0d096c;
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 1;
}

.gallery-container .prev {
    left: 0;
}

.gallery-container .next {
    right: 0;
}

#properties .gallery li img {
    width: auto;
}