@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
a {
    color: #26417f;
}
a:hover {
    color: #0f0c60;
}
a:focus {
    color: #000000;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #0f0c60;
    width: 100%;
    max-width: 400px;
}
hr.white {
    border-top: 1px solid #ffffff;
}
hr.black {
    border-top: 1px solid #000000;
}
h1 {
    font-size: 7vh;
    line-height: 8vh;
}
h2 {
    font-size: 6vh;
    line-height: 7vh;
}
h3 {
    font-size: 3vh;
    line-height: 5vh;
}
p {
    font-size: 2.35vh;
    line-height: 3.5vh;
    -webkit-text-size-adjust: auto;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
    color: #0f0c60;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}
pre.prettyprint ol.linenums {
    margin-left: 0;
}
.list-group-item img,
.list-group-item .thumbnail img {
    width: 75px;
}
.list-group-item {
    min-height: 110px;
}
.list-group-item h5 {
    color: #aaa;
    font-size: 13px;
    text-transform: uppercase;
}
.list-group-item h5 i,
.list-loading i,
.featured-loading i {
    color: #ccc;
    margin-right: 5px;
}
.list-loading,
.featured-loading {
    color: #aaa;
    font-size: 13px;
    text-transform: uppercase;
}
body .list-group-item a.thumbnail {
    margin-right: 10px;
}
.thumbnail {
    max-width: 200px;
    display: inline-block;
    margin: 0 10px 10px 0;
    vertical-align: top;
}
.thumbnail img {
    width: 100%;
}
.page-results {
    margin-bottom: 10px;
}
div.respond-image img {
    margin: 5px 0 5px 0;
    max-width: 100%;
}
div.respond-image,
div.respond-image {
    clear: both;
}
div.respond-image[data-display='left'] img {
    float: left;
    margin: 5px 20px 20px 0;
    width: 50%;
    max-width: 50%;
}
div.respond-image[data-display='right'] img {
    float: right;
    margin: 5px 0 20px 20px;
    width: 50%;
    max-width: 50%;
}
.respond-form label {
    font-weight: normal;
}
.respond-form .error label {
    font-weight: bold;
    color: #b94a48;
}
div.map-container {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    height: 250px;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    border-radius: 5px;
}
div.map p span {
    font-size: 1em;
}
div.map-marker-content img {
    max-width: 50px;
    margin-right: 10px;
    float: left;
}
.nav-tabs {
    margin-bottom: 20px;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
body .carousel.fade {
    opacity: 1;
}
body .carousel.fade .item {
    -moz-transition: opacity ease-in-out 0.7s;
    -o-transition: opacity ease-in-out 0.7s;
    -webkit-transition: opacity ease-in-out 0.7s;
    transition: opacity ease-in-out 0.7s;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    display: block;
    z-index: 1;
}
body .carousel.fade .item:first-child {
    top: auto;
    position: relative;
}
body .carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out 0.7s;
    -o-transition: opacity ease-in-out 0.7s;
    -webkit-transition: opacity ease-in-out 0.7s;
    transition: opacity ease-in-out 0.7s;
    z-index: 2;
}
body .carousel.fade .left,
body .carousel.fade .right {
    z-index: 10;
}
body input[type='text'],
body input[type='number'],
body input[type='password'],
body input[type='email'],
body select,
body textarea {
    background: #ececec !important;
    border: 1px solid transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    transition: all 1s ease;
    height: auto !important;
}
body input[type='text']:focus,
body input[type='number']:focus,
body input[type='password']:focus,
body input[type='email']:focus,
body select:focus,
body textarea:focus {
    border-bottom: 1px solid #0f0c60 !important;
}
.respond-share.respond-share {
    margin: 0 !important;
}
footer {
    position: relative;
    z-index: 1039;
}
.respond-thumbnail.respond-list-item img.respond-list-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
respond-list {
    overflow: hidden;
}

.blue {
    color: #0f0c60;
}

.med {
    font-size: 1.5em;
}
