header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-radius: 0;
}
body .navbar.contact {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    overflow: hidden;
}
body .navbar.contact .navbar-header {
    overflow: hidden;
}
body .navbar.contact .navbar-header .navbar-brand {
    font-size: 14px;
    font-weight: bold;
    float: none;
    height: auto;
    margin-left: 60px;
}
body .navbar.contact .navbar-header .navbar-brand a {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 7px;
    transition: all 0.5s ease;
}
body .navbar.contact .navbar-header .navbar-brand a:hover {
    text-decoration: none;
}
body .navbar.contact .navbar-header .navbar-brand a:focus {
    text-decoration: none;
}
body .navbar.contact .navbar-nav {
    margin-right: 60px;
}
body .navbar.contact .navbar-nav li a {
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    transition: all 0.75s ease;
}
body .navbar.contact .navbar-nav li a:hover {
    background-color: transparent;
}
body .navbar.contact .navbar-nav li a:fucus {
    background-color: transparent;
}
body .navbar.main {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    overflow: hidden;
}
body .navbar.main .navbar-header {
    overflow: hidden;
}
body .navbar.main .navbar-header .navbar-brand {
    float: none;
    height: auto;
    max-height: 80px;
}
body .navbar.main .navbar-header .navbar-brand img {
    margin-left: 60px;
    max-height: 80px;
    width: auto;
}
body .navbar.main .navbar-nav {
    margin-right: 30px;
}
body .navbar.main .navbar-nav li a {
    background-color: transparent;
    border-top: 5px solid transparent;
    font-weight: bold;
    line-height: 80px;
    padding-left: 35px;
    padding-right: 35px;
    text-transform: uppercase;
    transition: all 0.75s ease;
}
body .navbar.main .navbar-nav li a:hover {
    background-color: transparent;
    border-top: 5px solid;
}
body .navbar.main .navbar-nav li a:fucus {
    background-color: transparent;
    border-top: 5px solid;
}
body .navbar.main .navbar-nav .active {
    background-color: transparent;
}
body .navbar.main .navbar-nav .active a {
    border-top: 5px solid;
}
body .navbar.main .navbar-nav .active a:hover {
    border-top: 5px solid;
}
body .navbar.main .navbar-nav .active a:fucus {
    border-top: 5px solid;
}
