.nav-tabs {
    text-align: center;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.nav-tabs li {
    display: inline-block;
    float: none;
}

.nav-tabs li a {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0;
    color: #0f0c60;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    cursor: pointer;
}

.nav-tabs li.active a {
    border-radius: 0;
    color: white;
    cursor: pointer;
    background-color: #0f0c60;
    border: 1px solid #0f0c60;
    transition: all 0.5s ease;
}

.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus, .nav-tabs li a:hover,
.nav-tabs li a:focus {
    border-radius: 0;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #0f0c60;
    color: #0f0c60;
    text-decoration: none;
    transition: all 0.5s ease;
}