footer {
    background: #0f0c60;
    border: none;
    color: #ffffff;
    margin: 25px 0 0 0;
    padding: 25px 10px 25px 10px;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
    color: #ffffff;
}
footer img {
    width: 150px;
}
footer a {
    color: #ffffff;
}
footer a:hover {
    text-decoration: none;
    color: #cccccc;
}
footer a:focus {
    text-decoration: none;
    color: #cccccc;
}
footer .nav-stacked {
    margin: 0;
    text-align: left;
}
footer .nav-stacked li a {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    position: relative;
}
footer .nav-stacked li a:before {
    content: '\f061';
    font-family: FontAwesome;
    position: absolute;
    top: 10px;
    left: 0;
}
footer .nav-stacked li a:hover {
    background: none !important;
    color: #cccccc;
}
.footer-social {
    list-style-type: none;
}
.footer-social li {
    display: inline-block;
    margin: 0 0 0 10px;
}
.footer-social li a {
    color: #ffffff;
}
.footer-social li a:hover {
    color: #cccccc;
}
