.btn-container {
    margin: 30px 0;
    display: block;
}
.success[visible].respond-form,
.error[visible].respond-form {
    display: block;
    margin: 20px 0;
    font-size: 2vh;
    padding: 15px 30px;
}
.btn-primary {
    color: #001f66;
    background: #fcd917;
    border: 1px solid #fcd917;
    border-radius: 0;
    font-size: 2vh;
    padding: 15px 30px;
    transition: all 0.5s ease;
}
.btn-primary:hover {
    background-color: #ffffff;
    border: 1px solid #0f0c60;
    color: #0f0c60;
    text-decoration: none;
}
.btn-primary:focus {
    background-color: #ffffff;
    border: 1px solid #0f0c60;
    color: #0f0c60;
    text-decoration: none;
}
.btn-yellow {
    background-color: #ffdd00;
    border: 1px solid #ffdd00;
    color: #0f0c60;
    display: inline-block;
    font-size: 2vh;
    font-weight: bold;
    margin: 10px 0;
    padding: 15px 30px;
    transition: all 0.5s ease;
}
.btn-yellow:hover {
    background-color: #ffffff;
    border: 1px solid #0f0c60;
    color: #0f0c60;
    text-decoration: none;
}
.btn-blue {
    background-color: #0f0c60;
    border: 1px solid #0f0c60;
    color: #ffffff;
    display: inline-block;
    font-size: 2vh;
    font-weight: bold;
    margin: 10px 0;
    padding: 15px 30px;
    transition: all 0.5s ease;
}
.btn-blue:hover {
    background-color: #ffffff;
    border: 1px solid #0f0c60;
    color: #0f0c60;
    text-decoration: none;
}
.btn-white {
    background-color: #ffffff;
    border: 1px solid #0f0c60;
    color: #0f0c60;
    display: inline-block;
    font-size: 2vh;
    font-weight: bold;
    margin: 10px;
    padding: 15px 30px;
    transition: all 0.5s ease;
}
.btn-white:hover {
    background-color: #0f0c60;
    border: 1px solid #0f0c60;
    color: #ffffff;
    text-decoration: none;
}
.details-button {
    visibility: hidden;
}
.blog-post .details-button {
    visibility: visible;
}
