.navbar-fixed-top {
    border-top: 0;
    margin: 0;
}
.navbar-inverse {
    background-color: #ffdd00;
    border: none;
}
.navbar-inverse .navbar-header .navbar-brand {
    color: #0f0c60;
    float: none;
    font-size: 0.95em;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
}
.navbar-inverse .navbar-header .navbar-brand a {
    border: 1px solid;
    border-radius: 0;
    color: #0f0c60;
    margin-left: 10px;
    padding: 8px 12px;
    transition: all 0.5s ease;
}
.navbar-inverse .navbar-header .navbar-brand a:hover,
.navbar-inverse .navbar-header .navbar-brand a:focus {
    color: #ffffff;
    text-decoration: none;
}
.navbar-inverse .navbar-nav li a {
    color: #0f0c60;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.95em;
    font-weight: bold;
    height: inherit;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.navbar-inverse .navbar-nav li a:hover {
    color: #ffffff;
}
.navbar-default {
    background-color: #0f0c60;
    border: none;
    top: 50px;
}
.navbar-default .navbar-header .navbar-brand {
    float: none;
}
.navbar-default .navbar-header .navbar-brand img {
    height: 80px;
    padding: 0;
    margin-left: 55px;
}
.navbar-default .navbar-nav li:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.navbar-default .navbar-nav li a {
    color: #ffdd00;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px !important;
    font-weight: bold;
    height: inherit;
    padding: 8px 12px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.navbar-default .navbar-nav li a:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav .outline a {
    border: 1px solid;
    border-radius: 0;
    color: #ffffff;
}
.navbar-default .navbar-nav .outline a:hover {
    color: #ffdd00;
}
.navbar-default .navbar-nav .active a {
    background-color: transparent;
    color: #ffffff;
}
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
    color: #ffffff;
    background-color: transparent;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        float: left;
    }
    .navbar-inverse .navbar-header .navbar-brand {
        display: inline-block;
        vertical-align: middle;
    }
    .navbar-inverse .navbar-nav {
        float: right;
    }
    .navbar-inverse .nav li {
        display: inline-block;
    }
    .navbar-default .navbar-toggle {
        border-color: #ffdd00;
        background-color: #ffdd00;
        color: #0f0c60;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        border-color: #ffffff;
        background-color: #ffffff;
        color: #0f0c60;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: #ffdd00;
        float: none;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 5px;
        vertical-align: middle;
        padding: 0;
    }
    .navbar-default .navbar-header .navbar-brand img {
        display: inline;
        max-height: 45px;
        margin-right: 10px;
        margin-left: 0;
    }
    .navbar-default .navbar-nav {
        margin: 0;
        margin-bottom: 20px;
    }
    .navbar-default .navbar-nav li {
        line-height: 100%;
    }
    .navbar-default .navbar-nav li a {
        font-size: 14px;
    }
    .navbar-default .navbar-nav .outline a {
        border: none;
    }
    .navbar-default .nav li a {
        margin: 0 10px;
        padding: 0;
    }
}
@media (min-width: 768px) {
    .navbar-inverse .navbar-header .navbar-brand {
        margin-left: 20px;
    }
    .navbar-inverse .navbar-nav {
        margin-right: 20px;
    }
    .navbar-default .navbar-header .navbar-brand {
        float: none;
    }
    .navbar-default .navbar-header .navbar-brand img {
        margin-left: 20px;
        max-height: 50px;
    }
    .navbar-default .navbar-nav {
        margin-right: 20px;
    }
    .navbar-default .navbar-nav li a {
        font-size: 14px;
    }
}
@media (min-width: 992px) {
    .navbar-inverse .navbar-header .navbar-brand {
        margin-left: 60px;
    }
    .navbar-inverse .navbar-nav {
        margin-right: 60px;
    }
    .navbar-default .navbar-header .navbar-brand {
        float: none;
    }
    .navbar-default .navbar-header .navbar-brand img {
        margin-left: 60px;
        max-height: 50px;
    }
    .navbar-default .navbar-nav {
        margin-right: 60px;
    }
    .navbar-default .navbar-nav li a {
        font-size: 18px;
        margin-top: 5px;
    }
}
.club {
    border: 1px solid;
    padding: 8px !important;
    margin-top: 6px;
}
