.close {
    float: none;
    font-size: 4vh;
    font-weight: normal;
    line-height: 1;
    color: #000;
    text-shadow: none;
    filter: alpha(opacity=20);
    opacity: 1;
    z-index: 9999;
    position: fixed;
    top: 20px;
    right: 20px;
}
.close.white {
    color: #fff;
}
.close.white:hover {
    color: #efefef;
}
.modal,
.modal .container,
.modal > .col.col-md-12 {
    padding: 0 !important;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-backdrop.in {
    opacity: 1;
}
body.home .container .modal .jumbotron {
    padding: 20px 0;
    background-image: inherit;
    background-size: cover;
    background-position: center center;
}
.home .modal-fullscreen {
    max-width: 100% !important;
}
.modal-fullscreen {
    background: transparent;
}
.modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
    background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
    opacity: 1;
}
#newsletter .modal-backdrop.in {
    opacity: 0.25;
}
#newsletter .modal-content h3 {
    color: white;
}
#newsletter .modal-content {
    padding: 20px;
    background-color: #0f0c60;
    color: white;
}
.modal-open-fix {
    overflow: hidden;
}
.modal-open-fix-pad {
    padding-right: 15px;
}
.modal-fullscreen .modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
@media (min-width: 768px) {
    .modal-fullscreen .modal-dialog {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .modal-fullscreen .modal-dialog {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .modal-fullscreen .modal-dialog {
        width: 100%;
    }
}
