<header>
  <nav class="contact navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand"><span class="hidden-xs">Call Us Today! </span><a href="tel:8442898876">(844) 289-8876</a></div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/ohiocashflow/"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/ohiocashflow"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com/user/ohiocashflow"><i class="fa fa-youtube"></i></a></li>
        <li><a href="mailto:admin@ohiocashflow.com"><i class="fa fa-envelope"></i></a></li>
        <li class="hidden-xs"><a class="club" href="http://ohiocashflowclub.com">Join The Ohio Cashflow Club!</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <a class="navbar-brand hidden-xs" href="index">
          <img src="https://ohiocashflow.com/logo.svg" />
        </a>
        <a class="navbar-brand visible-xs-inline-block" href="index"><img class="brand-small" src="https://ohiocashflow.com/logo-small-2.svg" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <respond-menu type="primary" render="publish" class="nav navbar-nav navbar-right"></respond-menu>
      </div>
    </div>
  </nav>
</header>
  
<div id="content" class="container" role="main">
    <respond-content id="main-content" url="{{page.Url}}"></respond-content>
</div>


 
<footer role="contentinfo">
  	<div class="container">
  		<respond-content url="component/footer" render="publish"></respond-content>
	</div>
  	<!-- /.container -->
</footer>