@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@blue: #0F0C60;
@blue-2: #26417F;
@yellow: #FFDD00;
@yellow-2: #ffd121;
@yellow-3: #ded14a;
@white: #ffffff;
@black: #000000;
@header-font: 'PT Sans', sans-serif;
@header-color: @blue;
@base-font: 'Open Sans', sans-serif;
@base-color: #595959;

body.home #content{
  	min-height: 500px;
}

body.home .container{
	max-width: 100%;
  	padding: 0;
  	z-index: 1;
}

body.home .container .row{
	max-width: 1100px;
	margin: 0 auto;
}

/* jumbotron */
.jumbotron {
	background-color: inherit;
}

body.home .container .jumbotron{
  	position: relative;
  	box-sizing: border-box;
  	background-size: 67px 100px;
  	background-position: center bottom !important;
  	border-bottom: 10px solid @blue;
  	border-radius: 0 !important;
  	color: config(--jumbotron-text-color);
  	max-width: 100%;
  	margin:  0;
  	padding: 112px 0;
  	z-index: 1;
}

body.home .container .modal-jumbotron {
	border-bottom: 10px solid @yellow;
}

body.home .container .jumbotron .col-md-12{
	margin: 0;
  	padding: 0;
}
 
body.home .jumbotron h2 {
	color: @blue;
  	font-size: 5.75vh;
  	font-weight: 500;
  	text-align: center;
  	margin: 0 auto 15px;
  	max-width: 50%;
}

body.home .jumbotron h2:first-line {
	font-weight: bold;
}

body.home .jumbotron p {
	color: @black;
  	font-size: 3vh;
  	line-height: 3.5vh;
  	text-align: center;
  	margin: 0 auto 20px;
  	max-width: 50%;
}

body.home .jumbotron p:last-child{
	margin-bottom: 0;
}

body.home .jumbotron a {
  	background-color: @white;
	color: @blue;
  	border: 1px solid @blue;
  	font-size: 2vh;
  	font-weight: bold;
  	padding: 15px 30px;
  	transition: all 0.5s ease;
}

body.home .jumbotron a:hover {
	background-color: @blue;
	color: @white;
  	text-decoration: none;
}

body.home .panel {
    padding:20px;
    border: 10px solid @blue;
    box-shadow: none;
}

body.home .calltoaction p,
body.home .calltoaction h2 {
	max-width: 50%;
  	margin-left: auto;
  	margin-right: auto;
}

body.home .calltoaction .modal p,
body.home .calltoaction .modal h2 {
	max-width: 100%;
  	margin-left: auto;
  	margin-right: auto;
}

/* nested container */
body.home .container .container{
  	padding-bottom: 15px;
  	padding-top: 15px;
  	background-size: 67px 100px;
}

body.home .container .container:last-child{
	border-bottom: none;
}

body.home .container .container .respond-image img{
	border: none;
}

body.home footer{
	margin-top: 0;
}

body.home .turnkey-icons svg {
    max-height: 100px;
  	.st0 {
      stroke: none !important;
      fill: @blue !important;
    }
}

body.home .turnkey-timeline svg {
	display: block;
  	fill: @blue;
  	font-family: @header-font !important;
  	margin: auto;
  	max-width: 75%;
  	text {
      font-family: @header-font !important;
      tspan {
        font-family: @header-font !important;
      }
    }
}

body.home .quote:before {
    content: "";
    position: absolute;
    top: 0;
    left: -40px;
    height: 40px;
    width: 40px;
    background-image: url(../files/quote-l.png);
    background-size: contain;
    background-repeat: no-repeat;
}

body.home .quote:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -40px;
    height: 40px;
    width: 40px;
    background-image: url(../files/quote-r.png);
    background-size: contain;
    background-repeat: no-repeat;
}

body.home .quote {
  	max-width: 65%;
    margin: auto;
    position: relative;
    font-size: 150%;
}

body.home .process-list h4 {
    vertical-align: middle;
    margin: 25px 0;
}

body.home .process-list h4::first-letter {
}

body.home .process-list h4 > .fa {
  	font-size: 2em;
    vertical-align: middle;
}

body.home .process-list ul li:before {
    content: "";
    background-color: grey;
    height: 10px;
    width: 10px;
    position: absolute;
    left: -20px;
    top: 6px;
}

body.home .process-list ul li {
    font-size: 115%;
    margin-bottom: .75em;
    position: relative;
}

body.home .process-list ul {
    margin-left: 50px;
    margin-bottom: 20px;
    list-style-type: none;
}

body.home .bios {
  h4 {
  	color: @blue;
    background: @yellow;
    margin: 0;
    padding: 10px;
  }
  img {
  	padding: 0;
    margin: 0;
    width: 100%;
  }
}

/* nested container */
.respond-map.respond-map {
    margin: 30px 0;
    padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {
  
  body.home .calltoaction h2,
  body.home .jumbotron h1, 
  body.home .jumbotron h2,
  {
    max-width: 90%;
  }
  
  body.home .calltoaction p,
  body.home .jumbotron p {
    max-width: 90%
  }
  
  body.home .jumbotron {
  	background-image: none !important;
  }

  body.home .container{
    width: 100%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	body.home .container{
		width: 100%;
	}
	.flex { 
      display: flex;
      align-items: stretch;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	body.home .container{
		width: 100%;
	}

}

.panel {
  border: 0 !important;
  border-radius: 0;
  margin-bottom: 0;
  &:first-of-type {
  	display: flex;
    align-items: center;
  }
}

.application img:hover {
    cursor: pointer;
    opacity: .75;
}

.application img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    /* right: 0; */
    height: 100%;
    width: auto;
    margin: auto;
    transform: translate(-50%, 0);
  	transition: all 0.5s ease;
}
.application {
    position: relative;
}

.signature img {
    max-height: 75px;
}

.app-header .fa {
	color: #ec1e27;
}

.card-text {
	display: none;
}

.card-text span {
    display: block;
  	padding: 0 8px;
}

#customColumns {
    background-image: url(/files/bgyellow.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}