.styled-ul-list {
  margin: 2rem auto;
  padding: 0;
  text-align: left;
  display: inline-block;
  li {
    color: #001f66;
  	font-size: 1.75rem;
    font-weight: 300;
    list-style-type: none;
    margin: 1rem 0;
    padding-left: 40px;
    position: relative;
    &:before {
      background-color: #001f66;
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
      
    }
  }
}

