.video-modal {
	padding: 60px
}

.embed-container {
  background-color: #ffffff;
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%;
  iframe, object, embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
} 

.modal .embed-container {
    padding-bottom: 36.55%;
    margin: auto;
    max-width: 65%;
}