@blue: #0F0C60;
@blue-2: #26417F;
@yellow: #FFDD00;
@yellow-2: #ffd121;
@yellow-3: #ded14a;
@white: #ffffff;
@black: #000000;
@header-font: 'PT Sans', sans-serif;
@header-color: @blue;
@base-font: 'Open Sans', sans-serif;
@base-color: #595959;

footer {
  background: @blue;
  border: none;
  color: @white;
  margin: 25px 0 0 0;
  padding: 25px 10px 25px 10px;
  h1,h2,h3,h4,h5 {
    color: @white;
  }
  img {
    width: 150px;
  }
  a {
  	color: @white;
    &:hover {
    	text-decoration: none;
      	color: darken(@white, 20%);
    }
    &:focus {
    	text-decoration: none;
      	color: darken(@white, 20%);
    }
  }
  .nav-stacked {
    margin: 0;
    text-align: left;
    li {
      a {
        border-bottom: 1px solid @white;
      	color: @white;
        position: relative;
        &:before {
          	content: "\f061";
          	font-family: FontAwesome;
        	position: absolute;
          	top: 10px;
          	left: 0;
        }
        &:hover {
          background: none !important;
          color: darken(@white, 20%);
        }
      }
    }
  }
}

.footer-social {
  list-style-type: none;
  li {
    display: inline-block;
    margin: 0 0 0 10px;
    a {
      color: @white;
      &:hover {
      	color: darken(@white, 20%);
      }
    }
  }
}