@blue: #0F0C60;
@blue-2: #26417F;
@yellow: #FFDD00;
@yellow-2: #ffd121;
@yellow-3: #ded14a;
@white: #ffffff;
@black: #000000;
@header-font: 'PT Sans', sans-serif;
@header-color: @blue;
@base-font: 'Open Sans', sans-serif;
@base-color: #595959;

.navbar-fixed-top {
  border-top: 0;
  margin: 0;
}

.navbar-inverse {
  background-color: @yellow;
  border: none;
  .navbar-header {
    .navbar-brand {
      color: @blue;
      float: none;
      font-size: .95em;
      font-weight: bold;
      padding: 15px 0;
      text-transform: uppercase;
      a {
        border: 1px solid;
        border-radius: 0;
        color: @blue;
        margin-left: 10px;
        padding: 8px 12px;
        transition: all 0.5s ease;
        &:hover, &:focus {
          color: @white;
          text-decoration: none;
        }
      }
    }
  }
  .navbar-nav {
    li {
      a {
        color: @blue;
        font-family: @header-font;
        font-size: .95em;
        font-weight: bold;
        height: inherit;
        text-transform: uppercase;
        transition: all 0.5s ease;
        &:hover {
          color: @white;
        }
      }
    }
  }
}

.navbar-default {
  background-color: @blue;
  border: none;
  top: 50px;
  .navbar-header {
    .navbar-brand {
      float: none;
      img {
      	height: 80px;
        padding: 0;
        margin-left: 55px;
      }
    }
  }
  .navbar-nav {
    li {
      &:before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
      }
      a {
        color: @yellow;
        font-family: @header-font;
        font-size: 15px !important;
        font-weight: bold;
        height: inherit;
        padding: 8px 12px;
        text-transform: uppercase;
        transition: all 0.5s ease;
        &:hover {
          color: @white;
        }
      }
    }
    .outline a {
      border: 1px solid;
      border-radius: 0;
      color: @white;
      &:hover {
      	color: @yellow;
      }
    }
    .active {
      a {
        background-color: transparent;
        color: @white;
        &:hover, &:focus {
          color: @white;
          background-color: transparent;	
        }
      }
    }
  }
}


/* X-Small devices (phones, 767px and up) */
@media (max-width: 767px) { 
  
  .navbar-inverse {
    .navbar-header {
      display: inline-block;
      float: left;
      .navbar-brand {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .navbar-nav {
      display: inline-block;
      float: right;
    }
    .nav li {
      display: inline-block;
    }
  }
  .navbar-default .navbar-toggle {
    border-color: @yellow;
    background-color: @yellow;
    color: @blue;
    &:hover, &:focus {
      border-color: @white;
      background-color: @white;
      color: @blue;	
    }
  }
  .navbar-default {
    .navbar-header {
      .navbar-brand {
        color: @yellow;
        float: none;
        font-weight: bold;
        margin-left: 10px;
        margin-top: 5px;
        vertical-align: middle;
        padding: 0;
        img {
          display: inline;
          max-height: 45px;
          margin-right: 10px;
          margin-left: 0;
        }
      }
    }
    .navbar-nav {
      margin: 0;
      margin-bottom: 20px;
      li {
        line-height: 100%;
        a {
          font-size: 14px;
        }
      }
      .outline a {
        border: none;
      }
    }
    .nav li a {
      margin: 0 10px;
      padding: 0;
    }
  } 
  
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  .navbar-inverse {
    .navbar-header {
      .navbar-brand {
        margin-left: 20px;
      }
    }
    .navbar-nav {
      margin-right: 20px;
    }
  }
  .navbar-default {
    .navbar-header {
      .navbar-brand {
        float: none;
        img {
          margin-left: 20px;
          max-height: 50px;
        }
      }
    }
    .navbar-nav {
      margin-right: 20px;
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
  
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
  .navbar-inverse {
    .navbar-header {
      .navbar-brand {
        margin-left: 60px;
      }
    }
    .navbar-nav {
      margin-right: 60px;
    }
  }
  .navbar-default {
    .navbar-header {
      .navbar-brand {
        float: none;
        img {
          margin-left: 60px;
          max-height: 50px;
        }
      }
    }
    .navbar-nav {
      margin-right: 60px;
      li {
        a {
          font-size: 18px;
          margin-top: 5px;
        }
      }
    }
  }
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.club {
    border: 1px solid;
    padding: 8px !important;
    margin-top: 6px;
}