#properties {
  .details,
  .respond-meta-container.has-photo.respond-meta {
    display: none;
  }
  .status {
	position:relative;
    z-index: -1;
  }
  .blog-post {
    box-sizing: border-box;
    display: inline-block;
  	margin: 0;
  	padding: 20px;
  }
  svg {
    height: 20px;
    width: 20px;
  }
  img {
  	max-width: 100%;
    width: 100%;
  }
  .main table, tr, td {
    border: none !important;
  }
}

#properties .available:before {
  	content: "available";
  	background: green;	
 	position: absolute;
  	top: 0;
  	right: 15px;
  	color: white;
  	padding: 5px;
  	text-transform: uppercase;
  	z-index: 10;
}

#properties .contract:before {
  	content: "under contract";
  	background: #FFDD00;	
 	position: absolute;
  	top: 0;
  	right: 15px;
  	color: white;
  	padding: 5px;
  	text-transform: uppercase;
  	z-index: 10;
}

#properties .sold:before {
  	content: "sold";
  	background: red;	
 	position: absolute;
  	top: 0;
  	right: 15px;
  	color: white;
  	padding: 5px;
  	text-transform: uppercase;
  	z-index: 10;
}

#properties .blog-post:last-lof-type {
	clear: both;
}

#properties #actions, #properties #items {
    display: table;
  	margin: auto;
}

.price {
    position: relative;
  	margin-top: 10px;
  	&:before {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;
      border-bottom: 1px solid;
      top: 50%;
      left: 0;
  	}
  	&:after {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;
      border-bottom: 1px solid;
      top: 50%;
      right: 0;
    }
}

#properties.respond-list-item {
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}

/* X-Small devices (phones, 767px and up)*/
@media (max-width: 767px) { 
	
  #properties {
    .blog-post {
      display: block;
      // width: 100%;
      float: none;
    }
  }
  #properties.big {
    .blog-post {
      display: block;
      // width: 100%;
      float: none;
    }
  }
  
}

/* Small devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  
  #properties {
    .blog-post {
      width: 50%;
    }
  }
  #properties.big {
    .blog-post {
      width: 50%;
    }
  }
   
}

/* Medium devices (desktops, 992px and up)*/ 
@media (min-width: 992px) {
  
  #properties {
    .blog-post {
      width: 25%;
    }
  }
  #properties.big {
    .blog-post {
      width: 50%;
    }
  }

}


#properties .respond-list-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) {

}*/