@blue: #0F0C60;
@blue-2: #26417F;
@yellow: #FFDD00;
@yellow-2: #ffd121;
@yellow-3: #ded14a;
@white: #ffffff;
@black: #000000;
@header-color: @blue;
@base-color: #595959;

.respond-list-item-container.respond-list-item {
    border: none !important;
}

.respond-list-item-container {
	background: #efefef;
  	margin-bottom: 20px;
}

.sidebar .calltoaction {
    padding: 60px 0;
    background-image: url(files/bgbottom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.respond-list-item .main {
    width: 100%;
}
.respond-list-item .sidebar {
    display: none;
}

.respond-thumbnail.respond-list-item {
	height: 200px;
}

.respond-thumbnail.respond-list-item {
  text-decoration: none !important;
  transition: all .2s ease-in-out;
  h4.respond-list-item {
    text-align: center;
    font-size: 14px !important;
    line-height: 1.2em;
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: #FFF;
    background-color: rgba(15,12,96,0.8);
    margin: 0;
    width: 100%;
    height: 30%;
  }
  &:hover {
  	transform: scale(1.05);
    h4.respond-list-item {
    	background-color: rgb(15,12,96);
    }
  }
}


.sidebar h3 {
    display: inline-block;
    width: 100%;
    margin: 30px auto 35px;
    font-size: 33px;
    line-height: 40px;
    font-weight: normal;
    position: relative;
    vertical-align: middle;
}


.respond-thumbnail.respond-list-item h5.respond-list-item {
    background-color: red;
    color: white;
    position: absolute;
    display: inline-block;
    left: initial;
    right: 3px;
    top: 5px;
  	bottom: initial;
    padding: 10px 15px;
    margin: 0;
    width: initial;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
}

.blog-post respond-html {
    display: none;
}

