@blue: #0F0C60;
@blue-2: #26417F;
@yellow: #FFDD00;
@yellow-2: #ffd121;
@yellow-3: #ded14a;
@white: #ffffff;
@black: #000000;
@header-font: 'PT Sans', sans-serif;
@header-color: @blue;
@base-font: 'Open Sans', sans-serif;
@base-color: #595959;

.btn-container {
    margin: 30px 0;
  	display: block;
}

.success[visible].respond-form, .error[visible].respond-form {
    display: block;
    margin: 20px 0;
  	font-size: 2vh;
    padding: 15px 30px;
}

.btn-primary {
    color: #001f66;
    background: #fcd917;
    border: 1px solid #fcd917;
    border-radius: 0;
    font-size: 2vh;
    padding: 15px 30px;
  	transition: all 0.5s ease;
  	&:hover {
        background-color: @white;
      	border: 1px solid @blue;
        color: @blue;
        text-decoration: none;
    }
  	&:focus {
        background-color: @white;
      	border: 1px solid @blue;
        color: @blue;
        text-decoration: none;
    }
}

.btn-yellow {
  	background-color: @yellow;
  	border: 1px solid @yellow;
  	color: @blue;
  	display: inline-block;
  	font-size: 2vh;
  	font-weight: bold;
  	margin: 10px 0;
  	padding: 15px 30px;
  	transition: all 0.5s ease;
  	&:hover {
        background-color: @white;
      	border: 1px solid @blue;
        color: @blue;
        text-decoration: none;
    }
}

.btn-blue {
  	background-color: @blue;  
  	border: 1px solid @blue;
  	color: @white;
  	display: inline-block;
  	font-size: 2vh;
  	font-weight: bold;
  	margin: 10px 0;
  	padding: 15px 30px;
  	transition: all 0.5s ease;
  	&:hover {
        background-color: @white;
      	border: 1px solid @blue;
        color: @blue;
        text-decoration: none;
    }
}

.btn-white {
  	background-color: @white;  
  	border: 1px solid @blue;
  	color: @blue;
  	display: inline-block;
  	font-size: 2vh;
  	font-weight: bold;
  	margin: 10px;
  	padding: 15px 30px;
  	transition: all 0.5s ease;
  	&:hover {
        background-color: @blue;
      	border: 1px solid @blue;
        color: @white;
        text-decoration: none;
    }
}

.details-button {
  visibility: hidden;
}

.blog-post .details-button {
  visibility: visible;
}